<mat-card
    class="leads-by-source-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Leads by Source
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu d-inline-block border-radius">
                This Month
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="widgets_leads_by_source_chart"></div>
        </div>
        <ul class="list pl-0 list-unstyled mb-0 d-flex flex-wrap">
            <li>
                <span class="d-block title d-flex align-items-center">
                    <span class="dot d-block bg-primary"></span>
                    Organic
                </span>
                <h6 class="mb-0 fw-medium lh-1">
                    320
                </h6>
            </li>
            <li>
                <span class="d-block title d-flex align-items-center">
                    <span class="dot d-block bg-secondary"></span>
                    Paid
                </span>
                <h6 class="mb-0 fw-medium lh-1">
                    60
                </h6>
            </li>
            <li>
                <span class="d-block title d-flex align-items-center">
                    <span class="dot d-block bg-purple"></span>
                    Direct
                </span>
                <h6 class="mb-0 fw-medium lh-1">
                    30
                </h6>
            </li>
            <li>
                <span class="d-block title d-flex align-items-center">
                    <span class="dot d-block bg-info"></span>
                    Social
                </span>
                <h6 class="mb-0 fw-medium lh-1">
                    160
                </h6>
            </li>
            <li>
                <span class="d-block title d-flex align-items-center">
                    <span class="dot d-block bg-success"></span>
                    Referrals
                </span>
                <h6 class="mb-0 fw-medium lh-1">
                    279
                </h6>
            </li>
            <li>
                <span class="d-block title d-flex align-items-center">
                    <span class="dot d-block bg-orange"></span>
                    Others
                </span>
                <h6 class="mb-0 fw-medium lh-1">
                    19
                </h6>
            </li>
        </ul>
    </mat-card-content>
</mat-card>