.contact-image {
    padding: 30px 20px;
    margin-right: 52px;
    background: rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(5.099999904632568px);
    border: 1px solid rgba(255, 255, 255, 0.13);
}
.contact-content {
    .section-title {
        max-width: 100%;
        margin-bottom: 40px;
    }
    .form-group {
        margin-bottom: 25px;

        .main-label {
            margin-bottom: 12px;
        }
    }
    .mat-mdc-button {
        width: 100%;
        height: auto;
        display: block;
        min-width: auto;
        padding: 12px 25px;
        border-radius: 7px;
        color: var(--whiteColor);
        background-color: var(--primaryColor);
        font: {
            size: 16px;
            weight: 500;
        };
    }
}
.component-dark-theme {
    .contact-image {
        background: rgba(0, 0, 0, 0.31);
        border-color: rgba(0, 0, 0, 0.13);
    }
}
.component-rtl-enabled {
    .contact-image {
        margin: {
            right: 0;
            left: 52px;
        };
    }
}
::ng-deep {
    .contact-content {
        form {
            .mat-mdc-button {
                .mdc-button__label {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }
    .component-rtl-enabled {
        .contact-content {
            form {
                .mat-mdc-button {
                    .mdc-button__label {
                        i {
                            margin: {
                                right: 0;
                                left: 5px;
                            };
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .contact-image {
        padding: 15px;
        margin-right: 0;
    }
    .contact-content {
        margin-top: 30px;

        .section-title {
            margin-bottom: 25px;
        }
        .form-group {
            margin-bottom: 20px;
    
            .main-label {
                margin-bottom: 10px;
            }
        }
        .mat-mdc-button {
            font-size: 14px;
        }
    }
    .component-rtl-enabled {
        .contact-image {
            margin-left: 0;
        }
    }
    ::ng-deep {
        .contact-content {
            form {
                .mat-mdc-button {
                    .mdc-button__label {
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .contact-image {
        padding: 20px;
        margin-right: 0;
    }
    .contact-content {
        margin-top: 35px;

        .section-title {
            max-width: 540px;
            margin-bottom: 30px;
        }
        .mat-mdc-button {
            font-size: 15px;
        }
    }
    .component-rtl-enabled {
        .contact-image {
            margin-left: 0;
        }
    }
    ::ng-deep {
        .contact-content {
            form {
                .mat-mdc-button {
                    .mdc-button__label {
                        i {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .contact-image {
        padding: 25px 20px;
        margin-right: 0;
    }
    .contact-content {
        .section-title {
            margin-bottom: 35px;
        }
    }
    .component-rtl-enabled {
        .contact-image {
            margin-left: 0;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .contact-image {
        margin-right: 15px;
    }
    .component-rtl-enabled {
        .contact-image {
            margin: {
                right: 0;
                left: 15px;
            };
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}