<mat-card
    class="conversion-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <span class="d-block">
            Conversion
        </span>
        <h3 class="lh-1">
            32.5%
        </h3>
        <span class="info-badge d-inline-block">
            +1.4%
        </span>
        <div class="chart">
            <div id="conversion_chart"></div>
        </div>
    </mat-card-content>
</mat-card>