<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Project Overview
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Project Management
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Project Overview
        </li>
    </ol>
</div>

<!-- Project Overview -->
<div class="lg:grid xl:grid-cols-2 gap-[25px]">
    <div>

        <!-- Product Development -->
        <app-product-development />

        <!-- Recent Activity -->
        <app-recent-activity />

    </div>
    <div>

        <!-- Project Roadmap -->
        <app-project-roadmap />

        <!-- Project Overview -->
        <app-project-overview />

        <!-- Team Members -->
        <app-team-members />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- To Do List -->
        <app-to-do-list />

    </div>
    <div class="lg:col-span-1">

        <!-- Tasks Overview -->
        <app-tasks-overview />

    </div>
</div>