<mat-list>
    <div mat-subheader>Folders</div>
    @for (folder of folders; track folder) {
        <mat-list-item>
            <span matListItemIcon class="material-symbols-outlined">
                folder
            </span>
            <div matListItemTitle>{{folder.name}}</div>
            <div matListItemLine>{{folder.updated | date}}</div>
        </mat-list-item>
    }
    <mat-divider class="mt-10"></mat-divider>
    <div mat-subheader>Notes</div>
    @for (note of notes; track note) {
        <mat-list-item>
            <span matListItemIcon class="material-symbols-outlined">
                note
            </span>
            <div matListItemTitle>{{note.name}}</div>
            <div matListItemLine>{{note.updated | date}}</div>
        </mat-list-item>
    }
</mat-list>