<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Avatars
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            UI Elements
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Avatars
        </li>
    </ol>
</div>

<!-- Avatars -->
<div class="grid lg:grid-cols-2 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Image Size Rounded-Circle
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="flex items-center gap-[15px]">
                <img src="images/admin.png" alt="admin-image" class="rounded-full w-[130px] h-[130px]">
                <img src="images/admin.png" alt="admin-image" class="rounded-full w-[110px] h-[110px]">
                <img src="images/admin.png" alt="admin-image" class="rounded-full w-[90px] h-[90px]">
                <img src="images/admin.png" alt="admin-image" class="rounded-full w-[70px] h-[70px]">
                <img src="images/admin.png" alt="admin-image" class="rounded-full w-[50px] h-[50px]">
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Image Size Square-Circle
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="flex items-center gap-[15px]">
                <img src="images/blue-man.jpg" alt="admin-image" class="rounded-md w-[130px] h-[130px]">
                <img src="images/blue-man.jpg" alt="admin-image" class="rounded-md w-[110px] h-[110px]">
                <img src="images/blue-man.jpg" alt="admin-image" class="rounded-md w-[90px] h-[90px]">
                <img src="images/blue-man.jpg" alt="admin-image" class="rounded-md w-[70px] h-[70px]">
                <img src="images/blue-man.jpg" alt="admin-image" class="rounded-md w-[50px] h-[50px]">
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Avatar Size Rounded-Circle
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="flex items-center gap-[15px]">
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[25px] h-[130px] w-[130px] flex items-center justify-center text-primary-500 rounded-full text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[20px] h-[110px] w-[110px] flex items-center justify-center text-primary-500 rounded-full text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[18px] h-[90px] w-[90px] flex items-center justify-center text-primary-500 rounded-full text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[16px] h-[70px] w-[70px] flex items-center justify-center text-primary-500 rounded-full text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] h-[45px] w-[45px] flex items-center justify-center text-primary-500 rounded-full text-center font-bold">
                    Ab
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Avatar Size Square-Circle
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="flex items-center gap-[15px]">
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[25px] h-[130px] w-[130px] flex items-center justify-center text-primary-500 rounded-md text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[20px] h-[110px] w-[110px] flex items-center justify-center text-primary-500 rounded-md text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[18px] h-[90px] w-[90px] flex items-center justify-center text-primary-500 rounded-md text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] text-[16px] h-[70px] w-[70px] flex items-center justify-center text-primary-500 rounded-md text-center font-bold">
                    Ab
                </div>
                <div class="bg-[#f5f7f8] dark:bg-[#15203c] h-[45px] w-[45px] flex items-center justify-center text-primary-500 rounded-md text-center font-bold">
                    Ab
                </div>
            </div>
        </div>
    </div>
</div>