::ng-deep {
    .most-popular-sellers-card {
        .mat-mdc-card-content {
            .mat-mdc-table {
                &.mdc-data-table__table {
                    .mat-mdc-header-row {
                        .mat-mdc-header-cell {
                            letter-spacing: 1px;
                            color: var(--bodyColor);
                            text-transform: uppercase;
                            background-color: transparent;
                            font: {
                                size: 10px;
                                weight: 700;
                            };
                            padding: {
                                bottom: 8px;
                                top: 0;
                            };
                            &:first-child {
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                                text-align: end;
                            }
                        }
                    }
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                font-size: 12px;
                                padding: {
                                    top: 9px;
                                    bottom: 9px;
                                };
                                border: {
                                    left-width: 0;
                                    right-width: 0;
                                };
                                .employee-info {
                                    gap: 10px;
                                    
                                    .img {
                                        width: 40px;
                                    }
                                    span {
                                        &:nth-child(1) {
                                            font-size: var(--fontSize);
                                        }
                                    }
                                }
                                .link-btn {
                                    width: 30px;
                                    height: 30px;
                                    font-size: 18px;
                                    background-color: #eceef2;

                                    .mdc-button__label {
                                        margin-top: 0;
                                    }
                                }
                                .ratings {
                                    line-height: 1;
                                    font-size: var(--fontSize);

                                    .number {
                                        top: 1.5px;
                                        font-size: 12px;
                                        margin-left: 2px;
                                    }
                                }
                                &:first-child {
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                    text-align: end;
                                }
                            }
                        }
                    }
                }
            }
            .mat-mdc-paginator {
                border-width: 0;
                border-radius: 0;
                padding: {
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 10px;
                };
                .mat-mdc-paginator-page-size {
                    font: {
                        size: 13px;
                        weight: 500;
                    };
                }
                .mat-mdc-paginator-range-actions {
                    .mat-mdc-icon-button {
                        padding: 4px 0 0 0;
                        height: 33px;
                        width: 33px;
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    .link-btn {
                                        background-color: #0A0E19;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mat-mdc-header-row {
                            .mat-mdc-header-cell {
                                &:first-child {
                                    padding: {
                                        left: 20px;
                                        right: 0;
                                    };
                                }
                                &:last-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                            }
                        }
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    .ratings {
                                        .number {
                                            margin: {
                                                left: 0;
                                                right: 2px;
                                            };
                                        }
                                    }
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .most-popular-sellers-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mat-mdc-header-row {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            left: 17px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 17px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                left: 17px;
                                                right: 0;
                                            };
                                        }
                                        &:last-child {
                                            padding: {
                                                right: 17px;
                                                left: 0;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .most-popular-sellers-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mat-mdc-header-row {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                left: 20px;
                                                right: 0;
                                            };
                                        }
                                        &:last-child {
                                            padding: {
                                                right: 20px;
                                                left: 0;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}