.fs-14 {
    margin-left: 3px;
    font: {
        size: 14px !important;
        weight: normal !important;
    };
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .fs-14 {
        margin-left: 0;
        font-size: 13px !important;
    }

}