.example-container {
    height: 400px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        -webkit-appearance: none;

        &:vertical {
            width: 6px;
        }
        &:horizontal {
            height: 6px;
        }
    }
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 7px;
        background-color: var(--blackColor);
    }
    &::-webkit-scrollbar-track {
        border-radius: 7px;
        background-color: #F6F7F9;
    }
}
.component-dark-theme {
    &.example-container {
        &::-webkit-scrollbar-thumb {
            background-color: #0A0E19;
        }
        &::-webkit-scrollbar-track {
            background-color: #15203c;
        }
    }
}