<mat-card
    class="sales-welcome-card mb-25 border-radius d-block bg-primary border-0 shadow-none z-1"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-7">
                <div class="content">
                    <h3 class="text-white">
                        Hi, <span>Dr. Olivia!</span>
                    </h3>
                    <p class="text-white">
                        Your schedule today
                    </p>
                    <div class="info d-flex align-items-center">
                        <div class="item d-flex align-items-center">
                            <div class="icon text-orange bg-orange-100 border-radius d-flex align-items-center justify-content-center">
                                <i class="material-symbols-outlined">
                                    airplay
                                </i>
                            </div>
                            <div>
                                <span class="title d-block fw-semibold text-white">
                                    320
                                </span>
                                <span class="d-block">
                                    Patients
                                </span>
                            </div>
                        </div>
                        <div class="item d-flex align-items-center">
                            <div class="icon text-purple bg-purple-100 border-radius d-flex align-items-center justify-content-center">
                                <i class="material-symbols-outlined">
                                    local_library
                                </i>
                            </div>
                            <div>
                                <span class="title d-block fw-semibold text-white">
                                    18
                                </span>
                                <span class="d-block">
                                    Surgeries
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="image text-center">
                    <img src="images/female-doctor.png" alt="female-doctor">
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>