<div
    class="profit-box total-profit-box border-radius position-relative overflow-hidden"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="content d-flex align-items-center">
        <div class="icon bg-secondary-100 text-white text-center position-relative z-1">
            <i class="ri-wallet-2-line"></i>
        </div>
        <div class="title">
            <h6 class="fw-medium">
                $80,000
            </h6>
            <span class="d-block text-body">
                Total Profit
            </span>
        </div>
    </div>
    <div class="info d-flex align-items-center">
        <span class="info-badge down fw-medium d-inline-block position-relative">
            <i class="ri-arrow-down-fill"></i>
            7%
        </span>
        <span class="days d-block">
            from last week
        </span>
    </div>
    <div class="chart">
        <div id="stats_total_profit_chart"></div>
    </div>
</div>