.profit-box {
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid var(--borderColor);

    .content {
        .icon {
            margin-right: 15px;
            border-radius: 5px;
            font-size: 25px;
            height: 55px;
            width: 55px;

            i {
                left: 0;
                top: 50%;
                right: 0;
                position: absolute;
                transform: translateY(-50%);
            }
            &::before {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                margin: 8px;
                content: '';
                position: absolute;
                border-radius: 5px;
                background: var(--secondaryColor);
            }
        }
        h6 {
            font-size: 24px;
            margin-bottom: 3px;
        }
    }
    .info {
        margin-top: 45px;

        .info-badge {
            font-size: 12px;
            color: #1E8308;
            border-radius: 30px;
            padding: 2px 10px 2px 20px;
            background-color: #D8FFC8;
            border: 1px solid #82FC5A;

            i {
                top: 50%;
                left: 6px;
                font-size: 14px;
                margin-top: -1px;
                position: absolute;
                transform: translateY(-50%);
            }
            &.down {
                border-color: #FFA294;
                background: #FFC8C0;
                color: #EE3E08;
            }
        }
        .days {
            font-size: 12px;
            margin-left: 10px;
        }
    }
    &.total-profit-box {
        padding-bottom: 65px;

        .chart {
            left: 0;
            right: 0;
            bottom: -30px;
            position: absolute;
            margin: {
                left: -12px;
                right: -10px;
            };
        }
    }
    &.component-rtl-enabled {
        .content {
            .icon {
                margin: {
                    right: 0;
                    left: 15px;
                };
            }
        }
        .info {
            .info-badge {
                padding: {
                    left: 10px;
                    right: 20px;
                };
                i {
                    right: 6px;
                    left: auto;
                }
            }
            .days {
                margin: {
                    left: 0;
                    right: 10px;
                };
            }
        }
        &.total-profit-box {
            .chart {
                margin: {
                    right: -12px;
                    left: -10px;
                };
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .profit-box {
        padding: 17px;
    
        .content {
            .icon {
                font-size: 22px;
            }
            h6 {
                font-size: 20px;
                margin-bottom: 5px;
            }
        }
        .info {
            margin-top: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .profit-box {
        padding: 20px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .profit-box {
        .content {
            .icon {
                font-size: 23px;
            }
            h6 {
                font-size: 22px;
            }
        }
        .info {
            margin-top: 25px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .profit-box {
        .info {
            margin-top: 30px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}