<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Clipboard
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Clipboard
        </li>
    </ol>
</div>

<!-- Clipboard -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <label for="clipboard-example-textarea" class="mb-10 d-block">
            Text to be copied
        </label>
        <textarea id="clipboard-example-textarea" class="d-block border-radius w-100" cols="30" rows="10" [(ngModel)]="value"></textarea>
        <button [cdkCopyToClipboard]="value" mat-flat-button class="mt-12">
            Click to Copy Clipboard
        </button>
    </mat-card-content>
</mat-card>