.search-card {
    .mat-mdc-card-content {
        .search-item {
            border: 1px solid var(--borderColor);
            margin-bottom: 15px;
            border-radius: 7px;
            padding: 20px;

            .title {
                font-size: 17px;
                margin-bottom: 13px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .search-card {
        .mat-mdc-card-content {
            .search-item {
                padding: 15px;
    
                .title {
                    font-size: 14px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .search-card {
        .mat-mdc-card-content {
            .search-item {
                padding: 20px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .search-card {
        .mat-mdc-card-content {
            .search-item {
                .title {
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .search-card {
        .mat-mdc-card-content {
            .search-item {
                .title {
                    font-size: 16px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}