.hd-tickets-status-card {
    .mat-mdc-card-content {
        z-index: 1;
        position: relative;
        padding-right: 230px;

        .chart {
            margin: {
                top: -20px;
                left: -15px;
                bottom: -22px;
            };
        }
        .info {
            right: 0;
            top: 20px;
            width: 175px;
            position: absolute;

            h6 {
                font-size: 18px;
                margin-bottom: 5px;
            }
            ul {
                margin-top: 35px;
                
                li {
                    font-size: 13px;
                    margin-bottom: 20px;

                    .dot {
                        width: 11px;
                        height: 11px;
                        margin-right: 8px;
                        border-radius: 3px;
                    }
                    span {
                        font-size: 18px;
                        margin-top: 5px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &::before {
            top: 0;
            bottom: 0;
            width: 1px;
            content: '';
            z-index: -1;
            right: 215px;
            position: absolute;
            background: var(--borderColor);
            margin: {
                top: -55px;
                bottom: -3px;
            };
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            padding: {
                right: 0;
                left: 230px;
            };
            .info {
                right: auto;
                left: 0;
    
                ul {
                    li {
                        .dot {
                            margin: {
                                right: 0;
                                left: 8px;
                            };
                        }
                    }
                }
            }
            &::before {
                right: auto;
                left: 215px;
            }
        }
    }
}
::ng-deep {
    .hd-tickets-status-card {
        .mat-mdc-card-content {
            .apexcharts-canvas {
                .apexcharts-tooltip-series-group {
                    &.apexcharts-active {
                        padding-bottom: 4px;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .hd-tickets-status-card {
        .mat-mdc-card-content {
            padding-right: 0;
    
            .chart {
                margin: {
                    top: -20px;
                    left: -15px;
                    bottom: -22px;
                };
            }
            .info {
                top: 0;
                width: auto;
                margin-top: 17px;
                position: relative;
    
                h6 {
                    font-size: 16px;
                }
                ul {
                    margin-top: 0;
                    flex-wrap: wrap;
                    display: flex;
                    
                    li {
                        margin: {
                            right: 20px;
                            bottom: 0;
                            top: 17px;
                        };
                        span {
                            font-size: 16px;
                        }
                    }
                }
            }
            &::before {
                display: none;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding-left: 0;
        
                .info {
                    ul {
                        li {
                            margin: {
                                right: 0;
                                left: 20px;
                            };
                        }
                    }
                }
                &::before {
                    display: none;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .hd-tickets-status-card {
        .mat-mdc-card-content {
            padding-right: 220px;
    
            .info {
                top: 20px;
                width: 170px;
    
                h6 {
                    font-size: 17px;
                }
                ul {
                    margin-top: 20px;
                    
                    li {
                        margin-bottom: 17px;
    
                        span {
                            font-size: 17px;
                        }
                    }
                }
            }
            &::before {
                right: 195px;
                margin-top: -50px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 220px;
                };
                &::before {
                    right: auto;
                    left: 195px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .hd-tickets-status-card {
        .mat-mdc-card-content {
            padding-right: 0;
    
            .info {
                top: 0;
                width: auto;
                margin-top: 25px;
                position: relative;
    
                h6 {
                    margin-bottom: 7px;
                }
                ul {
                    flex-wrap: wrap;
                    display: flex;
                    margin-top: 0;
                    
                    li {
                        margin: {
                            right: 30px;
                            bottom: 0;
                            top: 20px;
                        };
                    }
                }
            }
            &::before {
                display: none;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding-left: 0;
        
                .info {
                    ul {
                        li {
                            margin: {
                                right: 0;
                                left: 30px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .hd-tickets-status-card {
        .mat-mdc-card-content {
            padding-right: 0;
    
            .info {
                top: 0;
                width: auto;
                margin-top: 25px;
                position: relative;
    
                h6 {
                    margin-bottom: 7px;
                }
                ul {
                    flex-wrap: wrap;
                    display: flex;
                    margin-top: 0;
                    
                    li {
                        margin: {
                            right: 30px;
                            bottom: 0;
                            top: 20px;
                        };
                    }
                }
            }
            &::before {
                display: none;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding-left: 0;
        
                .info {
                    ul {
                        li {
                            margin: {
                                right: 0;
                                left: 30px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}