.dark-theme {
  background-color: #0a0e19;
  --borderColor: #172036;
  color: var(--bodyColor);
  --bodyColor: #8695aa;
  --v-theme-surface: rgba(255, 255, 255, 0.08);
  .v-theme--light {
    --v-theme-background: rgba(255, 255, 255, 0.08);
    --v-theme-surface: rgba(255, 255, 255, 0.08);
    --v-theme-surface-bright: rgba(255, 255, 255, 0.08);
    --v-theme-on-primary: rgba(255, 255, 255, 0.08);
    --v-theme-on-primary-darken-1: rgba(255, 255, 255, 0.08);
    --v-theme-on-secondary: rgba(255, 255, 255, 0.08);
    --v-theme-on-secondary-darken-1: rgba(255, 255, 255, 0.08);
    --v-theme-on-error: rgba(255, 255, 255, 0.08);
    --v-theme-on-info: rgba(255, 255, 255, 0.08);
    --v-theme-on-success: rgba(255, 255, 255, 0.08);
    --v-theme-on-warning: rgba(255, 255, 255, 0.08);
  }

  // Default
  a {
    color: var(--whiteColor);

    &:hover {
      color: var(--primaryColor);
    }
  }

  // Color
  .bg-white {
    background-color: #0c1427 !important;
  }
  .text-black {
    color: var(--whiteColor) !important;
  }
  .bg-black {
    background-color: var(--whiteColor) !important;
  }
  .bg-gray {
    background-color: #15203c !important;
  }

  // Heading
  .h1,
  h1,
  .display-1,
  .h2,
  h2,
  .display-2,
  .h3,
  h3,
  .display-3,
  .h4,
  h4,
  .display-4,
  .h5,
  h5,
  .display-5,
  .h6,
  h6,
  .display-6 {
    color: var(--whiteColor);
  }

  // Input
  .input-search {
    background-color: #15203c !important;
    border: 1px solid #15203c;
  }
  textarea {
    color: var(--whiteColor);

    &::placeholder {
      color: var(--bodyColor);
    }
  }

  .v-divider {
    border-color: #c5d2f3;
  }
  // ApexCharts
  .vue-apexcharts {
    .apexcharts-gridline {
      stroke: var(--borderColor);
    }
    .apexcharts-tooltip {
      &.apexcharts-theme-light {
        background: var(--borderColor);
        box-shadow: unset;

        .apexcharts-tooltip-title {
          background: #0c1427;
          color: var(--whiteColor);
        }
      }
      &.apexcharts-theme-dark {
        .apexcharts-tooltip-series-group {
          background-color: var(--blackColor) !important;
        }
      }
    }
    .apexcharts-tooltip-text-y-label,
    .apexcharts-tooltip-text-goals-value,
    .apexcharts-tooltip-text-y-value,
    .apexcharts-tooltip-text-z-value {
      color: var(--whiteColor);
    }
    .apexcharts-xaxistooltip {
      color: var(--whiteColor);
      background: #15203c;
      box-shadow: unset;
    }
    .apexcharts-menu {
      background: var(--borderColor);
      box-shadow: unset;

      .apexcharts-menu-item {
        &:hover {
          background: #0a0e19;
        }
      }
    }
    .apexcharts-xcrosshairs,
    .apexcharts-ycrosshairs {
      fill: var(--borderColor);
    }
    .apexcharts-toolbar {
      .apexcharts-menu-icon {
        svg {
          fill: var(--whiteColor);
        }
        &:hover {
          svg {
            fill: var(--primaryColor);
          }
        }
      }
    }
    .apexcharts-legend-text,
    .apexcharts-title-text {
      color: var(--bodyColor) !important;
    }
    .apexcharts-text {
      fill: var(--bodyColor);

      &.apexcharts-datalabel-value {
        fill: var(--whiteColor);
      }
      &.apexcharts-point-annotation-label {
        fill: var(--whiteColor);
      }
    }
    .apexcharts-pie-area {
      stroke: #0c1427;
    }
    .apexcharts-yaxis,
    .apexcharts-grid-borders {
      line {
        stroke: var(--borderColor);
      }
    }
    .apexcharts-xaxis-tick {
      stroke: var(--borderColor);
    }
    .apexcharts-track {
      .apexcharts-radialbar-area {
        stroke: var(--borderColor);
      }
    }
    .apexcharts-radar-series {
      &.apexcharts-plot-series {
        line,
        polygon {
          fill: #0c1427;
          stroke: var(--borderColor);
        }
        polygon {
          &:nth-child(odd) {
            fill: var(--borderColor);
          }
        }
      }
    }
    .apexcharts-pie {
      line,
      circle {
        stroke: var(--borderColor);
      }
    }
  }

  // Table
  .basic-table {
    table,
    .table {
      thead {
        tr {
          th {
            color: var(--whiteColor);
            background-color: #15203c;
          }
        }
      }
      tbody {
        tr {
          td {
            color: var(--whiteColor);
            border-top: 1px solid var(--borderColor) !important;
            border-bottom: 1px solid var(--borderColor) !important;

            &:first-child {
              border-left: 1px solid var(--borderColor) !important;
            }
            &:last-child {
              border-right: 1px solid var(--borderColor) !important;
            }

            .assignees {
              div {
                border-color: #0c1427;
              }
            }
            .group-lesson {
              .users {
                div {
                  border-color: #0c1427;
                }
              }
            }
          }
        }
      }
    }
  }
  table {
    thead {
      tr {
        height: auto;
        background-color: var(--borderColor);
        th {
          color: var(--whiteColor);
        }
      }
    }
    tbody {
      tr {
        td {
          color: var(--whiteColor);
        }
      }
    }
  }

  // Card
  .v-card {
    &.trezo-card {
      background-color: #0c1427 !important;
      color: var(--bodyColor) !important;
      .v-card-header {
        .card-header-menu {
          border: 1px solid var(--borderColor);
        }
        .search-box {
          .input-search {
            background-color: #15203c !important;
            color: var(--whiteColor) !important;
            border-color: #15203c !important;
            &::placeholder {
              color: var(--bodyColor) !important;
            }
          }
        }
      }
      .trezo-table-content {
        .trezo-table {
          .v-table {
            .v-table__wrapper {
              &::-webkit-scrollbar-thumb {
                background-color: rgba(255, 255, 255, 0.05) !important;
              }
              &::-webkit-scrollbar-track {
                background-color: rgba(255, 255, 255, 0.05) !important;
              }
            }
            table {
              thead {
                tr {
                  background-color: #15203c;
                  th {
                    background-color: #15203c !important;
                    color: var(--whiteColor);
                  }
                }
              }
              tbody {
                tr {
                  td {
                    border-color: var(--borderColor) !important;
                    color: var(--whiteColor);
                    &:first-child {
                      border-color: var(--borderColor) !important;
                    }
                    &:last-child {
                      border-color: var(--borderColor) !important;
                    }
                    .group-lesson {
                      .users {
                        div {
                          border-color: #0c1427 !important;
                        }
                      }
                    }
                    .assignees {
                      div {
                        border-color: #0c1427 !important;
                      }
                    }
                  }
                  &:first-child {
                    td {
                      border-color: var(--borderColor) !important;
                    }
                  }
                }
              }
            }
          }
          &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.05) !important;
          }
          &::-webkit-scrollbar-track {
            background-color: rgba(255, 255, 255, 0.05) !important;
          }
        }
      }
    }
  }

  .menu-content {
    &.v-list {
      background-color: #0a0e19 !important;
      button {
        color: var(--whiteColor) !important;
      }
    }
  }

  // Pagination
  .items-per-page {
    border-left: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    color: var(--blackColor) !important;
    div {
      .mr-5 {
        color: #8695aa !important;
      }
    }
    .v-pagination__item,
    .v-pagination__first,
    .v-pagination__prev,
    .v-pagination__next,
    .v-pagination__last {
      border: 1px solid var(--borderColor);
      background: #0c1427 !important;
      color: #8695aa;
      &.v-pagination__item--is-active,
      &:hover {
        background-color: #605dff !important;
        border: 1px solid #605dff !important;
        color: #fff;
      }
    }
  }
  .pagination-content {
    .pagination {
      .page-item {
        .page-link {
          border: 1px solid var(--borderColor) !important;
          background: #0c1427 !important;
          color: #8695aa;
        }
      }
    }
  }
  .v-expansion-panels {
    .v-expansion-panel {
      .v-expansion-panel-title {
        color: var(--whiteColor);
      }
      .v-expansion-panel-text {
        .v-expansion-panel-text__wrapper {
          color: var(--bodyColor);
        }
      }
    }
  }

  // Badges
  .text-outline-light {
    color: var(--whiteColor) !important;
  }

  // Breadcrumb
  .t-breadcrumb {
    --secondary-color: var(--bodyColor);
  }

  // Color Picker
  .color-picker {
    input {
      color: var(--whiteColor);
    }
  }

  // Example Box
  .example-box {
    --lightColor: #1c2742;
    --whiteColor: #15203c;
    --borderColor: #1f2a46;
  }
  .example-option {
    --blackColor: var(--whiteColor);
  }

  // Blockquote
  .blockquote,
  blockquote {
    background-color: #15203c;
  }
  // code
  code {
    background: #15203c !important;
    color: var(--bodyColor) !important;
  }

  // Form
  .trezo-form-group {
    .v-input__control {
      border: 1px solid var(--borderColor) !important;
    }
    .v-label.v-field-label {
      color: var(--bodyColor) !important;
    }
  }

  .ql-toolbar,
  .ql-container {
    &.ql-snow {
      border: 1px solid var(--borderColor);
      .ql-picker-label {
        color: var(--whiteColor);
      }
    }
  }
  .ql-editor.ql-blank::before {
    color: var(--bodyColor);
  }
  .file-upload {
    border: 1px solid var(--borderColor) !important;
  }

  // Badge
  .trezo-status-badge {
    background-color: #15203c;

    &.pending {
      background-color: #15203c;
    }
    &.rejected {
      background-color: #15203c;
    }
    &.pInProgress,
    &.cancelled {
      background-color: #15203c;
    }
    &.inProgress,
    &.finished,
    &.shipped,
    &.pFinished {
      background-color: #15203c;
    }
    &.pPending {
      background-color: #15203c;
    }
  }

  // Sidebar
  .sidebar-area,
  &.dark-theme {
    &.bg-white {
      background-color: #0c1427 !important;
    }
    .virtual-scroll {
      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical {
        width: 5px;
      }
      &::-webkit-scrollbar:horizontal {
        height: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background-color: rgba(255, 255, 255, 0.05);
      }
      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05);
      }
    }
    .accordion {
      .sidebar-menu-link {
        color: var(--whiteColor) !important;

        .material-symbols-outlined,
        i.arrow-right {
          color: var(--whiteColor) !important;
        }
        &.router-link-active,
        &:hover {
          background-color: #15203c;
          color: var(--primaryColor);
          &::after {
            border-color: var(--primaryColor);
          }
        }
      }
      .accordion__item {
        .accordion__trigger.accordion__trigger_active {
          background-color: #15203c;
          .title-header {
            .material-symbols-outlined,
            i.arrow-right {
              color: var(--whiteColor) !important;
            }
          }
        }
        .title-header {
          color: var(--whiteColor);
          i.arrow-right {
            color: var(--whiteColor) !important;
          }
          &:hover {
            background-color: #15203c;
            color: var(--whiteColor);
            .material-symbols-outlined,
            i.arrow-right {
              color: var(--whiteColor);
            }
          }
        }
        .accordion__content {
          .sidebar-sub-menu {
            .sidemenu-item {
              .sidemenu-link {
                &.router-link-active,
                &:hover {
                  background-color: #15203c;
                  color: var(--primaryColor);
                  &::after {
                    border-color: var(--primaryColor);
                  }
                }
              }
              .accordion {
                .accordion__item {
                  .accordion__trigger {
                    &.accordion__trigger_active {
                      background-color: #15203c !important;
                      .title-header {
                        color: var(--whiteColor) !important;
                        i.arrow-right {
                          color: var(--whiteColor);
                        }
                        &:hover {
                          background-color: #15203c;
                          color: var(--whiteColor);
                          .material-symbols-outlined,
                          i.arrow-right {
                            color: var(--whiteColor);
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // header
  .header-area,
  &.dark-theme {
    &.bg-white {
      background-color: #0c1427 !important;
    }
    .header-left-side {
      .search-box {
        .input-search {
          background-color: #15203c !important;
          color: var(--whiteColor) !important;
          border-color: #15203c !important;
          &::placeholder {
            color: var(--bodyColor) !important;
          }
        }
      }
    }

    .menu-dropdown {
      &.v-list {
        background: #0a0e19 !important;
        .menu-body {
          ul {
            li {
              a {
                color: var(--whiteColor) !important;
              }
            }
          }
        }
      }
    }
    .language-menu-dropdown {
      &.v-list {
        background: #0a0e19 !important;
        ul {
          li {
            border-top: 1px dashed var(--borderColor);
            button {
              color: var(--whiteColor);
            }
          }
        }
      }
    }
    .notification-list {
      &.v-list {
        background: #0a0e19 !important;
        ul {
          li {
            border-top: 1px dashed var(--borderColor);
            border-bottom: 1px dashed var(--borderColor);
            .time {
              color: var(--whiteColor);
            }
          }
        }
      }
    }
    .profile-menu-dropdown {
      &.v-list {
        background: #0a0e19 !important;
        .admin {
          border-bottom: 1px solid var(--borderColor);
          span {
            &:last-child {
              color: var(--bodyColor) !important;
            }
          }
        }
        .border-top {
          border-top: 1px solid var(--borderColor) !important;
        }
      }
    }
  }
  .menu-dropdown {
    &.v-list {
      background: #0a0e19 !important;
      .menu-body {
        ul {
          li {
            a {
              color: var(--whiteColor) !important;
            }
          }
        }
      }
    }
  }
  .language-menu-dropdown {
    &.v-list {
      background: #0a0e19 !important;
      ul {
        li {
          border-top: 1px dashed var(--borderColor);
          button {
            color: var(--whiteColor);
          }
        }
      }
    }
  }
  .notification-list {
    &.v-list {
      background: #0a0e19 !important;
      ul {
        li {
          border-top: 1px dashed var(--borderColor);
          border-bottom: 1px dashed var(--borderColor);
          .time {
            color: var(--whiteColor);
          }
        }
      }
    }
  }
  .profile-menu-dropdown {
    &.v-list {
      background: #0a0e19 !important;
      .admin {
        border-bottom: 1px solid var(--borderColor);
        span {
          &:last-child {
            color: var(--bodyColor) !important;
          }
        }
      }
      .border-top {
        border-top: 1px solid var(--borderColor) !important;
      }
    }
  }
  .settings-sidebar {
    .settings-body {
      .v-selection-control__wrapper {
        border: 1px solid var(--borderColor);
      }
    }
    .settings-header {
      .close-btn {
        color: var(--whiteColor) !important;
      }
    }
  }

  // Tables & Cards
  .top-performers-card {
    .trezo-table-content {
      .trezo-table {
        .v-table {
          table {
            tbody {
              tr {
                td {
                  &:first-child {
                    border-left-width: 0 !important;
                  }
                  &:last-child {
                    border-right-width: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .projects-overview-card {
    .bg-primary-50,
    .bg-orange-50,
    .bg-success-50,
    .bg-purple-50 {
      background-color: #15203c !important;
    }
  }
  .calendar-wrapper header {
    .icons {
      span {
        background-color: var(--borderColor) !important;
        color: var(--whiteColor) !important;
      }
    }
  }
  .full-calendar-card {
    .calendar-card-content {
      .fc {
        --fc-border-color: var(--borderColor);
        .fc-scrollgrid-section-header {
          .fc-col-header-cell {
            background-color: #15203c !important;
          }
          .fc-col-header-cell-cushion {
            color: var(--whiteColor);
          }
        }
        .fc-daygrid-body {
          .fc-daygrid-day-number {
            color: var(--whiteColor);
          }
        }
        .fc-header-toolbar {
          .fc-button-group {
            .fc-button {
              border: 1px solid var(--borderColor);
            }
          }
        }
      }
    }
  }
  .contacts-card {
    .trezo-table-content {
      .trezo-table {
        .pagination-content {
          border-top: 1px solid var(--borderColor) !important;
        }
      }
    }
  }
  .chat-sidebar-card {
    .chat-sidebar-content {
      .search-box {
        i {
          color: var(--whiteColor) !important;
        }
      }
      .v-tabs--density-default {
        border-bottom: 1px solid var(--borderColor) !important;
      }
      .chat-users-list {
        .single-user-item {
          border-bottom: 1px solid var(--borderColor) !important;
          .user {
            .title {
              span {
                &:last-child {
                  color: var(--bodyColor) !important;
                }
              }
            }
            .img {
              .active-status {
                border-color: #0c1427 !important;
              }
            }
          }
          .info {
            .time {
              color: var(--bodyColor) !important;
            }
          }
        }
        &::-webkit-scrollbar-track {
          background-color: rgba(255, 255, 255, 0.05) !important;
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(255, 255, 255, 0.05) !important;
        }
      }
    }
  }
  .chat-card {
    .chat-card-content {
      .chat-header {
        .user {
          .title {
            span {
              &:not(:first-child) {
                color: var(--bodyColor);
              }
            }
          }
        }
      }
      .current-time {
        color: var(--bodyColor) !important;
      }
      .border-top {
        border-color: var(--borderColor) !important;
      }
      .chat-body {
        &::-webkit-scrollbar-track {
          background-color: rgba(255, 255, 255, 0.05) !important;
        }
        &::-webkit-scrollbar-thumb {
          background: rgba(255, 255, 255, 0.05) !important;
        }
        ul {
          li {
            .message {
              p {
                background-color: #15203c !important;
              }
            }
            .time {
              color: var(--bodyColor) !important;
            }
          }
        }
      }
      .chat-footer {
        background-color: #15203c !important;
        form {
          .trezo-form-group {
            .v-label {
              color: var(--bodyColor) !important;
            }
            .v-input__control {
              border-color: #0c1427 !important;
              background-color: #0c1427 !important;
            }
          }
        }
      }
    }
  }
  .email-sidebar-card {
    .sidebar-card-content {
      .search-box {
        i {
          color: var(--whiteColor) !important;
        }
      }
      .sidebar-list {
        li {
          a {
            color: var(--bodyColor) !important;

            &:hover {
              color: var(--whiteColor) !important;
            }
          }
        }
      }
    }
  }
  .email-inbox-card {
    .inbox-card-content {
      .v-tabs--density-default[data-v-51238c04] {
        border-bottom: 1px solid var(--borderColor) !important;
      }
    }
  }
  .primary-emails-table {
    &.trezo-table-content {
      .trezo-table {
        table {
          tbody {
            tr {
              td {
                color: var(--whiteColor);
                border-bottom: 1px solid var(--borderColor) !important;

                .icon {
                  i {
                    color: var(--whiteColor);
                  }
                }
              }
              &:last-child {
                td {
                  border-bottom: 1px solid var(--borderColor) !important;
                }
              }
            }
          }
        }
      }
    }
  }
  .email-read-card {
    .v-card-header {
      border-bottom: 1px solid var(--borderColor) !important;
    }
    .read-card-content {
      .btn-box {
        border-top: 1px solid var(--borderColor) !important;
      }
    }
  }
  .kanban-board-card {
    .kanban-board-task {
      background-color: #15203c !important;
      button {
        i {
          color: var(--whiteColor) !important;
        }
      }
      .info {
        .users {
          .v-img {
            border: 2px solid #0c1427 !important;
          }
        }
      }
    }
  }
  .sidebar-card {
    .sidebar-card-content {
      .storage-status {
        border-top: 1px solid var(--borderColor) !important;
      }
    }
  }
  .my-drive-card {
    .drive-card-content {
      .box {
        background-color: #15203c !important;
      }
    }
  }
  .recent-files-list,
  .media-files-list,
  .all-product-list,
  .published-product-list,
  .draft-product-list,
  .orders-card,
  .customers-list,
  .categories-card,
  .reviews-card,
  .refunds-card,
  .users-card,
  .all-tickets-card,
  .events-list-card,
  .invoices-card,
  .transactions-history-card {
    .trezo-table-content {
      .trezo-table {
        .pagination-content {
          border-left: 1px solid var(--borderColor) !important;
          border-right: 1px solid var(--borderColor) !important;
          border-bottom: 1px solid var(--borderColor) !important;
        }
      }
    }
  }
  .single-product-item {
    .image {
      &::before {
        background: var(--blackColor) !important;
      }
    }
  }
  .products-list-card {
    .v-tab {
      &.v-tab {
        &.v-btn {
          &.v-btn--size-default {
            background-color: #15203c !important;
            color: var(--whiteColor) !important;
          }
        }
      }
    }
  }
  .product-details-card {
    .product-details-card-content {
      .product-details-content {
        .ratings {
          span {
            color: var(--bodyColor) !important;
          }
        }
        .price {
          span {
            &:nth-child(2) {
              color: var(--bodyColor) !important;
            }
          }
        }
        .types {
          .style {
            span {
              &:first-child {
                color: var(--bodyColor) !important;
              }
            }
          }
          .buttons {
            button {
              &.active {
                color: var(--whiteColor) !important;
              }
            }
          }
        }
        .capacity {
          .storage {
            span {
              &:first-child {
                color: var(--bodyColor);
              }
            }
          }
          .buttons {
            button {
              &.active {
                color: var(--whiteColor) !important;
              }
            }
          }
        }
        .colors {
          .color {
            span {
              &:first-child {
                color: var(--bodyColor);
              }
            }
          }
        }
        .add-to-wishlist {
          span {
            color: var(--whiteColor);
          }
        }
        .total-views {
          color: var(--bodyColor);
        }
        .features-list {
          li {
            color: var(--whiteColor) !important;
          }
        }
        .info {
          li {
            color: var(--bodyColor) !important;
          }
        }
        .share-to-socials {
          .title {
            color: var(--bodyColor);
          }
          .share-btn {
            color: var(--whiteColor) !important;
          }
        }
      }
    }
  }
  .quantity-counter {
    input {
      background: #15203c !important;
      color: var(--whiteColor) !important;
    }
  }
  .tracking-id-card {
    &.bg-primary {
      background-color: var(--primaryColor) !important;
    }
  }
  .order-tracking-card {
    .order-tracking-card-content {
      .numbers {
        .box {
          div {
            background-color: #0c1427 !important;
          }
        }
      }
    }
  }
  .seller-overview-card {
    .box {
      background-color: #15203c !important;
    }
  }
  .client-card {
    .client-card-content {
      .image {
        background-color: #0a0e19 !important;
        border-color: #0a0e19 !important;
      }
    }
  }
  .team-card {
    .team-card-content {
      .info {
        .v-img {
          border: 2px solid var(--borderColor) !important;
        }
      }
      .team-name {
        span {
          background-color: #15203c !important;
        }
      }
    }
  }
  .tables-of-content-card {
    .tables-card-content {
      .tables-of-content-list {
        .v-expansion-panels {
          .v-expansion-panel {
            background: #15203c !important;
            color: var(--whiteColor) !important;
            .v-expansion-panel-title {
              color: var(--whiteColor) !important;
            }
            .v-expansion-panel-text {
              .v-expansion-panel-text__wrapper {
                ul {
                  li {
                    border-bottom: 1px solid #1c2846 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ticket-details-card {
    .details-card-content {
      code {
        background: #15203c !important;
      }
    }
  }
  .attachments-card {
    .attachments-card-content {
      ul {
        li {
          background: #15203c !important;
          .icon {
            i {
              background-color: #0c1427 !important;
            }
          }
        }
      }
    }
  }
  .event-card {
    .event-card-content {
      .image {
        &::before {
          background: #0a0e19 !important;
        }
      }
      .content {
        .members {
          .v-img {
            border: 2px solid var(--borderColor) !important;
          }
        }
      }
    }
  }
  .event-details-card {
    .event-details-content {
      .form-btn-box {
        border-top: 1px dashed var(--borderColor) !important;
      }
    }
  }
  .event-details-card {
    .event-details-content {
      .form-btn-box {
        button {
          border-color: var(--borderColor) !important;
          background-color: rgba(0, 0, 0, 0) !important;
          border: 1px solid var(--borderColor) !important;
        }
      }
      .info {
        .icon {
          background-color: #15203c !important;
        }
      }
    }
  }
  .profile-card {
    .profile-card-content {
      .profile-content {
        .image {
          .profile-image {
            border: 2px solid #0c1427 !important;
          }
        }
        .title {
          span {
            &:not(:first-child) {
              color: var(--bodyColor) !important;
            }
          }
        }
      }
    }
  }
  .create-invoice-card {
    .create-invoice-content {
      .invoice-info {
        button {
          color: var(--primaryColor);
        }
        div {
          span {
            color: var(--bodyColor);
          }
        }
      }
    }
  }
  .p-team-card {
    .team-name {
      span {
        background-color: #15203c !important;
      }
    }
    .members {
      div {
        div {
          border: 2px solid var(--borderColor) !important;
        }
      }
    }
  }
  .icon-card {
    i,
    span {
      color: var(--bodyColor);
    }
  }
  .avatars-list {
    .v-img {
      border: 2px solid var(--borderColor);
    }
  }
  .t-breadcrumb-item {
    &.active {
      color: var(--bodyColor) !important;
    }
    &::before {
      color: var(--bodyColor) !important;
    }
  }
  .btn-toggle {
    .v-btn-group {
      button {
        color: var(--whiteColor) !important;
      }
    }
    .text-subtitle-2 {
      color: var(--whiteColor) !important;
    }
    .bg-grey-lighten-4 {
      background-color: var(--borderColor) !important;
    }
  }
  .v-date-picker-header__content,
  .v-date-picker__title,
  .v-btn__content,
  .v-date-picker-month__day {
    color: var(--whiteColor);
  }
  .divider {
    .v-list-item__content {
      color: var(--whiteColor);
    }
  }
  .example-box {
    border: solid 1px var(--borderColor) !important;
    color: var(--bodyColor) !important;
  }
  .example-list {
    background: var(--borderColor) !important;
    .example-list-box {
      background-color: #0c1427 !important;
    }
  }
  .lists-content {
    .v-list-subheader__text {
      color: var(--bodyColor) !important;
    }
    .v-list-item {
      color: var(--whiteColor) !important;
    }
  }
  .listbox-container {
    border: 1px solid var(--borderColor) !important;
  }
  .example-listbox {
    .example-option {
      border: 1px solid var(--borderColor) !important;
    }
  }
  .v-layout {
    border: 1px solid var(--borderColor) !important;
  }
  .custom-list-item {
    color: var(--whiteColor) !important;
  }
  .v-toolbar-title__placeholder {
    color: var(--whiteColor) !important;
  }
  .v-list-item-title {
    color: var(--whiteColor) !important;
  }
  .v-list-item--one-line {
    .v-list-item-subtitle {
      color: var(--bodyColor) !important;
    }
  }
  .v-list-item__prepend {
    i {
      color: var(--whiteColor) !important;
    }
  }
  .v-stepper-item__title {
    color: var(--whiteColor) !important;
  }
  .v-stepper-window-item {
    .v-card-title {
      color: var(--whiteColor) !important;
    }
    .v-card {
      color: var(--bodyColor) !important;
    }
  }
  .v-window__container {
    .v-window-item {
      .v-card {
        .v-card-text {
          color: var(--bodyColor) !important;
        }
      }
    }
  }
  .v-toolbar {
    background: var(--borderColor) !important;
  }
  .variations-toolbar {
    .v-card {
      background: var(--borderColor) !important;
    }
  }
  .tooltip-card {
    button {
      background: var(--borderColor) !important;
    }
  }
  .advanced-form form {
    .signin-with-socials {
      .or {
        span {
          background: #0c1427 !important;
        }
      }
    }
  }
  .sign-in-area {
    background-color: #0a0e19 !important;
    .trezo-form {
      .form-content {
        .logo {
          .v-img {
            display: none;

            &.d-none {
              display: inline !important;
            }
          }
        }
        .title {
          p {
            color: var(--bodyColor);
          }
        }
        .with-socials {
          button {
            background: #0a0e19;
            color: var(--whiteColor);
            border-color: var(--borderColor);
          }
        }
      }
    }
  }
  .sign-up-area {
    background-color: #0a0e19 !important;
    .form-content {
      .logo {
        .v-img {
          display: none;

          &.d-none {
            display: inline !important;
          }
        }
      }
      .title {
        p {
          color: var(--bodyColor);
        }
      }
      .with-socials {
        button {
          background: #0a0e19;
          color: var(--whiteColor);
          border-color: var(--borderColor);
        }
      }
    }
  }
  .pricing-style-2-card,
  .pricing-style-3-card {
    .pricing-card-content {
      .features-list {
        li {
          color: var(--bodyColor) !important;
        }
      }
    }
  }
  .advanced-timeline-card {
    .advanced-timeline-content {
      .timeline {
        .timeline-item {
          .bg-gray {
            background-color: #15203c !important;
          }
          .inner {
            .members {
              .v-img,
              div {
                border: 1px solid var(--borderColor) !important;
              }
            }
          }
        }
      }
    }
  }
  .faq-card {
    .v-expansion-panels {
      .v-expansion-panel {
        background-color: #15203c !important;
      }
    }
  }
  .navbar-area {
    .navbar {
      .navbar-brand {
        .v-img {
          display: none;

          &.d-none {
            display: inline !important;
          }
        }
      }
      .navbar-toggler {
        color: var(--whiteColor);

        .burger-menu {
          span {
            background: var(--whiteColor);
          }
        }
      }
    }
    &.sticky {
      background-color: #0c1427 !important;
    }
  }
  .faq-area {
    .v-expansion-panels {
      .v-expansion-panel {
        background-color: #15203c !important;
      }
    }
  }

  .analytics-overview-card {
    .v-card-header {
      .card-subtitle {
        button {
          &.active,
          &:hover {
            background-color: #15203c !important;
          }
        }
      }
    }
  }
  .cryptocurrency-watchlist-card {
    .cryptocurrency-watchlist-card-content {
      .cryptocurrency-watchlist-slides {
        .box {
          background: #0a0e19 !important;
        }
      }
    }
  }
  .transaction-history-card {
    &.v-card {
      &.trezo-card {
        .trezo-table-content {
          .trezo-table {
            .v-table {
              table {
                thead {
                  tr {
                    background-color: #0c1427 !important;
                    th {
                      background-color: #0c1427 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .portfolio-card {
    &.v-card {
      &.trezo-card {
        .trezo-table-content {
          .trezo-table {
            .v-table {
              table {
                thead {
                  tr {
                    th {
                      background-color: transparent !important;
                    }
                  }
                }
                tbody {
                  tr {
                    td {
                      border-color: #757dff !important;
                      &:first-child {
                        border-color: #757dff !important;
                      }
                    }
                    &:first-child {
                      td {
                        border-color: #757dff !important;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .crypto-rankings-card {
    &.v-card {
      &.trezo-card {
        .trezo-table-content {
          .trezo-table {
            .v-table {
              table {
                thead {
                  tr {
                    background-color: #0c1427 !important;
                    th {
                      background-color: #0c1427 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .crypto-exchange-card {
    .v-card-header {
      border-bottom: 1px solid var(--borderColor) !important;
    }
    .trezo-form-group {
      .v-input__control {
        background-color: #0c1427 !important;
      }
      .v-input--density-default .v-field__input {
        color: var(--whiteColor);
      }
    }
    .crypto-exchange-card-content {
      .item {
        .cryptocurrency-types {
          button {
            color: var(--whiteColor) !important;
          }
        }
      }
    }
  }
  .market-price-statistics-card {
    .v-card-header {
      .subtitle {
        .statistics-buttons-list {
          button {
            &.active,
            &:hover {
              background-color: #15203c !important;
            }
          }
        }
        .cryptocurrency-types {
          button {
            color: var(--whiteColor) !important;
          }
        }
      }
    }
  }
  .gross-earnings-card {
    .gross-earnings-card-content {
      .info {
        border-top: 1px solid var(--borderColor) !important;
      }
    }
  }
  .sales-by-locations-card {
    &.v-card {
      &.trezo-card {
        .trezo-table-content {
          .trezo-table {
            .v-table {
              table {
                thead {
                  tr {
                    background-color: #0c1427 !important;
                    th {
                      background-color: #0c1427 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .overall-visitors-card {
    background: #16223e !important;
  }
  .patients-last-7-days-card {
    background: #16223e !important;
  }
  .patient-appointments-card {
    &.v-card {
      &.trezo-card {
        .trezo-table-content {
          .trezo-table {
            .v-table {
              table {
                thead {
                  tr {
                    background-color: #0c1427 !important;
                    th {
                      background-color: #0c1427 !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .patient-bg-age-card {
    .apexcharts-canvas {
      .apexcharts-text {
        fill: var(--whiteColor);
      }
    }
  }
  .hospital-earnings-card {
    &.v-card {
      &.trezo-card {
        background-color: #16223e !important;
      }
    }

    .hospital-earnings-card-content {
      .content {
        .item {
          &::before {
            background: #0c1427 !important;
          }
        }
      }
    }
  }
  .border-bottom {
    border-color: #172036 !important;
  }
  .create-dialog-box {
    .title {
      background-color: #172036;
      .close-btn {
        color: var(--whiteColor) !important;
      }
    }
  }
  .text-black {
    color: var(--whiteColor) !important;
  }
  .form-control {
    background-color: var(--blackColor) !important;
    color: var(--bodyColor) !important;
  }
  &.pos-system-page,
  &.podcast-page,
  &.call-center-page,
  &.school-page {
    &.bg-white {
      background-color: #0a0e19 !important;
    }
    .sidebar-area {
      .logo {
        &.bg-white {
          background-color: #0c1427 !important;
        }
      }
    }
  }
  &.bg-white {
    .sidebar-area {
      border-right: 1px solid #172036 !important;
    }
    .footer-area {
      border: 1px solid #0c1427 !important;
    }
  }
  .bg-body-bg {
    background-color: #0a0e19 !important;
  }
  .border-top {
    border-color: #172036 !important;
  }
  .border {
    border-color: #172036 !important;
  }
  .for-dark-rounded-bg {
    .bg-white {
      background-color: #172036 !important;
    }
  }
  .categories-tabs {
    .nav-item {
      .nav-link {
        border-color: #172036 !important;
        &.active {
          border-color: #605dff !important;
        }
      }
    }
  }
  .pagination {
    .page-item {
      .page-link {
        background: #15203c;
        border-color: #15203c;
        color: #fff;
        &.active {
          background-color: var(--primaryColor);
          color: var(--whiteColor);
          z-index: 0 !important;
        }
        &:hover {
          background-color: var(--primaryColor);
          color: var(--whiteColor);
        }
      }
    }
  }
  .product-quantity {
    .add-to-cart-counter {
      input {
        background-color: #15203c;
        border-color: #15203c;
        color: #fff;
      }
    }
  }
  .order-details-card {
    .text-secondary {
      color: #ffffff !important;
    }
  }
  .payment-method {
    .btn {
      background-color: #0a0e19 !important;
      border-color: #172036 !important;
    }
    .btn-check:checked + .btn,
    :not(.btn-check) + .btn:active,
    .btn:first-child:active,
    .btn.active,
    .btn.show {
      border-color: #605dff !important;
      background-color: transparent !important;
    }
  }
  .overview-card,
  .agent-avg-earnings-card,
  .agents-performance-overview-card,
  .call-center-geography-card,
  .inbound-calls-card,
  .outbound-calls-card,
  .recent-calls-card,
  .attendance-analytics-card,
  .new-admissions-card,
  .notice-board-card,
  .students-list-card,
  .students-overview-card,
  .teachers-card {
    &.border {
      border: 1px solid #172036 !important;
    }
  }
  .card-group {
    .border-border-color {
      border: 1px solid #172036 !important;
    }
  }
  .default-table-area.agents-performance-overview.style-three
    .table-responsive
    .table
    tbody
    tr
    td {
    background-color: #0a0e19;
  }
  .default-table-area {
    .table-responsive {
      .table thead {
        tr {
          th {
            background-color: #15203c;
            color: #fff;
            border-color: #172036;
          }
        }
      }
    }
    &.recent-calls,
    &.employee-list {
      .table-responsive {
        .table {
          thead {
            tr {
              th {
                border-top: 1px solid #172036 !important;
              }
            }
          }
        }
      }
    }
    &.top-nfts-table,
    &.campaigns-table {
      &.style-two {
        .table-responsive {
          .table {
            thead {
              tr {
                th {
                  &.border-bottom {
                    border-bottom: 1px solid #172036 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .card {
    background-color: #0c1427 !important;
  }
  .call-overview-tabs {
    .card {
      background-color: #0a0e19 !important;
    }
  }
}
