<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-x-[25px] lg:gap-[25px]">
    <div>

        <!-- Revenue Growth -->
        <app-revenue-growth />

    </div>
    <div>

        <!-- Lead Conversion -->
        <app-lead-conversion />

    </div>
    <div>

        <!-- Total Orders -->
        <app-total-orders />

    </div>
    <div>

        <!-- Annual Profit -->
        <app-annual-profit />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Balance Overview -->
        <app-balance-overview />
        
    </div>
    <div class="lg:col-span-1">

        <!-- Leads by Source -->
        <app-leads-by-source />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-1">

        <!-- Top Performers -->
        <app-top-performers />

    </div>
    <div class="lg:col-span-2">

        <!-- Recent Leads -->
        <app-recent-leads />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Sales Report -->
        <app-sales-report />

    </div>
    <div class="lg:col-span-1">

        <!-- Top Products by Sales -->
        <app-top-products-by-sales />

    </div>
</div>