<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Events Grid
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Events Grid
        </li>
    </ol>
</div>

<!-- Events Grid -->
<div class="grid sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event1.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $120
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Annual Conference 2024
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user6.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user7.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user8.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <div class="w-[40px] h-[40px] rounded-full flex items-center justify-center ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036] bg-primary-500 text-white">
                    +4
                </div>
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        1156
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 85%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event2.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $59
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Leadership Summit 2024
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user10.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user11.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        556
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 24%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event3.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $123
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Product Launch Webinar
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user12.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user13.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user14.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        356
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 65%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event4.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $99
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    AI in Healthcare Symposium
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user15.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        3226
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 82%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event5.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $35
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Tech Summit 2024
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user16.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user17.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        4109
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 48%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event6.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $76
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Startup Pitch Day
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user18.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user19.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user20.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        432
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 37%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event7.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $30
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Workshop: Digital Marketing
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user21.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        1728
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 65%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event8.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $87
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Charity Gala Dinner
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user22.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user23.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user24.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user25.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        1306
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 80%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event9.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $50
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Web Development Seminar
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user26.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user27.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        2756
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 78%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event10.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $89
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Networking Mixer
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user28.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user29.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        1467
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 30%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event1.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $120
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Annual Conference 2024
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user6.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user7.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user8.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <div class="w-[40px] h-[40px] rounded-full flex items-center justify-center ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036] bg-primary-500 text-white">
                    +4
                </div>
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        1156
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 85%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="relative mb-[22px]">
                <a routerLink="/dashboard/events/event-details" class="block rounded-md">
                    <img src="images/events/event2.jpg" alt="event-image" class="rounded-md">
                </a>
                <div class="absolute bg-primary-500 top-0 text-white font-bold flex items-center justify-center ltr:right-0 rtl:left-0 text-md w-[60px] h-[60px] rounded-md z-[1]">
                    $59
                </div>
                <div class="absolute top-0 ltr:right-0 rtl:left-0 w-[65px] h-[65px] bg-white dark:bg-[#0a0e19] ltr:rounded-bl-md rtl:rounded-br-md"></div>
            </div>
            <h6 class="text-lg mb-[10px]">
                <a routerLink="/dashboard/events/event-details" class="text-black dark:text-white transition-all hover:text-primary-500">
                    Leadership Summit 2024
                </a>
            </h6>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
            </p>
            <div class="flex items-center">
                <img src="images/users/user10.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] ltr:last:mr-0 rtl:last:ml-0 border-[2px] border-gray-100 dark:border-[#172036]">
                <img src="images/users/user11.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] ltr:-mr-[12px] rtl:-ml-[12px] border-[2px] border-gray-100 dark:border-[#172036]">
            </div>
            <div class="mt-[20px]">
                <div class="flex items-center justify-between mb-[8px]">
                    <span class="block">
                        Seat Booked
                    </span>
                    <span class="block font-semibold text-black dark:text-white">
                        556
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 24%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="sm:flex sm:items-center justify-between">
            <p class="mb-0">
                Showing 9 of 36 results
            </p>
            <ol class="mt-[10px] sm:mt-0">
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-primary-500 bg-primary-500 text-white">
                        1
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        2
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        3
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        4
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>