<div
    class="sign-up-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form ml-auto mr-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/sign-up.jpg" alt="sign-up-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <div class="logo">
                        <img src="images/logo-big.svg" alt="logo">
                        <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                    </div>
                    <div class="title">
                        <h1 class="fw-semibold">
                            Sign up to Trezo Dashboard
                        </h1>
                        <p class="fw-medium">
                            Sign up with social account or enter your details
                        </p>
                    </div>
                    <div class="with-socials d-flex align-items-center justify-content-between">
                        <div>
                            <button type="button" mat-button>
                                <img src="images/icons/google.svg" alt="google">
                            </button>
                        </div>
                        <div>
                            <button type="button" mat-button>
                                <img src="images/icons/facebook2.svg" alt="facebook">
                            </button>
                        </div>
                        <div>
                            <button type="button" mat-button>
                                <img src="images/icons/apple.svg" alt="apple">
                            </button>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Full Name
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Enter your full name
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Email Address
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    example&#64;trezo.com
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Password
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Type password
                                </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </span>
                                </button>
                            </mat-form-field>
                        </div>
                        <button type="button" mat-button>
                            <i class="material-symbols-outlined">
                                person_4
                            </i>
                            Sign Up
                        </button>
                        <p class="info">
                            By confirming your email, you agree to our <a class="fw-medium" routerLink=".">Terms of Service</a> and that you have read and understood our <a class="fw-medium" routerLink=".">Privacy Policy</a>.
                        </p>
                        <p class="info">
                            Already have an account. <a routerLink="/authentication" class="fw-semibold text-primary">Sign In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>