.example-container {
    height: 300px;
    border: 1px solid var(--borderColor);
}
.example-sidenav-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.example-sidenav {
    padding: 20px;
}