<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Buttons
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Buttons
        </li>
    </ol>
</div>

<!-- Buttons -->
<div class="row">
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Basic Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-button>Basic</button>
                <span class="mr-15"></span>
                <button mat-button disabled>Disabled</button>
                <span class="mr-15"></span>
                <a mat-button href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Raised Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-raised-button>Basic</button>
                <span class="mr-15"></span>
                <button mat-raised-button disabled>Disabled</button>
                <span class="mr-15"></span>
                <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Stroked Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-stroked-button>Basic</button>
                <span class="mr-15"></span>
                <button mat-stroked-button disabled>Disabled</button>
                <span class="mr-15"></span>
                <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Flat Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-flat-button>Basic</button>
                <span class="mr-15"></span>
                <button mat-flat-button disabled>Disabled</button>
                <span class="mr-15"></span>
                <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Icon Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <i class="material-symbols-outlined">
                        more_vert
                    </i>
                </button>
                <span class="mr-15"></span>
                <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                    <i class="material-symbols-outlined">
                        open_in_new
                    </i>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Mini FAB Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-mini-fab aria-label="Example icon button with a menu icon">
                    <i class="material-symbols-outlined">
                        menu
                    </i>
                </button>
                <span class="mr-15"></span>
                <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                    <i class="material-symbols-outlined">
                        home
                    </i>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Fab Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-fab aria-label="Example icon button with a delete icon">
                    <i class="material-symbols-outlined">
                        delete
                    </i>
                </button>
                <span class="mr-15"></span>
                <button mat-fab disabled aria-label="Example icon button with a heart icon">
                    <i class="material-symbols-outlined">
                        favorite
                    </i>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Extended Fab Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-fab extended>
                    <i class="material-symbols-outlined">
                        favorite
                    </i>
                    Basic
                </button>
                <span class="mr-15"></span>
                <button mat-fab extended disabled>
                    <i class="material-symbols-outlined">
                        favorite
                    </i>
                    Disabled
                </button>
                <span class="mr-15"></span>
                <a mat-fab extended routerLink=".">
                    <i class="material-symbols-outlined">
                        favorite
                    </i>
                    Link
                </a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Block Basic Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-button class="d-block w-100 text-center">Basic</button>
                <button mat-button class="d-block w-100 text-center" disabled>Disabled</button>
                <a mat-button class="d-block w-100 text-center" href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Block Raised Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-raised-button class="d-block w-100 text-center">Basic</button>
                <button mat-raised-button class="d-block w-100 text-center" disabled>Disabled</button>
                <a mat-raised-button class="d-block w-100 text-center" href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Block Stroked Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-stroked-button class="d-block text-center w-100">Basic</button>
                <button mat-stroked-button class="d-block text-center w-100" disabled>Disabled</button>
                <a mat-stroked-button class="d-block text-center w-100" href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Block Flat Buttons
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="example-buttons">
                <button mat-flat-button class="d-block w-100 text-center">Basic</button>
                <button mat-flat-button class="d-block w-100 text-center" disabled>Disabled</button>
                <a mat-flat-button class="d-block w-100 text-center" href="https://www.google.com/" target="_blank">Link</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>