<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Explore All
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            NFT
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Explore All
        </li>
    </ol>
</div>

<!-- Explore All -->
<mat-card
    class="nfts-filter-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Filter
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <mat-form-field class="style-two">
                        <mat-label>
                            Search
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <mat-form-field class="style-two">
                        <mat-label>
                            Category
                        </mat-label>
                        <mat-select>
                            <mat-option value="option1">
                                Bird
                            </mat-option>
                            <mat-option value="option2">
                                Pool
                            </mat-option>
                            <mat-option value="option3">
                                Watermelon
                            </mat-option>
                            <mat-option value="option4">
                                Flower
                            </mat-option>
                            <mat-option value="option5">
                                Cookies
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <mat-form-field class="style-two">
                        <mat-label>
                            File Type
                        </mat-label>
                        <mat-select>
                            <mat-option value="option1">
                                .zip
                            </mat-option>
                            <mat-option value="option2">
                                .jpg
                            </mat-option>
                            <mat-option value="option3">
                                .png
                            </mat-option>
                            <mat-option value="option4">
                                .gif
                            </mat-option>
                            <mat-option value="option5">
                                .pdf
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group">
                    <mat-form-field class="style-two">
                        <mat-label>
                            Featured
                        </mat-label>
                        <mat-select>
                            <mat-option value="option1">
                                Bird
                            </mat-option>
                            <mat-option value="option2">
                                Pool
                            </mat-option>
                            <mat-option value="option3">
                                Watermelon
                            </mat-option>
                            <mat-option value="option4">
                                Flower
                            </mat-option>
                            <mat-option value="option5">
                                Cookies
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="range-slider position-relative">
                    <span class="title fw-semibold">
                        Price:
                    </span>
                    <div class="custom-slider">
                        <mat-slider
                            min="0"
                            max="50"
                            class="slider"
                            [displayWith]="formatValue"
                        >
                            <input
                                matSliderStartThumb
                                [value]="startValue"
                                (input)="onThumbChange($event, 'start')"
                            >
                            <input
                                matSliderEndThumb
                                [value]="endValue"
                                (input)="onThumbChange($event, 'end')"
                            >
                        </mat-slider>
                    </div>
                    <div class="values d-flex align-items-center justify-content-between">
                        <div class="thumb-value d-flex align-items-center text-black fw-semibold" [style.left.%]="(startValue / 50) * 100">
                            $
                            {{ startValue }}
                        </div>
                        <div class="thumb-value d-flex align-items-center text-black fw-semibold" [style.left.%]="(endValue / 50) * 100">
                            $
                            {{ endValue }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-md-end">
                <button type="button" mat-button>
                    Filter
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div
    class="row"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured1.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35246
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Christmas Eve
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">9.75 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        5.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.2/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured2.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35247
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Humming Bird
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">10.75 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        12.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.5/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured3.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35228
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Naughty Pool
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">8.75 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        9.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.7/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured4.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35227
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Hello Thumbs
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">9.30 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        8.15 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.3/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured5.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35248
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Pixel Watermelon
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">1.75 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        3.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.1/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured6.gif" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35258
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                BDancing Cookies
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">10.75 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        12.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.1/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured7.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35158
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Rotating Flower
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">3.95 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        6.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">8.7/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <div class="nft-item mb-25 bg-white border-radius">
            <div class="image position-relative border-radius">
                <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="d-block border-radius">
                    <img src="images/nfts/featured8.jpg" class="border-radius" alt="nft-image">
                </a>
                <button type="button" mat-button>
                    Place Bid
                </button>
            </div>
            <div class="content">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="title d-flex align-items-center">
                        <img src="images/nfts/author.gif" class="rounded-circle" alt="author-image">
                        <div>
                            <span class="d-block">
                                NFT ID: 35782
                            </span>
                            <a routerLink="/dashboard/nft-marketplace-page/nft-details" class="fw-semibold d-block">
                                Flying Bulb
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="verified" alt="verified">
                </div>
                <span class="bid d-block">
                    Highest Bid: <span class="fw-semibold text-black">8.75 ETH</span>
                </span>
                <div class="info d-flex justify-content-between align-items-center">
                    <span class="d-block fw-semibold text-primary">
                        9.50 ETH
                    </span>
                    <span class="rating position-relative d-block fw-semibold">
                        <i class="ri-heart-fill"></i>
                        <span class="text-black">9.7/</span>10
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<mat-card class="pagination-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 8 of 36 results
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button class="prev" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="." class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        4
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button class="next" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </mat-card-content>
</mat-card>