<div class="2xl:grid 2xl:grid-cols-2 gap-[25px]">
    <div>

        <!-- Welcome -->
        <app-welcome />

    </div>
    <div>
        <div class="sm:grid sm:grid-cols-3 gap-[25px]">
            <div>

                <!-- Total Courses -->
                <app-total-courses />
                
            </div>
            <div>

                <!-- Total Enrolled -->
                <app-total-enrolled />

            </div>
            <div>

                <!-- Total Mentors -->
                <app-total-mentors />

            </div>
        </div>
    </div>
</div>
<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-3">

        <!-- Student’s Interested Topics -->
        <app-students-interested-topics />
        
    </div>
    <div class="lg:col-span-2">

        <!-- Top Instructors -->
        <app-top-instructors />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Student's Progress -->
        <app-students-progress />

    </div>
    <div>

        <!-- Group Lessons -->
        <app-group-lessons />

    </div>
    <div>

        <!-- Enrolled by Countries -->
        <app-enrolled-by-countries />

    </div>
</div>
        
<!-- Courses -->
<app-courses />

<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Courses Sales -->
        <app-courses-sales />

    </div>
    <div>

        <!-- Time Spent -->
        <app-time-spent />

    </div>
    <div>

        <!-- Our Top Courses -->
        <app-our-top-courses />

    </div>
</div>