<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Widgets
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Widgets
        </li>
    </ol>
</div>

<!-- Widgets -->
<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-x-[25px] lg:gap-[25px]">
    <div>

        <!-- Revenue Growth -->
        <app-revenue-growth />

    </div>
    <div>

        <!-- Lead Conversion -->
        <app-lead-conversion />

    </div>
    <div>

        <!-- Total Orders -->
        <app-total-orders />

    </div>
    <div>

        <!-- Annual Profit -->
        <app-annual-profit />

    </div>
</div>
<div class="sm:grid sm:grid-cols-2 lg:grid-cols-4 sm:gap-x-[25px] lg:gap-[25px]">
    <div>

        <!-- Tickets Resolved -->
        <app-tickets-resolved />

    </div>
    <div>

        <!-- Tickets In Progress -->
        <app-tickets-in-progress />

    </div>
    <div>

        <!-- Tickets Due -->
        <app-tickets-due />

    </div>
    <div>

        <!-- Tickets New Open -->
        <app-tickets-new-open />

    </div>
</div>
<div class="2xl:grid 2xl:grid-cols-2 gap-[25px]">
    <div>

        <!-- Welcome -->
        <app-welcome />

    </div>
    <div>
        <div class="sm:grid sm:grid-cols-3 gap-[25px]">
            <div>
        
                <!-- Total Courses -->
                <app-total-courses />

            </div>
            <div>

                <!-- Total Enrolled -->
                <app-total-enrolled />

            </div>
            <div>

                <!-- Total Mentors -->
                <app-total-mentors />
        
            </div>
        </div>
    </div>
</div>
<div class="md:grid md:grid-cols-3 gap-[25px]">
    <div>
        
        <!-- Total Customers -->
        <app-total-customers />

    </div>
    <div>
        
        <!-- Total Revenue -->
        <app-total-revenue />

    </div>
    <div>
        
        <!-- Top Orders -->
        <app-top-orders />

    </div>
</div>
<div class="2xl:grid 2xl:grid-cols-2 gap-[25px]">
    <div>

        <!-- Projects Overview -->
        <app-projects-overview />

    </div>
    <div>

        <!-- Projects Roadmap -->
        <app-projects-roadmap />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Courses Sales -->
        <app-courses-sales />

    </div>
    <div>
        
        <!-- Time Spent -->
        <app-time-spent />

    </div>
    <div>
        
        <!-- Our Top Courses -->
        <app-our-top-courses />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Project Analysis -->
        <app-project-analysis />

    </div>
    <div>

        <!-- Team Members -->
        <app-team-members />

    </div>
    <div>

        <!-- Leads by Source -->
        <app-leads-by-source />

    </div>
</div>