<mat-card
    class="mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Drag & Drop Table
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <mat-table #table mat-table [dataSource]="dataSource" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListData="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="position" sticky>
                    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <i class="material-symbols-outlined example-drag-cursor">
                            reorder
                        </i>
                        <span>{{element.position}}</span>
                    </mat-cell>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
                </ng-container>
            
                <!-- Quantity Column -->
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef> Quantity of Element </mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>

            </mat-table>
        </div>
    </mat-card-content>
</mat-card>