<div class="mb-[25px] relative z-[1] pt-[20px] md:pt-[40px] lg:pt-[55px] px-[20px] md:px-[33px] rounded-md" id="allNFTSlides">
    <div class="lg:flex justify-between mb-[20px] md:mb-[30px] lg:mb-[50px] lg:px-[7px]">
        <div>
            <h3 class="text-white text-xl md:text-2xl mb-[5px]">
                Manage Your NFT From One Place
            </h3>
            <p class="text-gray-300">
                The world’s first and largest digital marketplace for discover, collect, sell and create your own NFTs.
            </p>
        </div>
        <div>
            <a routerLink="." class="text-[15px] md:text-md mt-[15px] lg:mt-[3px] rounded-[4px] bg-primary-500 text-white font-medium py-[7px] px-[30px] transition-all hover:bg-primary-400 inline-block">
                Create NFT
            </a>
        </div>
    </div>
    <owl-carousel-o [options]="allNftsSlides">
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft1.gif);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35246
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                Christmas Eve
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">9.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        5.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.2/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft2.jpg);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35247
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                Rotating Panda
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">10.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        12.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.5/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft3.gif);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35228
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                Cookies Live
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">8.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        9.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.7/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft4.gif);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35246
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                World Savior
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">9.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        5.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.2/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft1.gif);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35246
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                Christmas Eve
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">9.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        5.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.2/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft2.jpg);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35247
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                Rotating Panda
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">10.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        12.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.5/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft3.gif);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35228
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                Cookies Live
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">8.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        9.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.7/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <div
                    class="h-[270px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                    style="background-image: url(images/nfts/nft4.gif);"
                ></div>
                <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                    <div class="flex items-center gap-[10px]">
                        <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                        <div>
                            <span class="block text-xs">
                                NFT ID: 35246
                            </span>
                            <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                World Savior
                            </a>
                        </div>
                    </div>
                    <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                </div>
                <span class="block text-xs mb-[4px]">
                    Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">9.75 ETH</span>
                </span>
                <div class="flex items-center justify-between pb-[5px]">
                    <span class="block font-semibold text-primary-800">
                        5.50 ETH
                    </span>
                    <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                        <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                        <span class="text-gray-900 dark:text-gray-400">9.2/</span>10
                    </span>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
    <div class="absolute top-0 left-0 right-0 rounded-md -z-[1] h-[54%]" style="background: linear-gradient(92deg, #23272E 7.31%, #3F5272 97.89%);"></div>
    <img src="images/nfts/shape.png" class="absolute top-0 ltr:right-0 rtl:left-0 -z-[1]" alt="shape">
</div>