.pricing-style-2-card {
    padding: {
        left: 35px;
        right: 35px;
    };
    .mat-mdc-card-content {
        position: relative;
        padding: {
            top: 10px;
            bottom: 10px;
        };
        .title {
            span {
                color: #8695AA;
                border-radius: 7px;
                padding: 8.5px 17.3px;
                border: 1px solid var(--borderColor);
            }
        }
        .price {
            font-size: 36px;
            letter-spacing: -1px;
            margin: {
                top: 17px;
                bottom: 17px;
            };
            span {
                font-size: 16px;
                letter-spacing: normal;
            }
        }
        .features-list {
            margin-top: 28px;

            li {
                padding-left: 39px;
                margin-bottom: 21px;

                i {
                    left: 0;
                    top: 50%;
                    position: absolute;
                    color: var(--successColor);
                    transform: translateY(-50%);
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .popular {
            top: -9px;
            right: -17px;
            position: absolute;
        }
    }
}
.component-rtl-enabled {
    .pricing-style-2-card {
        .mat-mdc-card-content {
            .features-list {
                li {
                    padding: {
                        left: 0;
                        right: 39px;
                    };
                    i {
                        left: auto;
                        right: 0;
                    }
                }
            }
            .popular {
                right: auto;
                left: -17px;
            }
        }
    }
}
::ng-deep {
    .pricing-style-2-card {
        .mat-mdc-card-content {
            .mat-mdc-button {
                width: 100%;
                height: auto;
                display: block;
                min-width: auto;
                margin-top: 20px;
                padding: 14px 25px;
                border-radius: 7px;
                color: var(--whiteColor);
                background-color: var(--primaryColor);
                font: {
                    size: 16px;
                    weight: 500;
                };
                .mdc-button__label {
                    padding-left: 25px;
                    display: inline-block;

                    i {
                        left: 0;
                        top: 50%;
                        font-size: 16px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
    .component-rtl-enabled {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .mat-mdc-button {
                    .mdc-button__label {
                        padding: {
                            left: 0;
                            right: 25px;
                        };
                        i {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .pricing-style-2-card {
        padding: {
            left: 17px;
            right: 17px;
        };
        .mat-mdc-card-content {
            padding: {
                top: 5px;
                bottom: 5px;
            };
            .title {
                span {
                    padding: 6px 15px;
                }
            }
            .price {
                font-size: 26px;
                letter-spacing: -.5px;
                margin: {
                    top: 15px;
                    bottom: 13px;
                };
                span {
                    font-size: 13px;
                }
            }
            .features-list {
                margin-top: 20px;
    
                li {
                    padding-left: 27px;
                    margin-bottom: 15px;
    
                    i {
                        font-size: 20px;
                    }
                }
            }
            .popular {
                top: -5px;
                right: -5px;
                width: 55px;
            }
        }
    }
    .component-rtl-enabled {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .features-list {
                    li {
                        padding: {
                            left: 0;
                            right: 27px;
                        };
                    }
                }
                .popular {
                    left: -5px;
                    right: auto;
                }
            }
        }
    }
    ::ng-deep {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .mat-mdc-button {
                    padding: 13px 25px;
                    margin-top: 17px;
                    font-size: 13px;

                    .mdc-button__label {
                        padding-left: 23px;
    
                        i {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .component-rtl-enabled {
            .pricing-style-2-card {
                .mat-mdc-card-content {
                    .mat-mdc-button {
                        .mdc-button__label {
                            padding: {
                                left: 0;
                                right: 23px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .pricing-style-2-card {
        padding: {
            left: 20px;
            right: 20px;
        };
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .pricing-style-2-card {
        padding: {
            left: 30px;
            right: 30px;
        };
        .mat-mdc-card-content {
            .price {
                font-size: 30px;
                letter-spacing: -.5px;
                margin: {
                    top: 15px;
                    bottom: 15px;
                };
                span {
                    font-size: 14px;
                }
            }
            .features-list {
                margin-top: 25px;
    
                li {
                    padding-left: 35px;
                    margin-bottom: 17px;
                }
            }
        }
    }
    .component-rtl-enabled {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .features-list {
                    li {
                        padding: {
                            left: 0;
                            right: 35px;
                        };
                    }
                }
            }
        }
    }
    ::ng-deep {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .mat-mdc-button {
                    font-size: 14px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .pricing-style-2-card {
        padding: {
            left: 30px;
            right: 30px;
        };
        .mat-mdc-card-content {
            .price {
                margin-bottom: 15px;

                span {
                    font-size: 15px;
                }
            }
            .features-list {
                margin-top: 25px;
    
                li {
                    padding-left: 35px;
                    margin-bottom: 18px;
                }
            }
            .popular {
                top: -8px;
                width: 55px;
                right: -15px;
            }
        }
    }
    .component-rtl-enabled {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .features-list {
                    li {
                        padding: {
                            left: 0;
                            right: 35px;
                        };
                    }
                }
                .popular {
                    left: -15px;
                    right: auto;
                }
            }
        }
    }
    ::ng-deep {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .mat-mdc-button {
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .pricing-style-2-card {
        .mat-mdc-card-content {
            .price {
                margin-bottom: 15px;
            }
            .features-list {
                margin-top: 25px;
    
                li {
                    padding-left: 35px;
                    margin-bottom: 18px;
                }
            }
            .popular {
                top: -8px;
                width: 55px;
                right: -15px;
            }
        }
    }
    .component-rtl-enabled {
        .pricing-style-2-card {
            .mat-mdc-card-content {
                .features-list {
                    li {
                        padding: {
                            left: 0;
                            right: 35px;
                        };
                    }
                }
                .popular {
                    left: -15px;
                    right: auto;
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}