<mat-card
    class="projects-overview-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Projects Overview
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-6">
                <div class="box bg-primary-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-primary lh-1">
                            <i class="material-symbols-outlined">
                                folder_open
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Total Projects
                            </span>
                            <h5 class="mb-0">
                                1235
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Projects this month
                        </span>
                        <span class="info-badge d-inline-block">
                            +10%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bg-orange-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-orange lh-1">
                            <i class="material-symbols-outlined">
                                stacks
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Active Projects
                            </span>
                            <h5 class="mb-0">
                                425
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Projects this month
                        </span>
                        <span class="info-badge d-inline-block">
                            +10%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bg-success-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-success lh-1">
                            <i class="material-symbols-outlined">
                                assignment_turned_in
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Finished Projects
                            </span>
                            <h5 class="mb-0">
                                135
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Projects this month
                        </span>
                        <span class="info-badge down d-inline-block">
                            -15%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="box bg-purple-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-purple lh-1">
                            <i class="material-symbols-outlined">
                                group
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Team Members
                            </span>
                            <h5 class="mb-0">
                                65+
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Hard Worker
                        </span>
                        <div class="users d-flex align-items-center">
                            <img src="images/users/user15.jpg" class="rounded-circle" alt="user-image">
                            <img src="images/users/user14.jpg" class="rounded-circle" alt="user-image">
                            <img src="images/users/user13.jpg" class="rounded-circle" alt="user-image">
                            <img src="images/users/user12.jpg" class="rounded-circle" alt="user-image">
                            <span class="text-white bg-primary d-flex align-items-center justify-content-center rounded-circle fw-medium">
                                +55
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>