<mat-card class="re-revenue-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="d-flex align-items-center justify-content-between">
            <div class="inner d-flex align-items-center">
                <div>
                    <span class="d-block">
                        Revenue
                    </span>
                    <h3 class="mb-0 lh-1">
                        $194,712
                    </h3>
                </div>
                <span class="info-badge d-inline-block">
                    +60%
                </span>
            </div>
            <span class="d-block text-xs">
                Last 7 days
            </span>
        </div>
        <div class="chart">
            <div id="re_revenue_chart"></div>
        </div>
    </mat-card-content>
</mat-card>