<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Trezo - ASP.NET Core Admin Dashboard Template</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/sidebar-menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/simplebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/apexcharts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/prism.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rangeslider.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sweetalert.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/quill.snow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/google-icon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/remixicon.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper-bundle.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fullcalendar.main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jsvectormap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lightpick.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>

<body class="boxed-size bg-white">

    <div class="preloader" id="preloader">
        <div class="preloader">
            <div class="waviy position-relative">
                <span class="d-inline-block">T</span>
                <span class="d-inline-block">R</span>
                <span class="d-inline-block">E</span>
                <span class="d-inline-block">Z</span>
                <span class="d-inline-block">O</span>
            </div>
        </div>
    </div>


    @RenderBody()


    <button class="theme-settings-btn p-0 border-0 bg-transparent position-absolute" style="right: 30px; bottom: 30px;"
        type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
        aria-controls="offcanvasScrolling">
        <i class="material-symbols-outlined bg-primary wh-35 lh-35 text-white rounded-1" data-bs-toggle="tooltip"
            data-bs-placement="left" data-bs-title="Click On Theme Settings">settings</i>
    </button>

    <!-- Start Theme Setting Area -->
    <div class="offcanvas offcanvas-end bg-white" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel"
        style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="offcanvas-header bg-body-bg py-3 px-4">
            <h5 class="offcanvas-title fs-18" id="offcanvasScrollingLabel">Theme Settings</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-4">
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">RTL / LTR</h4>
                <div class="settings-btn rtl-btn">
                    <label id="switch" class="switch">
                        <input type="checkbox" onchange="toggleTheme()" id="slider">
                        <span class="sliders round"></span>
                    </label>
                </div>
            </div>
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">Container Style Fluid / Boxed</h4>
                <button class="boxed-style settings-btn fluid-boxed-btn" id="boxed-style">
                    Click To <span class="fluid">Fluid</span> <span class="boxed">Boxed</span>
                </button>
            </div>
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">Only Sidebar Light / Dark</h4>
                <button class="sidebar-light-dark settings-btn sidebar-dark-btn" id="sidebar-light-dark">
                    Click To <span class="dark1">Dark</span> <span class="light1">Light</span>
                </button>
            </div>
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">Only Header Light / Dark</h4>
                <button class="header-light-dark settings-btn header-dark-btn" id="header-light-dark">
                    Click To <span class="dark2">Dark</span> <span class="light2">Light</span>
                </button>
            </div>
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">Only Footer Light / Dark</h4>
                <button class="footer-light-dark settings-btn footer-dark-btn" id="footer-light-dark">
                    Click To <span class="dark3">Dark</span> <span class="light3">Light</span>
                </button>
            </div>
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">Card Style Radius / Square</h4>
                <button class="card-radius-square settings-btn card-style-btn" id="card-radius-square">
                    Click To <span class="square">Square</span> <span class="radius">Radius</span>
                </button>
            </div>
            <div class="mb-4 pb-2">
                <h4 class="fs-15 fw-semibold border-bottom pb-2 mb-3">Card Style BG White / Gray</h4>
                <button class="card-bg settings-btn card-bg-style-btn" id="card-bg">
                    Click To <span class="white">White</span> <span class="gray">Gray</span>
                </button>
            </div>
        </div>
    </div>
    <!-- End Theme Setting Area -->

    <button class="switch-toggle settings-btn dark-btn p-0 bg-transparent position-absolute top-0 d-none"
        id="switch-toggle">
        <span class="dark"><i class="material-symbols-outlined">light_mode</i></span>
        <span class="light"><i class="material-symbols-outlined">dark_mode</i></span>
    </button>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sidebar-menu.js" asp-append-version="true"></script>
    <script src="~/js/dragdrop.js" asp-append-version="true"></script>
    <script src="~/js/rangeslider.min.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert.js" asp-append-version="true"></script>
    <script src="~/js/quill.min.js" asp-append-version="true"></script>
    <script src="~/js/data-table.js" asp-append-version="true"></script>
    <script src="~/js/prism.js" asp-append-version="true"></script>
    <script src="~/js/clipboard.min.js" asp-append-version="true"></script>
    <script src="~/js/feather.min.js" asp-append-version="true"></script>
    <script src="~/js/simplebar.min.js" asp-append-version="true"></script>
    <script src="~/js/apexcharts.min.js" asp-append-version="true"></script>
    <script src="~/js/echarts.js" asp-append-version="true"></script>
    <script src="~/js/swiper-bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/fullcalendar.main.js" asp-append-version="true"></script>
    <script src="~/js/jsvectormap.min.js" asp-append-version="true"></script>
    <script src="~/js/world-merc.js" asp-append-version="true"></script>
    <script src="~/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/js/lightpick.js" asp-append-version="true"></script>
    <script src="~/js/custom/apexcharts.js" asp-append-version="true"></script>
    <script src="~/js/custom/echarts.js" asp-append-version="true"></script>
    <script src="~/js/custom/custom.js" asp-append-version="true"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
