<!-- All NFTs -->
<app-all-nfts />

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Ethereum Rate -->
        <app-ethereum-rate />

    </div>
    <div class="lg:col-span-2">

        <!-- Active Auctions -->
        <app-active-auctions />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-4 gap-[25px] mb-[25px]">
    <div class="lg:col-span-3">

        <!-- Featured NFT Artworks -->
        <app-featured-nft-artworks />

    </div>
    <div class="lg:col-span-1">

        <!-- Mobile App -->
        <app-mobile-app />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Most Popular Sellers -->
        <app-most-popular-sellers />

    </div>
    <div class="lg:col-span-1">

        <!-- Worldwide Top Creators -->
        <app-worldwide-top-creators />

    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-[25px] mb-[25px]">
    <div class="2xl:col-span-1 md:order-1 2xl:order-1">

        <!-- Top Collections -->
        <app-top-collections />

    </div>
    <div class="md:col-span-2 2xl:col-span-2 md:order-3 2xl:order-2">

        <!-- Top NFTs -->
        <app-top-nfts />

    </div>
    <div class="2xl:col-span-1 md:order-2 2xl:order-2">

        <!-- History Of Bids -->
        <app-history-of-bids />

    </div>
</div>