<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Creators
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            NFT
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Creators
        </li>
    </ol>
</div>

<!-- Filter -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] sm:flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Filter
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <form>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-[15px] sm:gap-[20px]">
                <div>
                    <input type="text" class="h-[44px] rounded-md text-black dark:text-white bg-gray-50 dark:bg-[#0a0e19] px-[17px] block w-full outline-0 placeholder:text-gray-500 dark:placeholder:text-gray-400" placeholder="Search">
                </div>
                <div>
                    <select class="h-[44px] rounded-md bg-gray-50 dark:bg-[#0a0e19] px-[13px] block w-full outline-0 cursor-pointer">
                        <option selected>
                            Category
                        </option>
                        <option>
                            Bird
                        </option>
                        <option>
                            Pool
                        </option>
                        <option>
                            Watermelon
                        </option>
                        <option>
                            Flower
                        </option>
                        <option>
                            Cookies
                        </option>
                    </select>
                </div>
                <div>
                    <select class="h-[44px] rounded-md bg-gray-50 dark:bg-[#0a0e19] px-[13px] block w-full outline-0 cursor-pointer">
                        <option selected>
                            File Type
                        </option>
                        <option>
                            .zip
                        </option>
                        <option>
                            .jpg
                        </option>
                        <option>
                            .png
                        </option>
                        <option>
                            .gif
                        </option>
                        <option>
                            .pdf
                        </option>
                    </select>
                </div>
                <div>
                    <select class="h-[44px] rounded-md bg-gray-50 dark:bg-[#0a0e19] px-[13px] block w-full outline-0 cursor-pointer">
                        <option selected>
                            Featured
                        </option>
                        <option>
                            Bird
                        </option>
                        <option>
                            Pool
                        </option>
                        <option>
                            Watermelon
                        </option>
                        <option>
                            Flower
                        </option>
                        <option>
                            Cookies
                        </option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Creators -->
<div class="trezo-card mb-[25px]">
    <div class="trezo-card-content">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-[25px]">
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator1.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        Hunny Bunny
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 3204
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-primary-500 text-white transition-all hover:bg-primary-400">
                        Follow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator2.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        Aristocrat
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 5301
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-primary-500 text-white transition-all hover:bg-primary-400">
                        Follow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator3.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        Hooman Robotic
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 4213
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-gray-400 text-white transition-all hover:bg-gray-400">
                        Unfollow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator4.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        Colorful Life
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 2314
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-primary-500 text-white transition-all hover:bg-primary-400">
                        Follow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator5.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        CryptoCanvas
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 3204
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-gray-400 text-white transition-all hover:bg-gray-400">
                        Unfollow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator6.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        MetaVisionaries
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 5301
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-primary-500 text-white transition-all hover:bg-primary-400">
                        Follow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator7.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        CryptoCultures
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 4213
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-gray-400 text-white transition-all hover:bg-gray-400">
                        Unfollow
                    </button>
                </div>
            </div>
            <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                <img src="images/nfts/creator8.jpg" class="rounded-md" alt="creator-image">
                <div class="text-center -mt-[34px]">
                    <div class="relative mb-[15px] inline-block">
                        <img src="images/nfts/user.gif" class="rounded-full inline-block w-[68px]" alt="user-image">
                        <img src="images/nfts/verified2.svg" class="absolute bottom-0 ltr:right-0 rtl:left-0" alt="verified">
                    </div>
                    <h3 class="text-md font-semibold mb-[8px]">
                        Digital Mystique
                    </h3>
                    <span class="block text-xs">
                        ITEMS: 2314
                    </span>
                    <div class="h-[1px] bg-primary-50 border-[#172036] my-[15px]"></div>
                    <button type="button" class="inline-block rounded-[7px] py-[6px] px-[17px] font-medium md:text-md bg-primary-500 text-white transition-all hover:bg-primary-400">
                        Follow
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="sm:flex sm:items-center justify-between">
            <p class="mb-0">
                Showing 8 of 36 results
            </p>
            <ol class="mt-[10px] sm:mt-0">
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-primary-500 bg-primary-500 text-white">
                        1
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        2
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        3
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        4
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>