<mat-card class="tickets-new-open-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <span class="d-block">
            Tickets New Open
        </span>
        <h5 class="mb-0">
            3.25k
        </h5>
        <div class="chart">
            <div id="widgets_tickets_new_open_chart"></div>
        </div>
        <div class="info d-flex align-items-center justify-content-between">
            <span class="d-block">
                This Month
            </span>
            <span class="lh-1 text-success">
                <i class="material-symbols-outlined">
                    trending_up
                </i>
            </span>
        </div>
    </mat-card-content>
</mat-card>