<mat-card class="income-source-card mb-25 border-radius d-block border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0 text-white">
                Income Source
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="d-block text-white fw-normal">
                Last 30 days
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="income_source_chart"></div>
        </div>
    </mat-card-content>
</mat-card>