.leads-by-source-card {
    .mat-mdc-card-content {
        .chart {
            margin-top: -10px;
        }
        .list {
            margin: {
                top: -4px;
                left: -5px;
                right: -5px;
            };
            li {
                flex: 0 0 auto;
                margin-top: 24px;
                width: 33.33333333%;
                padding: {
                    left: 5px;
                    right: 5px;
                };
                .title {
                    font-size: 13px;
                    margin-bottom: 8px;

                    .dot {
                        width: 11px;
                        height: 11px;
                        margin-right: 8px;
                        border-radius: 3px;
                    }
                }
                h6 {
                    font-size: 18px;
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .list {
                li {
                    .title {
                        .dot {
                            margin: {
                                right: 0;
                                left: 8px;
                            };
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .leads-by-source-card {
        .mat-mdc-card-content {
            .chart {
                margin-top: -5px;
            }
            .list {
                li {
                    margin-top: 15px;
                    
                    .title {
                        margin-bottom: 7px;
                        
                        .dot {
                            width: 10px;
                            height: 10px;
                        }
                    }
                    h6 {
                        font-size: 16px;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .leads-by-source-card {
        .mat-mdc-card-content {
            .list {
                li {
                    margin-top: 20px;
                    width: 16.6666666667%;
                    
                    h6 {
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}