<div class="row">
    <div class="col-lg-4">
        <div class="row">
            <div class="col-lg-12 col-md-6">

                <!-- Active Total Property -->
                <app-active-total-property />

            </div>
            <div class="col-lg-12 col-md-6">

                <!-- Revenue -->
                <app-re-revenue />

            </div>
        </div>
    </div>
    <div class="col-lg-8">

        <!-- New Listings vs Sold Properties -->
        <app-new-sold-properties />
        
    </div>
    <div class="col-lg-4 col-sm-6">

        <!-- Properties For Sale -->
        <app-properties-for-sale />

    </div>
    <div class="col-lg-4 col-sm-6">

        <!-- Properties For Rent -->
        <app-properties-for-rent />

    </div>
    <div class="col-lg-4">

        <!-- New Customers this Month -->
        <app-new-customers-month />

    </div>
    <div class="col-lg-4">

        <!-- Most Sales Location -->
        <app-most-sales-location />

    </div>
    <div class="col-lg-8">

        <!-- Rental Income -->
        <app-rental-income />

        <div class="row">
            <div class="col-md-6">

                <!-- Social Search -->
                <app-social-search />

            </div>
            <div class="col-md-6">

                <!-- Recent Property -->
                <app-recent-property />

            </div>
        </div>
    </div>
    <div class="col-lg-8">
        
        <!-- Customer Reviews -->
        <app-customer-reviews />

    </div>
    <div class="col-lg-4">

        <!-- Top Property -->
        <app-top-property />

    </div>
</div>

<!-- Latest Transactions -->
<app-latest-transactions />