<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Data Table
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Tables
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Data Table
        </li>
    </ol>
</div>

<!-- Data Table -->
<div class="row">
    <div class="col-lg-6">

        <!-- Top Selling Products -->
        <app-dt-top-selling-products />
        
    </div>
    <div class="col-lg-6">

        <!-- Recent Orders -->
        <app-dt-recent-orders />
        
    </div>
    <div class="col-lg-4">

        <!-- Top Performers -->
        <app-dt-top-performers />

    </div>
    <div class="col-lg-8">

        <!-- Recent Leads -->
        <app-dt-recent-leads />
        
    </div>
    <div class="col-lg-12">

        <!-- All Projects -->
        <app-dt-all-projects />
        
    </div>
    <div class="col-lg-4">

        <!-- My Tasks -->
        <app-dt-my-tasks />

    </div>
    <div class="col-lg-4">

        <!-- Student's Progress -->
        <app-dt-students-progress />

    </div>
    <div class="col-lg-4">

        <!-- Group Lessons -->
        <app-dt-group-lessons />

    </div>
    <div class="col-lg-12">

        <!-- Performance of Agents -->
        <app-dt-performance-of-agents />
        
    </div>
    <div class="col-lg-5">

        <!-- Recent Customer Ratings -->
        <app-dt-recent-customer-ratings />
        
    </div>
    <div class="col-lg-7">

        <!-- To Do List -->
        <app-dt-to-do-list />
        
    </div>
</div>