.bt-top-performers-card {
    .mat-mdc-card-content {
        .basic-table {
            table, .table {
                tbody {
                    tr {
                        td {
                            padding: {
                                top: 16.7px;
                                bottom: 16.7px;
                            };
                            &:first-child {
                                padding-left: 0;
                                border-left-width: 0;
                            }
                            &:last-child {
                                border-right-width: 0;
                                padding-right: 0;
                                text-align: end;
                            }
                        }
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .basic-table {
                table, .table {
                    tbody {
                        tr {
                            td {
                                &:first-child {
                                    border-right-width: 0;
                                    padding: {
                                        left: 20px;
                                        right: 0;
                                    };
                                }
                                &:last-child {
                                    border-left-width: 0;
                                    padding: {
                                        left: 0;
                                        right: 20px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .bt-top-performers-card {
        .mat-mdc-card-content {
            .basic-table {
                table, .table {
                    tbody {
                        tr {
                            td {
                                padding: {
                                    top: 13px;
                                    bottom: 13px;
                                };
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .basic-table {
                    table, .table {
                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        padding: {
                                            left: 17px;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 17px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .bt-top-performers-card {
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .basic-table {
                    table, .table {
                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .bt-top-performers-card {
        .mat-mdc-card-content {
            .basic-table {
                table, .table {
                    tbody {
                        tr {
                            td {
                                padding: {
                                    top: 15px;
                                    bottom: 15px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .bt-top-performers-card {
        .mat-mdc-card-content {
            .basic-table {
                table, .table {
                    tbody {
                        tr {
                            td {
                                padding: {
                                    left: 10px;
                                    right: 10px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}