<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] flex items-center justify-between">
        <div class="trezo-card-title flex items-center gap-[15px]">
            <div>
                <span class="block mb-[4px]">
                    Weekly Expenses
                </span>
                <h5 class="mb-0 md:text-[20px]">
                    $1,200
                </h5>
            </div>
            <span class="inline-block px-[8.5px] text-danger-600 border border-danger-300 bg-danger-100 text-sm rounded-[100px] text-xs">
                -5.1%
            </span>
        </div>
        <div class="trezo-card-subtitle">
            <span class="block">
                Last 7 days
            </span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="-mb-[28px] -mt-[32px]">
            <div id="weekly_expenses_chart"></div>
        </div>
    </div>
</div>