<mat-card class="pb-0 mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>

        <!-- Stats -->
        <app-stats />

        <div class="row">
            <div class="col-lg-8">

                <!-- Recent Earnings -->
                <app-recent-earnings />

            </div>
            <div class="col-lg-4">

                <!-- Sales by Locations -->
                <app-sales-by-locations />
                
                
            </div>
        </div>
    </mat-card-content>
</mat-card>

<div class="row">
    <div class="col-lg-4">

        <!-- Transaction History -->
        <app-transaction-history />
        
    </div>
    <div class="col-lg-8">

        <!-- Recent Orders -->
        <app-recent-orders />
        
    </div>
    <div class="col-lg-4">

        <!-- Real-Time Sales -->
        <app-real-time-sales />

    </div>
    <div class="col-lg-4">

        <!-- Sales Overview -->
        <app-sales-overview />

    </div>
    <div class="col-lg-4">

        <!-- Gross Earnings -->
        <app-gross-earnings />

    </div>
</div>