<mat-card
    class="total-users-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <span class="d-block">
            Total Users
        </span>
        <h3 class="lh-1">
            241K
        </h3>
        <span class="info-badge d-inline-block">
            +5.4%
        </span>
        <div class="chart">
            <div id="total_users_chart"></div>
        </div>
    </mat-card-content>
</mat-card>