<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Property List
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Real Estate
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Property List
        </li>
    </ol>
</div>

<!-- Property List -->
<mat-card class="property-list-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <a class="add-btn" routerLink="/dashboard/real-estate-page/add-property" mat-button>
                <i class="material-symbols-outlined">
                    add
                </i>
                Add Property
            </a>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <label>
                    <i class="material-symbols-outlined">
                        search
                    </i>
                </label>
                <input type="text" class="input-search" placeholder="Search property here....." #input>
            </form>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>
<div class="row">
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        New York
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property1.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $18,000
                        </h3>
                        <span class="trezo-badge inProgress">
                            Sale
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        35 Prince Consort Road
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            8Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            6Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            2000sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user1.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Harold Cook
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        London
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property2.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $220,000
                        </h3>
                        <span class="trezo-badge sPending">
                            Rent
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        35 Prince Consort Road
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            8Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            5Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            2000sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user2.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Debra Sisk
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        France
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property3.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $350,000
                        </h3>
                        <span class="trezo-badge pInProgress">
                            Sold
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        18 Chemin Challet
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            8Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            7Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            2200sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user3.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Herbert Rojas
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Australia
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property4.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $158,000
                        </h3>
                        <span class="trezo-badge sPending">
                            Rent
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        51 Decca Road GUNN
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            8Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            8Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            2000sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user4.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Steven Bryant
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Italy
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property5.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $99,000
                        </h3>
                        <span class="trezo-badge pInProgress">
                            Sold
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        35 Vicolo Tre Marchetti
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            6Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            5Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            1500sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user5.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Jannie James
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Germany
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property6.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $110,000
                        </h3>
                        <span class="trezo-badge inProgress">
                            Sale
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        Ansbacher Strasse 44
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            10Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            10Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            2500sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user6.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Larry Greenberg
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Poland
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property7.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $150,500
                        </h3>
                        <span class="trezo-badge sPending">
                            Rent
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        Czerwonych Beretów 124
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            6Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            5Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            1800sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user7.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Kara Spangler
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Norway
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property8.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $120,000
                        </h3>
                        <span class="trezo-badge sPending">
                            Rent
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        Moeneveien 228 VARTEIG
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            5Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            5Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            1400sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user8.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Benjamin Dinh
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Netherlands
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property9.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $190,000
                        </h3>
                        <span class="trezo-badge inProgress">
                            Sale
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        Overburgkade 23
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            6Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            6Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            1900sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user9.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Jane Wright
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Spain
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property10.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $155,000
                        </h3>
                        <span class="trezo-badge inProgress">
                            Sale
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        Paseo Junquera, 98
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            6Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            5Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            1800sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user10.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Kirk Jensen
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Hungary
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property11.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $340,000
                        </h3>
                        <span class="trezo-badge pInProgress">
                            Sold
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        8985 Becsvölgye Nyár utca
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            10Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            10Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            2500sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user1.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Harold Cook
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-sm-6">
        <mat-card
            class="property-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Portugal
                    </h5>
                </mat-card-title>
                <mat-card-subtitle>
                    <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                        <i class="ri-more-fill"></i>
                    </button>
                    <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    View
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Edit
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <a routerLink="/dashboard/real-estate-page/property-details" class="d-block border-radius">
                    <img src="images/properties/property12.jpg" class="border-radius" alt="property-image">
                </a>
                <div class="content">
                    <div class="d-flex align-items-center justify-content-between">
                        <h3 class="mb-0 text-orange">
                            $250,000
                        </h3>
                        <span class="trezo-badge sPending">
                            Rent
                        </span>
                    </div>
                    <span class="d-block location position-relative">
                        <i class="material-symbols-outlined">
                            location_on
                        </i>
                        Largo Prazeres 32
                    </span>
                    <ul class="mb-0 list-unstyled pl-0 pr-0">
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bed
                            </i>
                            6Bed
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                bathtub
                            </i>
                            5Bath
                        </li>
                        <li class="d-inline-block position-relative">
                            <i class="material-symbols-outlined">
                                square_foot
                            </i>
                            1800sqft
                        </li>
                    </ul>
                    <div class="info d-flex align-items-center justify-content-between">
                        <div class="author d-flex align-items-center justify-content-between">
                            <img src="images/users/user11.jpg" width="40" class="rounded-circle" alt="user-image">
                            <div>
                                <span class="d-block fw-semibold text-black">
                                    Judith Brooks
                                </span>
                                <span class="d-block">
                                    Owner
                                </span>
                            </div>
                        </div>
                        <a routerLink="/dashboard/real-estate-page/property-details" mat-button>
                            View More
                        </a>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Pagination -->
<mat-card class="pagination-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 12 of 36 results
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button class="prev" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="." class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        4
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button class="next" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </mat-card-content>
</mat-card>