<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Starter
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Starter
        </li>
    </ol>
</div>

<!-- Starter -->
<mat-card class="starter-card mb-25 border-radius d-block bg-white border-0 shadow-none text-center">
    <mat-card-content>
        <img src="images/starter.png" alt="starter-image">
        <h4 class="ml-auto mr-auto">
            Create something beautiful, like a masterpiece or a really good sandwich.
        </h4>
        <a mat-button routerLink="/dashboard">
            Getting Started
        </a>
    </mat-card-content>
</mat-card>