.overall-reviews-card {
    .mat-mdc-card-content {
        .rating-item {
            margin-bottom: 25px;
            padding-right: 48px;

            .ratings {
                margin-right: 15px;

                i {
                    font-size: 18px;
                    color: #ee8336;
                    margin-right: 5px;
                    
                    &.ri-star-line {
                        color: #e2e8f0;
                    }
                }
            }
            .number {
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .overall-reviews {
            h3 {
                margin-bottom: 15px;
                font-size: 40px;
            }
            .all-ratings {
                margin-bottom: 20px;
                
                i {
                    font-size: 30px;
                    color: #ee8336;
                    margin: {
                        left: 2px;
                        right: 2px;
                    };
                    &.ri-star-line {
                        color: #e2e8f0;
                    }
                }
            }
        }
    }
    &.component-dark-theme {
        .mat-mdc-card-content {
            .rating-item {
                .ratings {
                    i {
                        &.ri-star-line {
                            color: #334161;
                        }
                    }
                }
            }
            .overall-reviews {
                .all-ratings {
                    i {
                        &.ri-star-line {
                            color: #334161;
                        }
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .rating-item {
                padding: {
                    right: 0;
                    left: 48px;
                };
                .ratings {
                    margin: {
                        right: 0;
                        left: 15px;
                    };
                    i {
                        margin: {
                            right: 0;
                            left: 5px;
                        };
                    }
                }
                .number {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}
.mat-mdc-cell {
    vertical-align: top;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .overall-reviews-card {
        .mat-mdc-card-content {
            .rating-item {
                margin-bottom: 15px;
                padding-right: 35px;
    
                .ratings {
                    margin-right: 7px;
    
                    i {
                        font-size: 15px;
                        margin-right: 2px;
                    }
                }
            }
            .overall-reviews {
                margin-top: 20px;

                h3 {
                    margin-bottom: 10px;
                    font-size: 25px;
                }
                .all-ratings {
                    margin-bottom: 15px;
                    
                    i {
                        font-size: 20px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .rating-item {
                    padding: {
                        right: 0;
                        left: 15px;
                    };
                    .ratings {
                        margin: {
                            right: 0;
                            left: 7px;
                        };
                        i {
                            margin: {
                                right: 0;
                                left: 2px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .overall-reviews-card {
        .mat-mdc-card-content {
            .rating-item {
                margin-bottom: 20px;
            }
            .overall-reviews {
                margin-top: 25px;

                h3 {
                    margin-bottom: 13px;
                    font-size: 30px;
                }
                .all-ratings {
                    margin-bottom: 15px;
                    
                    i {
                        font-size: 22px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .overall-reviews-card {
        .mat-mdc-card-content {
            .rating-item {
                margin-bottom: 20px;
            }
            .overall-reviews {
                h3 {
                    font-size: 35px;
                }
                .all-ratings {
                    i {
                        font-size: 25px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}