.time-spent-card {
    .mat-mdc-card-content {
        .chart {
            margin: {
                top: -20px;
                left: -12px;
                bottom: -20px;
            };
        }
    }
}
::ng-deep {
    .time-spent-card {
        .mat-mdc-card-content {
            .apexcharts-canvas {
                .apexcharts-tooltip-series-group {
                    &.apexcharts-active {
                        padding-bottom: 4px;
                    }
                }
            }
        }
    }
}