::ng-deep {
    .seller-card {
        .mat-mdc-card-header {
            margin-bottom: 0;
            
            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    line-height: initial;
                    order: 2;
                }
                .mat-mdc-card-subtitle {
                    order: 1;
                }
            }
        }
        .mat-mdc-card-content {
            .info {
                .icon {
                    margin-right: 15px;
                }
                .title {
                    font-size: 16px;
                    margin-bottom: 6px;
                }
                .mat-mdc-button {
                    &.dot-menu {
                        height: 21.59px;
                        min-width: auto;
                        font-size: 26px;
                        margin-right: -2px;
                        line-height: 21.59px;
                        color: var(--bodyColor);

                        .mdc-button__ripple {
                            display: none;
                        }
                        .mdc-button__label {
                            display: block;
                        }
                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                }
            }
            ul {
                margin-top: 20px;

                li {
                    margin-bottom: 14px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            form {
                margin-top: 20px;

                .form-group {
                    margin-bottom: 15px;
                }
            }
        }
    }
    .component-rtl-enabled {
        .seller-card {
            .mat-mdc-card-content {
                .info {
                    .icon {
                        margin: {
                            right: 0;
                            left: 15px;
                        };
                    }
                    .mat-mdc-button {
                        &.dot-menu {
                            margin: {
                                right: 0;
                                left: -2px;
                            };
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .seller-card {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    display: block;
                }
            }
            .mat-mdc-card-content {
                .info {
                    .title {
                        font-size: 14px;
                    }
                }
                ul {
                    margin-top: 17px;
    
                    li {
                        margin-bottom: 13px;
                    }
                }
                form {
                    margin-top: 17px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .seller-card {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    display: flex;

                    .search-box {
                        width: 265px;
                        margin-top: 0;
                    }
                }
            }
            .mat-mdc-card-content {
                ul {
                    margin-top: 20px;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .seller-card {
            .mat-mdc-card-content {
                .info {
                    .title {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}