<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Products Grid
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            eCommerce
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Products Grid
        </li>
    </ol>
</div>

<!-- Products Filter -->
<mat-card
    class="products-filter-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0 fw-medium">
                Filter
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <label>
                    <i class="material-symbols-outlined">
                        search
                    </i>
                </label>
                <input type="text" class="input-search" placeholder="Search here.....">
            </form>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu d-inline-block border-radius">
                Default Sorting
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            Default Sorting
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Price Low to High
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Price High to Low
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Top Sales
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Newest Arrivals
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<!-- Products Grid -->
<div
    class="row"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product6.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Apple MacBook Pro 16.2" with M3 Pro Chip
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $3479
                        </span>
                        <span class="d-block">
                            $3599
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product7.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        SAMSUNG Galaxy Tab A9+ Tablet 11”
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $549
                        </span>
                        <span class="d-block">
                            $649
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product8.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Apple iPhone 15 Pro Max (512 GB)
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $1479
                        </span>
                        <span class="d-block">
                            $1599
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product9.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Gildan Men's Crew T-Shirts, Multipack
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $79
                        </span>
                        <span class="d-block">
                            $89
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product10.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Skechers Men's Summits High Range
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $849
                        </span>
                        <span class="d-block">
                            $999
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product11.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Amazfit GTR 3 Smart Watch for Men
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $49
                        </span>
                        <span class="d-block">
                            $69
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                        <i class="ri-star-line"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product12.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        SOJOS Small Round Polarized Sunglasses
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $39
                        </span>
                        <span class="d-block">
                            $49
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-half-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product13.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Nautical Clock Ship Table Clock Brass Desk
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $25
                        </span>
                        <span class="d-block">
                            $39
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="single-product-item">
            <div class="image position-relative">
                <a routerLink="/dashboard/ecommerce-page/product-details" class="d-block border-radius">
                    <img src="images/products/product14.jpg" class="border-radius" alt="product-image">
                </a>
                <button type="button" mat-button>
                    <i class="material-symbols-outlined">
                        shopping_cart
                    </i>
                </button>
            </div>
            <div class="content">
                <h6 class="fw-normal">
                    <a routerLink="/dashboard/ecommerce-page/product-details">
                        Carhartt, Durable, Adjustable Crossbody Bag
                    </a>
                </h6>
                <div class="info d-flex align-items-center justify-content-between">
                    <div class="price d-flex align-items-center">
                        <span class="d-block fw-bold text-black">
                            $149
                        </span>
                        <span class="d-block">
                            $299
                        </span>
                    </div>
                    <div class="ratings">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-line"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination -->
<mat-card class="pagination-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 9 of 36 results
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button class="prev" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="." class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        4
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button class="next" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </mat-card-content>
</mat-card>