<mat-card
    class="active-total-property-card mb-25 border-radius d-block border-0 shadow-none z-1"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <span class="d-block">
            Active Total Property 
        </span>
        <h3 class="mb-0">
            507,020
        </h3>
        <div class="image">
            <img src="images/man-searching-house.png" alt="man-searching-house">
        </div>
        <div class="shape">
            <img src="images/icons/4dot2.svg" alt="4dot">
        </div>
    </mat-card-content>
</mat-card>