<div
    class="coming-soon-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div
                class="trezo-form ml-auto mr-auto"
                [class.component-dark-theme]="themeService.isDark()"
                [class.component-rtl-enabled]="themeService.isRTLEnabled()"
            >
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="coming-soon-timer text-center border-radius">
                            <img src="images/coming-soon.jpg" class="border-radius" alt="coming-soon-image">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="coming-soon-content">
                            <div class="logo">
                                <img src="images/logo-big.svg" alt="logo">
                                <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                            </div>
                            <div class="title">
                                <h1 class="fw-semibold">
                                    We're working on launching soon, stay tuned!
                                </h1>
                                <p>
                                    We're coming soon..
                                </p>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label class="main-label d-block fw-medium text-black">
                                        Be the first to know when our site is live
                                    </label>
                                    <mat-form-field>
                                        <mat-label>
                                            example&#64;trezo.com
                                        </mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <button type="button" mat-button>
                                    <i class="material-symbols-outlined">
                                        autorenew
                                    </i>
                                    Send
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>