::ng-deep {
    .chat-sidebar-card {
        .mat-mdc-card-header {
            margin-bottom: 20px;

            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    h5 {
                        font-size: 16px;
                    }
                }
            }
        }
        .mat-mdc-card-content {
            .search-box {
                i {
                    top: 50%;
                    left: 13px;
                    font-size: 18px;
                    position: absolute;
                    color: var(--blackColor);
                    transform: translateY(-50%);
                }
                .input-search {
                    height: 40px;
                    font-size: 12px;
                    padding-left: 38px;
                }
            }
            .mat-mdc-tab-group {
                display: block;
                margin-top: 20px;
                --mdc-tab-indicator-active-indicator-color: var(--primaryColor);

                .mat-mdc-tab-header {
                    display: block;
                    margin-bottom: 0;
                    border-bottom: 1px solid var(--borderColor);

                    .mat-mdc-tab-label-container {
                        display: block;
                        border: 0;

                        .mat-mdc-tab {
                            display: inline-block;
                            margin-right: 33px;
                            padding: 0 0 8px;
                            min-width: auto;
                            height: auto;

                            .mdc-tab__content {
                                display: block;
                            }
                            .mdc-tab__text-label {
                                font-weight: 500;
                                color: var(--bodyColor);
                            }
                            &.mdc-tab--active {
                                .mdc-tab__text-label {
                                    color: var(--primaryColor);
                                }
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        .mat-mdc-tab-labels {
                            display: block;
                        }
                    }
                    .mat-mdc-tab-header-pagination {
                        display: none;
                    }
                }
                .mat-mdc-tab-body-wrapper {
                    display: block;
                    margin-right: -25px;

                    .mat-mdc-tab-body {
                        overflow: hidden;

                        .mat-mdc-tab-body-content {
                            height: auto;
                            overflow: hidden;
                        }
                    }
                }
            }
            .chat-users-list {
                overflow-y: scroll;
                height: 820px;
                padding: {
                    right: 25px;
                    top: 20px;
                };
                &::-webkit-scrollbar {
                    width: 2px;
                    height: 2px;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 50px;
                    background-color: var(--whiteColor);
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 50px;
                    background: #B5C3D7;
                }
                .single-user-item {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid var(--borderColor);

                    .user {
                        .img {
                            margin-right: 10px;

                            img {
                                width: 35px;
                                margin-bottom: -3px;
                            }
                            .active-status {
                                right: 0;
                                bottom: 0;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                position: absolute;
                                background: #37D80A;
                                border: 2px solid var(--whiteColor);
    
                                &.off {
                                    background: #FE7A36;
                                }
                            }
                        }
                        .title {
                            span {
                                &:not(:first-child) {
                                    margin-top: 5px;
                                    font-size: 12px;
                                }
                                &.voice, &.attachment {
                                    position: relative;
                                    padding-left: 16px;

                                    i {
                                        left: 0;
                                        top: 50%;
                                        margin-top: -.5px;
                                        position: absolute;
                                        transform: translateY(-50%);
                                    }
                                }
                            }
                        }
                    }
                    .info {
                        text-align: end;

                        .time {
                            font-size: 12px;
                        }
                    }
                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom-width: 0;
                    }
                }
            }
            .btn {
                padding-right: 25px;
                margin-top: 20px;

                .mat-mdc-button {
                    width: 100%;
                    height: auto;
                    display: block;
                    min-width: auto;
                    border-radius: 0;
                    padding: 14px 22px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    font: {
                        size: 16px;
                        weight: 500;
                    };
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .search-box {
                    i {
                        color: var(--whiteColor);
                    }
                }
                .chat-users-list {
                    &::-webkit-scrollbar-track {
                        background-color: #0C1427;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(255, 255, 255, .10);
                    }
                    .single-user-item {
                        .user {
                            .img {
                                .active-status {
                                    border-color: #0C1427;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .search-box {
                    i {
                        left: auto;
                        right: 13px;
                    }
                    .input-search {
                        padding: {
                            left: 14px;
                            right: 38px;
                        };
                    }
                }
                .mat-mdc-tab-group {
                    .mat-mdc-tab-header {
                        .mat-mdc-tab-label-container {
                            .mat-mdc-tab {
                                margin: {
                                    right: 0;
                                    left: 33px;
                                };
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .mat-mdc-tab-body-wrapper {
                        margin: {
                            right: 0;
                            left: -25px;
                        };
                    }
                }
                .chat-users-list {
                    padding: {
                        right: 0;
                        left: 25px;
                    };
                    .single-user-item {
                        .user {
                            .img {
                                margin: {
                                    right: 0;
                                    left: 10px;
                                };
                                .active-status {
                                    right: auto;
                                    left: 0;
                                }
                            }
                            .title {
                                span {
                                    &.voice, &.attachment {
                                        padding: {
                                            left: 0;
                                            right: 16px;
                                        };
                                        i {
                                            left: auto;
                                            right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .btn {
                    padding: {
                        right: 0;
                        left: 25px;
                    };
                }
            }
        }
    }
    .chat-card {
        .mat-mdc-card-content {
            .chat-header {
                .user {
                    .img {
                        margin-right: 15px;
                        
                        img {
                            width: 75px;
                            margin-bottom: -3px;
                        }
                        .active-status {
                            right: 5px;
                            bottom: 5px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            position: absolute;
                            background: #37D80A;
                            border: 2px solid var(--whiteColor);

                            &.off {
                                background: #FE7A36;
                            }
                        }
                    }
                    .title {
                        span {
                            &:nth-child(1) {
                                font-size: 16px;
                            }
                            &:not(:first-child) {
                                margin-top: 5px;
                                font-size: 14px;
                            }
                        }
                    }
                }
                .buttons-list {
                    .mat-mdc-button {
                        padding: 0;
                        height: auto;
                        min-width: auto;
                        border-radius: 0;
                        margin-left: 15px;
                        color: var(--bodyColor);

                        .mdc-button__label {
                            i {
                                font-size: 16px;
                            }
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
            .border-top {
                border-color: var(--borderColor) !important;
                margin: {
                    top: 20px;
                    bottom: 18px;
                };
            }
            .current-time {
                padding-bottom: 18px;
                font-size: 12px;
            }
            .chat-body {
                transform: rotate(180deg);
                margin-right: -25px;
                overflow-y: scroll;
                direction: rtl;
                height: 703px;

                &::-webkit-scrollbar {
                    width: 2px;
                    height: 2px;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 50px;
                    background-color: var(--whiteColor);
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 50px;
                    background: #B5C3D7;
                }
                ul {
                    flex-direction: column-reverse;
                    justify-content: flex-end;
                    display: flex;
                    padding: {
                        left: 25px;
                        right: 0;
                    };
                    li {
                        transform: rotate(180deg);
                        padding-left: 45px;
                        direction: ltr;
                        width: 90%;
        
                        .user {
                            top: 0;
                            left: 0;
                            position: absolute;
                        }
                        .message {
                            text-align: start;
        
                            p {
                                padding: 10px 15px;
                                display: inline-block;
                                background-color: #F6F7F9;
                                border-radius: 0 7px 7px 7px;
                            }
                            div {
                                margin-bottom: 5px;
        
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                        }
                        .time {
                            font-size: 12px;
                            text-align: start;
                            margin: {
                                bottom: 20px;
                                top: 7px;
                            };
                        }
                        &.right {
                            text-align: end;
                            margin-left: auto;
                            padding: {
                                left: 0;
                                right: 0;
                                // right: 45px;
                            };
                            .user {
                                left: auto;
                                right: 0;
                            }
                            .message {
                                text-align: end;
        
                                p {
                                    color: var(--whiteColor);
                                    border-radius: 7px 0 7px 7px;
                                    background-color: var(--primaryColor);
                                }
                            }
                            .time {
                                text-align: end;
                            }
                        }
                    }
                }
            }
            .chat-footer {
                padding: 20px;
                background-color: #F6F7F9;

                .buttons-list {
                    top: 2px;
                    position: relative;
                    margin-right: 20px;

                    .mat-mdc-button {
                        padding: 0;
                        height: auto;
                        min-width: auto;
                        border-radius: 0;
                        margin-left: 10px;
                        display: inline-block;
                        color: var(--bodyColor);
                        transition: var(--transition);

                        i {
                            font-size: 16px;
                        }
                        &:hover {
                            color: var(--primaryColor);
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
                form {
                    flex: 1 1 auto;
                    padding-right: 70px;

                    .mat-mdc-form-field {
                        .mdc-text-field--filled {
                            &:not(.mdc-text-field--disabled) {
                                border-color: var(--whiteColor);
                                background-color: var(--whiteColor);
                            }
                        }
                    }
                    .mat-mdc-button {
                        right: 0;
                        top: 50%;
                        padding: 0;
                        width: 55px;
                        height: 55px;
                        min-width: auto;
                        border-radius: 3px;
                        position: absolute;
                        display: inline-block;
                        color: var(--whiteColor);
                        transform: translateY(-50%);
                        background-color: var(--primaryColor);

                        .mdc-button__label {
                            left: 0;
                            right: 0;
                            top: 50%;
                            margin-top: 2px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .chat-body {
                    &::-webkit-scrollbar-track {
                        background-color: #0C1427;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: rgba(255, 255, 255, .10);
                    }
                    ul {
                        li {
                            .message {
                                p {
                                    background-color: #15203c;
                                }
                            }
                            &.right {
                                .message {
                                    p {
                                        background-color: var(--primaryColor);
                                    }
                                }
                            }
                        }
                    }
                }
                .chat-footer {
                    background-color: #15203c;
    
                    form {
                        .mat-mdc-form-field {
                            .mdc-text-field--filled {
                                &:not(.mdc-text-field--disabled) {
                                    border-color: #0C1427;
                                    background-color: #0C1427;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .chat-header {
                    .user {
                        .img {
                            margin: {
                                right: 0;
                                left: 15px;
                            };
                            .active-status {
                                right: auto;
                                left: 5px;
                            }
                        }
                    }
                    .buttons-list {
                        .mat-mdc-button {
                            margin: {
                                left: 0;
                                right: 15px;
                            };
                            &:first-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .chat-body {
                    direction: ltr;
                    margin: {
                        right: 0;
                        left: -25px;
                    };
                    ul {
                        padding: {
                            left: 0;
                            right: 25px;
                        };
                        li {
                            direction: rtl;
                            padding: {
                                left: 0;
                                right: 45px;
                            };
                            .user {
                                left: auto;
                                right: 0;
                            }
                            .message {
                                p {
                                    border-radius: 7px 0 7px 7px;
                                }
                            }
                            &.right {
                                margin: {
                                    right: auto;
                                    left: 0;
                                };
                                padding: {
                                    left: 0;
                                    right: 0;
                                    // left: 45px;
                                };
                                .user {
                                    left: 0;
                                    right: auto;
                                }
                                .message {
                                    p {
                                        border-radius: 0 7px 7px 7px;
                                    }
                                }
                            }
                        }
                    }
                }
                .chat-footer {
                    .buttons-list {
                        margin: {
                            left: 20px;
                            right: 0;
                        };
                        .mat-mdc-button {
                            margin: {
                                left: 0;
                                right: 10px;
                            };
                            &:first-child {
                                margin-right: 0;
                            }
                        }
                    }
                    form {
                        padding: {
                            right: 0;
                            left: 70px;
                        };
                        .mat-mdc-button {
                            right: auto;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .chat-sidebar-card {
            .mat-mdc-card-header {
                margin-bottom: 17px;
    
                .mat-mdc-card-header-text {
                    .mat-mdc-card-title {
                        h5 {
                            font-size: 15px;
                        }
                    }
                }
            }
            .mat-mdc-card-content {
                .search-box {
                    i {
                        left: 12px;
                        font-size: 17px;
                    }
                    .input-search {
                        height: 38px;
                        padding-left: 35px;
                    }
                }
                .mat-mdc-tab-group {
                    margin-top: 17px;
    
                    .mat-mdc-tab-header {
                        .mat-mdc-tab-label-container {
                            .mat-mdc-tab {
                                margin-right: 20px;
                                padding: 0 0 6px;
                            }
                        }
                    }
                    .mat-mdc-tab-body-wrapper {
                        margin-right: -17px;
                    }
                }
                .chat-users-list {
                    height: 476px;
                    padding: {
                        right: 17px;
                        top: 17px;
                    };
                }
                .btn {
                    padding-right: 17px;
                    margin-top: 17px;
    
                    .mat-mdc-button {
                        padding: 13px 22px;
                        font-size: 13px;
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .search-box {
                        i {
                            left: auto;
                            right: 12px;
                        }
                        .input-search {
                            padding: {
                                left: 10px;
                                right: 35px;
                            };
                        }
                    }
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    margin: {
                                        right: 0;
                                        left: 20px;
                                    };
                                }
                            }
                        }
                        .mat-mdc-tab-body-wrapper {
                            margin: {
                                right: 0;
                                left: -17px;
                            };
                        }
                    }
                    .chat-users-list {
                        padding: {
                            right: 0;
                            left: 17px;
                        };
                    }
                    .btn {
                        padding: {
                            right: 0;
                            left: 17px;
                        };
                    }
                }
            }
        }
        .chat-card {
            .mat-mdc-card-content {
                .chat-header {
                    .user {
                        .img {
                            margin-right: 13px;
                            
                            img {
                                width: 65px;
                            }
                            .active-status {
                                right: 4px;
                                bottom: 4px;
                            }
                        }
                        .title {
                            span {
                                &:nth-child(1) {
                                    font-size: 15px;
                                }
                                &:not(:first-child) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                    .buttons-list {
                        margin-top: 15px;
                    }
                }
                .border-top {
                    margin: {
                        top: 12px;
                        bottom: 13px;
                    };
                }
                .current-time {
                    padding-bottom: 13px;
                }
                .chat-body {
                    margin-right: -17px;
                    height: 650px;
    
                    ul {
                        padding: {
                            left: 17px;
                        };
                        li {
                            width: 100%;
            
                            .message {
                                p {
                                    padding: 10px;
                                }
                            }
                            .time {
                                margin-bottom: 17px;
                            }
                            &.right {
                                padding: {
                                    // right: 17px;
                                };
                            }
                        }
                    }
                }
                .chat-footer {
                    padding: 17px;
    
                    .buttons-list {
                        top: 0;
                        margin: {
                            right: 0;
                            bottom: 12px;
                        };
                    }
                    form {
                        padding-right: 0;
    
                        .mat-mdc-button {
                            top: 0;
                            width: 50px;
                            height: 50px;
                            margin-top: 15px;
                            position: relative;
                            transform: translateY(0);
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .chat-header {
                        .user {
                            .img {
                                margin: {
                                    right: 0;
                                    left: 13px;
                                };
                                .active-status {
                                    right: auto;
                                    left: 4px;
                                }
                            }
                        }
                    }
                    .chat-body {
                        margin: {
                            right: 0;
                            left: -17px;
                        };
                        ul {
                            padding: {
                                left: 0;
                                right: 17px;
                            };
                            li {
                                &.right {
                                    padding: {
                                        right: 0;
                                        // left: 17px;
                                    };
                                }
                            }
                        }
                    }
                    .chat-footer {
                        .buttons-list {
                            margin: {
                                left: 0;
                            };
                        }
                        form {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .chat-sidebar-card {
            .mat-mdc-card-header {
                margin-bottom: 20px;
            }
            .mat-mdc-card-content {
                .mat-mdc-tab-group {
                    margin-top: 20px;
    
                    .mat-mdc-tab-body-wrapper {
                        margin-right: -20px;
                    }
                }
                .chat-users-list {
                    padding: {
                        right: 20px;
                        top: 20px;
                    };
                }
                .btn {
                    padding-right: 20px;
                    margin-top: 20px;
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-body-wrapper {
                            margin: {
                                right: 0;
                                left: -20px;
                            };
                        }
                    }
                    .chat-users-list {
                        padding: {
                            right: 0;
                            left: 20px;
                        };
                    }
                    .btn {
                        padding: {
                            right: 0;
                            left: 20px;
                        };
                    }
                }
            }
        }
        .chat-card {
            .mat-mdc-card-content {
                .chat-header {
                    .buttons-list {
                        margin-top: 0;
                    }
                }
                .chat-body {
                    margin-right: -20px;
    
                    ul {
                        padding: {
                            left: 20px;
                        };
                        li {
                            .time {
                                margin-bottom: 20px;
                            }
                            &.right {
                                padding: {
                                    // right: 20px;
                                };
                            }
                        }
                    }
                }
                .chat-footer {
                    padding: 20px;
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .chat-body {
                        margin: {
                            right: 0;
                            left: -20px;
                        };
                        ul {
                            padding: {
                                left: 0;
                                right: 20px;
                            };
                            li {
                                &.right {
                                    padding: {
                                        right: 0;
                                        // left: 20px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .chat-sidebar-card {
            .mat-mdc-card-content {
                .chat-users-list {
                    height: 559px;
                }
                .btn {
                    .mat-mdc-button {
                        font-size: 14px;
                    }
                }
            }
        }
        .chat-card {
            .mat-mdc-card-content {
                .chat-body {
                    height: 650px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .chat-sidebar-card {
            .mat-mdc-card-content {
                .mat-mdc-tab-group {
                    .mat-mdc-tab-header {
                        .mat-mdc-tab-label-container {
                            .mat-mdc-tab {
                                margin-right: 20px;
                            }
                        }
                    }
                }
                .chat-users-list {
                    height: 720px;
                }
                .btn {
                    .mat-mdc-button {
                        font-size: 15px;
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    margin: {
                                        right: 0;
                                        left: 20px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
        .chat-card {
            .mat-mdc-card-content {
                .chat-body {
                    height: 603px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    ::ng-deep {
        .chat-sidebar-card {
            .mat-mdc-card-content {
                .mat-mdc-tab-group {
                    .mat-mdc-tab-header {
                        .mat-mdc-tab-label-container {
                            .mat-mdc-tab {
                                margin-right: 25px;
                            }
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-tab-group {
                        .mat-mdc-tab-header {
                            .mat-mdc-tab-label-container {
                                .mat-mdc-tab {
                                    margin: {
                                        right: 0;
                                        left: 25px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}