.projects-roadmap-card {
    .mat-mdc-card-content {
        .chart {
            margin: {
                top: -25px;
                left: -10px;
                bottom: -25px;
            };
        }
    }
}