<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Card
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Card
        </li>
    </ol>
</div>

<!-- Card -->
<div class="row">
    <div class="col-lg-4">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Simple Card
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Simple card
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Basic Card
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span class="badge text-outline-primary mr-15">Primary</span>
                <span class="badge text-outline-warning">Warning</span>
                <h6 class="mb-10 mt-17">
                    Nesta Technologies
                </h6>
                <p>
                    When you enter into any new area of science, you almost always any new area of science find.
                </p>
                <button mat-stroked-button>Trezo</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <span class="badge text-bg-danger mr-15">Danger</span>
                <span class="badge text-bg-warning">Warning</span>
                <h5 class="mb-10 mt-20">Nesta Technologies</h5>
                <p>When you enter into any new area of science, you almost always any new area of science find.</p>
                <button mat-flat-button>Trezo</button>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <h5 class="mb-10">Nesta Technologies</h5>
                <p>When you enter into any new area of science, you almost always any new area of science find.</p>
                <button mat-fab matTooltip="Trezo">
                    <i class="material-symbols-outlined">
                        favorite
                    </i>
                </button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <span class="badge text-bg-primary mr-15">Primary</span>
                <span class="badge text-bg-info">Info</span>
                <img src="images/gallery/gallery1.jpg" class="border-radius mt-15" alt="card">
                <h5 class="mb-10 mt-15">Nesta Technologies</h5>
                <p>When you enter into any new area of science, you almost always any new area of science find.</p>
                <button mat-flat-button>Trezo</button>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card
            class="mb-25 border-radius d-block bg-white border-0 shadow-none"
            style="background-image: url(images/gallery/gallery9.jpg); background-position: center center; background-repeat: no-repeat; background-size: cover;"
        >
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0 text-white">
                        Basic Card
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <span class="badge text-bg-primary mr-15">Primary</span>
                <span class="badge text-bg-warning">Warning</span>
                <div style="height: 250px;"></div>
                <h4 class="mb-10 mt-20 text-white">Nesta Technologies</h4>
                <p class="text-white">When you enter into any new area of science, you almost always any new area of science find.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>