@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="container">
    <div class="main-content d-flex flex-column p-0">
        <div class="m-auto m-1230">
            <div class="row align-items-center">
                <div class="col-lg-6 d-none d-lg-block">
                    <img src="~/images/logout.jpg" class="rounded-3" alt="logout">
                </div>
                <div class="col-lg-6">
                    <div class="mw-480 ms-lg-auto">
                        <div class="d-inline-block mb-4">
                            <img src="~/images/logo.svg" class="rounded-3 for-light-logo" alt="login">
                            <img src="~/images/white-logo.svg" class="rounded-3 for-dark-logo" alt="login">
                        </div>
                        <h3 class="fs-28 mb-2">Welcome back to Trezo!</h3>
                        <p class="fw-medium fs-16 mb-4">You Are Logged out</p>
                        <div class="d-flex align-items-center mb-4">
                            <img src="~/images/administrator.jpg" class="rounded-circle"
                                style="border: 2px solid #C2CDFF;" alt="administrator">
                            <span class="fw-semibold ms-2 ps-1 text-secondary">Olivia John</span>
                        </div>
                        <a href="/auth/login" class="btn btn-primary fw-medium py-2 px-3 w-100">
                            <div class="d-flex align-items-center justify-content-center py-1">
                                <i class="material-symbols-outlined text-white fs-20 me-2">autorenew</i>
                                <span>Login</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>