<div class="trezo-card bg-purple-100 dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="flex items-center">
            <img src="images/icons/gross-earnings.svg" alt="gross-earnings">
            <div class="ltr:ml-[10px] rtl:mr-[10px]">
                <span class="block uppercase">
                    Gross Earnings
                </span>
                <h4 class="mb-0 text-[20px] mt-[6px] font-semibold">
                    $78,350.00
                    <span class="text-success-600 text-base font-medium -top-px relative ltr:ml-[2px] rtl:mr-[2px] ltr:pl-[25px] rtl:pr-[25px]">
                        <i class="material-symbols-outlined !text-[20px] absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                            trending_up
                        </i>
                        +2.3%
                    </span>
                </h4>
            </div>
        </div>
        <div class="-mt-[15px] -mb-[8px]">
            <div id="gross_earnings_chart"></div>
        </div>
        <div class="flex justify-between pt-[17px] border-t border-purple-200 dark:border-[#172036]">
            <div>
                <span class="block text-xs">
                    Total Balance
                </span>
                <h6 class="mb-0 font-medium text-lg mt-[5px]">
                    $3,42,890
                </h6>
            </div>
            <div>
                <span class="block text-xs">
                    Withdrawals
                </span>
                <h6 class="mb-0 font-medium text-lg mt-[5px]">
                    $2,35,425
                </h6>
            </div>
        </div>
    </div>
</div>