<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <span class="block">
            Tickets Resolved
        </span>
        <h5 class="mb-0 text-[20px] mt-[2px]">
            2.4k
        </h5>
        <div class="-mt-[14px] -mb-[15px]">
            <div id="widgets_tickets_resolved_chart"></div>
        </div>
        <div class="flex items-center justify-between text-sm">
            <span class="block">
                This Month
            </span>
            <span class="leading-none text-success-500">
                <i class="material-symbols-outlined !text-[20px]">
                    trending_up
                </i>
            </span>
        </div>
    </div>
</div>