<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Gallery
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Gallery
        </li>
    </ol>
</div>

<!-- Gallery Style - 1 -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Gallery Style - 1
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-[25px]">
            <div class="rounded-md">
                <img src="images/gallery/gallery1.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery2.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery3.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery4.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery5.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery6.jpg" alt="gallery-image" class="rounded-md">
            </div>
        </div>
    </div>
</div>

<!-- Gallery Style - 2 -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Gallery Style - 2
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[25px]">
            <div class="rounded-md">
                <img src="images/gallery/gallery1.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery2.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery3.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery4.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery5.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery6.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery7.jpg" alt="gallery-image" class="rounded-md">
            </div>
            <div class="rounded-md">
                <img src="images/gallery/gallery8.jpg" alt="gallery-image" class="rounded-md">
            </div>
        </div>
    </div>
</div>

<!-- Popup Gallery -->
<app-popup-gallery />