.saas-users-card {
    .mat-mdc-card-content {
        ul {
            li {
                border-bottom: 1px solid var(--borderColor);
                gap: 12px;
                padding: {
                    top: 12px;
                    bottom: 12px;
                };
                .image {
                    padding: {
                        right: 2px;
                        bottom: 2px;
                    };
                    img {
                        width: 33px;
                        margin-bottom: -3px;
                    }
                    .active-status {
                        right: 0;
                        bottom: 0;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        position: absolute;
                        background: var(--successColor);
                        border: 2px solid var(--whiteColor);

                        &.offline {
                            background: var(--dangerColor);
                        }
                    }
                }
                .content {
                    span {
                        &:nth-child(2) {
                            font-size: 12px;
                            margin-top: 5px;
                        }
                    }
                }
                &:first-child {
                    border-top: 1px solid var(--borderColor);
                }
            }
        }
    }
    &.component-dark-theme {
        .mat-mdc-card-content {
            ul {
                li {
                    .image {
                        .active-status {
                            border-color: var(--blackColor);
                        }
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            ul {
                li {
                    .image {
                        padding: {
                            right: 0;
                            left: 2px;
                        };
                        .active-status {
                            right: auto;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}