<mat-card
    class="saas-users-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Users
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                <i class="ri-more-fill"></i>
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="m-0 p-0 list-unstyled">
            <li class="d-flex align-items-center">
                <div class="image position-relative">
                    <img src="images/users/user60.jpg" alt="user-image" class="rounded-circle">
                    <span class="active-status"></span>
                </div>
                <div class="content">
                    <span class="d-block fw-semibold text-black">
                        Johhna Loren
                    </span>
                    <span class="d-block">
                        Admin
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="image position-relative">
                    <img src="images/users/user61.jpg" alt="user-image" class="rounded-circle">
                    <span class="active-status"></span>
                </div>
                <div class="content">
                    <span class="d-block fw-semibold text-black">
                        Zinia Watson
                    </span>
                    <span class="d-block">
                        Moderator
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="image position-relative">
                    <img src="images/users/user62.jpg" alt="user-image" class="rounded-circle">
                    <span class="active-status"></span>
                </div>
                <div class="content">
                    <span class="d-block fw-semibold text-black">
                        Angela Carter
                    </span>
                    <span class="d-block">
                        Editor
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="image position-relative">
                    <img src="images/users/user63.jpg" alt="user-image" class="rounded-circle">
                    <span class="active-status offline"></span>
                </div>
                <div class="content">
                    <span class="d-block fw-semibold text-black">
                        Skyler White
                    </span>
                    <span class="d-block">
                        Admin
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="image position-relative">
                    <img src="images/users/user64.jpg" alt="user-image" class="rounded-circle">
                    <span class="active-status"></span>
                </div>
                <div class="content">
                    <span class="d-block fw-semibold text-black">
                        Jane Ronan
                    </span>
                    <span class="d-block">
                        Editor
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <div class="image position-relative">
                    <img src="images/users/user65.jpg" alt="user-image" class="rounded-circle">
                    <span class="active-status offline"></span>
                </div>
                <div class="content">
                    <span class="d-block fw-semibold text-black">
                        Viktor James
                    </span>
                    <span class="d-block">
                        Editor
                    </span>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>