<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Welcome -->
        <app-welcome />

        <!-- Total Sales -->
        <app-total-sales />

    </div>
    <div class="lg:col-span-1">

        <!-- Total Order -->
        <app-total-orders />

        <!-- Total Customers -->
        <app-total-customers />

        <!-- Total Revenue -->
        <app-total-revenue />

    </div>
</div>
<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Sales by Locations -->
        <app-sales-by-locations />

    </div>
    <div class="lg:col-span-3">

        <!-- Top Selling Products -->
        <app-top-selling-products />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Recent Orders -->
        <app-recent-orders />

    </div>
    <div class="lg:col-span-1">

        <!-- Order Summary -->
        <app-order-summary />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-1">

        <!-- Recent Transactions -->
        <app-recent-transactions />

    </div>
    <div class="lg:col-span-2">

        <!-- Returning Customer Rate -->
        <app-returning-customer-rate />

    </div>
</div>