<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Wallet Connect
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            NFT
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Wallet Connect
        </li>
    </ol>
</div>

<!-- Wallet Connect -->
<div class="grid grid-cols-1 sm:grid-cols-2 2xl:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] text-center rounded-md">
        <div class="trezo-card-content md:py-[13px]">
            <img src="images/wallet/metamask.svg" class="inline-block" alt="metamask">
            <h3 class="text-lg mb-[12px] mt-[18px]">
                Metamask
            </h3>
            <p class="text-gray-400 mx-auto md:max-w-[285px] leading-[1.6] mb-[20px]">
                MetaMask is a software cryptocurrency wallet used to interact with the Ethereum blockchain.
            </p>
            <button class="text-[15px] md:text-md rounded-[7px] bg-primary-500 text-white font-medium py-[6px] px-[40px] transition-all hover:bg-primary-400 inline-block">
                Connect
            </button>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] text-center rounded-md">
        <div class="trezo-card-content md:py-[13px]">
            <img src="images/wallet/binance.svg" class="inline-block" alt="binance">
            <h3 class="text-lg mb-[12px] mt-[18px]">
                Binance
            </h3>
            <p class="text-gray-400 mx-auto md:max-w-[285px] leading-[1.6] mb-[20px]">
                Binance offers a relatively secure, versatile way to invest in and trade cryptocurrencies.
            </p>
            <button class="text-[15px] md:text-md rounded-[7px] bg-primary-500 text-white font-medium py-[6px] px-[40px] transition-all hover:bg-primary-400 inline-block">
                Connect
            </button>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] text-center rounded-md">
        <div class="trezo-card-content md:py-[13px]">
            <img src="images/wallet/coinbase.svg" class="inline-block" alt="coinbase">
            <h3 class="text-lg mb-[12px] mt-[18px]">
                Coinbase
            </h3>
            <p class="text-gray-400 mx-auto md:max-w-[285px] leading-[1.6] mb-[20px]">
                Coinbase Wallet is a software product that gives you access to a wide spectrum.
            </p>
            <button class="text-[15px] md:text-md rounded-[7px] bg-primary-500 text-white font-medium py-[6px] px-[40px] transition-all hover:bg-primary-400 inline-block">
                Connect
            </button>
        </div>
    </div>
</div>