<div class="row">
    <div class="col-lg-4">

        <!-- Congratulations -->
        <app-congratulations />

        <div class="row">
            <div class="col-sm-6 col-lg-12 col-xxl-6">

                <!-- Tickets Resolved -->
                <app-tickets-resolved />

            </div>
            <div class="col-sm-6 col-lg-12 col-xxl-6">

                <!-- Tickets In Progress -->
                <app-tickets-in-progress />

            </div>
            <div class="col-sm-6 col-lg-12 col-xxl-6">

                <!-- Tickets Due -->
                <app-tickets-due />

            </div>
            <div class="col-sm-6 col-lg-12 col-xxl-6">

                <!-- Tickets New Open -->
                <app-tickets-new-open />

            </div>
        </div>

    </div>
    <div class="col-lg-8">
        
        <!-- Tickets Status -->
        <app-tickets-status />

        <div class="row">
            <div class="col-xxl-6">

                <!-- Customer Satisfaction -->
                <app-customer-satisfaction />

            </div>
            <div class="col-xxl-6">

                <!-- Response Time -->
                <app-response-time />

            </div>
        </div>

    </div>
    <div class="col-lg-12">

        <!-- Performance of Agents -->
        <app-performance-of-agents />

    </div>
    <div class="col-lg-7">

        <!-- New Tickets vs Solved Tickets -->
        <app-new-tickets-solved-tickets />

    </div>
    <div class="col-lg-5">

        <!-- Recent Customer Ratings -->
        <app-recent-customer-ratings />
        
    </div>
    <div class="col-lg-8">

        <!-- To Do List -->
        <app-to-do-list />

    </div>
    <div class="col-lg-4">

        <!-- Support Overview -->
        <app-support-overview />

    </div>
</div>