@inherits LayoutComponentBase
@using trezo_aspnet.Components.Layout.Front

<body data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
    <Navbar />
    @Body
    <Footer />
</body>
