.employee-attendance-trends-card {
    .mat-mdc-card-content {
        ul {
            li {
                .dash {
                    width: 1px;
                    height: 10px;
                    background-color: #D5D9E2;
                    margin: {
                        left: 19px;
                        right: 19px;
                    };
                }
            }
        }
        .chart {
            margin: {
                top: 1px;
                left: -15px;
                bottom: -20px;
            };
        }
    }
    &.component-dark-theme {
        .mat-mdc-card-content {
            ul {
                li {
                    .dash {
                        background-color: var(--borderColor);
                    }
                }
            }
        }
    }
}
::ng-deep {
    .employee-attendance-trends-card {
        .mat-mdc-card-header {
            .mat-mdc-card-subtitle {
                .mat-mdc-form-field {
                    width: auto;
                    margin-right: 10px;
                    position: relative;
                    --mdc-icon-button-state-layer-size: 100%;

                    i {
                        left: 0;
                        top: 50%;
                        font-size: 17px;
                        margin-top: 1px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                    .mat-mdc-text-field-wrapper {
                        padding: 2px 15px;
                        width: auto;
                    }
                    .mat-mdc-form-field-infix {
                        min-height: auto;
                    }
                    .mdc-text-field--outlined, .mdc-text-field--no-label {
                        .mat-mdc-form-field-infix {
                            padding: {
                                top: 0;
                                bottom: 0;
                            };
                        }
                    }
                    .mdc-line-ripple {
                        display: none;
                    }
                    .mat-mdc-form-field-icon-suffix {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        padding: 0;
                        opacity: 0;
                        z-index: 1;
                        border-radius: 7px;
                        position: absolute;

                        .mat-datepicker-toggle {
                            display: block;
                            width: 100%;

                            .mat-mdc-icon-button {
                                border-radius: 7px;
                                display: block;
                                width: 100%;
                                padding: 0;

                                .mat-mdc-focus-indicator {
                                    border-radius: 7px;
                                }
                            }
                        }
                        .mat-mdc-button-persistent-ripple, .mat-ripple {
                            display: none;
                        }
                    }
                    .mat-date-range-input-inner {
                        color: var(--bodyColor);
                    }
                    &.mat-mdc-form-field-type-mat-date-range-input {
                        .mat-mdc-form-field-infix {
                            width: 194px;
                            padding-left: 23px;
                        }
                    }
                    .mat-date-range-input-wrapper {
                        max-width: unset;
                    }
                    .mat-date-range-input-separator {
                        color: var(--bodyColor);
                    }
                }
                .mdc-button {
                    padding: 3px 17px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);

                    .mdc-button__label {
                        padding-left: 26px;

                        i {
                            left: 0;
                            top: 50%;
                            font-size: 18px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-header {
                .mat-mdc-card-subtitle {
                    .mat-mdc-form-field {
                        margin: {
                            left: 10px;
                            right: 0;
                        };
                    }
                    .mdc-button {
                        .mdc-button__label {
                            padding: {
                                left: 0;
                                right: 26px;
                            };
                            i {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .employee-attendance-trends-card {
        .mat-mdc-card-content {
            ul {
                li {
                    display: block !important;
                    margin-bottom: 10px;

                    .dash {
                        display: none;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .employee-attendance-trends-card {
            &.mat-mdc-card {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        display: block;
                    }
                    .mat-mdc-card-subtitle {
                        margin-top: 13px;
    
                        .stats-list {
                            .mat-mdc-form-field {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .employee-attendance-trends-card {
        .mat-mdc-card-content {
            ul {
                li {
                    .dash {
                        margin: {
                            left: 14px;
                            right: 14px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .employee-attendance-trends-card {
        .mat-mdc-card-content {
            ul {
                li {
                    .dash {
                        margin: {
                            left: 17px;
                            right: 17px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .employee-attendance-trends-card {
        .mat-mdc-card-content {
            ul {
                li {
                    span {
                        margin-left: 6px;
                    }
                    .dash {
                        margin: {
                            left: 25px;
                            right: 25px;
                        };
                    }
                }
            }
        }
    }

}