<mat-card
    class="click-through-rate-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="d-block">
                    Click Through Rate
                </span>
                <h3 class="mb-0 lh-1">
                    $2.95
                </h3>
            </div>
            <img src="images/icons/ads2.gif" alt="ads2">
        </div>
        <span class="info-badge d-inline-block">
            +7%
        </span>
        <span class="text-xs d-block">
            vs previous 30 days
        </span>
    </mat-card-content>
</mat-card>