<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Downloadable Table
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Tables
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Downloadable Table
        </li>
    </ol>
</div>

<!-- Downloadable Table -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="buttons-list">
            <button type="button" mat-button (click)="downloadPDF()">
                Download as PDF
            </button>
            <button type="button" mat-button (click)="downloadCSV()">
                Download as CSV
            </button>
            <button type="button" mat-button (click)="downloadExcel()">
                Download as Excel
            </button>
            <button type="button" mat-button (click)="printTableInNewWindow()">
                Print Table in New Window
            </button>
        </div>
        <div class="basic-table table-responsive">
            <table class="table mb-0" id="my-table">
                <thead>
                    <tr>
                        <th scope="col" class="fw-medium">
                            ID
                        </th>
                        <th scope="col" class="fw-medium">
                            Name
                        </th>
                        <th scope="col" class="fw-medium">
                            Age
                        </th>
                        <th scope="col" class="fw-medium">
                            Job
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            John Doe
                        </td>
                        <td>
                            28
                        </td>
                        <td>
                            Developer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Jane Doe
                        </td>
                        <td>
                            32
                        </td>
                        <td>
                            Designer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            Sam Smith
                        </td>
                        <td>
                            40
                        </td>
                        <td>
                            Manager
                        </td>
                    </tr>
                    <tr>
                        <td>
                            4
                        </td>
                        <td>
                            Alice Johnson
                        </td>
                        <td>
                            29
                        </td>
                        <td>
                            Engineer
                        </td>
                    </tr>
                    <tr>
                        <td>
                            5
                        </td>
                        <td>
                            Michael Brown
                        </td>
                        <td>
                            35
                        </td>
                        <td>
                            Architect
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>