<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Add Agent
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Real Estate
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Agents
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Add Agent
        </li>
    </ol>
</div>

<!-- Add Agent -->
<form>
    <div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="sm:grid sm:grid-cols-2 sm:gap-[25px]">
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Agent Name
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter agent name">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Agency
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter agency name">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Phone Number
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter phone number">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Email Address
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter email address">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        License Number
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter license number">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Years of Experience
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter years of experience">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Specialization
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter specialization">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Office Location
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter office location">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Recent Achievements
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter recent achievements">
                </div>
                <div class="mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Client Testimonials
                    </label>
                    <input type="text" class="h-[55px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="Enter client testimonials">
                </div>
                <div class="sm:col-span-2 mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Additional Notes
                    </label>
                    <div class="NgxEditor__Wrapper">
                        <ng-container *ngIf="editor">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                            <ngx-editor [editor]="editor"></ngx-editor>
                        </ng-container>
                    </div>
                </div>
                <div class="sm:col-span-2 mb-[20px] sm:mb-0">
                    <label class="mb-[10px] text-black dark:text-white font-medium block">
                        Add Agent Photo
                    </label>
                    <file-upload class="file-uploader"></file-upload>
                </div>
            </div>
            <div class="mt-[20px] md:mt-[25px]">
                <button type="button" class="font-medium inline-block transition-all rounded-md md:text-md ltr:mr-[15px] rtl:ml-[15px] py-[10px] md:py-[12px] px-[20px] md:px-[22px] bg-danger-500 text-white hover:bg-danger-400">
                    Cancel
                </button>
                <button type="button" class="font-medium inline-block transition-all rounded-md md:text-md py-[10px] md:py-[12px] px-[20px] md:px-[22px] bg-primary-500 text-white hover:bg-primary-400">
                    <span class="inline-block relative ltr:pl-[29px] rtl:pr-[29px]">
                        <i class="material-symbols-outlined ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2">
                            add
                        </i>
                        Create Agent
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>