<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Tables
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Apps
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Tables
        </li>
    </ol>
</div>

<!-- Basic Table -->
<div class="lg:grid lg:grid-cols-2 gap-[25px]">
    <div>

        <!-- Top Selling Products -->
        <app-bt-top-selling-products />

    </div>
    <div>

        <!-- Recent Orders -->
        <app-bt-recent-orders />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-1">

        <!-- Top Performers -->
        <app-bt-top-performers />

    </div>
    <div class="lg:col-span-2">

        <!-- Recent Leads -->
        <app-bt-recent-leads />

    </div>
</div>

<!-- All Projects -->
<app-bt-all-projects />

<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- My Tasks -->
        <app-bt-my-tasks />

    </div>
    <div>

        <!-- Student's Progress -->
        <app-bt-students-progress />

    </div>
    <div>

        <!-- Group Lessons -->
        <app-bt-group-lessons />
        
    </div>
</div>

<!-- Performance of Agents -->
<app-bt-performance-of-agents />

<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Recent Customer Ratings -->
        <app-bt-recent-customer-ratings />

    </div>
    <div class="lg:col-span-3">

        <!-- To Do List -->
        <app-bt-to-do-list />
        
    </div>
</div>

<!-- Downloadable Table -->
<app-downloadable-table />