.welcome-card {
    .mat-mdc-card-content {
        position: relative;
        padding-right: 235px;

        .content {
            padding: {
                top: 5px;
                bottom: 5px;
            };
            h5 {
                margin-bottom: 3px;

                span {
                    color: #FFCEA9;
                }
            }
            p {
                color: #D5D9E2;
            }
            .mat-divider {
                --mat-divider-color: #757DFF;
                margin: {
                    top: 30px;
                    bottom: 35px;
                };
            }
            .item {
                margin-right: 40px;

                .icon {
                    width: 42px;
                    height: 42px;
                    margin-right: 12px;
                }
                .title {
                    font-size: 16px;
                    margin-bottom: 4px;
                }
                span {
                    color: #D5D9E2;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .image {
            top: 50%;
            right: 0;
            position: absolute;
            max-width: 208.04px;
            transform: translateY(-50%);
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            padding: {
                right: 0;
                left: 235px;
            };
            .content {
                .item {
                    margin: {
                        left: 40px;
                        right: 0;
                    };
                    .icon {
                        margin: {
                            right: 0;
                            left: 12px;
                        };
                    }
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
            .image {
                right: auto;
                left: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 0;
    
            .content {
                padding: {
                    top: 0;
                    bottom: 0;
                };
                h5 {
                    margin-bottom: 5px;
                }
                .mat-divider {
                    margin: {
                        top: 15px;
                        bottom: 17px;
                    };
                }
                .item {
                    margin: {
                        right: 0;
                        bottom: 20px;
                    };
                    .icon {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                    .title {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .image {
                top: 0;
                max-width: 100%;
                margin-top: 20px;
                position: relative;
                transform: translateY(0);
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding-left: 0;
        
                .content {
                    .item {
                        margin: {
                            left: 0;
                        };
                        .icon {
                            margin: {
                                right: 0;
                                left: 10px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 185px;
    
            .image {
                top: 50%;
                max-width: 180px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 185px;
                };
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 220px;
    
            .content {
                .mat-divider {
                    margin: {
                        top: 20px;
                        bottom: 22px;
                    };
                }
                .item {
                    margin-right: 30px;
    
                    .title {
                        font-size: 15px;
                    }
                }
            }
            .image {
                max-width: 190px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 220px;
                };
                .content {
                    .item {
                        margin: {
                            right: 0;
                            left: 30px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 200px;
    
            .content {
                .item {
                    margin-right: 30px;
                }
            }
            .image {
                max-width: 190px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 200px;
                };
                .content {
                    .item {
                        margin: {
                            right: 0;
                            left: 30px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 185px;
    
            .content {
                .item {
                    margin-right: 20px;
                }
            }
            .image {
                max-width: 180px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 185px;
                };
                .content {
                    .item {
                        margin: {
                            right: 0;
                            left: 20px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}