<div class="trezo-card bg-orange-100 dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md relative">
    <div class="trezo-card-content pb-[81px]">
        <span class="block">
            Patients Last 7 Days
        </span>
        <h3 class="mb-0 flex items-center font-medium text-xl mt-[11px]">
            768
            <span class="relative font-medium text-xs inline-block text-danger-700 bg-danger-200 border border-danger-300 py-[1.5px] ltr:pl-[22px] rtl:pr-[22px] ltr:pr-[10px] rtl:pl-[10px] rounded-full ltr:ml-[10px] rtl:mr-[10px]">
                <i class="ri-arrow-down-fill absolute ltr:left-[6px] rtl:right-[6px] text-base top-1/2 -translate-y-1/2 mt-px"></i>
                3%
            </span>
        </h3>
        <div class="absolute -bottom-[5px] left-0 right-0">
            <div id="patients_last_7_days_chart"></div>
        </div>
    </div>
</div>