<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Create Seller
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            eCommerce
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Sellers
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Create Seller
        </li>
    </ol>
</div>

<!-- Create Seller -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <form>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Seller Name
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter seller name
                            </mat-label>
                            <input matInput placeholder="E.g. Ava Turner">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Store Name
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter store name
                            </mat-label>
                            <input matInput placeholder="E.g. TechMaster Store">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Phone Number
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter phone number
                            </mat-label>
                            <input matInput placeholder="E.g. +1 555-123-4567">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Email Address
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter email address
                            </mat-label>
                            <input matInput placeholder="E.g. ava@trezo.com">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Date of Birth
                        </label>
                        <mat-form-field>
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="dateOfBirth">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matIconSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
                            <mat-datepicker #dateOfBirth></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            City
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select
                            </mat-label>
                            <mat-select>
                                <mat-option value="option1">
                                    New York
                                </mat-option>
                                <mat-option value="option2">
                                    Tokyo
                                </mat-option>
                                <mat-option value="option3">
                                    London
                                </mat-option>
                                <mat-option value="option4">
                                    Amsterdam
                                </mat-option>
                                <mat-option value="option5">
                                    Paris
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Country
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select
                            </mat-label>
                            <mat-select>
                                <mat-option value="option1">
                                    Switzerland
                                </mat-option>
                                <mat-option value="option2">
                                    New Zealand
                                </mat-option>
                                <mat-option value="option3">
                                    Germany
                                </mat-option>
                                <mat-option value="option4">
                                    United States
                                </mat-option>
                                <mat-option value="option5">
                                    Japan
                                </mat-option>
                                <mat-option value="option6">
                                    Netherlands
                                </mat-option>
                                <mat-option value="option7">
                                    Sweden
                                </mat-option>
                                <mat-option value="option8">
                                    Canada
                                </mat-option>
                                <mat-option value="option9">
                                    United Kingdom
                                </mat-option>
                                <mat-option value="option10">
                                    Australia
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            ZIP / Postcode
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter zip / postcode
                            </mat-label>
                            <input matInput placeholder="E.g. 3100">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Wallet Balance
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter wallet balance
                            </mat-label>
                            <input matInput placeholder="E.g. $12,092.00">
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Description
                        </label>
                        <div class="NgxEditor__Wrapper">
                            <ng-container *ngIf="editor">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                                <ngx-editor [editor]="editor"></ngx-editor>
                            </ng-container>
                        </div>
                        <!-- <mat-form-field>
                            <mat-label>Type here....</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field> -->
                    </div>
                </div>
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Upload Image
                        </label>
                        <file-upload class="file-uploader"></file-upload>
                    </div>
                </div>
            </div>
            <div class="form-btn-box">
                <button type="button" mat-button color="warn">
                    Cancel
                </button>
                <button type="button" mat-button color="primary">
                    <i class="material-symbols-outlined">
                        add
                    </i>
                    Create Seller
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>