<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Alerts
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            UI Elements
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Alerts
        </li>
    </ol>
</div>

<!-- Alerts -->
<div class="grid lg:grid-cols-2 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Basic Alerts
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="py-[1rem] px-[1rem] text-primary-500 bg-primary-50 border border-primary-200 rounded-md">
                A simple primary alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-secondary-500 bg-secondary-50 border border-secondary-200 rounded-md">
                A simple secondary alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-success-500 bg-success-50 border border-success-200 rounded-md">
                A simple success alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-danger-500 bg-danger-50 border border-danger-200 rounded-md">
                A simple danger alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-warning-500 bg-warning-50 border border-warning-200 rounded-md">
                A simple warning alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-info-500 bg-info-50 border border-info-200 rounded-md">
                A simple info alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-gray-500 bg-gray-50 border border-gray-200 rounded-md">
                A simple light alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-dark bg-[#ced4da] border border-[#adb5bd] rounded-md">
                A simple dark alert—check it out!
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    BG Color Alerts
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="py-[1rem] px-[1rem] text-white bg-primary-500 border border-primary-500 rounded-md">
                A simple primary alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-white bg-secondary-500 border border-secondary-500 rounded-md">
                A simple secondary alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-white bg-success-500 border border-success-500 rounded-md">
                A simple success alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-white bg-danger-500 border border-danger-500 rounded-md">
                A simple danger alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-white bg-warning-500 border border-warning-500 rounded-md">
                A simple warning alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-white bg-info-500 border border-info-500 rounded-md">
                A simple info alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-gray-500 bg-[#f8f9fa] border border-[#f8f9fa] rounded-md">
                A simple light alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-white bg-dark border border-dark rounded-md">
                A simple dark alert—check it out!
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Alerts with Icon
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="py-[1rem] px-[1rem] text-primary-500 bg-primary-50 border border-primary-200 rounded-md flex items-center gap-[5px]">
                <i class="ri-home-2-line text-[20px]"></i>
                A simple primary alert—check it out!
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    BG Color Alerts with Icon
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="py-[1rem] px-[1rem] text-white bg-primary-500 border border-primary-500 rounded-md flex items-center gap-[5px]">
                <i class="ri-home-2-line text-[20px]"></i>
                A simple primary alert—check it out!
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Outline Alerts
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="py-[1rem] px-[1rem] text-primary-500 border border-primary-500 rounded-md">
                A simple primary alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-secondary-500 border border-secondary-500 rounded-md">
                A simple secondary alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-success-500 border border-success-500 rounded-md">
                A simple success alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-danger-500 border border-danger-500 rounded-md">
                A simple danger alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-warning-500 border border-warning-500 rounded-md">
                A simple warning alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-info-500 border border-info-500 rounded-md">
                A simple info alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-gray-500 border border-gray-100 rounded-md">
                A simple light alert—check it out!
            </div>
            <div class="mt-[15px]"></div>
            <div class="py-[1rem] px-[1rem] text-dark border border-dark rounded-md">
                A simple dark alert—check it out!
            </div>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Dismissing Alerts
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="alert py-[1rem] px-[1rem] text-primary-500 bg-primary-50 border border-primary-200 rounded-md flex items-center justify-between" *ngIf="showAlert">
                A simple primary alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-secondary-500 bg-secondary-50 border border-secondary-200 rounded-md flex items-center justify-between" *ngIf="showAlert2">
                A simple secondary alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert2()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-success-500 bg-success-50 border border-success-200 rounded-md flex items-center justify-between" *ngIf="showAlert3">
                A simple success alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert3()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-danger-500 bg-danger-50 border border-danger-200 rounded-md flex items-center justify-between" *ngIf="showAlert4">
                A simple danger alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert4()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-warning-500 bg-warning-50 border border-warning-200 rounded-md flex items-center justify-between" *ngIf="showAlert5">
                A simple warning alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert5()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-info-500 bg-info-50 border border-info-200 rounded-md flex items-center justify-between" *ngIf="showAlert6">
                A simple info alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert6()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-gray-500 bg-gray-50 border border-gray-200 rounded-md flex items-center justify-between" *ngIf="showAlert7">
                A simple light alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert7()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
            <div class="mt-[15px]"></div>
            <div class="alert py-[1rem] px-[1rem] text-dark bg-[#ced4da] border border-[#adb5bd] rounded-md flex items-center justify-between" *ngIf="showAlert8">
                A simple dark alert—check it out!
                <button class="leading-none text-[20px]" (click)="dismissAlert8()">
                    <i class="ri-close-line"></i>
                </button>
            </div>
        </div>
    </div>
</div>