<mat-card
    class="users-by-country-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Users by Country
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu without-border d-inline-block border-radius">
                Last Week
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="text-center image">
            <img src="images/vector-map.png" alt="vector-map">
        </div>
        <ul class="mb-0 p-0 list-unstyled d-flex flex-wrap">
            <li>
                <div class="position-relative">
                    <img src="images/flags/usa.svg" alt="usa">
                    <span class="d-block text-body fw-medium">
                        United States
                    </span>
                    <h6 class="mb-0 fw-semibold">
                        12,800 <span class="text-body">35.6%</span>
                    </h6>
                </div>
            </li>
            <li>
                <div class="position-relative">
                    <img src="images/flags/uk.svg" alt="uk">
                    <span class="d-block text-body fw-medium">
                        United Kingdom
                    </span>
                    <h6 class="mb-0 fw-semibold">
                        6,750 <span class="text-body">18.7%</span>
                    </h6>
                </div>
            </li>
            <li>
                <div class="position-relative">
                    <img src="images/flags/canada.svg" alt="canada">
                    <span class="d-block text-body fw-medium">
                        Canada
                    </span>
                    <h6 class="mb-0 fw-semibold">
                        2,500 <span class="text-body">6.3%</span>
                    </h6>
                </div>
            </li>
            <li>
                <div class="position-relative">
                    <img src="images/flags/australia.svg" alt="australia">
                    <span class="d-block text-body fw-medium">
                        Australia
                    </span>
                    <h6 class="mb-0 fw-semibold">
                        2,200 <span class="text-body">5.4%</span>
                    </h6>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>