<mat-card class="shipment-delivered-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Shipment Delivered
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="d-block text-body fw-normal">
                Last 30 days
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="shipment_delivered_chart"></div>
        </div>
    </mat-card-content>
</mat-card>