::ng-deep {
    .notice-board-card {
        .mat-mdc-card-header {
            margin-bottom: 20px;
        }
        .mat-mdc-card-content {
            .table-style-three {
                margin-bottom: -10px !important;
                
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    &:last-child {
                                        text-align: end;
                                    }
                                }
                                &:nth-child(2) {
                                    .notice-info {
                                        .icon {
                                            background-color: var(--primaryColor);
                                        }
                                    }
                                }
                                &:nth-child(3) {
                                    .notice-info {
                                        .icon {
                                            background-color: var(--orangeColor);
                                        }
                                    }
                                }
                                &:nth-child(4) {
                                    .notice-info {
                                        .icon {
                                            background-color: var(--secondaryColor);
                                        }
                                    }
                                }
                                &:first-child {
                                    .mat-mdc-cell {
                                        padding-top: 0;
                                    }
                                }
                                &:last-child {
                                    .mat-mdc-cell {
                                        border-bottom-width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}