<mat-card
    class="shipment-list-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Shipment List
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <label>
                    <i class="material-symbols-outlined">
                        search
                    </i>
                </label>
                <input type="text" class="input-search" placeholder="Search here....." (keyup)="applyFilter($event)" #input>
            </form>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu d-inline-block border-radius">
                Last 30 Days
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            Last 7 Days
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Last 15 Days
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Last 30 Days
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-style-two">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Shipment ID Column -->
                    <ng-container matColumnDef="shipmentID">
                        <th mat-header-cell *matHeaderCellDef>
                            Shipment ID
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-body">
                            <div class="d-flex align-items-center" style="gap: 15px;">
                                <mat-checkbox></mat-checkbox>
                                {{element.shipmentID}}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Customer Name Column -->
                    <ng-container matColumnDef="customerName">
                        <th mat-header-cell *matHeaderCellDef>
                            Customer Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="customer-info d-flex align-items-center">
                                <div class="img rounded-circle">
                                    <img [src]="element.customerName.img" class="rounded-circle" alt="user-image">
                                </div>
                                <span class="d-block fw-medium">
                                    {{element.customerName.name}}
                                </span>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Products Column -->
                    <ng-container matColumnDef="products">
                        <th mat-header-cell *matHeaderCellDef>
                            Products
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-body">
                            {{element.products}}
                        </td>
                    </ng-container>

                    <!-- Cost Column -->
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef>
                            Cost
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-orange">
                            {{element.cost}}
                        </td>
                    </ng-container>

                    <!-- Ship Date Column -->
                    <ng-container matColumnDef="shipDate">
                        <th mat-header-cell *matHeaderCellDef>
                            Ship Date
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-body">
                            {{element.shipDate}}
                        </td>
                    </ng-container>

                    <!-- Origin Column -->
                    <ng-container matColumnDef="origin">
                        <th mat-header-cell *matHeaderCellDef>
                            Origin
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-body">
                            {{element.origin}}
                        </td>
                    </ng-container>

                    <!-- Shipment Method Column -->
                    <ng-container matColumnDef="shipmentMethod">
                        <th mat-header-cell *matHeaderCellDef>
                            Shipment Method
                        </th>
                        <td mat-cell *matCellDef="let element" class="text-body">
                            {{element.shipmentMethod}}
                        </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>
                            Status
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <span class="trezo-badge pFinished" *ngIf="element.status.delivered">
                                Delivered
                            </span>
                            <span class="trezo-badge sPending" *ngIf="element.status.inTransit">
                                In Transit
                            </span>
                            <span class="trezo-badge pPending" *ngIf="element.status.onTheWay">
                                On The Way
                            </span>
                            <span class="trezo-badge" *ngIf="element.status.pending">
                                Pending
                            </span>
                            <span class="trezo-badge rejected" *ngIf="element.status.cancelled">
                                Cancelled
                            </span>
                        </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            Action
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-buttons d-flex align-items-center">
                                <button type="button" mat-button>
                                    <i class="material-symbols-outlined">
                                        {{element.action.view}}
                                    </i>
                                </button>
                                <button type="button" mat-button>
                                    <i class="material-symbols-outlined">
                                        {{element.action.edit}}
                                    </i>
                                </button>
                                <button type="button" mat-button>
                                    <i class="material-symbols-outlined">
                                        {{element.action.delete}}
                                    </i>
                                </button>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="9">
                            No data matching the filter "{{input.value}}"
                        </td>
                    </tr>

                </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>