<mat-card class="tickets-in-progress-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <span class="d-block">
            Tickets In Progress
        </span>
        <h5 class="mb-0">
            1.35k
        </h5>
        <div class="chart">
            <div id="widgets_tickets_in_progress_chart"></div>
        </div>
        <div class="info d-flex align-items-center justify-content-between">
            <span class="d-block">
                This Month
            </span>
            <span class="lh-1 text-danger">
                <i class="material-symbols-outlined">
                    trending_down
                </i>
            </span>
        </div>
    </mat-card-content>
</mat-card>