::ng-deep {
    .pm-team-members-card {
        .mat-mdc-card-content {
            .mat-mdc-table {
                &.mdc-data-table__table {
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                border-bottom-width: 0;
                                padding: {
                                    top: 11px;
                                    bottom: 11px;
                                };
                            }
                            &:first-child {
                                .mat-mdc-cell {
                                    padding-top: 22px;
                                }
                            }
                            &:last-child {
                                .mat-mdc-cell {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .pm-team-members-card {
            padding-bottom: 10px;
    
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    padding: {
                                        top: 7px;
                                        bottom: 7px;
                                    };
                                }
                                &:first-child {
                                    .mat-mdc-cell {
                                        padding-top: 14px;
                                    }
                                }
                                &:last-child {
                                    .mat-mdc-cell {
                                        padding-bottom: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .pm-team-members-card {
            padding-bottom: 13px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .pm-team-members-card {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    padding: {
                                        top: 8px;
                                        bottom: 8px;
                                    };
                                }
                                &:first-child {
                                    .mat-mdc-cell {
                                        padding-top: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    ::ng-deep {
        .pm-team-members-card {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    border-bottom-width: 0;
                                    padding: {
                                        top: 7px;
                                        bottom: 7px;
                                    };
                                }
                                &:first-child {
                                    .mat-mdc-cell {
                                        padding-top: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}