<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content relative">
        <span class="block">
            Total Orders
        </span>
        <h5 class="mb-0 mt-[3px] text-[20px]">
            $72,458
        </h5>
        <div class="absolute -top-[28px] ltr:-right-[9px] rtl:-left-[9px] max-w-[120px]">
            <div id="widgets_total_orders_chart"></div>
        </div>
        <div class="mt-[25px] md:mt-[34px] flex items-center justify-between">
            <span class="inline-block text-sm text-success-700 py-[1px] px-[8.3px] border border-success-300 bg-success-100 rounded-xl">
                +25%
            </span>
            <span class="block text-sm">
                Last 90 days
            </span>
        </div>
    </div>
</div>