<div
    class="lock-screen-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form ml-auto mr-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/lock-screen.jpg" alt="lock-screen-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <div class="logo">
                        <img src="images/logo-big.svg" alt="logo">
                        <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                    </div>
                    <div class="title">
                        <h1 class="fw-semibold">
                            Welcome back to Trezo!
                        </h1>
                        <p class="fw-medium">
                            Enter your password to access the admin.
                        </p>
                    </div>
                    <div class="admin d-flex align-items-center">
                        <img src="images/admin.png" class="rounded-circle" alt="admin-image">
                        <span class="d-block fw-semibold text-black">
                            Olivia John
                        </span>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Password
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Type your password
                                </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </span>
                                </button>
                            </mat-form-field>
                        </div>
                        <button type="button" mat-button>
                            <i class="material-symbols-outlined">
                                autorenew
                            </i>
                            Sign In
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>