.product-development-card {
    .mat-mdc-card-content {
        .info {
            padding: 24px 24px 20px;
            margin-bottom: 14px;

            .icon {
                width: 45px;
                height: 45px;
                margin-right: 12px;
                background-color: #4936F5;

                i {
                    left: 0;
                    right: 0;
                    top: 50%;
                    font-size: 24px;
                    margin-top: -1px;
                    position: absolute;
                    transform: translateY(-50%);
                }
            }
            .info-title {
                margin-bottom: 4px;
            }
            .info-sub-title {
                font-size: 16px;
            }
            .mat-mdc-progress-bar {
                --mdc-linear-progress-active-indicator-color: #FE7A36;
                --mdc-linear-progress-active-indicator-height: 7px;
                --mdc-linear-progress-track-color: #D5D9E2;
                --mdc-linear-progress-track-height: 7px;
                margin: {
                    top: 20px;
                    bottom: 10px;
                };
            }
        }
        .title {
            margin: {
                bottom: 10px;
                top: 25px;
            };
        }
        p {
            line-height: 1.7;
        }
        .list {
            padding-left: 22px;

            li {
                line-height: 1.7;
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .info {
                .icon {
                    margin: {
                        right: 0;
                        left: 12px;
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .product-development-card {
        .mat-mdc-card-content {
            .info {
                padding: 17px;
    
                .icon {
                    i {
                        font-size: 22px;
                    }
                }
                .info-sub-title {
                    font-size: 14px;
                }
                .item {
                    margin-bottom: 12px;
                }
                .mat-mdc-progress-bar {
                    margin-top: 15px;
                }
            }
            .title {
                margin-top: 20px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .product-development-card {
        .mat-mdc-card-content {
            .info {
                padding: 20px;
    
                .item {
                    margin-bottom: 0;
                }
            }
            .title {
                margin-top: 20px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .product-development-card {
        .mat-mdc-card-content {
            .info {
                .info-sub-title {
                    font-size: 15px;
                }
            }
            .title {
                margin-top: 20px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}