<mat-card
    class="product-development-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Shopify Theme Development
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="info bg-primary border-radius">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div class="item d-flex align-items-center">
                    <div class="icon text-center rounded-circle text-white position-relative">
                        <i class="material-symbols-outlined">
                            for_you
                        </i>
                    </div>
                    <div>
                        <span class="info-title d-block text-white">
                            Client
                        </span>
                        <span class="info-sub-title fw-semibold d-block text-white">
                            Innovatech
                        </span>
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div class="icon text-center rounded-circle text-white position-relative">
                        <i class="material-symbols-outlined">
                            attach_money
                        </i>
                    </div>
                    <div>
                        <span class="info-title d-block text-white">
                            Budget
                        </span>
                        <span class="info-sub-title fw-semibold d-block text-white">
                            $25,500
                        </span>
                    </div>
                </div>
                <div class="item d-flex align-items-center">
                    <div class="icon text-center rounded-circle text-white position-relative">
                        <i class="material-symbols-outlined">
                            pace
                        </i>
                    </div>
                    <div>
                        <span class="info-title d-block text-white">
                            Duration
                        </span>
                        <span class="info-sub-title fw-semibold d-block text-white">
                            360 hrs
                        </span>
                    </div>
                </div>
            </div>
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
            <div class="d-flex align-items-center justify-content-between">
                <span class="d-block text-white">
                    Progress
                </span>
                <span class="d-block text-white">
                    60%
                </span>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="d-block">
                Project Started: 01 Mar 2024
            </span>
            <span class="d-block">
                Project Deadline: 25 Jun 2024
            </span>
        </div>
        <span class="title d-block text-black fw-bold">
            Project Details
        </span>
        <p>
            Vestibulum euismod nisi vitae orci placerat, vitae vehicula eros dictum. Phasellus ut pharetra felis. Nulla facilisi. Nullam congue semper nunc, at sodales magna laoreet id. Nullam et lacus vitae ligula pretium suscipit. Fusce nec viverra enim. Sed feugiat gravida nibh sit amet suscipit. Integer tempor sapien eget metus lacinia, nec finibus lacus tincidunt. Sed sodales tellus nec metus aliquam, nec dignissim arcu lobortis.
        </p>
        <ul class="list mb-0">
            <li>
                Outline the boundaries and deliverables of the project.
            </li>
            <li>
                List team members, their roles, and responsibilities.
            </li>
            <li>
                Specify the technology stack and tools to be used for development.
            </li>
            <li>
                Break down the project into manageable phases or sprints.
            </li>
            <li>
                Outline the design phase, including wireframing, prototyping
            </li>
        </ul>
    </mat-card-content>
</mat-card>