<div class="table-responsive">
    <table
        mat-table
        [dataSource]="dataSource"
        multiTemplateDataRows
        class="expandable-rows"
    >

        @for (column of columnsToDisplay; track column) {
            <ng-container matColumnDef="{{column}}">
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
        }
        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    @if (expandedElement === element) {
                        <i class="material-symbols-outlined">
                            keyboard_arrow_up
                        </i>
                    } @else {
                        <i class="material-symbols-outlined">
                            keyboard_arrow_down
                        </i>
                    }
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <h6>
                        {{element.name}}
                    </h6>
                    <p class="mb-10">
                        {{element.description}}
                    </p>
                    <span class="text-black fw-medium d-block" style="padding-bottom: 20px;">-- Wikipedia</span>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr
            mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            (click)="expandedElement = expandedElement === element ? null : element"
        >
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"></tr>
        
    </table>
</div>