<mat-card
    class="sales-transaction-history-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Transaction History
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                <i class="ri-more-fill"></i>
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="p-0 mt-0 mb-0 list-unstyled">
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-primary bg-primary-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            credit_card
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Master Card
                        </span>
                        <span class="date d-block">
                            16 Jun 2024 - 7:12 pm
                        </span>
                    </div>
                </div>
                <span class="d-block text-success">
                    +1,520
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-danger bg-danger-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            redeem
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Paypal
                        </span>
                        <span class="date d-block">
                            15 Jun 2024 - 1:42 am
                        </span>
                    </div>
                </div>
                <span class="d-block text-danger">
                    -2,250
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-purple bg-purple-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            account_balance
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Wise
                        </span>
                        <span class="date d-block">
                            14 Jun 2024 - 4:21 pm
                        </span>
                    </div>
                </div>
                <span class="d-block text-success">
                    +3,560
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-secondary bg-secondary-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            currency_ruble
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Payoneer
                        </span>
                        <span class="date d-block">
                            13 Jun 2024 - 2:42 am
                        </span>
                    </div>
                </div>
                <span class="d-block text-success">
                    +6,500
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-success bg-success-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            credit_score
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Credit Card
                        </span>
                        <span class="date d-block">
                            12 Jun 2024 - 3:20 pm
                        </span>
                    </div>
                </div>
                <span class="d-block text-danger">
                    -4,320
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-purple bg-purple-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            account_balance
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Wise
                        </span>
                        <span class="date d-block">
                            16 Dec 2024 - 1:23 pm
                        </span>
                    </div>
                </div>
                <span class="d-block text-success">
                    +5,432
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-danger bg-danger-100 rounded-circle d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            redeem
                        </i>
                    </div>
                    <div>
                        <span class="title d-block fw-medium text-black">
                            Paypal
                        </span>
                        <span class="date d-block">
                            23 Dec 2024 - 3:20 pm
                        </span>
                    </div>
                </div>
                <span class="d-block text-success">
                    +1,820
                </span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>