.sales-transaction-history-card {
    .mat-mdc-card-content {
        ul {
            li {
                margin-bottom: 31px;

                .icon {
                    width: 41px;
                    height: 41px;
                    margin-right: 12px;
                }
                .title {
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                .date {
                    font-size: 13px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            ul {
                li {
                    .icon {
                        margin: {
                            right: 0;
                            left: 12px;
                        };
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .sales-transaction-history-card {
        .mat-mdc-card-content {
            ul {
                li {
                    margin-bottom: 20px;
    
                    .icon {
                        margin-right: 10px;
                    }
                    .title {
                        font-size: 14px;
                        margin-bottom: 6px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                ul {
                    li {
                        .icon {
                            margin: {
                                right: 0;
                                left: 10px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .sales-transaction-history-card {
        .mat-mdc-card-content {
            ul {
                li {
                    margin-bottom: 22px;
    
                    .title {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .sales-transaction-history-card {
        .mat-mdc-card-content {
            ul {
                li {
                    margin-bottom: 29px;
                    
                    .icon {
                        margin-right: 9px;
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}