<!-- Create Post -->
<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md mb-[25px] last:mb-0">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Create Post
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <textarea class="h-[140px] rounded-md text-black dark:text-white border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] p-[17px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" placeholder="It makes me feel..."></textarea>
        <div class="sm:flex items-center mt-[20px] md:mt-[25px] gap-[25px]">
            <button type="button" class="font-medium inline-block transition-all rounded-md md:text-md py-[10px] md:py-[12px] px-[20px] md:px-[27px] bg-primary-500 text-white hover:bg-primary-400">
                <span class="inline-block relative ltr:pl-[29px] rtl:pr-[29px]">
                    <i class="material-symbols-outlined ltr:left-0 rtl:right-0 absolute top-1/2 -translate-y-1/2 !text-[20px]">
                        send
                    </i>
                    Publish Post
                </span>
            </button>
            <div class="flex items-center gap-[15px] mt-[15px] sm:mt-0">
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        sentiment_satisfied
                    </i>
                </button>
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        attach_file
                    </i>
                </button>
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        mic_none
                    </i>
                </button>
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        image
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Timeline -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md mb-[25px] last:mb-0">
    <div class="trezo-card-header pb-[18px] mb-[20px] flex items-center justify-between border-b border-gray-100 dark:border-[#172036]">
        <div class="trezo-card-title flex items-center">
            <img src="images/users/user6.jpg" alt="user-image" class="rounded-full w-[50px]">
            <div class="ltr:ml-[12px] rtl:mr-[12px]">
                <span class="block text-black dark:text-white font-semibold">
                    Cynthia Baggett
                </span>
                <span class="block mt-[2px]">
                    05 mins ago
                </span>
            </div>
        </div>
        <div class="trezo-card-subtitle">
            <div class="trezo-card-dropdown relative">
                <button type="button" class="trezo-card-dropdown-btn inline-block transition-all text-[26px] text-gray-500 dark:text-gray-400 leading-none hover:text-primary-500" (click)="toggleCardHeaderMenu()">
                    <i class="ri-more-fill"></i>
                </button>
                <ul class="trezo-card-dropdown-menu transition-all bg-white shadow-3xl rounded-md top-full py-[15px] absolute ltr:right-0 rtl:left-0 w-[195px] z-[5] dark:bg-dark dark:shadow-none" *ngIf="isCardHeaderOpen">
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Save Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Hide Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Report Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Block Cynthia
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trezo-card-content">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
        <p>
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions.
        </p>
        <div class="sm:flex items-center gap-[30px] mt-[20px] py-[15px] border-y border-gray-100 dark:border-[#172036]">
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    thumb_up
                </i>
                10 Likes
            </button>
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    chat_bubble_outline
                </i>
                0 Comments
            </button>
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    share
                </i>
                0 Share
            </button>
        </div>
        <div class="mt-[20px] md:flex items-center gap-[20px]">
            <div class="w-[55px]">
                <img src="images/profile.jpg" alt="profile-image" class="rounded-full">
            </div>
            <div class="relative mt-[15px] md:mt-0 md:ltr:pr-[70px] md:rtl:pl-[70px] flex-auto">
                <input type="text" class="block w-full rounded-md bg-white dark:bg-[#0c1427] px-[17px] h-[55px] text-black dark:text-white placeholder:text-gray-500 dark:text-gray-400 outline-0 border border-gray-200 dark:border-[#172036]" placeholder="Type something....">
                <button type="submit" class="md:absolute flex items-center justify-center ltr:right-0 rtl:left-0 rounded-sm transition-all bg-primary-500 text-white hover:bg-primary-400 md:top-1/2 md:-translate-y-1/2 w-[55px] h-[55px] mt-[15px] md:mt-0">
                    <i class="material-symbols-outlined">
                        send
                    </i>
                </button>
            </div>
            <div class="flex items-center gap-[15px] mt-[15px] sm:mt-0">
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        sentiment_satisfied
                    </i>
                </button>
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        attach_file
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md mb-[25px] last:mb-0">
    <div class="trezo-card-header pb-[18px] mb-[20px] flex items-center justify-between border-b border-gray-100 dark:border-[#172036]">
        <div class="trezo-card-title flex items-center">
            <img src="images/users/user7.jpg" alt="user-image" class="rounded-full w-[50px]">
            <div class="ltr:ml-[12px] rtl:mr-[12px]">
                <span class="block text-black dark:text-white font-semibold">
                    Douglas Hairston
                </span>
                <span class="block mt-[2px]">
                    1 hour ago
                </span>
            </div>
        </div>
        <div class="trezo-card-subtitle">
            <div class="trezo-card-dropdown2 relative">
                <button type="button" class="trezo-card-dropdown-btn inline-block transition-all text-[26px] text-gray-500 dark:text-gray-400 leading-none hover:text-primary-500" (click)="toggleCardHeaderMenu2()">
                    <i class="ri-more-fill"></i>
                </button>
                <ul class="trezo-card-dropdown-menu transition-all bg-white shadow-3xl rounded-md top-full py-[15px] absolute ltr:right-0 rtl:left-0 w-[195px] z-[5] dark:bg-dark dark:shadow-none" *ngIf="isCardHeaderOpen2">
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Save Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Hide Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Report Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Block Douglas
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trezo-card-content">
        <p>
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of lorem ipsum.
        </p>
        <div class="sm:flex items-center gap-[30px] mt-[20px] py-[15px] border-y border-gray-100 dark:border-[#172036]">
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    thumb_up
                </i>
                42 Likes
            </button>
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    chat_bubble_outline
                </i>
                2 Comments
            </button>
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    share
                </i>
                1 Share
            </button>
        </div>
        <div class="mt-[20px] md:flex items-center gap-[20px]">
            <div class="w-[55px]">
                <img src="images/profile.jpg" alt="profile-image" class="rounded-full">
            </div>
            <div class="relative mt-[15px] md:mt-0 md:ltr:pr-[70px] md:rtl:pl-[70px] flex-auto">
                <input type="text" class="block w-full rounded-md bg-white dark:bg-[#0c1427] px-[17px] h-[55px] text-black dark:text-white placeholder:text-gray-500 dark:text-gray-400 outline-0 border border-gray-200 dark:border-[#172036]" placeholder="Type something....">
                <button type="submit" class="md:absolute flex items-center justify-center ltr:right-0 rtl:left-0 rounded-sm transition-all bg-primary-500 text-white hover:bg-primary-400 md:top-1/2 md:-translate-y-1/2 w-[55px] h-[55px] mt-[15px] md:mt-0">
                    <i class="material-symbols-outlined">
                        send
                    </i>
                </button>
            </div>
            <div class="flex items-center gap-[15px] mt-[15px] sm:mt-0">
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        sentiment_satisfied
                    </i>
                </button>
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        attach_file
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md mb-[25px] last:mb-0">
    <div class="trezo-card-header pb-[18px] mb-[20px] flex items-center justify-between border-b border-gray-100 dark:border-[#172036]">
        <div class="trezo-card-title flex items-center">
            <img src="images/users/user8.jpg" alt="user-image" class="rounded-full w-[50px]">
            <div class="ltr:ml-[12px] rtl:mr-[12px]">
                <span class="block text-black dark:text-white font-semibold">
                    Olivia John
                </span>
                <span class="block mt-[2px]">
                    1 day ago
                </span>
            </div>
        </div>
        <div class="trezo-card-subtitle">
            <div class="trezo-card-dropdown3 relative">
                <button type="button" class="trezo-card-dropdown-btn inline-block transition-all text-[26px] text-gray-500 dark:text-gray-400 leading-none hover:text-primary-500" (click)="toggleCardHeaderMenu3()">
                    <i class="ri-more-fill"></i>
                </button>
                <ul class="trezo-card-dropdown-menu transition-all bg-white shadow-3xl rounded-md top-full py-[15px] absolute ltr:right-0 rtl:left-0 w-[195px] z-[5] dark:bg-dark dark:shadow-none" *ngIf="isCardHeaderOpen3">
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Save Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Hide Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Report Post
                        </button>
                    </li>
                    <li>
                        <button type="button" class="block w-full transition-all text-black ltr:text-left rtl:text-right relative py-[8px] px-[20px] hover:bg-gray-50 dark:text-white dark:hover:bg-black">
                            Block Olivia
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trezo-card-content">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
        </p>
        <div class="sm:flex items-center gap-[30px] mt-[20px] py-[15px] border-y border-gray-100 dark:border-[#172036]">
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    thumb_up
                </i>
                100 Likes
            </button>
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    chat_bubble_outline
                </i>
                16 Comments
            </button>
            <button type="button" class="block relative ltr:pl-[25px] rtl:pr-[25px] transition-all hover:text-primary-500 mt-[10px] first:mt-0 sm:mt-0">
                <i class="material-symbols-outlined !text-lg absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2">
                    share
                </i>
                5 Share
            </button>
        </div>
        <div class="mt-[20px] md:flex items-center gap-[20px]">
            <div class="w-[55px]">
                <img src="images/profile.jpg" alt="profile-image" class="rounded-full">
            </div>
            <div class="relative mt-[15px] md:mt-0 md:ltr:pr-[70px] md:rtl:pl-[70px] flex-auto">
                <input type="text" class="block w-full rounded-md bg-white dark:bg-[#0c1427] px-[17px] h-[55px] text-black dark:text-white placeholder:text-gray-500 dark:text-gray-400 outline-0 border border-gray-200 dark:border-[#172036]" placeholder="Type something....">
                <button type="submit" class="md:absolute flex items-center justify-center ltr:right-0 rtl:left-0 rounded-sm transition-all bg-primary-500 text-white hover:bg-primary-400 md:top-1/2 md:-translate-y-1/2 w-[55px] h-[55px] mt-[15px] md:mt-0">
                    <i class="material-symbols-outlined">
                        send
                    </i>
                </button>
            </div>
            <div class="flex items-center gap-[15px] mt-[15px] sm:mt-0">
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        sentiment_satisfied
                    </i>
                </button>
                <button type="button" class="transition-all hover:text-primary-500">
                    <i class="material-symbols-outlined !text-[20px]">
                        attach_file
                    </i>
                </button>
            </div>
        </div>
    </div>
</div>