<mat-card
    class="balance-overview-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Balance Overview
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu d-inline-block border-radius">
                {{ selectedTimeframe }}
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('Current Week')">
                            Current Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('Current Month')">
                            Current Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('Current Year')">
                            Current Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="crm_balance_overview_chart"></div>
        </div>
        <ul class="list p-0 mb-0 list-unstyled text-center">
            <li class="d-inline-block">
                <div class="d-sm-flex align-items-center">
                    <span class="fw-semibold text-primary">
                        $628k
                    </span>
                    <span class="d-block">
                        Revenue
                    </span>
                </div>
            </li>
            <li class="d-inline-block">
                <div class="d-sm-flex align-items-center">
                    <span class="fw-semibold text-purple">
                        $379k
                    </span>
                    <span class="d-block">
                        Expenses
                    </span>
                </div>
            </li>
            <li class="d-inline-block">
                <div class="d-sm-flex align-items-center">
                    <span class="fw-semibold text-success">
                        11.2%
                    </span>
                    <span class="d-block">
                        Profit Ratio
                    </span>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>