<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Recent Property
            </h5>
        </div>
    </div>
    <div class="trezo-card-content" id="recentPropertySlides">
        <owl-carousel-o [options]="recentPropertySlides">
            <ng-template carouselSlide>
                <div class="rounded-[5px] h-[112px] bg-cover bg-no-repeat bg-center" style="background-image: url(images/properties/property1.jpg);"></div>
                <div class="flex items-center justify-between mb-[8px] mt-[15px]">
                    <h3 class="text-lg mb-0 text-orange-500">
                        $18,000
                    </h3>
                    <a routerLink="." class="inline-block font-medium text-primary-500 transition-all hover:text-primary-400 hover:underline">
                        View More
                    </a>
                </div>
                <span class="block relative pt-px ltr:pl-[22px] rtl:pr-[22px]">
                    <i class="material-symbols-outlined text-primary-500 absolute ltr:-left-[2px] rtl:-right-[2px] top-1/2 -translate-y-1/2 !text-[19px]">
                        location_on
                    </i>
                    35 Prince Consort Road
                </span>
                <ul class="mt-[10px]">
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            bed
                        </i>
                        6Bed
                    </li>
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            bathtub
                        </i>
                        5Bath
                    </li>
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            square_foot
                        </i>
                        1800sqft
                    </li>
                </ul>
            </ng-template>
            <ng-template carouselSlide>
                <div class="rounded-[5px] h-[112px] bg-cover bg-no-repeat bg-center" style="background-image: url(images/properties/property2.jpg);"></div>
                <div class="flex items-center justify-between mb-[8px] mt-[15px]">
                    <h3 class="text-lg mb-0 text-orange-500">
                        $220,000
                    </h3>
                    <a routerLink="." class="inline-block font-medium text-primary-500 transition-all hover:text-primary-400 hover:underline">
                        View More
                    </a>
                </div>
                <span class="block relative pt-px ltr:pl-[22px] rtl:pr-[22px]">
                    <i class="material-symbols-outlined text-primary-500 absolute ltr:-left-[2px] rtl:-right-[2px] top-1/2 -translate-y-1/2 !text-[19px]">
                        location_on
                    </i>
                    58 Gateway Road Portland
                </span>
                <ul class="mt-[10px]">
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            bed
                        </i>
                        8Bed
                    </li>
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            bathtub
                        </i>
                        6Bath
                    </li>
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            square_foot
                        </i>
                        2000sqft
                    </li>
                </ul>
            </ng-template>
            <ng-template carouselSlide>
                <div class="rounded-[5px] h-[112px] bg-cover bg-no-repeat bg-center" style="background-image: url(images/properties/property3.jpg);"></div>
                <div class="flex items-center justify-between mb-[8px] mt-[15px]">
                    <h3 class="text-lg mb-0 text-orange-500">
                        $350,000
                    </h3>
                    <a routerLink="." class="inline-block font-medium text-primary-500 transition-all hover:text-primary-400 hover:underline">
                        View More
                    </a>
                </div>
                <span class="block relative pt-px ltr:pl-[22px] rtl:pr-[22px]">
                    <i class="material-symbols-outlined text-primary-500 absolute ltr:-left-[2px] rtl:-right-[2px] top-1/2 -translate-y-1/2 !text-[19px]">
                        location_on
                    </i>
                    18 Chemin Challet
                </span>
                <ul class="mt-[10px]">
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            bed
                        </i>
                        8Bed
                    </li>
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            bathtub
                        </i>
                        7Bath
                    </li>
                    <li class="relative inline-block relative ltr:pl-[24px] rtl:pr-[24px] ltr:mr-[20px] rtl:ml-[20px] ltr:last:mr-0 rtl:last:ml-0">
                        <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-primary-500 !text-[18px]">
                            square_foot
                        </i>
                        2200sqft
                    </li>
                </ul>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>