<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-1">

        <!-- Congratulations -->
        <app-congratulations />

        <div class="sm:grid sm:grid-cols-2 lg:grid-cols-1 xl:grid-cols-2 gap-x-[25px]">
            <div>

                <!-- Tickets Resolved -->
                <app-tickets-resolved />

            </div>
            <div>

                <!-- Tickets In Progress -->
                <app-tickets-in-progress />
                
            </div>
            <div>

                <!-- Tickets Due -->
                <app-tickets-due />
                
            </div>
            <div>

                <!-- Tickets New Open -->
                <app-tickets-new-open />
                
            </div>
        </div>
        
    </div>
    <div class="lg:col-span-2">

        <!-- Tickets Status -->
        <app-tickets-status />

        <div class="lg:grid xl:grid-cols-2 gap-x-[25px]">
            <div>

                <!-- Customer Satisfaction -->
                <app-customer-satisfaction />

            </div>
            <div>

                <!-- Response Time -->
                <app-response-time />
                
            </div>
        </div>

    </div>
</div>

<!-- Performance of Agents -->
<app-performance-of-agents />

<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-3">

        <!-- New Tickets vs Solved Tickets -->
        <app-new-tickets-solved-tickets />
        
    </div>
    <div class="lg:col-span-2">

        <!-- Recent Customer Ratings -->
        <app-recent-customer-ratings />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- To Do List -->
        <app-to-do-list />

    </div>
    <div class="lg:col-span-1">

        <!-- Support Overview -->
        <app-support-overview />

    </div>
</div>