.mat-column-demo-position {
    width: 35px;
    border-right: 1px solid var(--blackColor);
}
.mat-column-demo-name {
    color: var(--blackColor) !important;
    font-size: 20px;
}
.mat-column-demo-symbol {
    width: 35px;
    font-weight: 700;
    color: var(--blackColor) !important;
}
.mat-column-demo-weight {
    font-style: italic;
}
.component-dark-theme {
    .mat-column-demo-symbol, .mat-column-demo-name {
        color: var(--whiteColor) !important;
    }
    .mat-column-demo-position {
        border-right-color: var(--whiteColor);
    }
}