<div class="trezo-card p-[20px] md:p-[25px] rounded-md" style="background: linear-gradient(120deg, #343A46 0%, #23272E 99.29%);">
    <div class="trezo-card-header mb-[20px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0 text-white">
                Income Source
            </h5>
        </div>
        <div class="trezo-card-subtitle">
            <span class="block text-white">
                Last 30 days
            </span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="-mt-[10px]">
            <div id="income_source_chart"></div>
        </div>
    </div>
</div>