::ng-deep {
    .portfolio-card {
        --primaryColor: #4936F5;
        background: {
            position: left bottom;
            repeat: no-repeat;
            size: contain;
        };
        .mat-mdc-card-content {
            z-index: 1;
            margin-top: 35px;
            position: relative;

            .total-balance {
                margin-bottom: 35px;

                div {
                    margin-left: 10px;

                    h4 {
                        margin-top: 6px;
                        font-size: 20px;

                        span {
                            font-size: 14px;
                            color: #D8FFC8;
                            margin-left: 3px;
                            padding-left: 25px;

                            i {
                                left: 0;
                                top: 50%;
                                font-size: 20px;
                                position: absolute;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
            .mat-mdc-table {
                &.mdc-data-table__table {
                    .mat-mdc-header-row {
                        .mat-mdc-header-cell {
                            font-size: 12px;
                            text-align: center;
                            background-color: transparent;
                            padding: {
                                top: 0;
                                bottom: 7px;
                            };
                            &:first-child {
                                text-align: start;
                                padding-left: 0;
                            }
                            &:last-child {
                                padding-right: 0;
                                text-align: end;
                            }
                        }
                    }
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                text-align: center;
                                border-color: #757DFF;
                                border: {
                                    left-width: 0;
                                    right-width: 0;
                                };
                                padding: {
                                    top: 10px;
                                    bottom: 10px;
                                };
                                .customer-info {
                                    span {
                                        margin-left: 0;

                                        span {
                                            font-size: 12px;
                                        }
                                    }
                                }
                                &:first-child {
                                    text-align: start;
                                    padding-left: 0;
                                }
                                &:last-child {
                                    padding-right: 0;
                                    text-align: end;
                                }
                            }
                        }
                    }
                }
            }
            .mat-mdc-button {
                margin-top: 28px;
                padding: 6px 12px;
                border-radius: 4px;
                color: var(--whiteColor);
                border: 1px solid #757DFF;
                font: {
                    size: var(--fontSize);
                    weight: 500;
                };
                .mdc-button__label {
                    display: block;
                    padding-right: 17px;

                    i {
                        top: 50%;
                        right: -6px;
                        font-size: 20px;
                        position: absolute;
                        transform: translateY(-50%);
                    }
                }
                &:hover {
                    color: var(--blackColor);
                    border-color: var(--whiteColor);
                    background-color: var(--whiteColor);
                }
            }
            .shape {
                right: 0;
                top: -55px;
                z-index: -1;
                position: absolute;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .total-balance {
                    div {
                        margin: {
                            left: 0;
                            right: 10px;
                        };
                        h4 {
                            span {
                                margin: {
                                    left: 0;
                                    right: 3px;
                                };
                                padding: {
                                    left: 0;
                                    right: 25px;
                                };
                                i {
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                    }
                }
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mat-mdc-header-row {
                            .mat-mdc-header-cell {
                                &:first-child {
                                    padding: {
                                        left: 20px;
                                        right: 0;
                                    };
                                }
                                &:last-child {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                            }
                        }
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    .customer-info {
                                        span {
                                            margin-right: 0;
                                        }
                                    }
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
                .mat-mdc-button {
                    .mdc-button__label {
                        padding: {
                            right: 0;
                            left: 17px;
                        };
                        i {
                            left: -6px;
                            right: auto;
                        }
                    }
                }
                .shape {
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .portfolio-card {
            .mat-mdc-card-content {
                margin-top: 0;
    
                .total-balance {
                    margin-bottom: 17px;
    
                    div {
                        h4 {
                            margin-top: 5px;
                            font-size: 18px;
    
                            span {
                                font-size: 13px;
                            }
                        }
                    }
                }
                .mat-mdc-button {
                    font-size: 13px;
                    margin-top: 17px;
                }
                .shape {
                    display: none;
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mat-mdc-header-row {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            left: 17px;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 17px;
                                        };
                                    }
                                }
                            }
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                left: 17px;
                                            };
                                        }
                                        &:last-child {
                                            padding: {
                                                right: 17px;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .portfolio-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mat-mdc-header-row {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            left: 20px;
                                        };
                                    }
                                    &:last-child {
                                        padding: {
                                            right: 20px;
                                        };
                                    }
                                }
                            }
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                left: 20px;
                                            };
                                        }
                                        &:last-child {
                                            padding: {
                                                right: 20px;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}