<mat-card
    class="top-products-by-sales-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Top Products by Sales
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu without-border d-inline-block border-radius">
                This Week
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="p-0 mt-0 mb-0 list-unstyled">
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-primary bg-primary-100 d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            smartphone
                        </i>
                    </div>
                    <div>
                        <span class="title d-block text-black fw-medium">
                            Samsung Galaxy
                        </span>
                        <span class="d-block">
                            Samsung
                        </span>
                    </div>
                </div>
                <span class="d-block fw-medium text-black">
                    $96,455
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-purple bg-purple-100 d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            tap_and_play
                        </i>
                    </div>
                    <div>
                        <span class="title d-block text-black fw-medium">
                            iPhone 15 Plus
                        </span>
                        <span class="d-block">
                            Apple inc.
                        </span>
                    </div>
                </div>
                <span class="d-block fw-medium text-black">
                    $89,670
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-danger bg-danger-100 d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            edgesensor_low
                        </i>
                    </div>
                    <div>
                        <span class="title d-block text-black fw-medium">
                            Vivo V30
                        </span>
                        <span class="d-block">
                            Vivo Ltd.
                        </span>
                    </div>
                </div>
                <span class="d-block fw-medium text-black">
                    $75,329
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-success bg-success-100 d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            watch
                        </i>
                    </div>
                    <div>
                        <span class="title d-block text-black fw-medium">
                            Watch Series 7
                        </span>
                        <span class="d-block">
                            Apple
                        </span>
                    </div>
                </div>
                <span class="d-block fw-medium text-black">
                    $98,256
                </span>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon text-primary bg-primary-100 d-flex align-items-center justify-content-center">
                        <i class="material-symbols-outlined">
                            headphones
                        </i>
                    </div>
                    <div>
                        <span class="title d-block text-black fw-medium">
                            Sony WF-SP800N
                        </span>
                        <span class="d-block">
                            Sony
                        </span>
                    </div>
                </div>
                <span class="d-block fw-medium text-black">
                    $65,987
                </span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>