.top-products-by-sales-card {
    .mat-mdc-card-content {
        ul {
            li {
                border-bottom: 1px solid var(--borderColor);
                padding-bottom: 14px;
                margin-bottom: 15px;

                .icon {
                    width: 48px;
                    height: 48px;
                    margin-right: 15px;
                    border-radius: 4px;
                }
                .title {
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                    border-bottom-width: 0;
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            ul {
                li {
                    .icon {
                        margin: {
                            right: 0;
                            left: 15px;
                        };
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .top-products-by-sales-card {
        .mat-mdc-card-content {
            ul {
                li {
                    padding-bottom: 13px;
                    margin-bottom: 13px;
    
                    .icon {
                        width: 45px;
                        height: 45px;
                        margin-right: 12px;
                    }
                    .title {
                        margin-bottom: 4px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                ul {
                    li {
                        .icon {
                            margin: {
                                right: 0;
                                left: 12px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .top-products-by-sales-card {
        .mat-mdc-card-content {
            ul {
                li {
                    padding-bottom: 13px;
                    margin-bottom: 13px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}