<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-[25px]">

            <!-- Active Total Property -->
            <app-active-total-property />

            <!-- Revenue -->
            <app-re-revenue />

        </div>
    </div>
    <div class="lg:col-span-2">

        <!-- New Listings vs Sold Properties -->
        <app-new-sold-properties />

    </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Properties For Sale -->
    <app-properties-for-sale />

    <!-- Properties For Rent -->
    <app-properties-for-rent />

    <div class="md:col-span-2 lg:col-span-1">

        <!-- New Customers this Month -->
        <app-new-customers-month />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Most Sales Location -->
        <app-most-sales-location />

    </div>
    <div class="lg:col-span-2">

        <!-- Rental Income -->
        <app-rental-income />

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-[25px]">

            <!-- Social Search -->
            <app-social-search />

            <!-- Recent Property -->
            <app-recent-property />

        </div>

    </div>
    <div class="lg:col-span-2">
        
        <!-- Customer Reviews -->
        <app-customer-reviews />

    </div>
    <div class="lg:col-span-1">

        <!-- Top Property -->
        <app-top-property />

    </div>
</div>

<!-- Latest Transactions -->
<app-latest-transactions />