<div
    class="navbar-area transition"
    [ngClass]="{'sticky': isSticky}"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="container">
        <nav
            class="navbar navbar-expand-lg"
            [class.active]="classApplied"
        >
            <a class="navbar-brand" routerLink="/">
                <img src="images/logo-big.svg" alt="logo">
                <img src="images/white-logo-big.svg" class="d-none" alt="logo">
            </a>
            <button
                class="navbar-toggler"
                type="button" (click)="toggleClass()"
            >
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="/" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/features" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Features
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/team" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Our Team
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/faq" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            FAQ's
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/contact" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/dashboard" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            Admin
                        </a>
                    </li>
                </ul>
                <div class="other-options d-flex align-items-center">
                    <a routerLink="/authentication" mat-button>
                        <i class="material-symbols-outlined">
                            login
                        </i>
                        Login
                    </a>
                    <a routerLink="/authentication/sign-up" mat-button>
                        <i class="material-symbols-outlined">
                            person
                        </i>
                        Register
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>