.advanced-timeline-card {
    .mat-mdc-card-content {
        padding: {
            top: 10px;
            bottom: 10px;
        };
        .timeline {
            .timeline-item {
                padding-bottom: 30px;

                .inner {
                    padding: 20px;
                    width: 44.7%;
                    float: left;

                    h6 {
                        font-size: 14px;
                        margin-bottom: 8px;
                    }
                    p {
                        line-height: 1.5;
                        margin-bottom: 13px;
                    }
                    .members {
                        margin-bottom: 13px;
    
                        img {
                            width: 34px;
                            height: 34px;
                            margin-right: -14px;
                            border: 1px solid var(--whiteColor);
                            
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                        div {
                            width: 34px;
                            height: 34px;
                            font-size: 12px;
                            margin-right: -14px;
                            border: 1px solid var(--whiteColor);
                            
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .author {
                        font-size: 12px;
                    }
                }
                .date {
                    left: 50%;
                    top: 78px;
                    font-size: 12px;
                    margin-left: 123px;
                    position: absolute;
                    border-radius: 7px;
                    padding: 10px 18px;
                    color: var(--whiteColor);
                    transform: translateX(-50%);
                    background-color: var(--primaryColor);

                    .arrow {
                        top: 50%;
                        left: -6px;
                        width: 15px;
                        height: 15px;
                        border-radius: 4px;
                        position: absolute;
                        background: var(--primaryColor);
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
                .bg-gray {
                    background-color: #ECF0FF !important;
                }
                &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10) {
                    .inner {
                        float: right;
                        left: -25px;
                    }
                    .date {
                        margin-left: -150px;

                        .arrow {
                            left: auto;
                            right: -6px;
                        }
                    }
                }
                &:nth-child(2), &:nth-child(6) {
                    &::before {
                        background: var(--purpleColor);
                    }
                }
                &:nth-child(3), &:nth-child(7) {
                    &::before {
                        background: var(--primaryColor);
                    }
                }
                &:nth-child(4), &:nth-child(8) {
                    &::before {
                        background: var(--dangerColor);
                    }
                }
                &:last-child {
                    padding-bottom: 0;
                }
                &::before {
                    left: 50%;
                    top: 90px;
                    content: '';
                    width: 12px;
                    height: 12px;
                    margin-left: -10px;
                    border-radius: 50%;
                    position: absolute;
                    background: #37D80A;
                    transform: translateX(-50%);
                }
                &::after {
                    display: block;
                    content: "";
                    clear: both;
                }
            }
            &::before {
                top: 0;
                left: 50%;
                bottom: 0;
                content: '';
                position: absolute;
                transform: translateX(-50%);
                border-right: 1px dashed var(--borderColor);
                margin: {
                    top: 90px;
                    left: -10px;
                    bottom: 100px;
                };
            }
        }
    }
    &.component-dark-theme {
        .mat-mdc-card-content {
            .timeline {
                .timeline-item {
                    .inner {
                        .members {
                            img {
                                border-color: #0C1427;
                            }
                            div {
                                border-color: #0C1427;
                            }
                        }
                    }
                    .bg-gray {
                        background-color: #15203c !important;
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .timeline {
                .timeline-item {
                    .inner {
                        float: right;
    
                        .members {
                            img {
                                margin: {
                                    right: 0;
                                    left: -14px;
                                };
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                            div {
                                margin: {
                                    right: 0;
                                    left: -14px;
                                };
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .date {
                        left: auto;
                        right: 50%;
                        transform: translateX(50%);
                        margin: {
                            left: 0;
                            right: 123px;
                        };
                        .arrow {
                            left: auto;
                            right: -6px;
                        }
                    }
                    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10) {
                        .inner {
                            right: -25px;
                            float: left;
                            left: auto;
                        }
                        .date {
                            margin: {
                                left: 0;
                                right: -150px;
                            };
                            .arrow {
                                left: -6px;
                                right: auto;
                            }
                        }
                    }
                    &::before {
                        left: auto;
                        right: 50%;
                        transform: translateX(50%);
                        margin: {
                            left: 0;
                            right: -10px;
                        };
                    }
                }
                &::before {
                    left: auto;
                    right: 50%;
                    transform: translateX(50%);
                    margin: {
                        left: auto;
                        right: -10px;
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .advanced-timeline-card {
        .mat-mdc-card-content {
            padding: {
                top: 0;
                bottom: 0;
            };
            .timeline {
                .timeline-item {
                    padding: {
                        bottom: 20px;
                        left: 15px;
                    };
                    .inner {
                        width: 100%;
                        float: unset;
                        padding: 17px;
                    }
                    .date {
                        top: 0;
                        left: 0;
                        padding: 8px 15px;
                        position: relative;
                        transform: translateX(0);
                        margin: {
                            left: 6px;
                            bottom: 12px;
                        };
                        .arrow {
                            left: -5px;
                            width: 13px;
                            height: 13px;
                        }
                    }
                    &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10) {
                        .inner {
                            float: unset;
                            left: 0;
                        }
                        .date {
                            margin-left: 6px;
    
                            .arrow {
                                left: -5px;
                                right: auto;
                            }
                        }
                    }
                    &::before {
                        display: none;
                    }
                }
                &::before {
                    left: 0;
                    transform: translateX(0);
                    margin: {
                        top: 0;
                        left: 0;
                        bottom: 0;
                    };
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .timeline {
                    .timeline-item {
                        padding: {
                            right: 15px;
                            left: 0;
                        };
                        .inner {
                            float: unset;
                        }
                        .date {
                            right: 0;
                            left: auto;
                            transform: translateX(0);
                            margin: {
                                left: 0;
                                right: 6px;
                            };
                            .arrow {
                                left: auto;
                                right: -5px;
                            }
                        }
                        &:nth-child(2), &:nth-child(4), &:nth-child(6), &:nth-child(8), &:nth-child(10) {
                            .inner {
                                float: unset;
                                left: auto;
                                right: 0;
                            }
                            .date {
                                margin: {
                                    left: 0;
                                    right: 6px;
                                };
                                .arrow {
                                    left: auto;
                                    right: -5px;
                                }
                            }
                        }
                    }
                    &::before {
                        right: 0;
                        left: auto;
                        transform: translateX(0);
                        margin: {
                            right: 0;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .advanced-timeline-card {
        .mat-mdc-card-content {
            .timeline {
                .timeline-item {
                    .inner {
                        padding: 20px;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .advanced-timeline-card {
        .mat-mdc-card-content {
            padding: {
                top: 0;
                bottom: 0;
            };
            .timeline {
                .timeline-item {
                    padding-bottom: 25px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}