<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <span class="block">
                Live Shipment Status
            </span>
        </div>
        <div class="trezo-card-subtitle">
            <span class="block">
                Last 7 days
            </span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="-mb-[22px] -mt-[22px]">
            <div id="live_shipment_status_chart"></div>
        </div>
    </div>
</div>