.total-revenue-card {
    .mat-mdc-card-content {
        .title {
            .info-badge {
                font-size: 13px;
                color: #1E8308;
                margin-left: 10px;
                padding: 3px 8.3px;
                border-radius: 100px;
                border: 1px solid #82FC5A;
                background-color: #D8FFC8;

                &.down {
                    border-color: #FFCEA9;
                    color: var(--dangerColor);
                    background-color: #FFE1DD;
                }
            }
            .days {
                font-size: 13px;
            }
            h5 {
                margin-top: 4px;
                font-size: 20px;
            }
        }
        .chart {
            max-width: 200px;
            margin: {
                top: -22px;
                bottom: -13px;
            };
        }
        ul {
            li {
                font-size: 13px;
                padding-left: 30px;
                margin-bottom: 8px;

                &::before {
                    left: 0;
                    top: 50%;
                    content: '';
                    width: 20px;
                    height: 5px;
                    border-radius: 7px;
                    position: absolute;
                    transform: translateY(-50%);
                }
                &:last-child {
                    margin-bottom: 0;
                }
                &.fashion {
                    &::before {
                        background: var(--primaryColor);
                    }
                }
                &.others {
                    &::before {
                        background: #C2CDFF;
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .title {
                .info-badge {
                    margin: {
                        left: 0;
                        right: 10px;
                    };
                }
            }
            ul {
                li {
                    padding: {
                        left: 0;
                        right: 30px;
                    };
                    &::before {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .total-revenue-card {
        .mat-mdc-card-content {
            .apexcharts-canvas {
                .apexcharts-tooltip-series-group {
                    &.apexcharts-active {
                        padding-bottom: 4px;
                    }
                }
            }
        }
        &.component-dark-theme {
            .apexcharts-canvas {
                .apexcharts-gridline {
                    stroke: transparent;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .total-revenue-card {
        .mat-mdc-card-content {
            .title {
                .info-badge {
                    font-size: 12px;
                    padding: 3px 8px;
                }
                .days {
                    font-size: 12px;
                }
                h5 {
                    margin-top: 5px;
                    font-size: 18px;
                }
            }
            .chart {
                margin: {
                    top: -20px;
                    bottom: -12px;
                };
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .total-revenue-card {
        .mat-mdc-card-content {
            .title {
                .days {
                    margin-top: 7px;
                }
                h5 {
                    font-size: 18px;
                    margin-top: 12px;
                }
            }
            .chart {
                margin: {
                    top: -20px;
                    bottom: -11px;
                };
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}