<div class="table-responsive overflow-x-auto">
    <table class="w-full">
        <tbody class="text-black dark:text-white">
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Google
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    2-Step Verification Turn Off <span class="text-gray-500 dark:text-gray-400">- Integer nec arcu ac nisi...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    3:36 PM
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Facebook
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Friend Request <span class="text-gray-500 dark:text-gray-400">- Sed in libero eget lorem fermentum...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    9:25 AM
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    LinkedIn
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Travel Information <span class="text-gray-500 dark:text-gray-400">- Vivamus vestibulum ligula in mauris...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 25
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Ethan Parker
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Leave Application <span class="text-gray-500 dark:text-gray-400">- Integer nec arcu ac nisi...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 22
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Dribbble
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Design Inspiration <span class="text-gray-500 dark:text-gray-400">- Sed in libero eget lorem fermentum...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 21
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Instagram
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Training Schedule <span class="text-gray-500 dark:text-gray-400">- Vivamus vestibulum ligula in mauris...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 21
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Isabella Cooper
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Internal Auditor <span class="text-gray-500 dark:text-gray-400">- Sed in libero eget lorem fermentum...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 19
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Google
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Password Changed <span class="text-gray-500 dark:text-gray-400">- Integer nec arcu ac nisi...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 17
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Olivia Rodriguez
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Virtual Training <span class="text-gray-500 dark:text-gray-400">- Vivamus vestibulum ligula in mauris...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 15
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    YouTube
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    New Subscriber <span class="text-gray-500 dark:text-gray-400">- Sed in libero eget lorem fermentum...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 12
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
            <tr>
                <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    <div class="flex items-center">
                        <div class="form-check relative top-[2px]">
                            <input type="checkbox" class="cursor-pointer">
                        </div>
                        <button type="button" class="ltr:ml-[15px] rtl:mr-[15px] leading-none text-lg">
                            <i class="ri-star-line"></i>
                        </button>
                    </div>
                </td>
                <td class="font-medium text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Google
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="text-black dark:text-white relative ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Security Alert <span class="text-gray-500 dark:text-gray-400">- Vivamus vestibulum ligula in mauris...</span>
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
                <td class="relative ltr:text-right rtl:text-left whitespace-nowrap px-[20px] py-[13px] md:py-[15.5px] ltr:first:pl-0 rtl:first:pr-0 ltr:last:pr-0 rtl:last:pl-0 border-b border-gray-100 dark:border-[#172036]">
                    Jun 10
                    <a routerLink="/dashboard/apps/email/read" class="absolute top-0 left-0 right-0 bottom-0 z-[1]"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="flex items-center md:absolute -top-[48px] ltr:right-0 rtl:left-0 mt-[15px] md:mt-0">
    <p class="mb-0 text-sm">
        1 – 11 of 100
    </p>
    <ol class="ltr:ml-[10px] rtl:mr-[10px]">
        <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
            <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                <span class="opacity-0">
                    0
                </span>
                <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                    chevron_left
                </i>
            </a>
        </li>
        <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
            <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                <span class="opacity-0">
                    0
                </span>
                <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                    chevron_right
                </i>
            </a>
        </li>
    </ol>
</div>