<mat-card class="average-delivery-time-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <span class="d-block text-body text-base lh-initial">
                Average Delivery Time
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="d-block text-body fw-normal">
                Per Week
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="average_delivery_time_chart"></div>
        </div>
    </mat-card-content>
</mat-card>