.total-sales-card {
    .mat-mdc-card-content {
        .chart {
            margin: {
                bottom: -15px;
                left: -10px;
                top: -5px;
            };
        }
    }
}