<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Profile
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Profile
        </li>
    </ol>
</div>

<!-- Profile -->
<mat-card
    class="profile-card mb-25 border-radius d-block bg-white border-0 shadow-none p-0"
    [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-content>
        <div class="cover-image position-relative border-top-radius">
            <img src="images/profile-cover.jpg" class="border-top-radius" alt="cover-image">
            <button type="button" mat-button class="edit-btn" [matMenuTriggerFor]="editCoverPhotoMenu">
                Update Cover Photo
            </button>
            <mat-menu #editCoverPhotoMenu="matMenu" class="card-header-menu" xPosition="after">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            Upload Photo
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Reposition
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            Remove
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </div>
        <div class="profile-content">
            <div class="d-md-flex align-items-end justify-content-between">
                <div class="d-md-flex align-items-end">
                    <div class="image position-relative">
                        <img src="images/profile.jpg" class="profile-image rounded-circle" alt="profile-image">
                        <img src="images/icons/verified.svg" class="verified" alt="verified">
                    </div>
                    <div class="title">
                        <span class="d-block text-black fw-bold">
                            Alice Johnson
                        </span>
                        <span class="d-block fw-medium">
                            Product Designer
                        </span>
                    </div>
                </div>
                <div class="btn-box">
                    <button type="button" mat-button class="edit-btn" [matMenuTriggerFor]="editProfilePhotoMenu">
                        <i class="material-symbols-outlined">
                            edit
                        </i>
                        Edit
                    </button>
                    <mat-menu #editProfilePhotoMenu="matMenu" class="card-header-menu" xPosition="after">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    See Photo
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Upload Photo
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Remove
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                    <button type="button" mat-button class="edit-btn" [matMenuTriggerFor]="profileShareMenu">
                        <i class="material-symbols-outlined">
                            share
                        </i>
                        Share
                    </button>
                    <mat-menu #profileShareMenu="matMenu" class="card-header-menu" xPosition="after">
                        <ul class="p-0 mt-0 mb-0 list-unstyled">
                            <li>
                                <button mat-menu-item>
                                    Facebook
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    X
                                </button>
                            </li>
                            <li>
                                <button mat-menu-item>
                                    Instagram
                                </button>
                            </li>
                        </ul>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Profile Nav Links -->
<ul class="profile-nav-links text-center p-0 mb-25 list-unstyled">
    <li class="d-inline-block">
        <a routerLink="/dashboard/profile" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Profile
        </a>
    </li>
    <li class="d-inline-block">
        <a routerLink="/dashboard/profile/teams" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Teams
        </a>
    </li>
    <li class="d-inline-block">
        <a routerLink="/dashboard/profile/projects" mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Projects
        </a>
    </li>
</ul>

<!-- Router Outlet -->
<router-outlet />