<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] md:px-[20px] rounded-md relative">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <p class="mb-[2px]">
                Critical Patients
            </p>
            <h5 class="mb-0">
                780
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="absolute top-[100px] left-[10px] right-[10px]">
            <div id="critical_patients_chart"></div>
        </div>
        <ul class="mt-[160px]">
            <li class="relative text-sm ltr:pl-[18px] rtl:pr-[18px] mb-[10px] last:mb-0">
                <span class="block absolute ltr:left-0 rtl:right-0 w-[12px] h-[2px] bg-primary-500 top-1/2 -translate-y-1/2"></span>
                Cardiology:
                <span class="text-black dark:text-white font-semibold">
                    280
                </span>
            </li>
            <li class="relative text-sm ltr:pl-[18px] rtl:pr-[18px] mb-[10px] last:mb-0">
                <span class="block absolute ltr:left-0 rtl:right-0 w-[12px] h-[2px] bg-orange-500 top-1/2 -translate-y-1/2"></span>
                Orthopedics:
                <span class="text-black dark:text-white font-semibold">
                    600
                </span>
            </li>
        </ul>
    </div>
</div>