<div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] mb-[25px]">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-[25px]">

        <!-- Total Revenue -->
        <app-total-revenue />

        <!-- Total Shipment -->
        <app-total-shipment />

        <!-- Total Customer -->
        <app-total-customer />

        <!-- Total Order -->
        <app-total-order />

    </div>

    <!-- Shipment Delivered -->
    <app-shipment-delivered />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-[25px] mb-[25px]">

            <!-- Average Delivery Time -->
            <app-average-delivery-time />

            <!-- Live Shipment Status -->
            <app-live-shipment-status />

        </div>

        <!-- Tracking Order -->
        <app-tracking-order />

    </div>
    <div class="lg:col-span-1">

        <!-- Top Countries -->
        <app-top-countries />

        <!-- Chat -->
        <app-chat />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Top Shipping Methods -->
    <app-top-shipping-methods />

    <!-- Todays Shipments -->
    <app-todays-shipments />

    <!-- On Time Delivery -->
    <app-on-time-delivery />

</div>

<!-- Shipment List -->
<app-shipment-list />