<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content relative">
        <span class="block mb-[5px]">
            Revenue
        </span>
        <h3 class="leading-none text-lg md:text-xl mb-[8px]">
            $1.2M
        </h3>
        <span class="inline-block text-xs px-[9px] text-orange-700 border border-orange-300 bg-orange-100 text-sm rounded-[100px]">
            -3.2%
        </span>
        <div class="absolute max-w-[125px] mt-[10px] ltr:-right-[10px] rtl:-left-[10px] top-1/2 -translate-y-1/2">
            <div id="revenue_chart"></div>
        </div>
    </div>
</div>