<mat-card
    class="properties-for-rent-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="d-flex align-items-center justify-content-between">
            <span class="info-badge d-inline-block">
                +35%
            </span>
            <span class="d-block text-xs">
                Last 30 days
            </span>
        </div>
        <span class="sub-title d-block">
            Properties for Rent
        </span>
        <h3 class="mb-0 lh-1">
            2,510
        </h3>
        <div class="chart">
            <div id="propertiesForRentChart"></div>
        </div>
    </mat-card-content>
</mat-card>