<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Events List
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Events List
        </li>
    </ol>
</div>

<!-- Events List -->
<mat-card class="events-list-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <a class="add-btn" routerLink="/dashboard/events/create-an-event" mat-button>
                <i class="material-symbols-outlined">
                    add
                </i>
                Add New Event
            </a>
        </mat-card-title>
        <mat-card-subtitle>
            <form class="search-box position-relative">
                <label>
                    <i class="material-symbols-outlined">
                        search
                    </i>
                </label>
                <input type="text" class="input-search" placeholder="Search event here....." (keyup)="applyFilter($event)" #input>
            </form>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource">

                <!-- Event ID Column -->
                <ng-container matColumnDef="eventID">
                    <th mat-header-cell *matHeaderCellDef>
                        Event ID
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.eventID}}
                    </td>
                </ng-container>

                <!-- Event Column -->
                <ng-container matColumnDef="event">
                    <th mat-header-cell *matHeaderCellDef>
                        Event
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="product-info d-flex align-items-center">
                            <div class="image">
                                <img [src]="element.event.img" alt="product-image">
                            </div>
                            <div class="info">
                                <a routerLink="/dashboard/events/event-details" class="fw-medium d-inline-block">
                                    {{element.event.title}}
                                </a>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Date and Time Column -->
                <ng-container matColumnDef="dateAndTime">
                    <th mat-header-cell *matHeaderCellDef>
                        Date and Time
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dateAndTime}}
                    </td>
                </ng-container>

                <!-- Location Column -->
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef>
                        Location
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.location}}
                    </td>
                </ng-container>

                <!-- Organizer Column -->
                <ng-container matColumnDef="organizer">
                    <th mat-header-cell *matHeaderCellDef>
                        Organizer
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.organizer}}
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="trezo-badge" *ngIf="element.status.happening">
                            Happening
                        </span>
                        <span class="trezo-badge inProgress" *ngIf="element.status.upcoming">
                            Upcoming
                        </span>
                        <span class="trezo-badge rejected" *ngIf="element.status.past">
                            Past
                        </span>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-buttons d-flex align-items-center">
                            <a routerLink="/dashboard/events/event-details" mat-button>
                                <i class="material-symbols-outlined">
                                    {{element.action.view}}
                                </i>
                            </a>
                            <a routerLink="/dashboard/events/edit-an-event" mat-button>
                                <i class="material-symbols-outlined">
                                    {{element.action.edit}}
                                </i>
                            </a>
                            <button type="button" mat-button>
                                <i class="material-symbols-outlined">
                                    {{element.action.delete}}
                                </i>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <!-- Row shown when there is no matching data. -->
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>

            </table>
        </div>
        <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>