::ng-deep {
    .product-details-card {
        .mat-mdc-card-content {
            max-width: 1070px;
            padding: 15px 15px 75px !important;

            .product-details-image {
                margin-right: 30px;

                .product-gallery__featured {
                    margin-bottom: 25px;
                }
                .product-gallery__carousel {
                    a {
                        position: relative;

                        &::before {
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            opacity: 0;
                            content: '';
                            visibility: hidden;
                            border-radius: 7px;
                            position: absolute;
                            border: 1px solid #FE7A36;
                            transition: var(--transition);
                        }
                    }
                    // .active {
                    //     a {
                    //         &::before {
                    //             opacity: 1;
                    //             visibility: visible;
                    //         }
                    //     }
                    // }
                }
            }
            .product-details-content {
                .stock {
                    font-size: 12px;
                    color: #1E8308;
                    border-radius: 6px;
                    margin-bottom: 14px;
                    padding: 6px 16px 6px 37px;
                    background-color: #EEFFE5;

                    i {
                        top: 50%;
                        left: 12px;
                        font-size: 19px;
                        margin-top: 0.2px;
                        position: absolute;
                        color: var(--successColor);
                        transform: translateY(-50%);
                    }
                }
                h6 {
                    font-size: 18px;
                    line-height: 1.5;
                    margin-bottom: 16px;
                }
                .ratings {
                    border-bottom: 1px solid var(--borderColor);
                    padding-bottom: 25px;
                    margin-bottom: 23px;

                    i {
                        color: var(--warningColor);
                        font-size: 16px;
                    }
                    span {
                        font-size: 12px;
                        margin-left: 12px;
                    }
                }
                .price {
                    span {
                        font-size: 18px;

                        &:nth-child(2) {
                            font-size: 16px;
                            margin-left: 7px;
                        }
                    }
                }
                .types {
                    margin-top: 25px;

                    .style {
                        span {
                            &:nth-child(2) {
                                margin-left: 3px;
                            }
                        }
                    }
                    .buttons {
                        margin-top: 8px;

                        .mat-mdc-button {
                            height: auto;
                            font-size: 12px;
                            min-width: auto;
                            padding: 6px 15px;
                            border-radius: 4px;
                            margin-right: 10px;
                            display: inline-block;
                            color: var(--bodyColor);
                            border: 1px solid var(--borderColor);

                            &.active {
                                font-weight: 600;
                                border-color: #FE7A36;
                                color: var(--blackColor);
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .capacity {
                    margin-top: 17px;

                    .storage {
                        span {
                            &:nth-child(2) {
                                margin-left: 3px;
                            }
                        }
                    }
                    .buttons {
                        margin-top: 8px;

                        .mat-mdc-button {
                            height: auto;
                            font-size: 12px;
                            min-width: auto;
                            padding: 6px 15px;
                            border-radius: 4px;
                            margin-right: 10px;
                            display: inline-block;
                            color: var(--bodyColor);
                            border: 1px solid var(--borderColor);

                            &.active {
                                font-weight: 600;
                                border-color: #FE7A36;
                                color: var(--blackColor);
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .colors {
                    margin-top: 17px;

                    .color {
                        span {
                            &:nth-child(2) {
                                margin-left: 3px;
                            }
                        }
                    }
                    .buttons {
                        margin-top: 8px;

                        .mat-mdc-button {
                            padding: 0;
                            width: 29px;
                            height: 29px;
                            min-width: auto;
                            margin-right: 10px;
                            border-radius: 50%;
                            border: 1px solid var(--borderColor);
                            background-color: var(--borderColor);

                            &:nth-child(2) {
                                border-color: #D5D9E2;
                                background-color: #D5D9E2;
                            }
                            &.active {
                                border-color: #FE7A36;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .add-to-cart {
                    margin-top: 30px;

                    .mat-mdc-button {
                        height: auto;
                        min-width: auto;
                        font-weight: 500;
                        margin-left: 8px;
                        border-radius: 7px;
                        padding: 8.5px 21px;
                        display: inline-block;
                        color: var(--whiteColor);
                        background-color: var(--primaryColor);

                        .mdc-button__label {
                            display: inline-block;
                            padding-left: 24px;

                            i {
                                left: 0;
                                top: 50%;
                                font-size: 17px;
                                position: absolute;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
                .add-to-wishlist {
                    &.mat-mdc-button {
                        color: var(--blackColor);
                        display: inline-block;
                        margin-top: 20px;
                        font-weight: 500;
                        min-width: auto;
                        height: auto;
                        padding: 0;

                        .mdc-button__label {
                            display: flex;
                            align-items: center;

                            i {
                                width: 31px;
                                height: 31px;
                                font-size: 18px;
                                color: #64748B;
                                line-height: 33px;
                                margin-right: 10px;
                                border-radius: 50%;
                                display: inline-block;
                                background: var(--borderColor);
                            }
                        }
                    }
                }
                .total-views {
                    display: flex;
                    margin-top: 11px;
                    align-items: center;

                    i {
                        width: 31px;
                        height: 31px;
                        font-size: 18px;
                        color: #64748B;
                        line-height: 33px;
                        margin-right: 10px;
                        border-radius: 50%;
                        text-align: center;
                        display: inline-block;
                        background: var(--borderColor);
                    }
                }
                .features-list {
                    margin: {
                        top: 19px;
                        bottom: 21px;
                    };
                    border: {
                        top: 1px solid var(--borderColor);
                        bottom: 1px solid var(--borderColor);
                    };
                    padding: {
                        top: 17px;
                        bottom: 18px;
                    };
                    li {
                        padding-left: 27px;
                        margin-bottom: 11px;
                        color: var(--blackColor);
        
                        i {
                            left: 0;
                            top: 50%;
                            font-size: 20px;
                            color: #1E8308;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .info {
                    margin-bottom: 22px;

                    li {
                        margin-bottom: 10px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .share-to-socials {
                    .title {
                        top: -1px;
                        font-size: 16px;
                        margin-right: 5px;
                    }
                    .mat-mdc-button {
                        padding: 0;
                        width: 23.844px;
                        font-size: 13px;
                        min-width: auto;
                        height: 23.844px;
                        margin-left: 4px;
                        text-align: center;
                        border-radius: 50%;
                        line-height: 23.844px;
                        display: inline-block;
                        color: var(--blackColor);
                        background-color: var(--borderColor);
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .product-details-content {
                    .types {
                        .buttons {
                            .mat-mdc-button {
                                &.active {
                                    color: var(--whiteColor);
                                }
                            }
                        }
                    }
                    .capacity {
                        .buttons {
                            .mat-mdc-button {
                                &.active {
                                    color: var(--whiteColor);
                                }
                            }
                        }
                    }
                    .add-to-wishlist {
                        &.mat-mdc-button {
                            color: var(--whiteColor);
    
                            .mdc-button__label {
                                i {
                                    color: var(--bodyColor);
                                }
                            }
                        }
                    }
                    .total-views {
                        i {
                            color: var(--bodyColor);
                        }
                    }
                    .features-list {
                        li {
                            color: var(--whiteColor);
                        }
                    }
                    .share-to-socials {
                        .mat-mdc-button {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .product-details-image {
                    margin: {
                        right: 0;
                        left: 30px;
                    };
                }
                .product-details-content {
                    .stock {
                        padding: {
                            left: 16px;
                            right: 37px;
                        };
                        i {
                            left: auto;
                            right: 12px;
                        }
                    }
                    .ratings {
                        span {
                            margin: {
                                left: 0;
                                right: 12px;
                            };
                        }
                    }
                    .price {
                        span {
                            &:nth-child(2) {
                                margin: {
                                    left: 0;
                                    right: 7px;
                                };
                            }
                        }
                    }
                    .types {
                        .style {
                            span {
                                &:nth-child(2) {
                                    margin: {
                                        left: 0;
                                        right: 3px;
                                    };
                                }
                            }
                        }
                        .buttons {
                            .mat-mdc-button {
                                margin: {
                                    right: 0;
                                    left: 10px;
                                };
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .capacity {
                        .storage {
                            span {
                                &:nth-child(2) {
                                    margin: {
                                        left: 0;
                                        right: 3px;
                                    };
                                }
                            }
                        }
                        .buttons {
                            .mat-mdc-button {
                                margin: {
                                    right: 0;
                                    left: 10px;
                                };
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .colors {
                        .color {
                            span {
                                &:nth-child(2) {
                                    margin: {
                                        left: 0;
                                        right: 3px;
                                    };
                                }
                            }
                        }
                        .buttons {
                            .mat-mdc-button {
                                margin: {
                                    right: 0;
                                    left: 10px;
                                };
                                &:last-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                    .add-to-cart {
                        .mat-mdc-button {
                            margin: {
                                left: 0;
                                right: 8px;
                            };
                            .mdc-button__label {
                                padding: {
                                    left: 0;
                                    right: 24px;
                                };
                                i {
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                    }
                    .add-to-wishlist {
                        &.mat-mdc-button {
                            .mdc-button__label {
                                i {
                                    margin: {
                                        right: 0;
                                        left: 10px;
                                    };
                                }
                            }
                        }
                    }
                    .total-views {
                        i {
                            margin: {
                                right: 0;
                                left: 10px;
                            };
                        }
                    }
                    .features-list {
                        li {
                            padding: {
                                left: 0;
                                right: 27px;
                            };
                            i {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                    .share-to-socials {
                        .title {
                            margin: {
                                right: 0;
                                left: 5px;
                            };
                        }
                        .mat-mdc-button {
                            margin: {
                                left: 0;
                                right: 4px;
                            };
                        }
                    }
                }
            }
        }
    }
    .product-specifications-card {
        .mat-mdc-card-content {
            h6 {
                margin-bottom: 12px;

                &:not(:first-child) {
                    margin-top: 25px;
                }
            }
            ul {
                li {
                    padding: 13px 20px;
                    border: {
                        bottom: 1px solid var(--borderColor);
                        right: 1px solid var(--borderColor);
                        left: 1px solid var(--borderColor);
                    };
                    &:first-child {
                        border-top: 1px solid var(--borderColor);
                    }
                }
            }
        }
    }
    .product-overall-reviews-card {
        .mat-mdc-card-content {
            .rating-item {
                margin-bottom: 25px;
                padding-right: 48px;
    
                .ratings {
                    margin-right: 15px;
    
                    i {
                        font-size: 18px;
                        color: #ee8336;
                        margin-right: 5px;
                        
                        &.ri-star-line {
                            color: #e2e8f0;
                        }
                    }
                }
                .number {
                    right: 0;
                    top: 50%;
                    position: absolute;
                    transform: translateY(-50%);
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            .overall-reviews {
                h3 {
                    margin-bottom: 15px;
                    font-size: 40px;
                }
                .all-ratings {
                    margin-bottom: 20px;
                    
                    i {
                        font-size: 30px;
                        color: #ee8336;
                        margin: {
                            left: 2px;
                            right: 2px;
                        };
                        &.ri-star-line {
                            color: #e2e8f0;
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .rating-item {
                    padding: {
                        right: 0;
                        left: 48px;
                    };
                    .ratings {
                        margin: {
                            left: 15px;
                            right: 0;
                        };
                        i {
                            margin: {
                                right: 0;
                                left: 5px;
                            };
                        }
                    }
                    .number {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
    }
    .product-details-tabs {
        &.mat-mdc-tab-group {
            .mat-mdc-tab-header {
                margin-bottom: 0;
            }
        }
        .mat-mdc-tab-label-container {
            border-bottom-width: 0;

            .mat-mdc-tab-list {
                .mat-mdc-tab-labels {
                    .mat-mdc-tab {
                        background-color: transparent;
                        border-radius: 7px 7px 0 0;
                        padding: 16px 20px;
                        flex-grow: unset;
                        min-width: auto;
                        height: auto;
                        font: {
                            size: 16px;
                            weight: 500;
                        };
                        .mdc-tab__text-label {
                            color: var(--bodyColor);
                        }
                        .mdc-tab-indicator {
                            --mdc-tab-indicator-active-indicator-height: 1px;
                            
                            .mdc-tab-indicator__content--underline {
                                border-color: var(--primaryColor);
                            }
                        }
                        &.mdc-tab--active {
                            background-color: var(--whiteColor);

                            .mdc-tab__text-label {
                                color: var(--blackColor);
                            }
                        }
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-tab-label-container {
                .mat-mdc-tab-list {
                    .mat-mdc-tab-labels {
                        .mat-mdc-tab {
                            &.mdc-tab--active {
                                background-color: #15203c;
    
                                .mdc-tab__text-label {
                                    color: var(--whiteColor);
                                }
                            }
                        }
                    }
                }
            }
            .product-overall-reviews-card {
                .mat-mdc-card-content {
                    .rating-item {
                        .ratings {
                            i {
                                &.ri-star-line {
                                    color: #334161;
                                }
                            }
                        }
                    }
                    .overall-reviews {
                        .all-ratings {
                            i {
                                &.ri-star-line {
                                    color: #334161;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.card-without-border-radius {
            .mat-mdc-tab-label-container {
                .mat-mdc-tab-list {
                    .mat-mdc-tab-labels {
                        .mat-mdc-tab {
                            border-radius: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .product-details-card {
            .mat-mdc-card-content {
                max-width: 100%;
                padding: 0 !important;
    
                .product-details-image {
                    margin-right: 0;

                    .product-gallery__featured {
                        margin-bottom: 17px;
                    }
                    .product-gallery__carousel {
                        .owl-item {
                            margin-right: 17px !important;
                        }
                    }
                }
                .product-details-content {
                    margin-top: 17px;

                    .stock {
                        margin-bottom: 10px;
                    }
                    h6 {
                        font-size: 16px;
                        line-height: 1.4;
                        margin-bottom: 10px;
                    }
                    .ratings {
                        padding-bottom: 17px;
                        margin-bottom: 17px;
    
                        i {
                            font-size: 14px;
                        }
                        span {
                            margin-left: 5px;
                        }
                    }
                    .price {
                        span {
                            font-size: 16px;
    
                            &:nth-child(2) {
                                font-size: 14px;
                            }
                        }
                    }
                    .types {
                        margin-top: 17px;
    
                        .buttons {
                            .mat-mdc-button {
                                padding: 6px 10px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .capacity {
                        margin-top: 15px;
    
                        .buttons {
                            .mat-mdc-button {
                                padding: 6px 10px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .colors {
                        margin-top: 15px;
    
                        .buttons {
                            .mat-mdc-button {
                                width: 20px;
                                height: 20px;
                                margin-right: 5px;
                            }
                        }
                    }
                    .add-to-cart {
                        margin-top: 17px;
                    }
                    .add-to-wishlist {
                        &.mat-mdc-button {
                            margin-top: 17px;
                        }
                    }
                    .features-list {
                        margin: {
                            top: 17px;
                            bottom: 17px;
                        };
                        padding: {
                            top: 17px;
                            bottom: 17px;
                        };
                        li {
                            padding-left: 23px;
                            margin-bottom: 10px;
            
                            i {
                                font-size: 18px;
                            }
                        }
                    }
                    .info {
                        margin-bottom: 17px;
                    }
                    .share-to-socials {
                        .title {
                            font-size: 14px;
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .product-details-image {
                        margin-left: 0;
                        .product-gallery__carousel {
                            .owl-item {
                                margin: {
                                    right: 0 !important;
                                    left: 17px !important;
                                };
                            }
                        }
                    }
                    .product-details-content {
                        .ratings {
                            span {
                                margin: {
                                    left: 0;
                                    right: 5px;
                                };
                            }
                        }
                        .types {
                            .buttons {
                                .mat-mdc-button {
                                    margin: {
                                        right: 0;
                                        left: 5px;
                                    };
                                }
                            }
                        }
                        .capacity {
                            .buttons {
                                .mat-mdc-button {
                                    margin: {
                                        right: 0;
                                        left: 5px;
                                    };
                                }
                            }
                        }
                        .colors {
                            .buttons {
                                .mat-mdc-button {
                                    margin: {
                                        right: 0;
                                        left: 5px;
                                    };
                                }
                            }
                        }
                        .features-list {
                            li {
                                padding: {
                                    left: 0;
                                    right: 23px;
                                };
                            }
                        }
                    }
                }
            }
        }
        .product-specifications-card {
            .mat-mdc-card-content {
                h6 {
                    margin-bottom: 10px;
    
                    &:not(:first-child) {
                        margin-top: 17px;
                    }
                }
                ul {
                    li {
                        padding: 12px 15px;
                    }
                }
            }
        }
        .product-overall-reviews-card {
            .mat-mdc-card-content {
                .rating-item {
                    margin-bottom: 15px;
                    padding-right: 35px;
        
                    .ratings {
                        margin-right: 7px;
        
                        i {
                            font-size: 15px;
                            margin-right: 2px;
                        }
                    }
                }
                .overall-reviews {
                    margin-top: 20px;
    
                    h3 {
                        margin-bottom: 10px;
                        font-size: 25px;
                    }
                    .all-ratings {
                        margin-bottom: 15px;
                        
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .rating-item {
                        padding: {
                            right: 0;
                            left: 35px;
                        };
                        .ratings {
                            margin: {
                                right: 0;
                                left: 7px;
                            };
                            i {
                                margin: {
                                    right: 0;
                                    left: 2px;
                                };
                            }
                        }
                    }
                }
            }
        }
        .product-details-tabs {
            .mat-mdc-tab-label-container {
                .mat-mdc-tab-list {
                    .mat-mdc-tab-labels {
                        .mat-mdc-tab {
                            padding: 14px 15px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .product-details-card {
            .mat-mdc-card-content {
                max-width: 100%;
                padding: 0 !important;
    
                .product-details-image {
                    margin: {
                        right: 0;
                        bottom: 25px;
                    };
                }
                .product-details-content {
                    .stock {
                        margin-bottom: 13px;
                    }
                    h6 {
                        font-size: 17px;
                        margin-bottom: 11px;
                    }
                    .ratings {
                        padding-bottom: 20px;
                        margin-bottom: 20px;
    
                        i {
                            font-size: 15px;
                        }
                        span {
                            margin-left: 5px;
                        }
                    }
                    .price {
                        span {
                            font-size: 17px;
    
                            &:nth-child(2) {
                                font-size: 15px;
                            }
                        }
                    }
                    .types {
                        margin-top: 20px;
                    }
                    .add-to-cart {
                        margin-top: 20px;
                    }
                    .features-list {
                        margin: {
                            top: 20px;
                            bottom: 20px;
                        };
                        padding: {
                            top: 17px;
                            bottom: 17px;
                        };
                        li {
                            padding-left: 25px;
                            margin-bottom: 10px;
                        }
                    }
                    .info {
                        margin-bottom: 20px;
                    }
                    .share-to-socials {
                        .title {
                            font-size: 15px;
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .product-details-image {
                        margin: {
                            left: 0;
                        };
                    }
                    .product-details-content {
                        .ratings {
                            span {
                                margin: {
                                    left: 0;
                                    right: 5px;
                                };
                            }
                        }
                        .features-list {
                            li {
                                padding: {
                                    left: 0;
                                    right: 25px;
                                };
                            }
                        }
                    }
                }
            }
        }
        .product-overall-reviews-card {
            .mat-mdc-card-content {
                .rating-item {
                    margin-bottom: 20px;
                }
                .overall-reviews {
                    margin-top: 25px;
    
                    h3 {
                        margin-bottom: 13px;
                        font-size: 30px;
                    }
                    .all-ratings {
                        margin-bottom: 15px;
                        
                        i {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .product-details-tabs {
            .mat-mdc-tab-label-container {
                .mat-mdc-tab-list {
                    .mat-mdc-tab-labels {
                        .mat-mdc-tab {
                            padding: 15px 20px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .product-details-card {
            .mat-mdc-card-content {
                max-width: 100%;
                padding: 5px !important;
    
                .product-details-image {
                    margin-right: 5px;
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .product-details-image {
                        margin: {
                            right: 0;
                            left: 5px;
                        };
                    }
                }
            }
        }
        .product-overall-reviews-card {
            .mat-mdc-card-content {
                .rating-item {
                    margin-bottom: 20px;
                }
                .overall-reviews {
                    h3 {
                        font-size: 35px;
                    }
                    .all-ratings {
                        i {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    ::ng-deep {
        .product-details-card {
            .mat-mdc-card-content {
                padding: 15px !important;
    
                .product-details-image {
                    margin-right: 10px;
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .product-details-image {
                        margin: {
                            right: 0;
                            left: 10px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}