<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Product Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            eCommerce
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Products
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Product Details
        </li>
    </ol>
</div>

<!-- Product Details -->
<mat-card
    class="product-details-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-content>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-details-image">
                    <div class="product-gallery__featured">
                        <owl-carousel-o [options]="{items: 1, dots: false, animateIn: 'fadeIn', animateOut: 'fadeOut'}" #owlCar>
                            <ng-container *ngFor="let image of productImages">
                                <ng-template carouselSlide [id]="image.url">
                                    <img [src]="image.url" [alt]="image.url" class="border-radius">
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                    <div class="product-gallery__carousel">
                        <owl-carousel-o [options]="{items: 3, dots: false, margin: 25, autoWidth: true}">
                            <ng-container *ngFor="let image of productImages; let i = index">
                                <ng-template carouselSlide [id]="image.url+i"  [width]="130">
                                    <a
                                        (click)="owlCar.to(image.url); changeImage(image.url+i)"
                                        class="border-radius cursor-pointer"
                                    >
                                        <img [src]="image.url" [alt]="image.url" class="border-radius">
                                    </a>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-details-content">
                    <span class="stock d-inline-block position-relative">
                        <i class="material-symbols-outlined">
                            check
                        </i>
                        in stock
                    </span>
                    <h6 class="fw-medium">
                        Apple MacBook Pro 16.2" with Liquid Retina XDR Display, M2 Max Chip with 12-Core CPU
                    </h6>
                    <div class="ratings lh-1">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <span>
                            (76 reviews)
                        </span>
                    </div>
                    <div class="price d-flex align-items-center">
                        <span class="text-black fw-bold">
                            $3,499
                        </span>
                        <span>
                            $3,799
                        </span>
                    </div>
                    <div class="types">
                        <div class="style d-flex align-items-center">
                            <span>Style:</span>
                            <span class="fw-medium text-black">
                                {{typeText}}
                            </span>
                        </div>
                        <div class="buttons">
                            <button type="button" mat-button (click)="setTypeTextToFirst()" [class.active]="typeActiveButton === 'first'">
                                Apple M1 Max Chip
                            </button>
                            <button type="button" mat-button (click)="setTypeTextToSecond()" [class.active]="typeActiveButton === 'second'">
                                Apple M1 Pro Chip
                            </button>
                        </div>
                    </div>
                    <div class="capacity">
                        <div class="storage d-flex align-items-center">
                            <span>Capacity:</span>
                            <span class="fw-medium text-black">
                                {{capacityText}}
                            </span>
                        </div>
                        <div class="buttons">
                            <button type="button" mat-button (click)="setCapacityTextToFirst()" [class.active]="capacityActiveButton === 'first'">
                                512 GB
                            </button>
                            <button type="button" mat-button (click)="setCapacityTextToSecond()" [class.active]="capacityActiveButton === 'second'">
                                1 TB
                            </button>
                        </div>
                    </div>
                    <div class="colors">
                        <div class="color d-flex align-items-center">
                            <span>Color:</span>
                            <span class="fw-medium text-black">
                                {{colorText}}
                            </span>
                        </div>
                        <div class="buttons">
                            <button type="button" mat-button (click)="setColorTextToFirst()" [class.active]="colorActiveButton === 'first'"></button>
                            <button type="button" mat-button (click)="setColorTextToSecond()" [class.active]="colorActiveButton === 'second'"></button>
                        </div>
                    </div>
                    <div class="add-to-cart d-flex align-items-center">
                        <app-quantity-counter [initialValue]="1" />
                        <button type="button" mat-button>
                            <i class="ri-shopping-cart-line"></i>
                            Add To Cart
                        </button>
                    </div>
                    <button type="button" mat-button class="add-to-wishlist">
                        <i class="ri-heart-line"></i>
                        Add to wishlist
                    </button>
                    <div class="total-views">
                        <i class="material-symbols-outlined">
                            visibility
                        </i>
                        565 people are viewing the products
                    </div>
                    <ul class="features-list pl-0 pr-0 list-unstyled">
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                check
                            </i>
                            Free delivery today
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                check
                            </i>
                            100% money back Guarantee
                        </li>
                        <li class="position-relative">
                            <i class="material-symbols-outlined">
                                check
                            </i>
                            7 days product return policy
                        </li>
                    </ul>
                    <ul class="info mt-0 list-unstyled pl-0 pr-0">
                        <li>
                            SKU: <span class="fw-medium text-black">SMTGS6T45</span>
                        </li>
                        <li>
                            Category: <span class="fw-medium text-black">computer</span>
                        </li>
                        <li>
                            Tags: <span class="fw-medium text-black">laptop, macbook, PC</span>
                        </li>
                    </ul>
                    <div class="share-to-socials d-flex align-items-center">
                        <span class="title position-relative">
                            Share:
                        </span>
                        <a href="#" target="_blank" mat-button>
                            <i class="ri-facebook-fill"></i>
                        </a>
                        <a href="#" target="_blank" mat-button>
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                        <a href="#" target="_blank" mat-button>
                            <i class="ri-linkedin-fill"></i>
                        </a>
                        <a href="#" target="_blank" mat-button>
                            <i class="ri-whatsapp-line"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<!-- Description, Specifications, & Reviews -->
<mat-tab-group
    animationDuration="0ms"
    class="product-details-tabs"
    [class.component-dark-theme]="themeService.isDark()"
    [class.card-without-border-radius]="themeService.isCardWithoutBorderRadius()"
>
    <mat-tab label="Description">
        <mat-card class="product-description-card mb-25 border-bottom-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <p>
                    The Apple MacBook Pro 16.2 is a cutting-edge laptop designed to deliver exceptional performance and advanced features for professionals and creative enthusiasts. With its sleek aluminum body and precision engineering, this MacBook Pro represents the pinnacle of Apple's laptop technology.
                </p>
                <p>
                    Stay connected with a variety of ports, including Thunderbolt 3, USB-C, and audio jacks. These versatile ports support high-speed data transfer and external device connections. Enjoy a rich audio experience with high-fidelity speakers that deliver clear and immersive sound. Perfect for content creators and multimedia enthusiasts.
                </p>
                <p>
                    Equipped with the latest processors, ample RAM, and high-performance graphics, the MacBook Pro 16.2 ensures smooth multitasking, fast rendering, and efficient handling of resource-intensive tasks. Seamlessly integrate with the macOS ecosystem, benefiting from features like iCloud, Siri, and a vast selection of applications available on the App Store.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Specifications">
        <mat-card class="product-specifications-card mb-25 border-bottom-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <h6 class="fw-semibold">
                    General
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Brand:</span> Apple
                    </li>
                    <li>
                        <span class="text-black">Model:</span> MacBook Pro
                    </li>
                    <li>
                        <span class="text-black">Price:</span> $2499
                    </li>
                    <li>
                        <span class="text-black">Dimensions (mm):</span> 304.10 x 212.40 x 14.90
                    </li>
                    <li>
                        <span class="text-black">Weight (kg):</span> 1.37
                    </li>
                    <li>
                        <span class="text-black">Colors:</span> Space Grey
                    </li>
                    <li>
                        <span class="text-black">Operating system:</span> macOS
                    </li>
                    <li>
                        <span class="text-black">Battery Life (up to hours):</span> 10
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Display
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Size:</span> 13.30-inch
                    </li>
                    <li>
                        <span class="text-black">Resolution:</span> 2560x1600 pixels
                    </li>
                    <li>
                        <span class="text-black">Touch Screen:</span> No
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Processor
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Processor:</span> Intel Core i5 7th Gen
                    </li>
                    <li>
                        <span class="text-black">Base Clock Speed:</span> 2.3 GHz
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Memory
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">RAM:</span> 12GB
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Storage
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Hard disk:</span> No
                    </li>
                    <li>
                        <span class="text-black">SSD:</span> 512GB
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Connectivity
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Wi-Fi standards supported:</span> Apple
                    </li>
                    <li>
                        <span class="text-black">Bluetooth version:</span> 4.2
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Inputs
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Web Camera:</span> Yes
                    </li>
                    <li>
                        <span class="text-black">Pointer Device:</span> Touchpad
                    </li>
                    <li>
                        <span class="text-black">Touchpad:</span> Yes
                    </li>
                    <li>
                        <span class="text-black">Internal Mic:</span> Yes
                    </li>
                    <li>
                        <span class="text-black">Speakers:</span> Stereo Speakers
                    </li>
                    <li>
                        <span class="text-black">Finger Print Sensor:</span> Yes
                    </li>
                </ul>
                <h6 class="fw-semibold">
                    Ports and slots
                </h6>
                <ul class="pl-0 pr-0 mb-0 mt-0 list-unstyled">
                    <li>
                        <span class="text-black">Number of USB Ports:</span> 2
                    </li>
                    <li>
                        <span class="text-black">USB Ports:</span> 2 x USB 3.0
                    </li>
                    <li>
                        <span class="text-black">Price:</span> $2499
                    </li>
                    <li>
                        <span class="text-black">Mic In:</span> Yes
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Reviews">
        <mat-card
            class="product-overall-reviews-card mb-25 border-bottom-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-content>
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="rating-item d-flex align-items-center position-relative">
                            <div class="ratings d-flex align-items-center">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                            </div>
                            <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                            <span class="number d-block">
                                359
                            </span>
                        </div>
                        <div class="rating-item d-flex align-items-center position-relative">
                            <div class="ratings d-flex align-items-center">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                            <span class="number d-block">
                                208
                            </span>
                        </div>
                        <div class="rating-item d-flex align-items-center position-relative">
                            <div class="ratings d-flex align-items-center">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <mat-progress-bar mode="determinate" value="35"></mat-progress-bar>
                            <span class="number d-block">
                                124
                            </span>
                        </div>
                        <div class="rating-item d-flex align-items-center position-relative">
                            <div class="ratings d-flex align-items-center">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <mat-progress-bar mode="determinate" value="15"></mat-progress-bar>
                            <span class="number d-block">
                                89
                            </span>
                        </div>
                        <div class="rating-item d-flex align-items-center position-relative">
                            <div class="ratings d-flex align-items-center">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <mat-progress-bar mode="determinate" value="5"></mat-progress-bar>
                            <span class="number d-block">
                                4
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="overall-reviews text-center">
                            <h3 class="lh-1 fw-bold">
                                4.28
                            </h3>
                            <div class="all-ratings d-flex align-items-center justify-content-center">
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-fill"></i>
                                <i class="ri-star-line"></i>
                            </div>
                            <span class="d-block">
                                of 3250 Reviews
                            </span>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <app-pd-manage-reviews />
    </mat-tab>
</mat-tab-group>