<mat-card
    class="external-links-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                External Links
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="m-0 p-0 list-unstyled">
            <li class="d-flex align-items-center justify-content-between">
                <span class="title fw-medium text-primary d-block position-relative">
                    <img src="images/icons/google3.svg" alt="google">
                    Google Ad Analytics
                </span>
                <a href="#" target="_blank" mat-button>
                    <i class="material-symbols-outlined">
                        open_in_new
                    </i>
                </a>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <span class="title fw-medium text-primary d-block position-relative">
                    <img src="images/icons/instagram2.svg" alt="instagram">
                    Instagram Ads
                </span>
                <a href="#" target="_blank" mat-button>
                    <i class="material-symbols-outlined">
                        open_in_new
                    </i>
                </a>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <span class="title fw-medium text-primary d-block position-relative">
                    <img src="images/icons/facebook3.svg" alt="facebook">
                    Facebook Ads
                </span>
                <a href="#" target="_blank" mat-button>
                    <i class="material-symbols-outlined">
                        open_in_new
                    </i>
                </a>
            </li>
        </ul>
    </mat-card-content>
</mat-card>