<mat-card
    class="agent-avg-earnings-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0 fw-semibold">
                Agent Avg. Earnings
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu style-two p-0 d-inline-block border-radius-0">
                <i class="ri-more-2-fill"></i>
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('This Day')">
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('This Week')">
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('This Month')">
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('This Year')">
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="buttons-list d-flex align-items-center">
            <button mat-button (click)="onTimeframeChange('This Day')" [ngClass]="{'active': activeTimeframe === 'This Day'}">
                1d
            </button>
            <button mat-button (click)="onTimeframeChange('This Week')" [ngClass]="{'active': activeTimeframe === 'This Week'}">
                1w
            </button>
            <button mat-button (click)="onTimeframeChange('This Month')" [ngClass]="{'active': activeTimeframe === 'This Month'}">
                1m
            </button>
            <button mat-button (click)="onTimeframeChange('This Year')" [ngClass]="{'active': activeTimeframe === 'This Year'}">
                1y
            </button>
        </div>
        <div class="chart">
            <div id="agent_avg_earnings_chart"></div>
        </div>
        <div class="info d-flex align-items-center">
            <div class="item d-flex align-items-center">
                <div class="icon d-flex align-items-center justify-content-center">
                    <img src="images/icons/money.svg" alt="money">
                </div>
                <div>
                    <h5 class="fw-semibold lh-1">
                        $2,534
                    </h5>
                    <span class="d-block">
                        Last month earning
                    </span>
                </div>
            </div>
            <span class="trending d-block text-black fw-medium position-relative">
                <i class="material-symbols-outlined">
                    trending_up
                </i>
                +8.7%
            </span>
        </div>
    </mat-card-content>
</mat-card>