<mat-card class="top-refers-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0 fw-semibold">
                Top Refers
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <a routerLink="." mat-button class="view-all-btn p-0 d-inline-block">
                Browse All
                <i class="ri-arrow-right-s-line"></i>
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="p-0 m-0 list-unstyled">
            <li class="d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center">
                    <img src="images/icons/facebook3.svg" alt="facebook">
                    <div>
                        <span class="d-block fw-semibold text-black">
                            Facebook
                        </span>
                        <span class="d-block">
                            Community
                        </span>
                    </div>
                </div>
                <div class="percentage-progress d-flex align-items-center">
                    <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                    <span class="d-block percentage">
                        50%
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center">
                    <img src="images/icons/dribbble2.svg" alt="dribbble">
                    <div>
                        <span class="d-block fw-semibold text-black">
                            Dribbble
                        </span>
                        <span class="d-block">
                            Community
                        </span>
                    </div>
                </div>
                <div class="percentage-progress d-flex align-items-center">
                    <mat-progress-bar class="secondary-progressbar" mode="determinate" value="75"></mat-progress-bar>
                    <span class="d-block percentage">
                        75%
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center">
                    <img src="images/icons/instagram2.svg" alt="instagram">
                    <div>
                        <span class="d-block fw-semibold text-black">
                            Instagram
                        </span>
                        <span class="d-block">
                            Reels
                        </span>
                    </div>
                </div>
                <div class="percentage-progress d-flex align-items-center">
                    <mat-progress-bar class="orange-progressbar" mode="determinate" value="30"></mat-progress-bar>
                    <span class="d-block percentage">
                        30%
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center">
                    <img src="images/icons/behance.svg" alt="behance">
                    <div>
                        <span class="d-block fw-semibold text-black">
                            Behance
                        </span>
                        <span class="d-block">
                            Community
                        </span>
                    </div>
                </div>
                <div class="percentage-progress d-flex align-items-center">
                    <mat-progress-bar class="purple-progressbar" mode="determinate" value="80"></mat-progress-bar>
                    <span class="d-block percentage">
                        80%
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center justify-content-between">
                <div class="title d-flex align-items-center">
                    <img src="images/icons/google3.svg" alt="google">
                    <div>
                        <span class="d-block fw-semibold text-black">
                            Google
                        </span>
                        <span class="d-block">
                            SEO & PPC
                        </span>
                    </div>
                </div>
                <div class="percentage-progress d-flex align-items-center">
                    <mat-progress-bar class="success-progressbar" mode="determinate" value="20"></mat-progress-bar>
                    <span class="d-block percentage">
                        20%
                    </span>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>