<mat-card
    class="total-orders-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="title">
            <span class="d-block">
                Total Orders
            </span>
            <h5 class="mb-0">
                $72,458
            </h5>
        </div>
        <div class="chart">
            <div id="widgets_total_orders_chart"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="info-badge d-inline-block">
                +25%
            </span>
            <span class="days d-block">
                Last 90 days
            </span>
        </div>
    </mat-card-content>
</mat-card>