.advanced-form {
    form {
        .form-group {
            .error {
                font-size: 13px;
                margin-top: 7px;
            }
        }
        .btn {
            &.mat-mdc-button {
                width: 100%;
                height: auto;
                display: block;
                min-width: auto;
                margin-top: 25px;
                padding: 12px 25px;
                border-radius: 7px;
                color: var(--whiteColor);
                background-color: var(--primaryColor);
                font: {
                    size: 16px;
                    weight: 500;
                };
                &[disabled] {
                    background-color: #eff3f9;
                }
            }
        }
        .signin-with-socials {
            margin-top: 25px;

            .or {
                span {
                    background-color: var(--whiteColor);
                    padding: {
                        left: 25px;
                        right: 25px;
                    };
                }
                &::before {
                    left: 0;
                    right: 0;
                    top: 50%;
                    height: 1px;
                    content: '';
                    z-index: -1;
                    margin-top: 2px;
                    position: absolute;
                    transform: translateY(-50%);
                    background: var(--borderColor);
                }
            }
            .socials {
                margin-top: 15px;

                .mat-mdc-button {
                    padding: 0;
                    width: 30px;
                    height: 30px;
                    min-width: auto;
                    border-radius: 50%;
                    display: inline-block;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    margin: {
                        left: 5px;
                        right: 5px;
                    };
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    &.facebook {
                        background-color: #3a559f;
                    }
                    &.twitter {
                        background-color: rgba(15, 20, 25, 1);
                    }
                    &.google {
                        background-color: #e02f2f;
                    }
                    &.linkedin {
                        background-color: #007ab9;
                    }
                }
            }
        }
    }
    &.component-dark-theme {
        form {
            .btn {
                &.mat-mdc-button {
                    &[disabled] {
                        opacity: .2;
                        background-color: var(--blackColor);
                    }
                }
            }
            .signin-with-socials {
                .or {
                    span {
                        background-color: #0C1427;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .advanced-form {
        form {
            .mat-mdc-checkbox {
                .mdc-checkbox {
                    padding: 0;
                    margin: 0;

                    .mdc-checkbox__native-control {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .mdc-checkbox__background {
                        top: 0;
                        left: 0;
                    }
                    .mat-mdc-checkbox-touch-target {
                        width: 100%;
                        height: 100%;
                    }
                }
                .mdc-label {
                    color: var(--bodyColor);
                    margin-left: 8px;
                }
            }
        }
        &.component-rtl-enabled {
            form {
                .mat-mdc-checkbox {
                    .mdc-label {
                        margin: {
                            left: 0;
                            right: 8px;
                        };
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .advanced-form {
        form {
            .btn {
                &.mat-mdc-button {
                    padding: 12px 25px;
                    margin-top: 17px;
                    font-size: 13px;
                }
            }
            .signin-with-socials {
                margin-top: 17px;
    
                .or {
                    span {
                        padding: {
                            left: 15px;
                            right: 15px;
                        };
                    }
                }
                .socials {
                    margin-top: 13px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .advanced-form {
        form {
            .btn {
                &.mat-mdc-button {
                    margin-top: 20px;
                }
            }
            .signin-with-socials {
                margin-top: 20px;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .advanced-form {
        form {
            .btn {
                &.mat-mdc-button {
                    font-size: 14px;
                    padding: 12px 25px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .advanced-form {
        form {
            .btn {
                &.mat-mdc-button {
                    font-size: 15px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}