.agents-performance-overview-card {
    .mat-mdc-card-content {
        .top-agent {
            margin: {
                top: 12px;
                bottom: 18px;
            };
            .caller-info {
                gap: 12px;

                img {
                    width: 40px;
                    border-radius: 4px;
                }
                div {
                    span {
                        &:nth-child(1) {
                            margin-bottom: 2px;
                        }
                    }
                    .dot {
                        transform: translateY(-50%);
                        border-radius: 50%;
                        position: absolute;
                        left: -15px;
                        height: 8px;
                        width: 8px;
                        top: 50%;
                    }
                }
            }
            .progressbar {
                margin-top: 6px;
                --mdc-linear-progress-active-indicator-height: 5px;
                --mdc-linear-progress-track-height: 5px;
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .top-agent {
                .caller-info {
                    div {
                        .dot {
                            left: auto;
                            right: -15px;
                        }
                    }
                }
            }
        }
    }
}
::ng-deep {
    .agents-performance-overview-card {
        .mat-mdc-card-content {
            .table-style-four {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    padding: 8px 8px 18px;
                                }
                                &:last-child {
                                    .mat-mdc-cell {
                                        padding-bottom: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .agents-performance-overview-card {
        .mat-mdc-card-content {
            .top-agent {
                margin-bottom: 15px;
                
                .caller-info {
                    margin-bottom: 10px;
                }
                .progressbar {
                    --mdc-linear-progress-active-indicator-height: 4px;
                    --mdc-linear-progress-track-height: 4px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}