<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Toolbar
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Toolbar
        </li>
    </ol>
</div>

<!-- Basic Toolbar -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Basic Toolbar
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar>
            <button mat-icon-button aria-label="Example icon-button with menu icon">
                <i class="material-symbols-outlined">
                    menu
                </i>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
                <i class="material-symbols-outlined">
                    favorite
                </i>
            </button>
            <button mat-icon-button aria-label="Example icon-button with share icon">
                <i class="material-symbols-outlined">
                    share
                </i>
            </button>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

<!-- Multi-row Toolbar -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Multi-row Toolbar
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <span>Custom Toolbar</span>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span>Second Line</span>
                <span class="example-spacer"></span>
                <i class="material-symbols-outlined" aria-hidden="false" aria-label="Example user verified icon">
                    verified_user
                </i>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span>Third Line</span>
                <span class="example-spacer"></span>
                <i class="material-symbols-outlined mr-15" aria-hidden="false" aria-label="Example heart icon">
                    favorite
                </i>
                <i class="material-symbols-outlined" aria-hidden="false" aria-label="Example delete icon">
                    delete
                </i>
            </mat-toolbar-row>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

<!-- Toolbar Overview -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Toolbar Overview
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar>
            <button mat-icon-button aria-label="Example icon-button with menu icon">
                <i class="material-symbols-outlined">
                    menu
                </i>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
                <i class="material-symbols-outlined">
                    favorite
                </i>
            </button>
            <button mat-icon-button aria-label="Example icon-button with share icon">
                <i class="material-symbols-outlined">
                    share
                </i>
            </button>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

<!-- Toolbar with Just Text -->
<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Toolbar with Just Text
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-toolbar>
            <span>My Application</span>
        </mat-toolbar>
    </mat-card-content>
</mat-card>