<div
    class="forgot-password-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form ml-auto mr-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/forgot-password.jpg" alt="forgot-password-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <div class="logo">
                        <img src="images/logo-big.svg" alt="logo">
                        <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                    </div>
                    <div class="title">
                        <h1 class="fw-semibold">
                            Forgot your password?
                        </h1>
                        <p class="fw-medium">
                            Enter the email address you used when you joined and we’ll send you instructions to reset your password.
                        </p>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Email Address
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    example&#64;trezo.com
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <button type="button" mat-button>
                            <i class="material-symbols-outlined">
                                autorenew
                            </i>
                            Send
                        </button>
                        <p class="info">
                            Back to <a routerLink="/authentication" class="fw-semibold text-primary">Sign In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>