::ng-deep {
    .email-read-card {
        .mat-mdc-card-header {
            padding-bottom: 20px;
            border-bottom: 1px solid var(--borderColor);

            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    h5 {
                        font-size: 16px;
                    }
                }
            }
        }
        .mat-mdc-card-content {
            .info {
                margin-bottom: 25px;

                .user {
                    .img {
                        margin-right: 12px;
                        
                        img {
                            width: 45px;
                            margin-bottom: -3px;
                        }
                    }
                    .title {
                        span {
                            &:not(:first-child) {
                                margin-top: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .mat-mdc-button {
                    top: 1px;
                    padding: 0;
                    height: auto;
                    min-width: auto;
                    margin-right: 10px;
                    position: relative;
                    display: inline-block;
                    color: var(--bodyColor);

                    .mdc-button__label {
                        i {
                            font-size: 20px;
                        }
                    }
                }
            }
            .content {
                padding-left: 57px;

                .title {
                    margin-bottom: 26px;
                }
                .sub-title {
                    margin-bottom: 26px;
                }
                p {
                    margin-bottom: 21px;
                    line-height: 1.6;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .regards {
                    margin-top: 51px;

                    span {
                        margin-bottom: 5px;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .btn-box {
                border-top: 1px solid var(--borderColor);
                margin-top: 26px;
                padding: {
                    top: 26px;
                    left: 57px;
                };
                .mat-mdc-button {
                    height: auto;
                    min-width: auto;
                    padding: 9px 25px;
                    border-radius: 7px;
                    margin-right: 16px;
                    color: var(--primaryColor);
                    background-color: transparent;
                    border: 1px solid var(--primaryColor);
                    font: {
                        size: 16px;
                        weight: 600;
                    };
                    &.mat-primary {
                        color: var(--whiteColor);
                        border-color: var(--primaryColor);
                        background-color: var(--primaryColor);
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .info {
                    .user {
                        .img {
                            margin: {
                                right: 0;
                                left: 12px;
                            };
                        }
                    }
                    .mat-mdc-button {
                        margin: {
                            right: 0;
                            left: 10px;
                        };
                    }
                }
                .content {
                    padding: {
                        left: 0;
                        right: 57px;
                    };
                }
                .btn-box {
                    padding: {
                        right: 57px;
                        left: 0;
                    };
                    .mat-mdc-button {
                        margin: {
                            right: 0;
                            left: 16px;
                        };
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .email-read-card {
            .mat-mdc-card-header {
                padding-bottom: 15px;
    
                .mat-mdc-card-header-text {
                    .mat-mdc-card-title {
                        h5 {
                            font-size: 15px;
                        }
                    }
                }
            }
            .mat-mdc-card-content {
                .info {
                    margin-bottom: 15px;
    
                    .user {
                        margin-bottom: 15px;
                    }
                    .mat-mdc-button {
                        margin-right: 8px;

                        .mdc-button__label {
                            i {
                                font-size: 18px;
                            }
                        }
                    }
                }
                .content {
                    padding-left: 0;
    
                    .title {
                        margin-bottom: 15px;
                    }
                    .sub-title {
                        margin-bottom: 15px;
                    }
                    p {
                        margin-bottom: 15px;
                    }
                    .regards {
                        margin-top: 15px;
                    }
                }
                .btn-box {
                    margin-top: 20px;
                    padding: {
                        top: 20px;
                        left: 0;
                    };
                    .mat-mdc-button {
                        margin-right: 15px;
                        font-size: 13px;
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .info {
                        .mat-mdc-button {
                            margin: {
                                right: 0;
                                left: 8px;
                            };
                        }
                    }
                    .content {
                        padding-right: 0;
                    }
                    .btn-box {
                        padding: {
                            right: 0;
                        };
                        .mat-mdc-button {
                            margin: {
                                left: 15px;
                                right: 0;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .email-read-card {
            .mat-mdc-card-header {
                padding-bottom: 18px;
            }
            .mat-mdc-card-content {
                .btn-box {
                    .mat-mdc-button {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .email-read-card {
            .mat-mdc-card-content {
                .btn-box {
                    .mat-mdc-button {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}