<!-- Welcome -->
<app-welcome />

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Total Employees -->
    <app-total-employees />

    <!-- Resigned Employees -->
    <app-resigned-employees />

    <!-- New Employees -->
    <app-new-employees />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Employee Attendance Trends -->
        <app-employee-attendance-trends />

    </div>
    <div class="lg:col-span-1">

        <!-- Employee Work Format -->
        <app-employee-work-format />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Employee Salary -->
        <app-employee-salary />

    </div>
    <div class="lg:col-span-2">

        <!-- Employee Leave Request -->
        <app-employee-leave-request />

    </div>
</div>

<!-- Employee List -->
<app-employee-list />