<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] !pb-0 rounded-md">
    <div class="trezo-card-content">

        <!-- Stats -->
        <app-stats />

        <div class="lg:grid lg:grid-cols-3 gap-[25px]">
            <div class="lg:col-span-2">

                <!-- Recent Earnings -->
                <app-recent-earnings />

            </div>
            <div class="lg:col-span-1">

                <!-- Sales by Locations -->
                <app-sales-by-locations />

            </div>
        </div>
    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-1">

        <!-- Transaction History -->
        <app-transaction-history />

    </div>
    <div class="lg:col-span-2">

        <!-- Recent Orders -->
        <app-recent-orders />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Real-Time Sales -->
        <app-real-time-sales />

    </div>
    <div>

        <!-- Sales Overview -->
        <app-sales-overview />

    </div>
    <div>

        <!-- Gross Earnings -->
        <app-gross-earnings />

    </div>
</div>