.customer-satisfaction-card {
    .mat-mdc-card-header {
        margin-bottom: 20px;
    }
    .mat-mdc-card-content {
        position: relative;
        max-width: 315px;
        margin: {
            left: auto;
            right: auto;
        };
        .chart {
            left: -80px;
            position: relative;
            margin: {
                top: -5px;
                bottom: -10px;
            };
            .text {
                top: 50%;
                left: 50%;
                position: absolute;
                transform: translateY(-50%) translateX(-50%);

                h6 {
                    font-size: 20px;
                    margin-top: 5px;
                }
            }
        }
        .image {
            right: 0;
            top: 50%;
            max-width: 120px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
}
::ng-deep {
    .customer-satisfaction-card {
        &.component-dark-theme {
            .apexcharts-canvas {
                .apexcharts-pie-area {
                    stroke: var(--primaryColor);
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .customer-satisfaction-card {
        .mat-mdc-card-header {
            margin-bottom: 17px;
        }
        .mat-mdc-card-content {
            max-width: 100%;
            
            .chart {
                left: 0;
                
                .text {
                    h6 {
                        font-size: 18px;
                    }
                }
            }
            .image {
                top: 0;
                margin-top: 17px;
                position: relative;
                transform: translateY(0);
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .customer-satisfaction-card {
        .mat-mdc-card-header {
            margin-bottom: 20px;
        }
        .mat-mdc-card-content {
            max-width: 315px;
            
            .chart {
                left: -80px;
            }
            .image {
                top: 50%;
                margin-top: 0;
                position: absolute;
                transform: translateY(-50%);
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .customer-satisfaction-card {
        .mat-mdc-card-content {
            .chart {
                .text {
                    h6 {
                        font-size: 19px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}