.example-list {
    width: 1000px;
    display: flex;
    max-width: 100%;
    min-height: 60px;
    overflow: hidden;
    border-radius: 4px;
    flex-direction: row;
    border: solid 1px var(--borderColor);
}
.example-box {
    cursor: move;
    flex-grow: 1;
    display: flex;
    flex-basis: 0;
    padding: 12px 20px;
    flex-direction: row;
    align-items: center;
    background: var(--whiteColor);
    justify-content: space-between;
    border-right: solid 1px var(--borderColor);
}
.cdk-drag-preview {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
    border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}