<div class="xl:grid xl:grid-cols-3 gap-[25px]">
    <div class="xl:col-span-2">

        <!-- Analytics Overview -->
        <app-analytics-overview />

        <!-- Stats -->
        <app-stats />

    </div>
    <div class="xl:col-span-1">

        <!-- Realtime Active User -->
        <app-realtime-active-users />
        
    </div>
</div>
<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-3">

        <!-- Browser Used By Users -->
        <app-browser-used-by-users />
        
    </div>
    <div class="lg:col-span-2">

        <!-- Device Sessions -->
        <app-device-sessions />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Clicks -->
        <app-clicks />

    </div>
    <div>

        <!-- Impressions -->
        <app-impressions />
        
    </div>
    <div>

        <!-- Sessions -->
        <app-sessions />
        
    </div>
</div>
<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Sessions by Channel -->
        <app-sessions-by-channel />

    </div>
    <div class="lg:col-span-3">

        <!-- Clicks/Impressions by Keywords -->
        <app-clicks-by-keywords />
        
    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Top Browsing Pages Today -->
        <app-top-browsing-pages />

    </div>
    <div class="lg:col-span-1">

        <!-- Users by Country -->
        <app-users-by-country />

    </div>
</div>