<div class="grid grid-cols-1 lg:grid-cols-4 gap-[25px] mb-[25px]">
    <div class="lg:col-span-3">

        <!-- Today’s Payment -->
        <app-todays-payment />

    </div>
    <div class="lg:col-span-1">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-1 gap-[25px]">

            <!-- Total Users -->
            <app-total-users />

            <!-- Revenue -->
            <app-revenue />

            <!-- Conversion -->
            <app-conversion />

        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Top Refers -->
        <app-top-refers />

    </div>
    <div class="lg:col-span-2">

        <!-- Active Users -->
        <app-active-users />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-4 gap-[25px] mb-[25px]">
    <div class="lg:col-span-3">

        <!-- Latest Transactions -->
        <app-latest-transactions />

    </div>
    <div class="lg:col-span-1">

        <!-- Upgrade Plans -->
        <app-upgrade-plans />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Users -->
        <app-users />

    </div>
    <div class="lg:col-span-2">

        <!-- Product Trade Conditions -->
        <app-product-trade-conditions />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Gross Revenue -->
        <app-gross-revenue />
        
    </div>
    <div class="lg:col-span-1">

        <!-- Sales By Country -->
        <app-sales-by-country />

    </div>
</div>