.properties-for-rent-card {
    border: 1px solid var(--borderColor);
    
    .mat-mdc-card-content {
        .info-badge {
            font-size: 12px;
            color: #1E8308;
            padding: 2px 8px;
            border-radius: 100px;
            border: 1px solid #82FC5A;
            background-color: #D8FFC8;
            
            &.down {
                border-color: #FFCEA9;
                color: var(--dangerColor);
                background-color: #FFE1DD;
            }
        }
        .text-xs {
            font-size: 12px;
        }
        .sub-title {
            margin-top: 75px;   
        }
        h3 {
            font-size: 20px;
            margin-top: 8px;
        }
        .chart {
            right: -70px;
            bottom: -9px;
            position: absolute;
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .chart {
                right: auto;
                left: -70px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}