<div
    class="sign-in-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form ml-auto mr-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/sign-in.jpg" alt="sign-in-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <div class="logo">
                        <img src="images/logo-big.svg" alt="logo">
                        <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                    </div>
                    <div class="title">
                        <h1 class="fw-semibold">
                            Welcome back to Trezo!
                        </h1>
                        <p class="fw-medium">
                            Sign In with social account or enter your details
                        </p>
                    </div>
                    <div class="with-socials d-flex align-items-center justify-content-between">
                        <div>
                            <button type="button" mat-button>
                                <img src="images/icons/google.svg" alt="google">
                            </button>
                        </div>
                        <div>
                            <button type="button" mat-button>
                                <img src="images/icons/facebook2.svg" alt="facebook">
                            </button>
                        </div>
                        <div>
                            <button type="button" mat-button>
                                <img src="images/icons/apple.svg" alt="apple">
                            </button>
                        </div>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Email Address
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    example&#64;trezo.com
                                </mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Password
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Type password
                                </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </span>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="forgot-password">
                            <a routerLink="/authentication/forgot-password" class="text-primary fw-semibold">
                                Forgot Password?
                            </a>
                        </div>
                        <button type="button" mat-button>
                            <i class="material-symbols-outlined">
                                login
                            </i>
                            Sign In
                        </button>
                        <p class="info">
                            Don’t have an account. <a routerLink="/authentication/sign-up" class="fw-semibold text-primary">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>