.pricingStyle2Card {
  padding: 35px;
  margin-bottom: 25px;
}
.pricingStyle2Card .cardContent {
  position: relative;
}
.pricingStyle2Card .cardContent .title span {
  display: inline-block;
  color: #8695aa;
  border-radius: 7px;
  padding: 8.5px 17.3px;
  border: 1px solid var(--borderColor);
}
.pricingStyle2Card .cardContent .price {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: -1px;
  margin-top: 17px;
  margin-bottom: 17px;
  line-height: 1;
}
.pricingStyle2Card .cardContent .price span {
  font-size: 16px;
  letter-spacing: normal;
  font-weight: normal;
}
.pricingStyle2Card .cardContent .featuresList {
  margin-top: 28px;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.pricingStyle2Card .cardContent .featuresList li {
  position: relative;
  padding-left: 39px;
  margin-bottom: 16px;
}
.pricingStyle2Card .cardContent .featuresList li i {
  left: 0;
  top: 50%;
  position: absolute;
  color: var(--successColor);
  transform: translateY(-50%);
}
.pricingStyle2Card .cardContent .featuresList li:last-child {
  margin-bottom: 0;
}
.pricingStyle2Card .cardContent .popular {
  top: -9px;
  right: -17px;
  position: absolute;
}

/* RTL Style */
[dir="rtl"] .pricingStyle2Card .cardContent .featuresList li {
  padding-left: 0;
  padding-right: 39px;
}
[dir="rtl"] .pricingStyle2Card .cardContent .featuresList li i {
  left: auto;
  right: 0;
}
[dir="rtl"] .pricingStyle2Card .cardContent .popular {
  right: auto;
  left: -17px;
}


/* Max width 767px */
@media only screen and (max-width: 767px) {
  .pricingStyle2Card {
    padding-left: 17px;
    padding-right: 17px;
  }
  .pricingStyle2Card .cardContent {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .pricingStyle2Card .cardContent .title span {
    padding: 6px 15px;
  }
  .pricingStyle2Card .cardContent .price {
    font-size: 26px;
    letter-spacing: -0.5px;
    margin-top: 15px;
    margin-bottom: 13px;
  }
  .pricingStyle2Card .cardContent .price span {
    font-size: 13px;
  }
  .pricingStyle2Card .cardContent .featuresList {
    margin-top: 20px;
  }
  .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 27px;
    margin-bottom: 15px;
  }
  .pricingStyle2Card .cardContent .featuresList li i {
    font-size: 20px;
  }
  .pricingStyle2Card .cardContent .popular {
    top: -5px;
    right: -5px;
    width: 55px;
  }

  /* RTL Style */
  [dir="rtl"] .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 0;
    padding-right: 27px;
  }
  [dir="rtl"] .pricingStyle2Card .cardContent .popular {
    left: -5px;
    right: auto;
  }

}
/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .pricingStyle2Card {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .pricingStyle2Card {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pricingStyle2Card .cardContent .price {
    font-size: 30px;
    letter-spacing: -0.5px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pricingStyle2Card .cardContent .price span {
    font-size: 14px;
  }
  .pricingStyle2Card .cardContent .featuresList {
    margin-top: 25px;
  }
  .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 35px;
    margin-bottom: 17px;
  }

  /* RTL Style */
  [dir="rtl"] .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 0;
    padding-right: 35px;
  }

}
/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .pricingStyle2Card {
    padding-left: 30px;
    padding-right: 30px;
  }
  .pricingStyle2Card .cardContent .price {
    margin-bottom: 15px;
  }
  .pricingStyle2Card .cardContent .price span {
    font-size: 15px;
  }
  .pricingStyle2Card .cardContent .featuresList {
    margin-top: 25px;
  }
  .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 35px;
    margin-bottom: 18px;
  }
  .pricingStyle2Card .cardContent .popular {
    top: -8px;
    width: 55px;
    right: -15px;
  }

  /* RTL Style */
  [dir="rtl"] .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 0;
    padding-right: 35px;
  }
  [dir="rtl"] .pricingStyle2Card .cardContent .popular {
    left: -15px;
    right: auto;
  }

}
/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .pricingStyle2Card .cardContent .price {
    margin-bottom: 15px;
  }
  .pricingStyle2Card .cardContent .featuresList {
    margin-top: 25px;
  }
  .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 35px;
    margin-bottom: 18px;
  }
  .pricingStyle2Card .cardContent .popular {
    top: -8px;
    width: 55px;
    right: -15px;
  }

  /* RTL Style */
  [dir="rtl"] .pricingStyle2Card .cardContent .featuresList li {
    padding-left: 0;
    padding-right: 35px;
  }
  [dir="rtl"] .pricingStyle2Card .cardContent .popular {
    left: -15px;
    right: auto;
  }
}
/* Min width 1600px */
