<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <span class="block">
                Average Delivery Time
            </span>
        </div>
        <div class="trezo-card-subtitle">
            <span class="block">
                Per Week
            </span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="-mt-[28px] -mb-[22px]">
            <div id="average_delivery_time_chart"></div>
        </div>
    </div>
</div>