.mat-mdc-checkbox {
    top: -2px;
}
.mat-mdc-header-cell {
    padding: {
        top: 13px !important;
        bottom: 13px !important;
    };
}
.mat-mdc-cell {
    padding: {
        top: 17.8px !important;
        bottom: 17.8px !important;
    };
}