<mat-card class="total-income-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="info d-flex justify-content-between">
            <div>
                <span class="d-block">
                    Total Income
                </span>
                <h3 class="mb-0">
                    $531,200
                </h3>
            </div>
            <div class="icon text-success rounded-circle d-flex align-items-center justify-content-center">
                <i class="material-symbols-outlined">
                    attach_money
                </i>
            </div>
        </div>
        <div class="gap-10 d-flex align-items-center">
            <span class="info-badge d-inline-block">
                +35.5%
            </span>
            <span class="d-block text-xs">
                Last 30 days
            </span>
        </div>
    </mat-card-content>
</mat-card>