<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] flex items-center justify-between">
        <div class="trezo-card-title flex items-center gap-[10px]">
            <h5 class="mb-0">
                Instagram Campaigns
            </h5>
            <span class="px-[8px] py-[3px] inline-block bg-orange-100 dark:bg-[#15203c] text-orange-600 rounded-sm font-medium text-xs">
                Live Now
            </span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="flex items-center gap-[25px]">
            <div>
                <div class="flex items-center gap-[5px] mb-[5px]">
                    <span class="block w-[10px] h-[10px] rounded-full bg-purple-500"></span>
                    <span class="block text-sm">
                        Campaign Budget
                    </span>
                </div>
                <h3 class="mb-0 leading-none text-[20px]">
                    $3200
                </h3>
            </div>
            <div>
                <div class="flex items-center gap-[5px] mb-[5px]">
                    <span class="block w-[10px] h-[10px] rounded-full bg-orange-400"></span>
                    <span class="block text-sm">
                        Followers Goal
                    </span>
                </div>
                <h3 class="mb-0 leading-none text-[20px]">
                    140,000
                </h3>
            </div>
        </div>
        <div class="h-[76px] relative">
            <div class="absolute left-0 right-0 -bottom-[55px] -ml-[33px] md:-ml-[37px] -mr-[30px] md:-mr-[35px]">
                <div id="instagram_campaigns_chart"></div>
            </div>
        </div>
    </div>
</div>