<mat-card class="schedule-appointment-card mb-25 border-radius d-block bg-purple border-0 shadow-none">
    <mat-card-content>
        <h3 class="fw-semibold text-white">
            Schedule Appointment
        </h3>
        <p class="text-white ml-auto mr-auto">
            Quickly schedule an appointment for a patient with any available doctor.
        </p>
        <img src="images/doctor.png" class="d-block ml-auto mr-auto" alt="doctor-image">
        <a routerLink="." mat-button>
            Book Appointment
        </a>
    </mat-card-content>
</mat-card>