::ng-deep {
    .sidebar-area {
        overflow: hidden;
        position: fixed;
        height: 100vh;
        width: 260px;
        z-index: 6;
        left: 0;
        top: 0;
        
        .logo {
            border-bottom: 1px solid var(--borderColor);
            padding: 24px 25px 20px;
            position: absolute;
            z-index: 2;
            right: 0;
            left: 0;
            top: 0;
            
            a {
                transition: unset;
                
                img {
                    left: 0;
                }
                span {
                    margin-left: 8px;
                    font-size: 24px;
                    top: 1px;
                }
            }
        }
        .burger-menu {
            top: 23px;
            z-index: 3;
            opacity: 0;
            right: 25px;
            cursor: pointer;
            position: absolute;
            visibility: hidden;
    
            span {
                height: 1px;
                width: 25px;
                margin: 6px 0;
            }
            &.active {
                opacity: 1;
                visibility: visible;
                
                span {
                    &.top-bar {
                        transform: rotate(45deg);
                        transform-origin: 10% 10%;
                    }
                    &.middle-bar {
                        opacity: 0;
                    }
                    &.bottom-bar {
                        transform: rotate(-45deg);
                        transform-origin: 10% 90%;
                        margin-top: 5px;
                    }
                }
            }
        }
        .ng-scrollbar {
            height: 100vh;

            .ng-scroll-content {
                padding-right: 0 !important;
            }
            scrollbar-x {
                display: none !important;
            }
        }
        .sidebar-inner {
            padding: {
                top: 90px;
                left: 25px;
                right: 25px;
                bottom: 20px;
            };
            .sidebar-menu {
                .sub-title {
                    font-size: 12px;
                    color: #8695AA;
                    position: relative;
                    margin-bottom: 10px;

                    &:not(:first-child) {
                        margin-top: 23px;
                    }
                }
                .mat-accordion {
                    .mat-expansion-panel {
                        border-radius: 0;
                        box-sizing: unset;
                        color: var(--blackColor);
                        background-color: transparent;
                        margin: {
                            top: 0;
                            bottom: 5px;
                        };
                        .mat-expansion-panel-header {
                            transition: var(--transition);
                            background-color: transparent;
                            color: var(--blackColor);
                            border-radius: 7px;
                            position: relative;
                            display: block;
                            height: auto;
                            font: {
                                size: var(--fontSize);
                                weight: 500;
                            };
                            padding: {
                                bottom: 9px;
                                right: 30px;
                                left: 14px;
                                top: 9px;
                            };
                            i {
                                transition: var(--transition);
                                color: var(--bodyColor);
                                margin-right: 7px;
                                font-size: 22px;
                                line-height: 1;
                            }
                            .title {
                                line-height: 1;
                            }
                            .mat-content {
                                display: block;
            
                                .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                    display: flex;
                                    margin-right: 0;
                                    white-space: nowrap;
                                    align-items: center;
                                    color: var(--blackColor);
                                    transition: var(--transition);
                                }
                            }
                            &.mat-expanded {
                                color: var(--blackColor);
                                background-color: #F6F7F9;

                                i {
                                    color: var(--blackColor);
                                }
                                .mat-content {
                                    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                        color: var(--blackColor);
                                    }
                                }
                                .mat-expansion-indicator {
                                    &::before {
                                        content: "\ea4e";
                                    }
                                }
                            }
                            .mat-expansion-indicator {
                                transform: translateY(-50%) !important;
                                position: absolute;
                                right: 8px;
                                top: 50%;
            
                                svg {
                                    display: none;
                                }
                                &::before {
                                    content: "\ea6e";
                                    position: relative;
                                    display: inline-block;
                                    color: var(--bodyColor);
                                    transition: var(--transition);
                                    font: {
                                        size: 19px;
                                        family: remixicon;
                                    };
                                }
                            }
                            .trezo-badge {
                                padding: 0;
                                width: 20px;
                                height: 20px;
                                font-size: 11px;
                                line-height: 20px;
                                color: var(--orangeColor);
                                background-color: #FFF5ED;
                                margin: {
                                    left: auto;
                                    right: 4px;
                                };
                                &.style-two {
                                    color: #00b69b;
                                    background: rgba(0, 182, 155, 0.07);
                                }
                                &.style-three {
                                    color: #ee368c;
                                    background: rgba(238, 54, 140, 0.1);
                                }
                            }
                            &:hover {
                                color: var(--blackColor);
                                background-color: #F6F7F9;

                                i {
                                    color: var(--blackColor);
                                }
                                .mat-content {
                                    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                        color: var(--blackColor);
                                    }
                                }
                                .mat-expansion-indicator {
                                    &::before {
                                        color: var(--blackColor);
                                    }
                                }
                            }
                        }
                        &:not([class*=mat-elevation-z]) {
                            box-shadow: unset;
                        }
                        &:first-of-type {
                            border-radius: 0;
                        }
                        .mat-expansion-panel-content {
                            display: block;
                        }
                        .mat-expansion-panel-body {
                            padding: 4px 0 0;
            
                            .mat-expansion-panel {
                                margin-bottom: 0;
                            }
                            .mat-expansion-panel-header {
                                border-radius: 7px;
                                white-space: nowrap;
                                color: var(--bodyColor);
                                font: {
                                    size: var(--fontSize);
                                    weight: 500;
                                };
                                padding: {
                                    bottom: 8px;
                                    right: 10px;
                                    left: 38px;
                                    top: 8px;
                                };
                                &::after {
                                    top: 50%;
                                    left: 18px;
                                    width: 10px;
                                    content: '';
                                    height: 10px;
                                    transition: .3s;
                                    border-radius: 50%;
                                    position: absolute;
                                    transform: translateY(-50%);
                                    border: 1px solid var(--bodyColor);
                                }
                                .mat-content {
                                    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                        color: var(--bodyColor) !important;
                                        transition: var(--transition);
                                    }
                                }
                                .mat-expansion-indicator {
                                    right: 10px;

                                    &::before {
                                        color: var(--blackColor) !important;
                                    }
                                }
                                &.mat-expanded {
                                    background-color: #e7effd !important;
                                    color: var(--primaryColor);
            
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--primaryColor) !important;
                                        }
                                    }
                                    &::after {
                                        border-color: var(--primaryColor);
                                    }
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--primaryColor) !important;
                                        }
                                    }
                                }
                                &:hover {
                                    background-color: #e7effd !important;
                                    color: var(--primaryColor);
            
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--primaryColor) !important;
                                        }
                                    }
                                    &::after {
                                        border-color: var(--primaryColor);
                                    }
                                }
                            }
                            .mat-expansion-panel-body {
                                padding: {
                                    top: 6px;
                                    left: 20px;
                                };
                            }
                            .sidebar-sub-menu {
                                padding-left: 0;
                                list-style-type: none;
                                margin: {
                                    top: 0;
                                    bottom: 0;
                                };
                                .sidemenu-item {
                                    margin-bottom: 4px;
                                    white-space: nowrap;

                                    .sidemenu-link {
                                        display: block;
                                        position: relative;
                                        border-radius: 7px;
                                        color: var(--bodyColor);
                                        transition: var(--transition);
                                        font: {
                                            size: var(--fontSize);
                                            weight: 500;
                                        };
                                        padding: {
                                            bottom: 8px;
                                            right: 10px;
                                            left: 38px;
                                            top: 8px;
                                        };
                                        &::after {
                                            top: 50%;
                                            left: 18px;
                                            width: 10px;
                                            content: '';
                                            height: 10px;
                                            transition: .3s;
                                            border-radius: 50%;
                                            position: absolute;
                                            transform: translateY(-50%);
                                            border: 1px solid var(--bodyColor);
                                        }
                                        &:hover, &.active {
                                            background-color: #ECF0FF;
                                            color: var(--primaryColor);
            
                                            &::after {
                                                border-color: var(--primaryColor);
                                            }
                                        }
                                        .trezo-badge {
                                            top: -1px;
                                            padding: 2px 6px;
                                            margin-left: 5px;
                                            border-radius: 3px;
                                            line-height: initial;
                                            color: var(--orangeColor);
                                            background-color: #FFE8D4;
                                            font: {
                                                size: 10px;
                                                weight: normal;
                                            };
                                            &::before {
                                                top: 50%;
                                                left: -3px;
                                                width: 6px;
                                                height: 6px;
                                                content: '';
                                                position: absolute;
                                                background: #FFE8D4;
                                                transform: translateY(-50%) rotate(45deg);
                                            }
                                            &.style-two {
                                                color: var(--successColor);
                                                background-color: #D8FFC8;

                                                &::before {
                                                    background: #D8FFC8;
                                                }
                                            }
                                        }
                                    }
                                    .mat-expansion-panel {
                                        margin-bottom: 0;
                                    }
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                }
                            }
                        }
                        &:has(> .mat-expansion-panel-content > .mat-expansion-panel-body > .sidebar-sub-menu > .sidemenu-item > .sidemenu-link.active) {
                            .mat-expansion-panel-header {
                                color: var(--blackColor);
                                background-color: #F6F7F9;

                                i {
                                    color: var(--blackColor);
                                }
                                .mat-content {
                                    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                        color: var(--blackColor);
                                    }
                                }
                                .mat-expansion-indicator {
                                    &::before {
                                        color: var(--blackColor);
                                    }
                                }
                            }
                        }
                    }
                    .sidebar-menu-link {
                        transition: var(--transition);
                        color: var(--blackColor);
                        align-items: center;
                        white-space: nowrap;
                        margin-bottom: 5px;
                        position: relative;
                        border-radius: 7px;
                        display: flex;
                        padding: {
                            bottom: 9px;
                            right: 30px;
                            left: 14px;
                            top: 9px;
                        };
                        font: {
                            size: var(--fontSize);
                            weight: 500;
                        };
                        i {
                            transition: var(--transition);
                            color: var(--bodyColor);
                            margin-right: 6px;
                            font-size: 22px;
                            line-height: 1;
                        }
                        .title {
                            line-height: 1;
                        }
                        &:hover, &.active {
                            color: var(--primaryColor);
                            background-color: #F6F7F9;

                            i {
                                color: var(--primaryColor);
                            }
                        }
                    }
                }
            }
        }
        &.right-sidebar {
            left: auto;
            right: 0;
        }
        &.component-dark-theme {
            .sidebar-inner {
                .sidebar-menu {
                    .mat-accordion {
                        .mat-expansion-panel {
                            color: var(--whiteColor);
                            
                            .mat-expansion-panel-header {
                                color: var(--whiteColor);
                                
                                .mat-content {
                                    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                        color: var(--whiteColor);
                                    }
                                }
                                &.mat-expanded {
                                    color: var(--whiteColor);
                                    background-color: #15203c;
    
                                    i {
                                        color: var(--whiteColor);
                                    }
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--whiteColor);
                                        }
                                    }
                                }
                                &:hover {
                                    color: var(--whiteColor);
                                    background-color: #15203c;
    
                                    i {
                                        color: var(--whiteColor);
                                    }
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--whiteColor);
                                        }
                                    }
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--whiteColor);
                                        }
                                    }
                                }
                            }
                            .mat-expansion-panel-body {
                                .mat-expansion-panel-header {
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--whiteColor) !important;
                                        }
                                    }
                                    &.mat-expanded {
                                        background-color: #15203c !important;
                                    }
                                    &:hover {
                                        background-color: #15203c !important;
                                    }
                                }
                                .sidebar-sub-menu {
                                    .sidemenu-item {
                                        .sidemenu-link {
                                            &:hover, &.active {
                                                background-color: #15203c;
                                            }
                                        }
                                    }
                                }
                            }
                            &:has(> .mat-expansion-panel-content > .mat-expansion-panel-body > .sidebar-sub-menu > .sidemenu-item > .sidemenu-link.active) {
                                .mat-expansion-panel-header {
                                    color: var(--whiteColor);
                                    background-color: #15203c;
    
                                    i {
                                        color: var(--whiteColor);
                                    }
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--whiteColor);
                                        }
                                    }
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--whiteColor);
                                        }
                                    }
                                }
                            }
                        }
                        .sidebar-menu-link {
                            color: var(--whiteColor);
                            
                            &:hover, &.active {
                                color: var(--primaryColor);
                                background-color: #15203c;
                            }
                        }
                    }
                }
            }
        }
        &.dark-sidebar {
            --borderColor: #172036;
            color: var(--bodyColor);
            --bodyColor: #8695AA;

            a {
                color: var(--whiteColor);
        
                &:hover {
                    color: var(--primaryColor);
                }
            }
            .text-black {
                color: var(--whiteColor) !important;
            }
            &.bg-white, .bg-white {
                background-color: #0C1427 !important;
            }
            .bg-black {
                background-color: var(--whiteColor) !important;
            }
            .sidebar-inner {
                .sidebar-menu {
                    .mat-accordion {
                        .mat-expansion-panel {
                            color: var(--whiteColor);
                            
                            .mat-expansion-panel-header {
                                color: var(--whiteColor);
                                
                                .mat-content {
                                    .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                        color: var(--whiteColor);
                                    }
                                }
                                &.mat-expanded {
                                    color: var(--whiteColor);
                                    background-color: #15203c;
    
                                    i {
                                        color: var(--whiteColor);
                                    }
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--whiteColor);
                                        }
                                    }
                                }
                                &:hover {
                                    color: var(--whiteColor);
                                    background-color: #15203c;
    
                                    i {
                                        color: var(--whiteColor);
                                    }
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--whiteColor);
                                        }
                                    }
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--whiteColor);
                                        }
                                    }
                                }
                            }
                            .mat-expansion-panel-body {
                                .mat-expansion-panel-header {
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--whiteColor) !important;
                                        }
                                    }
                                    &.mat-expanded {
                                        background-color: #15203c !important;
                                    }
                                    &:hover {
                                        background-color: #15203c !important;
                                    }
                                }
                                .sidebar-sub-menu {
                                    .sidemenu-item {
                                        .sidemenu-link {
                                            &:hover, &.active {
                                                background-color: #15203c;
                                            }
                                        }
                                    }
                                }
                            }
                            &:has(> .mat-expansion-panel-content > .mat-expansion-panel-body > .sidebar-sub-menu > .sidemenu-item > .sidemenu-link.active) {
                                .mat-expansion-panel-header {
                                    color: var(--whiteColor);
                                    background-color: #15203c;
    
                                    i {
                                        color: var(--whiteColor);
                                    }
                                    .mat-content {
                                        .mat-expansion-panel-header-title, .mat-expansion-panel-header-description {
                                            color: var(--whiteColor);
                                        }
                                    }
                                    .mat-expansion-indicator {
                                        &::before {
                                            color: var(--whiteColor);
                                        }
                                    }
                                }
                            }
                        }
                        .sidebar-menu-link {
                            color: var(--whiteColor);
                            
                            &:hover, &.active {
                                color: var(--primaryColor);
                                background-color: #15203c;
                            }
                        }
                    }
                }
            }
        }
        &.card-borderd {
            border: {
                right: 1px solid var(--borderColor) !important;
            };
        }
        &.card-with-box-shadow {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
        }
        &.component-rtl-enabled {
            text-align: start;
            direction: rtl;
            left: auto;
            right: 0;

            .logo {
                a {
                    span {
                        margin: {
                            left: 0;
                            right: 8px;
                        };
                    }
                }
            }
            .burger-menu {
                right: auto;
                left: 25px;
            }
            .ng-scrollbar {
                width: 100% !important;
                height: 100vh;
    
                .ng-scroll-content {
                    padding: 0;
                    width: 100% !important;
                    
                    .ng-scrollbar-sticky {
                        right: auto;
                        left: 0;
                    }
                }
            }
            .sidebar-inner {
                text-align: start;
                direction: rtl;
                
                .sidebar-menu {
                    .mat-accordion {
                        .mat-expansion-panel {
                            .mat-expansion-panel-header {
                                padding: {
                                    right: 14px;
                                    left: 30px;
                                };
                                i {
                                    margin: {
                                        right: 0;
                                        left: 7px;
                                    };
                                }
                                .mat-expansion-indicator {
                                    right: auto;
                                    left: 8px;

                                    &::before {
                                        content: "\ea64";
                                    }
                                }
                                .trezo-badge {
                                    margin: {
                                        left: 4px;
                                        right: auto;
                                    };
                                }
                            }
                            &.mat-expanded {
                                .mat-expansion-indicator {
                                    &::before {
                                        content: "\ea4e";
                                    }
                                }
                            }
                            .mat-expansion-panel-body {
                                .mat-expansion-panel-header {
                                    padding: {
                                        right: 38px;
                                        left: 10px;
                                    };
                                    &::after {
                                        left: auto;
                                        right: 18px;
                                    }
                                    .mat-expansion-indicator {
                                        right: auto;
                                        left: 10px;
                                    }
                                }
                                .mat-expansion-panel-body {
                                    padding: {
                                        right: 20px;
                                        left: 0;
                                    };
                                }
                                .sidebar-sub-menu {
                                    padding-right: 0;
                                    
                                    .sidemenu-item {
                                        .sidemenu-link {
                                            padding: {
                                                right: 38px;
                                                left: 10px;
                                            };
                                            &::after {
                                                left: auto;
                                                right: 18px;
                                            }
                                            .trezo-badge {
                                                margin: {
                                                    left: 0;
                                                    right: 5px;
                                                };
                                                &::before {
                                                    left: auto;
                                                    right: -3px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .sidebar-menu-link {
                            padding: {
                                right: 14px;
                                left: 30px;
                            };
                            i {
                                margin: {
                                    right: 0;
                                    left: 6px;
                                };
                            }
                        }
                    }
                }
            }
            &.right-sidebar {
                left: 0;
                right: auto;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .sidebar-area {
            width: 250px;
            left: -100%;
            
            .logo {
                padding: 18px;
            }
            .burger-menu {
                top: 20px;
                right: 18px;
            }
            .sidebar-inner {
                padding: {
                    top: 84px;
                    left: 18px;
                    right: 18px;
                    bottom: 18px;
                };
                .sidebar-menu {
                    .sub-title {
                        &:not(:first-child) {
                            margin-top: 15px;
                        }
                    }
                    .mat-accordion {
                        .mat-expansion-panel {
                            .mat-expansion-panel-header {
                                font-size: 13px;
                                padding: {
                                    bottom: 8px;
                                    right: 25px;
                                    top: 8px;
                                };
                                i {
                                    font-size: 18px;
                                }
                                .mat-expansion-indicator {
                                    right: 8px;
                
                                    &::before {
                                        font-size: 17px;
                                    }
                                }
                                .trezo-badge {
                                    width: 18px;
                                    height: 18px;
                                    font-size: 11px;
                                    line-height: 18px;
                                }
                            }
                            .mat-expansion-panel-body {
                                .mat-expansion-panel-header {
                                    font-size: 13px;
                                    padding: {
                                        bottom: 7px;
                                        right: 10px;
                                        left: 35px;
                                        top: 7px;
                                    };
                                    &::after {
                                        left: 16px;
                                    }
                                }
                                .sidebar-sub-menu {
                                    .sidemenu-item {
                                        .sidemenu-link {
                                            font-size: 13px;
                                            padding: {
                                                bottom: 7px;
                                                right: 10px;
                                                left: 35px;
                                                top: 7px;
                                            };
                                            &::after {
                                                left: 16px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .sidebar-menu-link {
                            font-size: 13px;
                            padding: {
                                bottom: 8px;
                                right: 25px;
                                top: 8px;
                            };
                            i {
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
            &.active {
                left: 0;
            }
            &.right-sidebar {
                left: auto;
                right: -100%;

                &.active {
                    right: 0;
                }
            }
            &.component-rtl-enabled {
                right: -100%;

                .burger-menu {
                    left: 18px;
                    right: auto;
                }
                .sidebar-inner {
                    .sidebar-menu {
                        .mat-accordion {
                            .mat-expansion-panel {
                                .mat-expansion-panel-header {
                                    padding: {
                                        right: 14px;
                                        left: 25px;
                                    };
                                    .mat-expansion-indicator {
                                        right: auto;
                                        left: 8px;
                                    }
                                }
                                .mat-expansion-panel-body {
                                    .mat-expansion-panel-header {
                                        padding: {
                                            right: 35px;
                                            left: 10px;
                                        };
                                        &::after {
                                            left: auto;
                                            right: 16px;
                                        }
                                    }
                                    .sidebar-sub-menu {
                                        .sidemenu-item {
                                            .sidemenu-link {
                                                padding: {
                                                    right: 35px;
                                                    left: 10px;
                                                };
                                                &::after {
                                                    right: 16px;
                                                    left: auto;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .sidebar-menu-link {
                                padding: {
                                    right: 14px;
                                    left: 25px;
                                };
                            }
                        }
                    }
                }
                &.active {
                    left: auto;
                    right: 0;
                }
                &.right-sidebar {
                    left: -100%;
                    right: auto;
    
                    &.active {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .sidebar-area {
            left: -100%;

            &.active {
                left: 0;
            }
            &.right-sidebar {
                left: auto;
                right: -100%;

                &.active {
                    right: 0;
                }
            }
            &.component-rtl-enabled {
                right: -100%;

                &.active {
                    left: auto;
                    right: 0;
                }
                &.right-sidebar {
                    right: auto;
                    left: -100%;
    
                    &.active {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .sidebar-area {
            left: -100%;

            &.active {
                left: 0;
            }
            &.right-sidebar {
                left: auto;
                right: -100%;

                &.active {
                    right: 0;
                }
            }
            &.component-rtl-enabled {
                right: -100%;

                &.active {
                    left: auto;
                    right: 0;
                }
                &.right-sidebar {
                    right: auto;
                    left: -100%;
    
                    &.active {
                        right: auto;
                        left: 0;
                    }
                }
            }
        }
    }

}

/* Min width 1200px */
@media (min-width: 1200px) {
    
    ::ng-deep {
        .sidebar-area {
            &.active, &.hide-sidebar {
                width: 100px;
    
                .logo {
                    a {
                        img {
                            left: 11px;
                        }
                        span {
                            opacity: 0;
                        }
                    }
                }
                .burger-menu {
                    opacity: 0;
                    visibility: hidden;
                }
                .sidebar-inner {
                    .sidebar-menu {
                        .sub-title {
                            font-size: 0;
                            height: 15px;

                            &::before {
                                top: 50%;
                                width: 50px;
                                content: '';
                                height: 1px;
                                position: absolute;
                                transform: translateY(-50%);
                                background: var(--borderColor);
                            }
                        }
                        .mat-accordion {
                            .mat-expansion-panel {
                                .mat-expansion-panel-header {
                                    padding: 9px 6px 9px 14px;

                                    .title {
                                        transition: var(--transition);
                                        opacity: 0;
                                        width: 0;
                                    }
                                    .mat-expansion-indicator {
                                        display: none;
                                    }
                                    .trezo-badge {
                                        display: none !important;
                                    }
                                }
                                .mat-expansion-panel-content {
                                    display: none;
                                }
                            }
                            .sidebar-menu-link {
                                padding: 9px 6px 9px 14px;
        
                                .title {
                                    transition: var(--transition);
                                    opacity: 0;
                                    width: 0;
                                }
                            }
                        }
                    }
                }
                &:hover {
                    width: 260px;

                    .logo {
                        a {
                            img {
                                left: 0;
                            }
                            span {
                                opacity: 1;
                            }
                        }
                    }
                    .burger-menu {
                        opacity: 1;
                        visibility: visible;
                    }
                    .sidebar-inner {
                        .sidebar-menu {
                            .sub-title {
                                font-size: 12px;

                                &::before {
                                    display: none;
                                }
                            }
                            .mat-accordion {
                                .mat-expansion-panel {
                                    .mat-expansion-panel-header {
                                        padding: {
                                            right: 30px;
                                            left: 14px;
                                        };
                                        .title {
                                            opacity: 1;
                                            width: auto;
                                        }
                                        .mat-expansion-indicator {
                                            display: inline-block;
                                        }
                                        .trezo-badge {
                                            display: inline-block !important;
                                        }
                                    }
                                    .mat-expansion-panel-content {
                                        display: block;
                                    }
                                }
                                .sidebar-menu-link {
                                    padding: {
                                        right: 30px;
                                        left: 14px;
                                    };
                                    .title {
                                        opacity: 1;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.hide-sidebar {
                .burger-menu {
                    display: none !important;
                }
            }
            &.component-rtl-enabled {
                &.active, &.hide-sidebar {
                    .sidebar-inner {
                        .sidebar-menu {
                            .mat-accordion {
                                .mat-expansion-panel {
                                    .mat-expansion-panel-header {
                                        padding: {
                                            left: 6px;
                                            right: 14px;
                                        };
                                    }
                                }
                                .sidebar-menu-link {
                                    padding: {
                                        left: 6px;
                                        right: 14px;
                                    };
                                }
                            }
                        }
                    }
                    &:hover {
                        .sidebar-inner {
                            .sidebar-menu {
                                .mat-accordion {
                                    .mat-expansion-panel {
                                        .mat-expansion-panel-header {
                                            padding: {
                                                right: 14px;
                                                left: 30px;
                                            };
                                        }
                                    }
                                    .sidebar-menu-link {
                                        padding: {
                                            right: 14px;
                                            left: 30px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    ::ng-deep {
        .sidebar-area {
            width: 240px;

            &.active, &.hide-sidebar {
                width: 100px;
    
                &:hover {
                    width: 240px;
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}