<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 sm:gap-x-[25px] gap-[25px] mb-[25px]">

    <!-- Total Income -->
    <app-total-income />

    <!-- Total Expenses -->
    <app-total-expenses />

    <!-- Accounts Receivable -->
    <app-accounts-receivable />

    <!-- Accounts Payable -->
    <app-accounts-payable />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Statistics -->
        <app-statistics />
        
    </div>
    <div class="lg:col-span-1">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-[25px]">

            <!-- Cash End Month -->
            <app-cash-end-month />

            <!-- Weekly Expenses -->
            <app-weekly-expenses />

        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-[25px]">
                
            <!-- Income Source -->
            <app-income-source />
                
            <!-- Net Profit -->
            <app-net-profit />

        </div>
    </div>
    <div class="lg:col-span-2">
        
        <!-- Transactions History -->
        <app-transaction-history />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">
        
        <!-- Card -->
        <app-card />

    </div>
    <div class="lg:col-span-1">

        <!-- Expense Breakdown -->
        <app-expense-breakdown />

    </div>
</div>