.campaigns-card {
    .mat-mdc-card-content {
        .campaigns-tabs {
            margin-bottom: 14px;

            li {
                margin-right: 35px;

                .mat-mdc-button {
                    text-transform: uppercase;
                    color: var(--bodyColor);
                    display: inline-block;
                    letter-spacing: 2px;
                    padding: 0;
                    font: {
                        size: 12px;
                        weight: 600;
                    };
                    &:hover, &.active {
                        color: var(--primaryColor);
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .campaigns-tabs {
                li {
                    margin: {
                        right: 0;
                        left: 35px;
                    };
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .campaigns-card {
        .mat-mdc-card-content {
            .mat-mdc-table {
                &.mdc-data-table__table {
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                padding: {
                                    top: 9.5px;
                                    bottom: 9.5px;
                                };
                                .assignees {
                                    div {
                                        width: 26px;
                                        height: 26px;
                                        margin-right: -7px;

                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }
                                }
                                .link-btn {
                                    width: 30px;
                                    height: 30px;
                                    font-size: 18px;
                                    background-color: #eceef2;

                                    .mdc-button__label {
                                        margin-top: 0;
                                    }
                                }
                                &:first-child {
                                    border-left-width: 0;
                                    padding-left: 0;
                                }
                                &:last-child {
                                    border-right-width: 0;
                                    padding-right: 0;
                                    text-align: end;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    .link-btn {
                                        background-color: #0A0E19;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    .assignees {
                                        div {
                                            margin: {
                                                right: 0;
                                                left: -7px;
                                            };
                                            &:last-child {
                                                margin-left: 0;
                                            }
                                        }
                                    }
                                    &:first-child {
                                        border-right-width: 0;
                                        padding: {
                                            left: 20px;
                                            right: 0;
                                        };
                                    }
                                    &:last-child {
                                        border-left-width: 0;
                                        padding: {
                                            right: 20px;
                                            left: 0;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .campaigns-card {
        .mat-mdc-card-content {
            .campaigns-tabs {
                li {
                    margin-right: 15px;
    
                    .mat-mdc-button {
                        letter-spacing: .3px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .campaigns-tabs {
                    li {
                        margin-left: 15px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .campaigns-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                left: 17px;
                                                right: 0;
                                            };
                                        }
                                        &:last-child {
                                            padding: {
                                                right: 17px;
                                                left: 0;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .campaigns-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                left: 20px;
                                                right: 0;
                                            };
                                        }
                                        &:last-child {
                                            padding: {
                                                right: 20px;
                                                left: 0;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}