<div class="row">
    <div class="col-xxl-8">

        <!-- Analytics Overview -->
        <app-analytics-overview />

        <!-- Stats -->
        <app-stats />

    </div>
    <div class="col-xxl-4">

        <!-- Realtime Active User -->
        <app-realtime-active-users />

    </div>
    <div class="col-xl-7">

        <!-- Browser Used By Users -->
        <app-browser-used-by-users />

    </div>
    <div class="col-xl-5">

        <!-- Device Sessions -->
        <app-device-sessions />

    </div>
    <div class="col-lg-4">

        <!-- Clicks -->
        <app-clicks />

    </div>
    <div class="col-lg-4">

        <!-- Impressions -->
        <app-impressions />

    </div>
    <div class="col-lg-4">

        <!-- Sessions -->
        <app-sessions />

    </div>
    <div class="col-lg-5">

        <!-- Sessions by Channel -->
        <app-sessions-by-channel />

    </div>
    <div class="col-lg-7">

        <!-- Clicks/Impressions by Keywords -->
        <app-clicks-by-keywords />

    </div>
    <div class="col-lg-8">

        <!-- Top Browsing Pages Today -->
        <app-top-browsing-pages />

    </div>
    <div class="col-lg-4">

        <!-- Users by Country -->
        <app-users-by-country />

    </div>
</div>