<mat-card
    class="cost-per-click-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="d-flex align-items-center justify-content-between">
            <div>
                <span class="d-block">
                    Cost Per Click
                </span>
                <h3 class="mb-0 lh-1">
                    $0.15
                </h3>
            </div>
            <img src="images/icons/call-to-action.gif" alt="call-to-action">
        </div>
        <span class="info-badge down d-inline-block">
            -0.04%
        </span>
        <span class="text-xs d-block">
            vs previous 30 days
        </span>
    </mat-card-content>
</mat-card>