<mat-card
    class="resigned-employees-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="title d-flex align-items-center">
            <div class="icon bg-orange text-white d-flex align-items-center justify-content-center">
                <i class="material-symbols-outlined">
                    person_remove
                </i>
            </div>
            <div>
                <span class="d-block">
                    Resigned Employees
                </span>
                <h5 class="mb-0 fw-semibold">
                    318
                </h5>
            </div>
        </div>
        <div class="info d-flex align-items-center">
            <div class="trezo-badge down text-orange d-flex align-items-center justify-content-center">
                <i class="ri-arrow-right-down-line"></i>
            </div>
            <div>
                <span class="fw-medium text-black">
                    -5%
                </span>
                last year
            </div>
        </div>
        <div class="chart">
            <div id="resigned_employees_chart"></div>
        </div>
    </mat-card-content>
</mat-card>