::ng-deep {
    .email-inbox-card {
        .mat-mdc-card-header {
            margin-bottom: 20px;
            
            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    display: flex;
                    align-items: center;

                    .mdc-checkbox {
                        padding: 0;
                        top: -3px;
                        margin: 0;
    
                        .mdc-checkbox__background {
                            top: 0;
                            left: 0;
                        }
                        .mat-mdc-checkbox-touch-target {
                            width: 100%;
                            height: 100%;
                        }
                        .mdc-checkbox__native-control {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .buttons-list {
                        line-height: 1;
                        
                        .mat-mdc-button {
                            padding: 0;
                            height: auto;
                            min-width: auto;
                            border-radius: 0;
                            margin-left: 10px;
                            display: inline-block;
                            color: var(--bodyColor);
        
                            .mdc-button__label {
                                i {
                                    font-size: 18px;
                                }
                            }
                            &:first-child {
                                margin: {
                                    left: 1px;
                                    right: 25px;
                                };
                            }
                            &.mat-primary {
                                color: var(--blackColor);
                                margin-left: 15px;
                            }
                            .mat-mdc-button-persistent-ripple {
                                &::before {
                                    margin-bottom: 1px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mat-mdc-card-content {
            .inbox-nav-links {
                margin-bottom: 15px;

                li {
                    margin-right: 35px;

                    .mat-mdc-button {
                        padding: 0;
                        height: auto;
                        min-width: auto;
                        border-radius: 0;
                        font-weight: 500;
                        position: relative;
                        display: inline-block;
                        color: var(--bodyColor);

                        .mdc-button__label {
                            display: inline-block;
                            padding-left: 28px;

                            i {
                                left: 0;
                                top: 50%;
                                font-size: 18px;
                                margin-top: -1px;
                                position: absolute;
                                transform: translateY(-50%);
                            }
                        }
                        &.active {
                            color: var(--primaryColor);

                            &::before {
                                transform: scaleX(1);
                            }
                        }
                        &::before {
                            left: 0;
                            right: 0;
                            bottom: 0;
                            height: 2px;
                            content: '';
                            bottom: -16px;
                            position: absolute;
                            transform: scaleX(0);
                            transition: var(--transition);
                            background: var(--primaryColor);
                        }
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    .mat-mdc-card-title {
                        .buttons-list {
                            .mat-mdc-button {
                                &.mat-primary {
                                    color: var(--whiteColor);
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    .mat-mdc-card-title {
                        .buttons-list {
                            .mat-mdc-button {
                                margin: {
                                    left: 0;
                                    right: 10px;
                                };
                                &:first-child {
                                    margin: {
                                        left: 25px;
                                        right: 1px;
                                    };
                                }
                                &.mat-primary {
                                    margin: {
                                        left: 0;
                                        right: 15px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
            .mat-mdc-card-content {
                .inbox-nav-links {
                    li {
                        margin: {
                            right: 0;
                            left: 35px;
                        };
                        .mat-mdc-button {
                            .mdc-button__label {
                                padding: {
                                    left: 0;
                                    right: 28px;
                                };
                                i {
                                    left: auto;
                                    right: 0;
                                }
                            }
                        }
                        &:last-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .email-inbox-card {
            .mat-mdc-card-header {
                margin-bottom: 15px;
                
                .mat-mdc-card-header-text {
                    .mat-mdc-card-title {
                        .buttons-list {
                            .mat-mdc-button {
                                margin-left: 10px;
            
                                &:first-child {
                                    margin: {
                                        left: 0;
                                        right: 10px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
            .mat-mdc-card-content {
                .inbox-nav-links {
                    margin-bottom: 12px;
    
                    li {
                        margin-right: 25px;
    
                        .mat-mdc-button {
                            .mdc-button__label {
                                padding-left: 23px;
    
                                i {
                                    font-size: 16px;
                                    margin-top: 0;
                                }
                            }
                            &::before {
                                bottom: -13px;
                            }
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-header {
                    .mat-mdc-card-header-text {
                        .mat-mdc-card-title {
                            .buttons-list {
                                .mat-mdc-button {
                                    margin: {
                                        left: 0;
                                        right: 10px;
                                    };
                                    &:first-child {
                                        margin: {
                                            right: 0;
                                            left: 10px;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
                .mat-mdc-card-content {
                    .inbox-nav-links {
                        li {
                            margin: {
                                right: 0;
                                left: 25px;
                            };
                            .mat-mdc-button {
                                .mdc-button__label {
                                    padding: {
                                        left: 0;
                                        right: 23px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    ::ng-deep {
        .email-inbox-card {
            .mat-mdc-card-content {
                .inbox-nav-links {
                    li {
                        margin-right: 30px;
    
                        .mat-mdc-button {
                            .mdc-button__label {
                                padding-left: 25px;
                            }
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .inbox-nav-links {
                        li {
                            margin: {
                                left: 30px;
                                right: 0;
                            };
                            .mat-mdc-button {
                                .mdc-button__label {
                                    padding: {
                                        left: 0;
                                        right: 25px;
                                    };
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}