<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <span class="block">
                Top Shipping Methods
            </span>
        </div>
    </div>
    <div class="trezo-card-content">
        <div class="max-w-[310px] mx-auto -mt-[5px] -mb-[8px]">
            <div id="top_shipping_methods_chart"></div>
        </div>
    </div>
</div>