<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Invoice Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Invoices
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Invoice Details
        </li>
    </ol>
</div>

<!-- Invoice Details -->
<mat-card class="invoice-details-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="invoice-info d-md-flex align-items-center justify-content-between">
            <div>
                <span class="title d-block">
                    Invoice Number: <span class="text-black">#1346</span>
                </span>
                <span class="d-block">
                    Invoice To:
                </span>
                <span class="d-block text-black">
                    Shannon Nelson
                </span>
                <span class="d-block text-black">
                    4545 Seth Street Ballinger, TX 78965
                </span>
                <span class="d-block text-black">
                    +1 444 556 8899
                </span>
            </div>
            <div>
                <img src="images/qr-code.svg" class="qr-code-image" alt="qr-code-image">
            </div>
            <div>
                <span class="title d-block text-body">
                    Date: <span class="text-black">01 Dec 2024</span>
                </span>
                <span class="d-block text-body">
                    Pay To:
                </span>
                <span class="d-block">
                    Mercedes Foreman
                </span>
                <span class="d-block">
                    458 Friendship Lane Walnut Creek, CA 5828
                </span>
                <span class="d-block">
                    +1 444 888 0055
                </span>
            </div>
        </div>
        <div class="basic-table table-responsive">
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="fw-medium">
                            No
                        </th>
                        <th scope="col" class="fw-medium">
                            Item Description
                        </th>
                        <th scope="col" class="fw-medium">
                            Quantity
                        </th>
                        <th scope="col" class="fw-medium">
                            Price
                        </th>
                        <th scope="col" class="fw-medium">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-body">
                            1
                        </td>
                        <td class="fw-medium">
                            Apple MacBook Pro 16.2' with M3 Pro Chip
                        </td>
                        <td class="text-body">
                            4
                        </td>
                        <td class="text-body">
                            $80
                        </td>
                        <td class="text-body">
                            $320
                        </td>
                    </tr>
                    <tr>
                        <td class="text-body">
                            2
                        </td>
                        <td class="fw-medium">
                            SAMSUNG Galaxy Tab A9+ Tablet 11'
                        </td>
                        <td class="text-body">
                            3
                        </td>
                        <td class="text-body">
                            $45
                        </td>
                        <td class="text-body">
                            $135
                        </td>
                    </tr>
                    <tr>
                        <td class="text-body">
                            3
                        </td>
                        <td class="fw-medium">
                            Apple iPhone 15 Pro Max (512 GB)
                        </td>
                        <td class="text-body">
                            5
                        </td>
                        <td class="text-body">
                            $30
                        </td>
                        <td class="text-body">
                            $150
                        </td>
                    </tr>
                    <tr>
                        <td class="text-body">
                            4
                        </td>
                        <td class="fw-medium">
                            Gildan Men's Crew T-Shirts, Multipack
                        </td>
                        <td class="text-body">
                            1
                        </td>
                        <td class="text-body">
                            $56
                        </td>
                        <td class="text-body">
                            $56
                        </td>
                    </tr>
                    <tr>
                        <td class="text-body">
                            5
                        </td>
                        <td class="fw-medium">
                            Skechers Men's Summits High Range
                        </td>
                        <td class="text-body">
                            4
                        </td>
                        <td class="text-body">
                            $90
                        </td>
                        <td class="text-body">
                            $360
                        </td>
                    </tr>
                    <tr>
                        <td class="text-body">
                            6
                        </td>
                        <td class="fw-medium">
                            Amazfit GTR 3 Smart Watch for Men
                        </td>
                        <td class="text-body">
                            2
                        </td>
                        <td class="text-body">
                            $75
                        </td>
                        <td class="text-body">
                            $150
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-body">
                            Sub Total:
                        </td>
                        <td class="text-body">
                            $1,171
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-body">
                            Tax (0.22%)
                        </td>
                        <td class="text-body">
                            $5.55
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-body">
                            Discount (0.52%)
                        </td>
                        <td class="text-body">
                            - $4.00
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-black fw-medium">
                            Grand Total
                        </td>
                        <td class="text-black">
                            $1,172.55
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-btn-box text-center">
            <button type="button" mat-button color="warn">
                Print
            </button>
            <button type="button" mat-button color="primary">
                <i class="material-symbols-outlined">
                    download
                </i>
                Download
            </button>
        </div>
    </mat-card-content>
</mat-card>