<mat-card class="live-shipment-status-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <span class="d-block text-body text-base lh-initial">
                Live Shipment Status
            </span>
        </mat-card-title>
        <mat-card-subtitle>
            <span class="d-block text-body fw-normal">
                Last 7 days
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="live_shipment_status_chart"></div>
        </div>
    </mat-card-content>
</mat-card>