.projects-progress-card {
    .mat-mdc-card-content {
        .chart {
            margin: {
                bottom: -20px;
                left: -13px;
                top: -8px;
            };
        }
    }
}