<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Teams
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Project Management
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Teams
        </li>
    </ol>
</div>

<!-- Teams -->
<div class="grid sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user11.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Ava Turner
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-purple-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    Project Management
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user15.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user16.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user17.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <div class="rounded-full w-[40px] h-[40px] font-medium text-xs border-[2px] border-gray-100 dark:border-[#172036] bg-primary-500 text-white flex items-center justify-center -mx-[6px]">
                        +4
                    </div>
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        85%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 85%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user12.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Ethan Parker
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-secondary-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    eCommerce Theme
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user6.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user7.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user8.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        45%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 45%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user13.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Isabella Lee
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-success-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    Shopify Theme Dev
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user10.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user11.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        70%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 70%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user14.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Thompson Torres
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-orange-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    Oito - HTML
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user30.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user29.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user28.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        90%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 90%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user15.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Lucas Lyon
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-primary-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    Tanus - Template
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user25.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user26.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user27.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        75%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 75%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user16.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Morgan Sturges
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-danger-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    Delft - TypeScript
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user24.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        65%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 65%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user17.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Sophia McNeel
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-primary-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    Trezo - Angular
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user21.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user22.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user23.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        90%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 90%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-content">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img src="images/users/user18.jpg" alt="user-image" class="w-[65px] h-[65px] rounded-full border-[2px] border-gray-100 dark:border-[#172036]">
                    <div class="ltr:ml-[12px] rtl:mr-[12px]">
                        <span class="text-md inline-block mb-px font-medium text-black dark:text-white">
                            Rodriguez Meade
                        </span>
                        <span class="block">
                            Team Leader
                        </span>
                    </div>
                </div>
                <div class="flex items-center gap-[9px]">
                    <button type="button" class="text-primary-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            visibility
                        </i>
                    </button>
                    <button type="button" class="text-gray-500 dark:text-gray-400 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            edit
                        </i>
                    </button>
                    <button type="button" class="text-danger-500 leading-none">
                        <i class="material-symbols-outlined !text-md">
                            delete
                        </i>
                    </button>
                </div>
            </div>
            <div class="text-center mt-[15px]">
                <span class="inline-block font-medium bg-purple-100 dark:bg-[#15203c] text-black dark:text-white rounded-full px-[15px] py-[4.5px] mb-[15px]">
                    eLearniv - React
                </span>
                <span class="block mb-[8px]">
                    Team Members
                </span>
                <div class="flex items-center justify-center">
                    <img src="images/users/user19.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                    <img src="images/users/user20.jpg" alt="user-image" class="rounded-full w-[40px] h-[40px] border-[2px] border-gray-100 dark:border-[#172036] -mx-[6px]">
                </div>
            </div>
            <div class="mt-[18px] mb-[20px] md:mb-[25px] lg:mb-[30px]">
                <div class="flex items-center justify-between">
                    <span class="block font-medium mb-[8px]">
                        Progress
                    </span>
                    <span class="block font-medium mb-[8px]">
                        80%
                    </span>
                </div>
                <div class="flex w-full h-[4px] overflow-hidden rounded-md bg-primary-50 dark:bg-[#172036]">
                    <div class="flex flex-col justify-center overflow-hidden bg-primary-500 rounded-md" style="width: 80%;"></div>
                </div>
            </div>
            <a routerLink="." class="block w-full rounded-md text-center font-medium border border-primary-500 py-[8.5px] px-[15px] text-primary-500 transition-all hover:bg-primary-500 hover:text-white">
                View Details
            </a>
        </div>
    </div>
</div>

<!-- Pagination -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="sm:flex sm:items-center justify-between">
            <p class="mb-0">
                Showing 8 of 36 results
            </p>
            <ol class="mt-[10px] sm:mt-0">
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-primary-500 bg-primary-500 text-white">
                        1
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        2
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        3
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        4
                    </a>
                </li>
                <li class="inline-block mx-[3px] ltr:first:ml-0 ltr:last:mr-0 rtl:first:mr-0 rtl:last:ml-0">
                    <a routerLink="." class="w-[31px] h-[31px] block leading-[29px] relative text-center rounded-md border border-gray-100 dark:border-[#172036] transition-all hover:bg-primary-500 hover:text-white hover:border-primary-500">
                        <span class="opacity-0">
                            0
                        </span>
                        <i class="material-symbols-outlined left-0 right-0 absolute top-1/2 -translate-y-1/2">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
</div>