<mat-card class="top-property-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Top Property
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                <i class="ri-more-fill"></i>
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul class="p-0 m-0 list-unstyled">
            <li class="d-flex align-items-center">
                <img src="images/properties/top1.jpg" alt="propery-image">
                <div>
                    <a routerLink="/dashboard/real-estate-page/property-details" class="d-block fw-semibold">
                        Industrial
                    </a>
                    <span class="d-block">
                        36 Clay Street Indianapolis
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <img src="images/properties/top2.jpg" alt="propery-image">
                <div>
                    <a routerLink="/dashboard/real-estate-page/property-details" class="d-block fw-semibold">
                        Office
                    </a>
                    <span class="d-block">
                        07 Maple Street Los Angeles
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <img src="images/properties/top3.jpg" alt="propery-image">
                <div>
                    <a routerLink="/dashboard/real-estate-page/property-details" class="d-block fw-semibold">
                        Multi-Family
                    </a>
                    <span class="d-block">
                        94 Brooke Street Houston
                    </span>
                </div>
            </li>
            <li class="d-flex align-items-center">
                <img src="images/properties/top4.jpg" alt="propery-image">
                <div>
                    <a routerLink="/dashboard/real-estate-page/property-details" class="d-block fw-semibold">
                        Retail
                    </a>
                    <span class="d-block">
                        84 Pick Street Centennial
                    </span>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>