<div class="2xl:grid 2xl:grid-cols-2 gap-[25px]">
    <div>

        <!-- Projects Overview -->
        <app-projects-overview />

    </div>
    <div>

        <!-- Projects Roadmap -->
        <app-projects-roadmap />

    </div>
</div>
<div class="lg:grid lg:grid-cols-5 gap-[25px]">
    <div class="lg:col-span-3">

        <!-- Projects Progress -->
        <app-projects-progress />

    </div>
    <div class="lg:col-span-2">

        <!-- My Tasks -->
        <app-my-tasks />

    </div>
</div>

<!-- All Projects -->
<app-all-projects />

<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div>

        <!-- Project Analysis -->
        <app-project-analysis />

    </div>
    <div>

        <!-- Team Members -->
        <app-team-members />

    </div>
    <div>

        <!-- Working Schedule -->
        <app-working-schedule />

    </div>
</div>
<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- To Do List -->
        <app-to-do-list />

    </div>
    <div class="lg:col-span-1">

        <!-- Tasks Overview -->
        <app-tasks-overview />

    </div>
</div>