<mat-card
    class="revenue-growth-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="title">
            <span class="d-block">
                Revenue Growth
            </span>
            <h5 class="mb-0">
                $32,420
            </h5>
        </div>
        <div class="chart">
            <div id="widgets_revenue_growth_chart"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="info-badge d-inline-block">
                +10%
            </span>
            <span class="days d-block">
                Last 7 days
            </span>
        </div>
    </mat-card-content>
</mat-card>