<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Chips
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Chips
        </li>
    </ol>
</div>

<!-- Chips -->
<div class="row">
    <div class="col-md-6 col-xxl-4">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Basic Chips
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-set aria-label="Fish selection">
                    <mat-chip>One fish</mat-chip>
                    <mat-chip>Two fish</mat-chip>
                    <mat-chip>Three fish</mat-chip>
                    <mat-chip disabled>Four fish</mat-chip>
                </mat-chip-set>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Chips with Input
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-chips-with-input />
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 col-xxl-4">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Chips Avatar
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-set aria-label="Dog selection">
                    <mat-chip>
                        <img
                            matChipAvatar
                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                            alt="Photo of a Shiba Inu"
                        />
                        Dog one
                    </mat-chip>
                    <mat-chip>
                        <img
                            matChipAvatar
                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                            alt="Photo of a Shiba Inu"
                        />
                        Dog two
                    </mat-chip>
                    <mat-chip>
                        <img
                            matChipAvatar
                            src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                            alt="Photo of a Shiba Inu"
                        />
                        Dog three
                    </mat-chip>
                </mat-chip-set>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Chips Drag and Drop
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-chips-drag-drop />
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Chips with Form Control
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-chips-form-control />
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 col-xxl-4">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Stacked Chips
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Cutest dog breeds">
                    @for (dog of bestBoys; track dog) {
                        <mat-chip-option selected>{{dog}}</mat-chip-option>
                    }
                </mat-chip-listbox>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Chips Autocomplete
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <app-chips-autocomplete />
            </mat-card-content>
        </mat-card>
    </div>
</div>