<mat-card
    class="lead-conversion-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <div class="title">
            <span class="d-block">
                Lead Conversion
            </span>
            <h5 class="mb-0">
                48.79%
            </h5>
        </div>
        <div class="chart">
            <div id="widgets_lead_conversion_chart"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <span class="info-badge down d-inline-block">
                -15%
            </span>
            <span class="days d-block">
                Last 30 days
            </span>
        </div>
    </mat-card-content>
</mat-card>