<div
    class="reset-password-area"
    [class.dark-theme]="themeService.isDark()"
>
    <div
        class="trezo-form ml-auto mr-auto"
        [class.component-dark-theme]="themeService.isDark()"
        [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    >
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="form-image">
                    <img src="images/reset-password.jpg" alt="reset-password-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="form-content">
                    <div class="logo">
                        <img src="images/logo-big.svg" alt="logo">
                        <img src="images/white-logo-big.svg" class="d-none" alt="logo">
                    </div>
                    <div class="title">
                        <h1 class="fw-semibold">
                            Reset Password?
                        </h1>
                        <p class="fw-medium">
                            Enter your new password and confirm it another time in the field below.
                        </p>
                    </div>
                    <form>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Old Password
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Type your old password
                                </mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <span class="material-symbols-outlined">
                                        {{hide ? 'visibility_off' : 'visibility'}}
                                    </span>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                New Password
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Type your new password
                                </mat-label>
                                <input matInput [type]="hide2 ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                                    <span class="material-symbols-outlined">
                                        {{hide2 ? 'visibility_off' : 'visibility'}}
                                    </span>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label class="main-label d-block fw-medium text-black">
                                Confrim Password
                            </label>
                            <mat-form-field>
                                <mat-label>
                                    Type your confrim password
                                </mat-label>
                                <input matInput [type]="hide3 ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
                                    <span class="material-symbols-outlined">
                                        {{hide3 ? 'visibility_off' : 'visibility'}}
                                    </span>
                                </button>
                            </mat-form-field>
                        </div>
                        <button type="button" mat-button>
                            <i class="material-symbols-outlined">
                                autorenew
                            </i>
                            Send
                        </button>
                        <p class="info">
                            Back to <a routerLink="/authentication" class="fw-semibold text-primary">Sign In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>