<mat-card class="todays-shipments-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <span class="d-block text-body text-base lh-initial">
                Today's Shipments
            </span>
            <h5 class="mb-0">
                9,120 Ton
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <div class="lh-initial">
                <span class="info-badge d-inline-block">
                    +5%
                </span>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="todays_shipments_chart"></div>
        </div>
    </mat-card-content>
</mat-card>