<div class="row">
    <div class="col-lg-9">

        <!-- Today’s Payment -->
        <app-todays-payment />

    </div>
    <div class="col-lg-3">
        <div class="row">
            <div class="col-lg-12 col-md-4">

                <!-- Total Users -->
                <app-total-users />

            </div>
            <div class="col-lg-12 col-md-4">

                <!-- Revenue -->
                <app-revenue />
                
            </div>
            <div class="col-lg-12 col-md-4">

                <!-- Conversion -->
                <app-conversion />
                
            </div>
        </div>
    </div>
    <div class="col-lg-4">

        <!-- Top Refers -->
        <app-top-refers />
        
    </div>
    <div class="col-lg-8">

        <!-- Active Users -->
        <app-active-users />
        
    </div>
    <div class="col-lg-9">

        <!-- Latest Transactions -->
        <app-latest-transactions />
        
    </div>
    <div class="col-lg-3">

        <!-- Upgrade Plans -->
        <app-upgrade-plans />
        
    </div>
    <div class="col-lg-4">

        <!-- Users -->
        <app-users />
        
    </div>
    <div class="col-lg-8">

        <!-- Product Trade Conditions -->
        <app-product-trade-conditions />
        
    </div>
    <div class="col-lg-8">

        <!-- Gross Revenue -->
        <app-gross-revenue />
        
    </div>
    <div class="col-lg-4">

        <!-- Sales By Country -->
        <app-sales-by-country />
        
    </div>
</div>