<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Add User
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Users
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Add User
        </li>
    </ol>
</div>

<!-- Add User -->
<form>
    <div class="row">
        <div class="col-lg-8">
            <mat-card class="add-user-card mb-25 border-radius d-block bg-white border-0 shadow-none">
                <mat-card-content>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    User ID
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter user id
                                    </mat-label>
                                    <input matInput placeholder="E.g. #JAN-123">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    User Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter user name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Olivia John">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput placeholder="E.g. olivia@trezo.com">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Location
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select>
                                        <mat-option value="option1">
                                            Washington D.C	
                                        </mat-option>
                                        <mat-option value="option2">
                                            Chicago
                                        </mat-option>
                                        <mat-option value="option3">
                                            Oklahoma City
                                        </mat-option>
                                        <mat-option value="option4">
                                            San Diego
                                        </mat-option>
                                        <mat-option value="option5">
                                            Los Angeles
                                        </mat-option>
                                        <mat-option value="option6">
                                            Las Vegas
                                        </mat-option>
                                        <mat-option value="option7">
                                            San Francisco
                                        </mat-option>
                                        <mat-option value="option8">
                                            Istanbul
                                        </mat-option>
                                        <mat-option value="option9">
                                            London
                                        </mat-option>
                                        <mat-option value="option10">
                                            Dubai
                                        </mat-option>
                                        <mat-option value="option11">
                                            Antalya
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Phone Number
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter phone number
                                    </mat-label>
                                    <input matInput placeholder="E.g. +1 555-445-4455">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Projects
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter projects
                                    </mat-label>
                                    <input matInput placeholder="E.g. 27">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Add Some Info
                                </label>
                                <mat-form-field>
                                    <mat-label>Type here....</mat-label>
                                    <textarea matInput placeholder="E.g. It makes me feel..."></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Facebook
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter facebook profile link
                                    </mat-label>
                                    <input matInput placeholder="E.g. https://www.facebook.com/">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    X
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter x profile link
                                    </mat-label>
                                    <input matInput placeholder="E.g. https://x.com/">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Linkedin
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter linkedin profile link
                                    </mat-label>
                                    <input matInput placeholder="E.g. https://www.linkedin.com/">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    GitHub
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter github profile link
                                    </mat-label>
                                    <input matInput placeholder="E.g. https://github.com/">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group mb-0">
                                <label class="main-label d-block fw-medium text-black">
                                    Upload Product Images
                                </label>
                                <file-upload class="file-uploader" [multiple]="multiple"></file-upload>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4">
            <mat-card
                class="add-user-card mb-25 border-radius d-block bg-white border-0 shadow-none"
                [class.component-rtl-enabled]="themeService.isRTLEnabled()"
            >
                <mat-card-header>
                    <mat-card-title>
                        <h5 class="mb-0">
                            Privacy Policy
                        </h5>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="boxes">
                        <mat-checkbox>
                            Allow users to show your email
                        </mat-checkbox>
                        <mat-checkbox>
                            Allow users to show your experiences
                        </mat-checkbox>
                        <mat-checkbox>
                            Allow users to show your followers
                        </mat-checkbox>
                    </div>
                    <div class="form-group mb-0">
                        <label class="main-label d-block fw-medium text-black">
                            Select Your Skills
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select
                            </mat-label>
                            <mat-select>
                                <mat-option value="option1">
                                    Leadership
                                </mat-option>
                                <mat-option value="option2">
                                    Project Management
                                </mat-option>
                                <mat-option value="option3">
                                    Data Analysis
                                </mat-option>
                                <mat-option value="option4">
                                    Teamwork
                                </mat-option>
                                <mat-option value="option5">
                                    Web Development
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <mat-card class="mb-25 border-radius d-block bg-transparent p-0 border-0 shadow-none">
        <mat-card-content>
            <div class="form-btn-box">
                <button type="button" mat-button color="warn">
                    Cancel
                </button>
                <button type="button" mat-button color="primary">
                    <i class="material-symbols-outlined">
                        add
                    </i>
                    Add User
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>