<mat-card
    class="our-top-courses-card mb-25 border-radius d-block border-0 shadow-none z-2"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0 text-white">
                Our Top Courses
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <owl-carousel-o [options]="ourTopCoursesSlides">
            <ng-template carouselSlide>
                <div class="d-flex align-items-center">
                    <div class="image border-radius flex-shrink-1">
                        <img src="images/courses/course1.jpg" class="border-radius" alt="course-image">
                    </div>
                    <div class="content flex-grow-0">
                        <span class="d-block text-white">
                            Basic Python
                        </span>
                        <div class="price text-white fw-semibold">
                            $35.99
                        </div>
                    </div>
                </div>
                <div class="info">
                    <span class="d-block text-white fw-semibold">
                        Course content
                    </span>
                    <ul class="text-white mt-0 mb-0 list-unstyled p-0">
                        <li class="d-inline-block position-relative">
                            10 sections
                        </li>
                        <li class="d-inline-block position-relative">
                            45 lectures
                        </li>
                        <li class="d-inline-block position-relative">
                            25h 50m
                        </li>
                    </ul>
                    <div class="text-end">
                        <a routerLink="/dashboard/lms" class="view-details-btn" mat-button>
                            <i class="material-symbols-outlined">
                                add
                            </i>
                            View Details
                        </a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="d-flex align-items-center">
                    <div class="image border-radius flex-shrink-1">
                        <img src="images/courses/course2.jpg" class="border-radius" alt="course-image">
                    </div>
                    <div class="content flex-grow-0">
                        <span class="d-block text-white">
                            HTML Developer
                        </span>
                        <div class="price text-white fw-semibold">
                            $49.99
                        </div>
                    </div>
                </div>
                <div class="info">
                    <span class="d-block text-white fw-semibold">
                        Course content
                    </span>
                    <ul class="text-white mt-0 mb-0 list-unstyled p-0">
                        <li class="d-inline-block position-relative">
                            12 sections
                        </li>
                        <li class="d-inline-block position-relative">
                            54 lectures
                        </li>
                        <li class="d-inline-block position-relative">
                            35h 40m
                        </li>
                    </ul>
                    <div class="text-end">
                        <a routerLink="/dashboard/lms" class="view-details-btn" mat-button>
                            <i class="material-symbols-outlined">
                                add
                            </i>
                            View Details
                        </a>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="d-flex align-items-center">
                    <div class="image border-radius flex-shrink-1">
                        <img src="images/courses/course3.jpg" class="border-radius" alt="course-image">
                    </div>
                    <div class="content flex-grow-0">
                        <span class="d-block text-white">
                            Basic Angular
                        </span>
                        <div class="price text-white fw-semibold">
                            $55.99
                        </div>
                    </div>
                </div>
                <div class="info">
                    <span class="d-block text-white fw-semibold">
                        Course content
                    </span>
                    <ul class="text-white mt-0 mb-0 list-unstyled p-0">
                        <li class="d-inline-block position-relative">
                            12 sections
                        </li>
                        <li class="d-inline-block position-relative">
                            48 lectures
                        </li>
                        <li class="d-inline-block position-relative">
                            29h 30m
                        </li>
                    </ul>
                    <div class="text-end">
                        <a routerLink="/dashboard/lms" class="view-details-btn" mat-button>
                            <i class="material-symbols-outlined">
                                add
                            </i>
                            View Details
                        </a>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </mat-card-content>
</mat-card>