<div class="trezo-card">
    <div class="trezo-card-header mb-[20px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Featured NFT Artworks
            </h5>
        </div>
    </div>
    <div class="trezo-card-content" id="featuredNftArtworksSlides">
        <owl-carousel-o [options]="featuredNftArtworksSlides">
            <ng-template carouselSlide>
                <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                    <div
                        class="h-[175px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                        style="background-image: url(images/nfts/featured1.jpg);"
                    ></div>
                    <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                        <div class="flex items-center gap-[10px]">
                            <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                            <div>
                                <span class="block text-xs">
                                    NFT ID: 35246
                                </span>
                                <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                    Christmas Eve
                                </a>
                            </div>
                        </div>
                        <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                    </div>
                    <span class="block text-xs mb-[4px]">
                        Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">9.75 ETH</span>
                    </span>
                    <div class="flex items-center justify-between pb-[5px]">
                        <span class="block font-semibold text-primary-800">
                            5.50 ETH
                        </span>
                        <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                            <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                            <span class="text-gray-900 dark:text-gray-400">9.2/</span>10
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                    <div
                        class="h-[175px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                        style="background-image: url(images/nfts/featured2.jpg);"
                    ></div>
                    <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                        <div class="flex items-center gap-[10px]">
                            <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                            <div>
                                <span class="block text-xs">
                                    NFT ID: 35247
                                </span>
                                <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                    Humming Bird
                                </a>
                            </div>
                        </div>
                        <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                    </div>
                    <span class="block text-xs mb-[4px]">
                        Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">10.75 ETH</span>
                    </span>
                    <div class="flex items-center justify-between pb-[5px]">
                        <span class="block font-semibold text-primary-800">
                            12.50 ETH
                        </span>
                        <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                            <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                            <span class="text-gray-900 dark:text-gray-400">9.5/</span>10
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                    <div
                        class="h-[175px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                        style="background-image: url(images/nfts/featured3.jpg);"
                    ></div>
                    <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                        <div class="flex items-center gap-[10px]">
                            <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                            <div>
                                <span class="block text-xs">
                                    NFT ID: 35228
                                </span>
                                <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                    Naughty Pool
                                </a>
                            </div>
                        </div>
                        <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                    </div>
                    <span class="block text-xs mb-[4px]">
                        Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">8.75 ETH</span>
                    </span>
                    <div class="flex items-center justify-between pb-[5px]">
                        <span class="block font-semibold text-primary-800">
                            9.50 ETH
                        </span>
                        <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                            <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                            <span class="text-gray-900 dark:text-gray-400">9.7/</span>10
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                    <div
                        class="h-[175px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                        style="background-image: url(images/nfts/featured1.jpg);"
                    ></div>
                    <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                        <div class="flex items-center gap-[10px]">
                            <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                            <div>
                                <span class="block text-xs">
                                    NFT ID: 35246
                                </span>
                                <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                    Christmas Eve
                                </a>
                            </div>
                        </div>
                        <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                    </div>
                    <span class="block text-xs mb-[4px]">
                        Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">9.75 ETH</span>
                    </span>
                    <div class="flex items-center justify-between pb-[5px]">
                        <span class="block font-semibold text-primary-800">
                            5.50 ETH
                        </span>
                        <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                            <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                            <span class="text-gray-900 dark:text-gray-400">9.2/</span>10
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                    <div
                        class="h-[175px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                        style="background-image: url(images/nfts/featured2.jpg);"
                    ></div>
                    <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                        <div class="flex items-center gap-[10px]">
                            <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                            <div>
                                <span class="block text-xs">
                                    NFT ID: 35247
                                </span>
                                <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                    Humming Bird
                                </a>
                            </div>
                        </div>
                        <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                    </div>
                    <span class="block text-xs mb-[4px]">
                        Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">10.75 ETH</span>
                    </span>
                    <div class="flex items-center justify-between pb-[5px]">
                        <span class="block font-semibold text-primary-800">
                            12.50 ETH
                        </span>
                        <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                            <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                            <span class="text-gray-900 dark:text-gray-400">9.5/</span>10
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="bg-white dark:bg-[#0c1427] p-[10px] rounded-md">
                    <div
                        class="h-[175px] rounded-md bg-center bg-cover bg-no-repeat mb-[15px]"
                        style="background-image: url(images/nfts/featured3.jpg);"
                    ></div>
                    <div class="flex items-center justify-between border-b border-primary-50 dark:border-[#172036] pb-[12px] mb-[14px]">
                        <div class="flex items-center gap-[10px]">
                            <img src="images/nfts/author.gif" class="rounded-full !w-[27px]" alt="author-image">
                            <div>
                                <span class="block text-xs">
                                    NFT ID: 35228
                                </span>
                                <a routerLink="." class="block font-semibold text-gray-900 dark:text-gray-400 transition-all hover:text-primary-500">
                                    Naughty Pool
                                </a>
                            </div>
                        </div>
                        <img src="images/nfts/verified2.svg" class="!w-[20px]" alt="verified">
                    </div>
                    <span class="block text-xs mb-[4px]">
                        Highest Bid: <span class="font-semibold text-gray-900 dark:text-gray-400 ltr:ml-[2px] rtl:mr-[2px]">8.75 ETH</span>
                    </span>
                    <div class="flex items-center justify-between pb-[5px]">
                        <span class="block font-semibold text-primary-800">
                            9.50 ETH
                        </span>
                        <span class="block relative text-xs font-semibold ltr:pl-[22px] rtl:pr-[22px]">
                            <i class="ri-heart-fill text-orange-600 absolute ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 text-lg"></i>
                            <span class="text-gray-900 dark:text-gray-400">9.7/</span>10
                        </span>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>