<mat-card class="mp-additional-information-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Additional Information
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="info-list pr-0 pl-0 mb-0 mt-0 list-unstyled">
            <li class="text-black fw-medium">
                <span class="text-body fw-normal">Phone:</span> +1 444 266 5599
            </li>
            <li class="text-black fw-medium">
                <span class="text-body fw-normal">Address:</span> 84 S. Arrowhead Court Branford
            </li>
            <li class="text-black fw-medium">
                <span class="text-body fw-normal">Orders:</span> 696
            </li>
            <li class="text-black fw-medium">
                <span class="text-body fw-normal">Products:</span> 9240
            </li>
            <li class="text-black fw-medium">
                <span class="text-body fw-normal">Events:</span> 5
            </li>
        </ul>
    </mat-card-content>
</mat-card>