.welcome-card {
    background: linear-gradient(81deg, var(--primaryColor) 3.39%, #9747FF 93.3%);

    .mat-mdc-card-content {
        padding-right: 130px;
        position: relative;

        .content {
            padding: {
                top: 25px;
                bottom: 25px;
            };
            h5 {
                margin-bottom: 2px;

                span {
                    color: #FFE8D4;
                }
            }
            .extra-space {
                margin: {
                    top: 35px;
                    bottom: 35px;
                };
            }
            .item {
                margin-right: 27px;

                .icon {
                    width: 42px;
                    height: 42px;
                    margin-right: 12px;
                }
                .title {
                    font-size: 16px;
                    margin-bottom: 4px;
                }
                span {
                    color: #D5D9E2;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .image {
            top: 50%;
            right: -35px;
            max-width: 285px;
            margin-top: -8px;
            position: absolute;
            transform: translateY(-50%);
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            padding: {
                left: 130px;
                right: 0;
            };
            .content {
                .item {
                    margin: {
                        right: 0;
                        left: 27px;
                    };
                    .icon {
                        margin: {
                            right: 0;
                            left: 12px;
                        };
                    }
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
            .image {
                right: auto;
                left: -35px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 0;
    
            .content {
                padding: {
                    top: 0;
                    bottom: 0;
                };
                h5 {
                    margin-bottom: 4px;
                }
                .extra-space {
                    margin: {
                        top: 15px;
                        bottom: 17px;
                    };
                }
                .item {
                    margin: {
                        right: 0;
                        bottom: 20px;
                    };
                    .icon {
                        width: 40px;
                        height: 40px;
                        margin-right: 10px;
                    }
                    .title {
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .image {
                top: 0;
                right: 0;
                margin-top: 0;
                max-width: 100%;
                position: relative;
                transform: translateY(0);
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding-left: 0;
        
                .content {
                    .item {
                        margin: {
                            left: 0;
                        };
                        .icon {
                            margin: {
                                right: 0;
                                left: 10px;
                            };
                        }
                    }
                }
                .image {
                    left: 0;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 185px;
    
            .image {
                top: 50%;
                right: -20px;
                max-width: 280px;
                position: absolute;
                transform: translateY(-50%);
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 185px;
                };
                .image {
                    left: -20px;
                    right: auto;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 220px;
    
            .content {
                padding: {
                    top: 20px;
                    bottom: 20px;
                };
                .extra-space {
                    margin: {
                        top: 22px;
                        bottom: 22px;
                    };
                }
                .item {
                    margin-right: 25px;
    
                    .title {
                        font-size: 15px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 220px;
                };
                .content {
                    .item {
                        margin: {
                            right: 0;
                            left: 25px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 250px;
    
            .image {
                right: -25px;
                max-width: 300px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    right: 0;
                    left: 250px;
                };
                .image {
                    right: auto;
                    left: -25px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .welcome-card {
        .mat-mdc-card-content {
            .image {
                right: -25px;
                max-width: 300px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .image {
                    right: auto;
                    left: -25px;
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .welcome-card {
        .mat-mdc-card-content {
            padding-right: 250px;

            .content {
                .item {
                    margin-right: 35px;
                }
            }
            .image {
                right: -15px;
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                padding: {
                    left: 250px;
                    right: 0;
                };
                .content {
                    .item {
                        margin: {
                            right: 0;
                            left: 35px;
                        };
                    }
                }
                .image {
                    right: auto;
                    left: -15px;
                }
            }
        }
    }

}