.example-listbox-container {
    padding: 5px;
    display: block;
    border: 1px solid var(--borderColor);
}
.example-listbox-label {
    display: block;
    padding: 5px;
}
.example-listbox {
    list-style: none;
    padding: 0;
    margin: 0;
}
.example-option {
    cursor: pointer;
    position: relative;
    padding: 5px 5px 5px 25px;

    &[aria-selected='true'] {
        &::before {
            left: 0;
            top: 50%;
            display: block;
            content: "\eb7b";
            position: absolute;
            transform: translateY(-50%);
            font: {
                size: 20px;
                family: remixicon;
            };
        }
    }
    &[aria-selected='true'] {
        color: var(--blackColor) !important;
    }
    &[aria-disabled='true'] {
        opacity: 0.5;
    }
}