<mat-card
    class="teachers-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0 fw-semibold">
                Teachers
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <a routerLink="." mat-button class="view-all-btn p-0 d-inline-block">
                View All
                <i class="ri-arrow-right-s-line"></i>
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-style-three">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>
                            Name
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="employee-info d-flex align-items-center">
                                <div class="img rounded-circle">
                                    <img [src]="element.name.img" class="rounded-circle" alt="user-image">
                                </div>
                                <div>
                                    <span class="d-block text-black fw-medium">
                                        {{element.name.name}}
                                    </span>
                                    <span class="d-block text-body">
                                        {{element.name.email}}
                                    </span>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Subject Column -->
                    <ng-container matColumnDef="subject">
                        <th mat-header-cell *matHeaderCellDef>
                            Subject
                        </th>
                        <td class="fw-medium text-black" mat-cell *matCellDef="let element">
                            {{element.subject}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
        </div>
    </mat-card-content>
</mat-card>