::ng-deep {
    .recent-leads-card {
        .mat-mdc-card-content {
            .mat-mdc-table {
                &.mdc-data-table__table {
                    .mat-mdc-header-row {
                        .mat-mdc-header-cell {
                            &:first-child {
                                padding-right: 0;
                            }
                            &:nth-child(2) {
                                padding-left: 15px;
                            }
                        }
                    }
                    .mdc-data-table__content {
                        .mat-mdc-row {
                            .mat-mdc-cell {
                                &:first-child {
                                    padding-right: 0;
                                }
                                &:nth-child(2) {
                                    padding-left: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .mat-mdc-table {
                    &.mdc-data-table__table {
                        .mat-mdc-header-row {
                            .mat-mdc-header-cell {
                                &:first-child {
                                    padding: {
                                        right: 25px !important;
                                        left: 0 !important;
                                    };
                                }
                                &:nth-child(2) {
                                    padding: {
                                        right: 15px !important;
                                        left: 25px !important;
                                    };
                                }
                            }
                        }
                        .mdc-data-table__content {
                            .mat-mdc-row {
                                .mat-mdc-cell {
                                    &:first-child {
                                        padding: {
                                            right: 25px !important;
                                            left: 0 !important;
                                        };
                                    }
                                    &:nth-child(2) {
                                        padding: {
                                            right: 15px !important;
                                            left: 25px !important;
                                        };
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .recent-leads-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mat-mdc-header-row {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            right: 17px !important;
                                        };
                                    }
                                    &:nth-child(2) {
                                        padding: {
                                            left: 17px !important;
                                        };
                                    }
                                }
                            }
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                right: 17px !important;
                                            };
                                        }
                                        &:nth-child(2) {
                                            padding: {
                                                left: 17px !important;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .recent-leads-card {
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .mat-mdc-table {
                        &.mdc-data-table__table {
                            .mat-mdc-header-row {
                                .mat-mdc-header-cell {
                                    &:first-child {
                                        padding: {
                                            right: 20px !important;
                                        };
                                    }
                                    &:nth-child(2) {
                                        padding: {
                                            left: 20px !important;
                                        };
                                    }
                                }
                            }
                            .mdc-data-table__content {
                                .mat-mdc-row {
                                    .mat-mdc-cell {
                                        &:first-child {
                                            padding: {
                                                right: 20px !important;
                                            };
                                        }
                                        &:nth-child(2) {
                                            padding: {
                                                left: 20px !important;
                                            };
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}