::ng-deep {
    .products-card {
        .mat-mdc-card-header {
            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    line-height: initial;
                    order: 2;
                }
                .mat-mdc-card-subtitle {
                    order: 1;
                }
            }
        }
        .mat-mdc-tab-group {
            --mat-stepper-header-selected-state-icon-background-color: var(--primaryColor);
            --mat-stepper-header-edit-state-icon-background-color: var(--primaryColor);
            --mdc-tab-indicator-active-indicator-color: var(--primaryColor);
            --mat-tab-header-active-focus-indicator-color: var(--primaryColor);
            --mat-tab-header-active-hover-indicator-color: var(--primaryColor);
    
            .mat-mdc-tab-header {
                margin-bottom: 25px;
            }
            .mat-mdc-tab-label-container {
                border-width: 0;
            }
            &.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header {
                .mat-mdc-tab {
                    flex-grow: unset !important;
                }
            }
            .mat-mdc-tab-ripple {
                border-radius: 7px;
            }
            .mat-mdc-tab-labels {
                gap: 15px;
            }
            .mdc-tab {
                height: 45px;
                border-radius: 7px;
                background-color: #F6F7F9;
                padding: {
                    left: 30px;
                    right: 30px;
                };
                .mdc-tab__text-label {
                    color: var(--blackColor);
                    transition: unset;
                    font-weight: 600;
                }
                &.mdc-tab--active {
                    background-color: var(--primaryColor);
    
                    .mdc-tab__text-label {
                        color: var(--whiteColor);
                    }
                    &:focus {
                        .mdc-tab__text-label {
                            color: var(--whiteColor);
                        }
                    }
                    &:hover {
                        .mdc-tab__text-label {
                            color: var(--whiteColor);
                        }
                    }
                }
            }
            .mat-mdc-tab {
                .mdc-tab__ripple {
                    &::before {
                        border-radius: 7px;
                    }
                }
                .mdc-tab-indicator__content--underline {
                    border-color: var(--primaryColor);
                    display: none;
                }
            }
            .mat-mdc-tab-header-pagination-before, .mat-mdc-tab-header-rtl .mat-mdc-tab-header-pagination-after {
                padding-left: 0;
            }
            .mat-mdc-tab-header-rtl .mat-mdc-tab-header-pagination-before, .mat-mdc-tab-header-pagination-after {
                padding-right: 0;
            }
        }
        &.component-dark-theme {
            .mat-mdc-tab-group {
                .mdc-tab {
                    background-color: #15203c;
                    
                    .mdc-tab__text-label {
                        color: var(--whiteColor);
                    }
                    &.mdc-tab--active {
                        background-color: var(--primaryColor);
        
                        .mdc-tab__text-label {
                            color: var(--whiteColor);
                        }
                        &:focus {
                            .mdc-tab__text-label {
                                color: var(--whiteColor);
                            }
                        }
                        &:hover {
                            .mdc-tab__text-label {
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .products-card {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    display: block;
                }
            }
            .mat-mdc-tab-group {
                .mat-mdc-tab-header {
                    margin-bottom: 17px;
                }
                .mat-mdc-tab-labels {
                    gap: 10px;
                }
                .mdc-tab {
                    height: 42px;
                    padding: {
                        left: 25px;
                        right: 25px;
                    };
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .products-card {
            .mat-mdc-tab-group {
                .mat-mdc-tab-header {
                    margin-bottom: 20px;
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}