<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Creators
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            NFT
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Creators
        </li>
    </ol>
</div>

<!-- Creators -->
<mat-card class="creators-filter-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Filter
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="form-group mb-0">
                    <mat-form-field class="style-two">
                        <mat-label>
                            Search
                        </mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group mb-0">
                    <mat-form-field class="style-two">
                        <mat-label>
                            Category
                        </mat-label>
                        <mat-select>
                            <mat-option value="option1">
                                Bird
                            </mat-option>
                            <mat-option value="option2">
                                Pool
                            </mat-option>
                            <mat-option value="option3">
                                Watermelon
                            </mat-option>
                            <mat-option value="option4">
                                Flower
                            </mat-option>
                            <mat-option value="option5">
                                Cookies
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group mb-0">
                    <mat-form-field class="style-two">
                        <mat-label>
                            File Type
                        </mat-label>
                        <mat-select>
                            <mat-option value="option1">
                                .zip
                            </mat-option>
                            <mat-option value="option2">
                                .jpg
                            </mat-option>
                            <mat-option value="option3">
                                .png
                            </mat-option>
                            <mat-option value="option4">
                                .gif
                            </mat-option>
                            <mat-option value="option5">
                                .pdf
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="form-group mb-0">
                    <mat-form-field class="style-two">
                        <mat-label>
                            Featured
                        </mat-label>
                        <mat-select>
                            <mat-option value="option1">
                                Bird
                            </mat-option>
                            <mat-option value="option2">
                                Pool
                            </mat-option>
                            <mat-option value="option3">
                                Watermelon
                            </mat-option>
                            <mat-option value="option4">
                                Flower
                            </mat-option>
                            <mat-option value="option5">
                                Cookies
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<div class="row">
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator1.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        Hunny Bunny
                    </h5>
                    <span class="d-block">
                        ITEMS: 3204
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button">
                        Follow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator2.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        Aristocrat
                    </h5>
                    <span class="d-block">
                        ITEMS: 5301
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button">
                        Follow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator3.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        Hooman Robotic
                    </h5>
                    <span class="d-block">
                        ITEMS: 4213
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button" color="warn">
                        Unfollow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator4.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        Colorful Life
                    </h5>
                    <span class="d-block">
                        ITEMS: 2314
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button">
                        Follow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator5.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        CryptoCanvas
                    </h5>
                    <span class="d-block">
                        ITEMS: 3204
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button" color="warn">
                        Unfollow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator6.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        MetaVisionaries
                    </h5>
                    <span class="d-block">
                        ITEMS: 5301
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button">
                        Follow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator7.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        CryptoCultures
                    </h5>
                    <span class="d-block">
                        ITEMS: 4213
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button" color="warn">
                        Unfollow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-3 col-lg-4 col-sm-6">
        <mat-card class="creator-card text-center mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <img src="images/nfts/creator8.jpg" class="border-radius" alt="creator-image">
                <div class="content">
                    <div class="author position-relative d-inline-block">
                        <img src="images/nfts/user.gif" class="rounded-circle" width="68" alt="user-image">
                        <img src="images/nfts/verified2.svg" width="20" class="verified mb-0" alt="verified">
                    </div>
                    <h5 class="fw-semibold">
                        Digital Mystique
                    </h5>
                    <span class="d-block">
                        ITEMS: 2314
                    </span>
                    <div class="border-top"></div>
                    <button mat-button type="button">
                        Follow
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Pagination -->
<mat-card class="pagination-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 8 of 36 results
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button class="prev" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="." class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        4
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button class="next" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </mat-card-content>
</mat-card>