.courses-sales-card {
    .mat-mdc-card-content {
        position: relative;
        padding-top: 20px;
        height: 225px;

        .info {
            h5 {
                font-size: 20px;
            }
            .info-badge {
                font-size: 13px;
                color: #1E8308;
                margin-left: 15px;
                padding: 3px 8.3px;
                border-radius: 100px;
                border: 1px solid #82FC5A;
                background-color: #D8FFC8;
    
                &.down {
                    border-color: #FFCEA9;
                    color: var(--dangerColor);
                    background-color: #FFE1DD;
                }
            }
        }
        .chart {
            left: 0;
            right: 0;
            bottom: -61px;
            position: absolute;
            margin: {
                left: -37px;
                right: -35px;
            };
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .info {
                .info-badge {
                    margin: {
                        left: 0;
                        right: 15px;
                    };
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .courses-sales-card {
        .mat-mdc-card-content {
            padding-top: 0;
            height: 200px;
    
            .info {
                h5 {
                    font-size: 18px;
                }
            }
            .chart {
                bottom: -53px;
                margin: {
                    left: -29px;
                    right: -27px;
                };
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .courses-sales-card {
        .mat-mdc-card-content {
            padding-top: 5px;
    
            .info {
                h5 {
                    font-size: 19px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}