<mat-card
    class="revenue-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <span class="d-block">
            Revenue
        </span>
        <h3 class="lh-1">
            $1.2M
        </h3>
        <span class="info-badge down d-inline-block">
            -3.2%
        </span>
        <div class="chart">
            <div id="revenue_chart"></div>
        </div>
    </mat-card-content>
</mat-card>