<app-overview />

<div class="lg:grid lg:grid-cols-3 gap-[25px]">
    <div class="lg:col-span-2">

        <!-- Stats -->
        <app-stats />

    </div>
    <div class="lg:col-span-1">

        <!-- Upcoming Events -->
        <app-upcoming-events />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Attendance Analytics -->
        <app-attendance-analytics />

    </div>
    <div class="lg:col-span-1">

        <!-- Teachers -->
        <app-teachers />

    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">

    <!-- Students Overview -->
    <app-students-overview />

    <!-- New Admissions -->
    <app-new-admissions />

    <!-- Notice Board -->
    <app-notice-board />

</div>

<app-students-list />