<mat-card
    class="seller-overview-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Seller Overview
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <div class="col-sm-6 col-xxl-3">
                <div class="box bg-primary-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-primary lh-1">
                            <i class="material-symbols-outlined">
                                settings_account_box
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Total Orders
                            </span>
                            <h5 class="mb-0">
                                7051
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Order this month
                        </span>
                        <span class="info-badge d-inline-block">
                            +0.75%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="box bg-orange-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-orange lh-1">
                            <i class="material-symbols-outlined">
                                settings_timelapse
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Total Earnings
                            </span>
                            <h5 class="mb-0">
                                $23.91k
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Earnings this month
                        </span>
                        <span class="info-badge down d-inline-block">
                            -1.25%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="box bg-success-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-success lh-1">
                            <i class="material-symbols-outlined">
                                assignment_return
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Total Refunds
                            </span>
                            <h5 class="mb-0">
                                178
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Refunds this month
                        </span>
                        <span class="info-badge d-inline-block">
                            +4.75%
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xxl-3">
                <div class="box bg-purple-50 border-radius">
                    <div class="d-flex align-items-center">
                        <div class="icon text-purple lh-1">
                            <i class="material-symbols-outlined">
                                discover_tune
                            </i>
                        </div>
                        <div>
                            <span class="d-block">
                                Conversion Rate
                            </span>
                            <h5 class="mb-0">
                                12.21%
                            </h5>
                        </div>
                    </div>
                    <div class="info d-flex align-items-center justify-content-between">
                        <span class="sub-title d-block">
                            Conversion rate this month
                        </span>
                        <span class="info-badge d-inline-block">
                            +1.11%
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>