<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Event Details
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Events
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Event Details
        </li>
    </ol>
</div>

<!-- Event Details Image -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] rounded-md">
    <div class="trezo-card-content">
        <img src="images/events/event-details.jpg" alt="event-details-image" class="rounded-md">
    </div>
</div>

<!-- Event Details -->
<div class="2xl:grid 2xl:grid-cols-5 gap-[25px]">
    <div class="2xl:col-span-3">
        <div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
            <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
                <div class="trezo-card-title">
                    <h5 class="mb-0">
                        Event Details
                    </h5>
                </div>
            </div>
            <div class="trezo-card-content">
                <span class="block text-black dark:text-white font-semibold mb-[10px]">
                    Annual Conference 2024
                </span>
                <p>
                    The Annual Conference 2024 is a flagship event organized by ABC Corporation. This conference aims to bring together industry leaders, experts, and enthusiasts to discuss the latest trends, innovations, and challenges in our field. Participants can expect insightful keynote sessions, engaging panel discussions, and valuable networking opportunities.
                </p>
                <div class="md:flex items-center mt-[20px]">
                    <div class="flex items-center ltr:mr-[30px] rtl:ml-[30px] ltr:last:mr-0 rtl:last:ml-0 mt-[20px] md:mt-0">
                        <div class="rounded-full text-primary-500 flex items-center justify-center bg-[#f4f6fc] dark:bg-[#15203c] w-[70px] h-[70px]">
                            <i class="material-symbols-outlined !text-[35px]">
                                schedule
                            </i>
                        </div>
                        <div class="ltr:ml-[15px] rtl:mr-[15px]">
                            <span class="block text-black dark:text-white font-semibold">
                                Time
                            </span>
                            <span class="block mt-[3px]">
                                01 Dec 2024, 09:00 AM
                            </span>
                        </div>
                    </div>
                    <div class="flex items-center ltr:mr-[30px] rtl:ml-[30px] ltr:last:mr-0 rtl:last:ml-0 mt-[20px] md:mt-0">
                        <div class="rounded-full text-info-500 flex items-center justify-center bg-[#f4f6fc] dark:bg-[#15203c] w-[70px] h-[70px]">
                            <i class="material-symbols-outlined !text-[35px]">
                                place
                            </i>
                        </div>
                        <div class="ltr:ml-[15px] rtl:mr-[15px]">
                            <span class="block text-black dark:text-white font-semibold">
                                Location
                            </span>
                            <span class="block mt-[3px]">
                                Convention Center
                            </span>
                        </div>
                    </div>
                    <div class="flex items-center ltr:mr-[30px] rtl:ml-[30px] ltr:last:mr-0 rtl:last:ml-0 mt-[20px] md:mt-0">
                        <div class="rounded-full text-purple-500 flex items-center justify-center bg-[#f4f6fc] dark:bg-[#15203c] w-[70px] h-[70px]">
                            <i class="material-symbols-outlined !text-[35px]">
                                event_seat
                            </i>
                        </div>
                        <div class="ltr:ml-[15px] rtl:mr-[15px]">
                            <span class="block text-black dark:text-white font-semibold">
                                Event Seat
                            </span>
                            <span class="block mt-[3px]">
                                50
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mt-[20px] md:mt-[30px] pt-[10px] md:pt-[20px] border-t border-dashed border-gray-100 dark:border-[#172036]">
                    <button type="button" class="inline-block rounded-md font-medium md:text-md bg-primary-500 border border-primary-500 text-white py-[11px] px-[27px] transition-all hover:bg-primary-400 hover:border-primary-400 mt-[10px] ltr:mr-[10px] rtl:ml-[10px] ltr:last:mr-0 rtl:last:ml-0">
                        <span class="flex items-center">
                            <i class="material-symbols-outlined !text-[20px] ltr:mr-[8px] rtl:ml-[8px]">
                                local_activity
                            </i>
                            Get Ticket
                        </span>
                    </button>
                    <button type="button" class="inline-block rounded-md font-medium md:text-md border border-gray-100 dark:border-[#172036] py-[11px] px-[27px] transition-all hover:border-primary-500 mt-[10px] ltr:mr-[10px] rtl:ml-[10px] ltr:last:mr-0 rtl:last:ml-0">
                        <span class="flex items-center">
                            <i class="material-symbols-outlined !text-[20px] ltr:mr-[8px] rtl:ml-[8px]">
                                event
                            </i>
                            Add To Calendar
                        </span>
                    </button>
                    <button type="button" class="inline-block rounded-md font-medium md:text-md border border-gray-100 dark:border-[#172036] py-[11px] px-[27px] transition-all hover:border-primary-500 mt-[10px] ltr:mr-[10px] rtl:ml-[10px] ltr:last:mr-0 rtl:last:ml-0">
                        <span class="flex items-center">
                            <i class="material-symbols-outlined !text-[20px] ltr:mr-[8px] rtl:ml-[8px]">
                                favorite_border
                            </i>
                            5937
                        </span>
                    </button>
                    <button type="button" class="inline-block rounded-md font-medium md:text-md border border-gray-100 dark:border-[#172036] py-[11px] px-[27px] transition-all hover:border-primary-500 mt-[10px] ltr:mr-[10px] rtl:ml-[10px] ltr:last:mr-0 rtl:last:ml-0">
                        <span class="flex items-center">
                            <i class="material-symbols-outlined !text-[20px] ltr:mr-[8px] rtl:ml-[8px]">
                                share
                            </i>
                            2582
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="2xl:col-span-2">
        <div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
            <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
                <div class="trezo-card-title">
                    <h5 class="mb-0">
                        Event Info
                    </h5>
                </div>
            </div>
            <div class="trezo-card-content">
                <ul>
                    <li class="mb-[12.5px] last:mb-0">
                        <span class="text-black dark:text-white">
                            08:00 AM
                        </span>
                        - Registration 
                    </li>
                    <li class="mb-[12.5px] last:mb-0">
                        <span class="text-black dark:text-white">
                            09:00 AM
                        </span>
                        - Opening Keynote 
                    </li>
                    <li class="mb-[12.5px] last:mb-0">
                        <span class="text-black dark:text-white">
                            10:30 AM
                        </span>
                        - Panel Discussion: Future Trends 
                    </li>
                    <li class="mb-[12.5px] last:mb-0">
                        <span class="text-black dark:text-white">
                            12:00 PM
                        </span>
                        - Lunch Break 
                    </li>
                    <li class="mb-[12.5px] last:mb-0">
                        <span class="text-black dark:text-white">
                            02:00 PM
                        </span>
                        - Interactive Workshops 
                    </li>
                    <li class="mb-[12.5px] last:mb-0">
                        <span class="text-black dark:text-white">
                            04:30 PM
                        </span>
                        - Networking Reception 
                    </li>
                </ul>
                <h5 class="mt-[23px] mb-[16px] text-lg">
                    Registration Information
                </h5>
                <ul>
                    <li class="mb-[12.5px] last:mb-0">
                        Early Bird Registration Deadline: 15 November 2024
                    </li>
                    <li class="mb-[12.5px] last:mb-0">
                        Standard Registration Deadline: 30 November 2024
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="lg:grid lg:grid-cols-2 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    About This Event
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <p>
                Pellentesque viverra lorem malesuada nunc tristique sapien. Imperdiet sit hendrerit tincidunt bibendum donec adipiscing. Tellus non morbi nascetur cursus etiam facilisis mi. Dolor aliquam sed amet aliquam venenatis. Ac viverra interdum tortor enim. Molestie tincidunt ut consequat a urna tortor. Vitae velit ac nisl velit mauris placerat nisi placerat.
            </p>
            <p>
                Imperdiet sit hendrerit tincidunt bibendum donec adipiscing. Tellus non morbi nascetur cursus etiam facilisis mi. Dolor aliquam sed amet aliquam venenatis. Ac viverra interdum tortor enim. Molestie tincidunt ut consequat a urna tortor. Vitae velit ac nisl velit mauris placerat nisi placerat.
            </p>
            <ul class="mt-[21px]">
                <li class="relative ltr:pl-[15px] rtl:pr-[11px] mb-[11px] last:mb-0">
                    <span class="absolute w-[6px] h-[6px] rounded-full bg-primary-500 ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 -mt-px"></span>
                    Pellentesque viverra lorem malesuada nunc tristique sapien.
                </li>
                <li class="relative ltr:pl-[15px] rtl:pr-[11px] mb-[11px] last:mb-0">
                    <span class="absolute w-[6px] h-[6px] rounded-full bg-primary-500 ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 -mt-px"></span>
                    Imperdiet sit hendrerit tincidunt bibendum donec adipiscing.
                </li>
                <li class="relative ltr:pl-[15px] rtl:pr-[11px] mb-[11px] last:mb-0">
                    <span class="absolute w-[6px] h-[6px] rounded-full bg-primary-500 ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 -mt-px"></span>
                    Tellus non morbi nascetur cursus etiam facilisis mi.
                </li>
                <li class="relative ltr:pl-[15px] rtl:pr-[11px] mb-[11px] last:mb-0">
                    <span class="absolute w-[6px] h-[6px] rounded-full bg-primary-500 ltr:left-0 rtl:right-0 top-1/2 -translate-y-1/2 -mt-px"></span>
                    Imperdiet sit hendrerit tincidunt bibendum donec adipiscing.
                </li>
            </ul>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Speakers
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <div class="table-responsive overflow-x-auto">
                <table class="w-full">
                    <thead class="text-black dark:text-white">
                        <tr>
                            <th class="font-medium ltr:text-left rtl:text-right px-[20px] py-[11px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md">
                                Speaker
                            </th>
                            <th class="font-medium ltr:text-left rtl:text-right px-[20px] py-[11px] bg-gray-50 dark:bg-[#15203c] whitespace-nowrap ltr:first:rounded-tl-md ltr:last:rounded-tr-md rtl:first:rounded-tr-md rtl:last:rounded-tl-md">
                                Topic
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-black dark:text-white">
                        <tr>
                            <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                <div class="flex items-center">
                                    <img src="images/users/user1.jpg" class="rounded-md w-[40px]" alt="user-image">
                                    <span class="font-medium block ltr:ml-[12px] rtl:mr-[12px]">
                                        Sarah Johnson
                                    </span>
                                </div>
                            </td>
                            <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                Opening Keynote
                            </td>
                        </tr>
                        <tr>
                            <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                <div class="flex items-center">
                                    <img src="images/users/user2.jpg" class="rounded-md w-[40px]" alt="user-image">
                                    <span class="font-medium block ltr:ml-[12px] rtl:mr-[12px]">
                                        Russell Colon
                                    </span>
                                </div>
                            </td>
                            <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                Panel Discussion: Future Trends
                            </td>
                        </tr>
                        <tr>
                            <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                <div class="flex items-center">
                                    <img src="images/users/user3.jpg" class="rounded-md w-[40px]" alt="user-image">
                                    <span class="font-medium block ltr:ml-[12px] rtl:mr-[12px]">
                                        Cynthia Baggett
                                    </span>
                                </div>
                            </td>
                            <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                Interactive Workshops
                            </td>
                        </tr>
                        <tr>
                            <td class="ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                <div class="flex items-center">
                                    <img src="images/users/user4.jpg" class="rounded-md w-[40px]" alt="user-image">
                                    <span class="font-medium block ltr:ml-[12px] rtl:mr-[12px]">
                                        Raymond Nguyen
                                    </span>
                                </div>
                            </td>
                            <td class="text-gray-500 dark:text-gray-400 ltr:text-left rtl:text-right whitespace-nowrap px-[20px] py-[15px] border-b border-gray-100 dark:border-[#172036] ltr:first:border-l ltr:last:border-r rtl:first:border-r rtl:last:border-l">
                                Networking Reception
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>