<mat-card class="active-users-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Active Users
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="card-header-menu style-two d-inline-block border-radius">
                {{ selectedTimeframe }}
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('Weekly')">
                            Weekly
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('Monthly')">
                            Monthly
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item (click)="onTimeframeChange('Yearly')">
                            Yearly
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="chart">
            <div id="active_users_chart"></div>
        </div>
    </mat-card-content>
</mat-card>