<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Images
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            UI Elements
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Images
        </li>
    </ol>
</div>

<!-- Images -->
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Responsive Images
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <img src="images/profile-cover.jpg" class="inline-block" alt="img-fluid">
    </div>
</div>
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
        <div class="trezo-card-title">
            <h5 class="mb-0">
                Aligning Images
            </h5>
        </div>
    </div>
    <div class="trezo-card-content">
        <img src="images/200.jpg" class="rounded-md inline-block" alt="image">
    </div>
</div>
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="text-center">
            <img src="images/200.jpg" class="rounded-md inline-block" alt="image">
        </div>
    </div>
</div>
<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="ltr:text-right rtl:text-left">
            <img src="images/200.jpg" class="rounded-md inline-block" alt="image">
        </div>
    </div>
</div>
<div class="grid lg:grid-cols-2 gap-[25px] mb-[25px]">
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Picture
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <picture>
                <source media="(min-width: 650px)" srcset="images/courses/course1.jpg">
                <source media="(min-width: 465px)" srcset="images/courses/course2.jpg">
                <img src="images/courses/course3.jpg" class="img-fluid" alt="image">
            </picture>
        </div>
    </div>
    <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
        <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
            <div class="trezo-card-title">
                <h5 class="mb-0">
                    Image Thumbnails
                </h5>
            </div>
        </div>
        <div class="trezo-card-content">
            <img src="images/200.jpg" class="inline-block p-[.25rem] border border-gray-100 rounded-md dark:border-[#172036]" alt="img-thumbnail">
        </div>
    </div>
</div>