<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Ticket Details
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            HelpDesk
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Tickets
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Ticket Details
        </li>
    </ol>
</div>

<!-- Ticket -->
<mat-card class="table-style-two mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource">

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>
                        ID
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-body">
                        {{element.id}}
                    </td>
                </ng-container>

                <!-- Ticket Title Column -->
                <ng-container matColumnDef="ticketTitle">
                    <th mat-header-cell *matHeaderCellDef>
                        Ticket Title
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <a routerLink="/dashboard/helpdesk-page/ticket-details" class="project-name fw-medium">
                            {{element.ticketTitle}}
                        </a>
                    </td>
                </ng-container>

                <!-- Requester Column -->
                <ng-container matColumnDef="requester">
                    <th mat-header-cell *matHeaderCellDef>
                        Requester
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.requester}}
                    </td>
                </ng-container>

                <!-- Assigned To Column -->
                <ng-container matColumnDef="assignedTo">
                    <th mat-header-cell *matHeaderCellDef>
                        Assigned To
                    </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.assignedTo}}
                    </td>
                </ng-container>

                <!-- Created Date Column -->
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef>
                        Created Date
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-body">
                        {{element.createdDate}}
                    </td>
                </ng-container>

                <!-- Due Date Column -->
                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef>
                        Due Date
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-body">
                        {{element.dueDate}}
                    </td>
                </ng-container>

                <!-- Priority Column -->
                <ng-container matColumnDef="priority">
                    <th mat-header-cell *matHeaderCellDef>
                        Priority
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-body">
                        {{element.priority}}
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="trezo-badge" *ngIf="element.status.finished">
                            Finished
                        </span>
                        <span class="trezo-badge pending" *ngIf="element.status.pending">
                            Pending
                        </span>
                        <span class="trezo-badge inProgress" *ngIf="element.status.inProgress">
                            In Progress
                        </span>
                        <span class="trezo-badge cancelled" *ngIf="element.status.cancelled">
                            Cancelled
                        </span>
                    </td>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                        Action
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="action-buttons d-flex align-items-center">
                            <button type="button" mat-button>
                                <i class="material-symbols-outlined">
                                    {{element.action.edit}}
                                </i>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </mat-card-content>
</mat-card>

<div class="row">
    <div class="col-lg-8">

        <!-- Ticket Details -->
        <mat-card
            class="ticket-details-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-dark-theme]="themeService.isDark()"
        >
            <mat-card-content>
                <h6>
                    Ticket Description
                </h6>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of <a routerLink="/dashboard/helpdesk-page/ticket-details">Lorem Ipsum</a>.
                </p>
                <h6>
                    Network Infrastructure for Trezo
                </h6>
                <ul>
                    <li>
                        Login Issues
                    </li>
                    <li>
                        Cloud Migration
                    </li>
                    <li>
                        Website Revamp
                    </li>
                    <li>
                        Mobile Application
                    </li>
                    <li>
                        System Deployment
                    </li>
                </ul>
                <h6>
                    Here is the Code:
                </h6>
                <code>
                    &lt;<span class="red">span</span><span class="green">class</span>=<span class="blue">&quot;material-symbols-outlined&quot;</span>&gt;search&lt;/<span class="red">span</span>&gt;
                </code>
            </mat-card-content>
        </mat-card>

        <!-- Comments -->
        <mat-card
            class="comments-card mb-25 border-radius d-block bg-white border-0 shadow-none"
            [class.component-rtl-enabled]="themeService.isRTLEnabled()"
        >
            <mat-card-content>
                <ul class="comments mt-0 mb-0 pl-0 pr-0 list-unstyled">
                    <li>
                        <div class="info d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="images/users/user6.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                <span class="d-block fw-medium text-primary">
                                    Ponsiano
                                </span>
                            </div>
                            <span class="d-block">
                                a day ago
                            </span>
                            <span class="trezo-badge bg-primary text-white">
                                #BD0JL0G6
                            </span>
                        </div>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                        <h6>
                            Screenshots
                        </h6>
                        <div class="screenshots">
                            <img src="images/courses/course1.jpg" class="border-radius" alt="screenshot-image">
                        </div>
                    </li>
                    <li>
                        <div class="info d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="images/users/user7.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                <span class="d-block fw-medium text-danger">
                                    Zelxa
                                </span>
                            </div>
                            <span class="d-block">
                                18 hours ago
                            </span>
                            <span class="trezo-badge bg-secondary text-white">
                                Support Staff
                            </span>
                        </div>
                        <p>
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <h6>
                            Screenshots
                        </h6>
                        <div class="screenshots">
                            <img src="images/products/product1.jpg" class="border-radius" alt="screenshot-image">
                            <img src="images/products/product2.jpg" class="border-radius" alt="screenshot-image">
                        </div>
                    </li>
                    <li>
                        <div class="info d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="images/users/user6.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                <span class="d-block fw-medium text-primary">
                                    Ponsiano
                                </span>
                            </div>
                            <span class="d-block">
                                12 hours ago
                            </span>
                        </div>
                        <p>
                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>
                    </li>
                    <li>
                        <div class="info d-flex align-items-center">
                            <div class="d-flex align-items-center">
                                <img src="images/users/user7.jpg" width="30" height="30" class="rounded-circle" alt="user-image">
                                <span class="d-block fw-medium text-danger">
                                    Zelxa
                                </span>
                            </div>
                            <span class="d-block">
                                05 hours ago
                            </span>
                            <span class="trezo-badge bg-secondary text-white">
                                Support Staff
                            </span>
                        </div>
                        <p>
                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation.
                        </p>
                    </li>
                </ul>
                <form>
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Post A Reply
                        </label>
                        <div class="NgxEditor__Wrapper">
                            <ng-container *ngIf="editor">
                                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
                                <ngx-editor [editor]="editor"></ngx-editor>
                            </ng-container>
                        </div>
                        <!-- <mat-form-field>
                            <mat-label>Type here....</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field> -->
                    </div>
                    <div class="form-btn-box">
                        <button type="button" mat-button color="warn">
                            Save As Draft
                        </button>
                        <button type="button" mat-button color="primary">
                            <i class="material-symbols-outlined">
                                send
                            </i>
                            Submit Now
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>

    </div>
    <div class="col-lg-4">

        <!-- Attachments -->
        <app-attachments />

    </div>
</div>