<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Expansion
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            UI Elements
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Expansion
        </li>
    </ol>
</div>

<!-- Basic Expansion -->
<app-basic-expansion />

<!-- Expansion as Accordion -->
<app-expansion-as-accordion />

<!-- Accordion with Expand/Collapse all Toggles -->
<app-accordion-expand-collapse-toggles />