.calendar-working-schedule-card {
    .mat-mdc-card-content {
        position: relative;

        .upcoming-events {
            margin-top: 13px;

            .title {
                margin-bottom: 15px;
            }
            .event-item {
                padding-left: 14px;

                h6 {
                    font-size: 13px;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 12px;
                }
                &::before {
                    left: 0;
                    top: 3px;
                    width: 7px;
                    content: '';
                    height: 7px;
                    position: absolute;
                    border-radius: 2px;
                    background: var(--primaryColor);
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .upcoming-events {
                .event-item {
                    direction: rtl;
                    padding: {
                        left: 0;
                        right: 14px;
                    };
                    &::before {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }
}
::ng-deep {
    .calendar-working-schedule-card {
        .mat-mdc-card-content {
            .mat-mdc-button {
                &.add-new-event-btn {
                    height: auto;
                    min-width: auto;
                    margin-top: 25px;
                    font-weight: 500;
                    padding: 8px 13px;
                    border-radius: 7px;
                    display: inline-block;
                    color: var(--primaryColor);
                    border: 1px solid var(--primaryColor);
                    
                    .mdc-button__label {
                        display: inline-block;
                        padding-left: 22px;

                        i {
                            top: 50%;
                            left: -4px;
                            font-size: 22px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            .mat-calendar {
                .mat-calendar-header {
                    padding: 0;
                    margin-bottom: 20px;

                    .mat-calendar-controls {
                        margin: 0;
                        justify-content: space-between;

                        .mat-calendar-period-button {
                            order: 2;
                            margin: 0;
                            padding: 0;
                            height: auto;
                            min-width: auto;
                            display: inline-block;
                            color: var(--blackColor);

                            .mdc-button__label {
                                display: block;
                                padding-right: 15px;

                                svg {
                                    top: 50%;
                                    right: 0;
                                    position: absolute;
                                    fill: var(--bodyColor);
                                    transform: translateY(-50%);
                                }
                            }
                            &:hover {
                                .mat-mdc-button-persistent-ripple {
                                    &::before {
                                        opacity: 0;
                                    }
                                }
                            }
                        }
                        .mat-calendar-previous-button, .mat-calendar-next-button {
                            background-color: var(--borderColor);
                            color: var(--blackColor);
                            display: inline-block;
                            height: 30px;
                            width: 30px;
                            padding: 0;
                            order: 1;

                            &::after, &::after {
                                margin: 11px;
                            }
                        }
                        .mat-calendar-next-button {
                            order: 3;
                        }
                        .mat-calendar-spacer {
                            display: none;
                        }
                    }
                }
                .mat-calendar-content {
                    padding: 0;
                    margin: {
                        left: -22px;
                        right: -22px;
                    };
                    .mat-calendar-table-header {
                        th {
                            padding: 0 0 5px;
                            color: var(--blackColor);
                        }
                        .mat-calendar-table-header-divider {
                            padding: 0;
                        }
                    }
                    .mat-calendar-body {
                        min-width: auto;

                        .mat-calendar-body-label {
                            opacity: 0;
                            padding: 0 !important;
                            color: var(--blackColor);
                        }
                        .mat-calendar-body-cell-container {
                            padding: 1.5px !important;
                            width: auto !important;
                            line-height: initial;
                            text-align: center;
                            height: auto;
                        }
                        .mat-calendar-body-cell {
                            padding: 0;
                            width: 35px;
                            height: 35px;
                            font-size: 13px;
                            border-radius: 50%;
                            position: relative;
                            margin: {
                                left: auto;
                                right: auto;
                            };
                        }
                        .mat-calendar-body-cell-content {
                            color: var(--bodyColor);
                        }
                    }
                    .mat-calendar-body-today {
                        &:not(.mat-calendar-body-selected) {
                            &:not(.mat-calendar-body-comparison-identical) {
                                color: var(--whiteColor);
                                border-color: var(--secondaryColor);
                                background-color: var(--secondaryColor);
                            }
                        }
                    }
                }
            }
            .owl-theme {
                .owl-nav {
                    &.disabled + .owl-dots {
                        margin-top: 0;
                    }
                }
                .owl-dots {
                    right: 0;
                    top: -33px;
                    position: absolute;

                    .owl-dot {
                        span {
                            width: 7px;
                            height: 7px;
                            margin: 0 4px 0 0;
                            border-radius: 50%;
                            background: var(--borderColor);
                            transition: var(--transition);
                        }
                        &:last-child {
                            span {
                                margin-right: 0;
                            }
                        }
                        &:hover, &.active {
                            span {
                                background: var(--primaryColor);
                            }
                        }
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .mat-calendar {
                    .mat-calendar-header {
                        .mat-calendar-controls {
                            .mat-calendar-period-button {
                                color: var(--whiteColor);
                            }
                            .mat-calendar-previous-button, .mat-calendar-next-button {
                                color: var(--whiteColor);
                            }
                        }
                    }
                    .mat-calendar-content {
                        .mat-calendar-table-header {
                            th {
                                color: var(--whiteColor);
                            }
                        }
                        .mat-calendar-body {
                            .mat-calendar-body-label {
                                color: var(--whiteColor);
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .mat-calendar {
                    .mat-calendar-header {
                        .mat-calendar-controls {
                            .mat-calendar-next-button {
                                &::after {
                                    transform: translateX(2px) rotate(-45deg);
                                    border: {
                                        left-width: 2px;
                                        right-width: 0;
                                    };
                                }
                            }
                            .mat-calendar-previous-button {
                                &::after {
                                    transform: translateX(-2px) rotate(45deg);
                                    border: {
                                        left-width: 0;
                                        right-width: 2px;
                                    };
                                }
                            }
                        }
                    }
                }
                .owl-theme {
                    .owl-dots {
                        right: auto;
                        left: 0;

                        .owl-dot {
                            span {
                                margin: {
                                    right: 0;
                                    left: 4px;
                                };
                            }
                            &:last-child {
                                span {
                                    margin-left: 4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .calendar-working-schedule-card {
        .mat-mdc-card-content {
            .upcoming-events {
                margin-top: 10px;
    
                .title {
                    margin-bottom: 12px;
                }
                .event-item {
                    h6 {
                        margin-bottom: 6px;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .calendar-working-schedule-card {
            .mat-mdc-card-content {
                .mat-mdc-button {
                    &.add-new-event-btn {
                        margin-top: 17px;
                    }
                }
                .mat-calendar {
                    .mat-calendar-content {
                        margin: {
                            left: -14px;
                            right: 0;
                        };
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-calendar {
                    .mat-calendar-content {
                        margin: {
                            left: 0;
                            right: -14px;
                        };
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .calendar-working-schedule-card {
            .mat-mdc-card-content {
                .mat-mdc-button {
                    &.add-new-event-btn {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .calendar-working-schedule-card {
        .mat-mdc-card-content {
            .upcoming-events {
                margin-top: 12px;
    
                .title {
                    margin-bottom: 13px;
                }
            }
        }
    }
    ::ng-deep {
        .calendar-working-schedule-card {
            .mat-mdc-card-content {
                .mat-calendar {
                    .mat-calendar-content {
                        margin: {
                            left: -12px;
                            right: -12px;
                        };
                        .mat-calendar-table-header {
                            th {
                                padding: 0 0 4px;
                            }
                        }
                        .mat-calendar-body {
                            .mat-calendar-body-cell-container {
                                padding: 2px !important;
                            }
                            .mat-calendar-body-cell {
                                width: 34.5px;
                                height: 34.5px;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    ::ng-deep {
        .calendar-working-schedule-card {
            .mat-mdc-card-content {
                .mat-calendar {
                    .mat-calendar-content {
                        margin: {
                            left: -12px;
                            right: -12px;
                        };
                        .mat-calendar-body {
                            .mat-calendar-body-cell-container {
                                padding: 2px !important;
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}