<mat-card
    class="attachments-card mb-25 border-radius d-block bg-white border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
    [class.component-dark-theme]="themeService.isDark()"
>
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Attachments
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul class="m-0 p-0 list-unstyled">
            <li class="border-radius d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        <i class="ri-file-warning-line"></i>
                    </div>
                    <div>
                        <h6 class="d-flex align-items-center fw-medium">
                            Project_attachment_1.zip
                        </h6>
                        <span class="d-block file-size">
                            3.25 MB
                        </span>
                    </div>
                </div>
                <button type="button" mat-button>
                    <i class="ri-download-2-line"></i>
                </button>
            </li>
            <li class="border-radius d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        <i class="ri-file-warning-line"></i>
                    </div>
                    <div>
                        <h6 class="d-flex align-items-center fw-medium">
                            Project_attachment_2.zip
                        </h6>
                        <span class="d-block file-size">
                            5.12 MB
                        </span>
                    </div>
                </div>
                <button type="button" mat-button>
                    <i class="ri-download-2-line"></i>
                </button>
            </li>
            <li class="border-radius d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        <i class="ri-file-warning-line"></i>
                    </div>
                    <div>
                        <h6 class="d-flex align-items-center fw-medium">
                            Project_attachment_3.zip
                        </h6>
                        <span class="d-block file-size">
                            5.12 MB
                        </span>
                    </div>
                </div>
                <button type="button" mat-button>
                    <i class="ri-download-2-line"></i>
                </button>
            </li>
            <li class="border-radius d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="icon">
                        <i class="ri-file-warning-line"></i>
                    </div>
                    <div>
                        <h6 class="d-flex align-items-center fw-medium">
                            Project_attachment_4.zip
                        </h6>
                        <span class="d-block file-size">
                            5.12 MB
                        </span>
                    </div>
                </div>
                <button type="button" mat-button>
                    <i class="ri-download-2-line"></i>
                </button>
            </li>
        </ul>
    </mat-card-content>
</mat-card>