.ethereum-rate-card {
    .mat-mdc-card-content {
        h3 {
            font-size: 32px;
        }
        .rate {
            gap: 10px;
            margin: {
                top: 9px;
                bottom: 10px;
            };
        }
        .info-badge {
            font-size: 12px;
            color: #1E8308;
            padding: 2px 10px;
            border-radius: 100px;
            border: 1px solid #82FC5A;
            background-color: #D8FFC8;
          
            &.down {
                border-color: #FFCEA9;
                color: var(--dangerColor);
                background-color: #FFE1DD;
            }
        }
        .text-xs {
            font-size: 12px;
        }
        .buttons-list {
            gap: 30px;
            margin-top: 25px;
            
            .mat-mdc-button {
                padding: 0;
                width: 34px;
                height: 28px;
                border-radius: 4px;
                display: inline-block;
                color: var(--bodyColor);
                transition: var(--transition);

                &:hover, &.active {
                    background-color: var(--primaryColor);
                    color: var(--whiteColor);
                }
            }
        }
        .chart {
            margin-bottom: 10px;
        }
        .info-list {
            li {
                margin-bottom: 20px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .ethereum-rate-card {
        .mat-mdc-card-content {
            h3 {
                font-size: 26px;
            }
            .buttons-list {
                gap: 20px;
                margin-top: 17px;
            }
            .chart {
                margin-bottom: 0;
            }
            .info-list {
                li {
                    margin-bottom: 15px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .ethereum-rate-card {
        .mat-mdc-card-content {
            h3 {
                font-size: 28px;
            }
            .buttons-list {
                gap: 25px;
                margin-top: 20px;
            }
            .chart {
                margin-bottom: 0;
            }
            .info-list {
                li {
                    margin-bottom: 18px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}