.pricing-style-3-card {
    padding-top: 55px;

    .mat-mdc-card-content {
        .single-pricing-box {
            padding: {
                left: 23px;
                right: 23px;
            };
            .title {
                span {
                    color: #8695AA;
                    border-radius: 7px;
                    padding: 8.5px 17.3px;
                    border: 1px solid var(--borderColor);
                }
            }
            .price {
                font-size: 36px;
                letter-spacing: -1px;
                margin: {
                    top: 17px;
                    bottom: 17px;
                };
                span {
                    font-size: 16px;
                    letter-spacing: normal;
                }
            }
            .features-list {
                margin-top: 28px;
    
                li {
                    padding-left: 39px;
                    margin-bottom: 21px;
    
                    i {
                        left: 0;
                        top: 50%;
                        position: absolute;
                        color: var(--successColor);
                        transform: translateY(-50%);
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            .popular {
                top: -20px;
                right: 10px;
                position: absolute;
            }
            &::before {
                top: 0;
                bottom: 0;
                content: '';
                right: -11px;
                position: absolute;
                border-right: 1px dashed var(--borderColor);
            }
        }
        .col-sm-6 {
            &:last-child {
                .single-pricing-box {
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .single-pricing-box {
                .features-list {
                    li {
                        padding: {
                            left: 0;
                            right: 39px;
                        };
                        i {
                            left: auto;
                            right: 0;
                        }
                    }
                }
                .popular {
                    right: auto;
                    left: 10px;
                }
                &::before {
                    right: auto;
                    left: -11px;
                }
            }
        }
    }
}
::ng-deep {
    .pricing-style-3-card {
        .mat-mdc-card-content {
            .single-pricing-box {
                .mat-mdc-button {
                    width: 100%;
                    height: auto;
                    display: block;
                    min-width: auto;
                    margin-top: 20px;
                    padding: 14px 25px;
                    border-radius: 7px;
                    color: var(--whiteColor);
                    background-color: var(--primaryColor);
                    font: {
                        size: 16px;
                        weight: 500;
                    };
                    .mdc-button__label {
                        padding-left: 25px;
                        display: inline-block;

                        i {
                            left: 0;
                            top: 50%;
                            font-size: 16px;
                            position: absolute;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .mat-mdc-button {
                        .mdc-button__label {
                            padding: {
                                left: 0;
                                right: 25px;
                            };
                            i {
                                left: auto;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .pricing-style-3-card {
        padding-top: 17px;
        
        .mat-mdc-card-content {
            .single-pricing-box {
                padding: {
                    left: 0;
                    right: 0;
                    bottom: 25px;
                };
                .title {
                    span {
                        padding: 6px 15px;
                    }
                }
                .price {
                    font-size: 26px;
                    letter-spacing: -.5px;
                    margin: {
                        top: 15px;
                        bottom: 13px;
                    };
                    span {
                        font-size: 13px;
                    }
                }
                .features-list {
                    margin-top: 20px;
        
                    li {
                        padding-left: 27px;
                        margin-bottom: 15px;
        
                        i {
                            font-size: 20px;
                        }
                    }
                }
                .popular {
                    top: -10px;
                    right: 7px;
                    width: 55px;
                }
                &::before {
                    left: 0;
                    right: 0;
                    top: auto;
                    bottom: 0;
                    border-right-width: 0;
                    border-bottom: 1px dashed var(--borderColor);
                }
            }
            .col-sm-6 {
                &:last-child {
                    .single-pricing-box {
                        margin-bottom: 0 !important;
                        padding-bottom: 0;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .features-list {
                        li {
                            padding: {
                                left: 0;
                                right: 27px;
                            };
                        }
                    }
                    .popular {
                        right: auto;
                        left: 7px;
                    }
                    &::before {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    ::ng-deep {
        .pricing-style-3-card {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .mat-mdc-button {
                        padding: 13px 25px;
                        margin-top: 17px;
                        font-size: 13px;

                        .mdc-button__label {
                            padding-left: 23px;
        
                            i {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            &.component-rtl-enabled {
                .mat-mdc-card-content {
                    .single-pricing-box {
                        .mat-mdc-button {
                            .mdc-button__label {
                                padding: {
                                    left: 0;
                                    right: 23px;
                                };
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .pricing-style-3-card {
        padding-top: 20px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .pricing-style-3-card {
        padding-top: 55px;
    
        .mat-mdc-card-content {
            .single-pricing-box {
                padding: {
                    left: 15px;
                    right: 15px;
                };
                .price {
                    font-size: 30px;
                    letter-spacing: -.5px;
                    margin: {
                        top: 15px;
                        bottom: 15px;
                    };
                    span {
                        font-size: 14px;
                    }
                }
                .features-list {
                    margin-top: 25px;
        
                    li {
                        padding-left: 35px;
                        margin-bottom: 17px;
                    }
                }
            }
            .col-sm-6 {
                &:nth-child(2) {
                    .single-pricing-box {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .features-list {
                        li {
                            padding: {
                                left: 0;
                                right: 34px;
                            };
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .pricing-style-3-card {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .mat-mdc-button {
                        font-size: 14px;
                    }
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .pricing-style-3-card {
        .mat-mdc-card-content {
            .single-pricing-box {
                padding: {
                    left: 10px;
                    right: 10px;
                };
                .price {
                    margin-bottom: 15px;
    
                    span {
                        font-size: 15px;
                    }
                }
                .features-list {
                    margin-top: 25px;
        
                    li {
                        padding-left: 35px;
                        margin-bottom: 18px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .features-list {
                        li {
                            padding: {
                                left: 0;
                                right: 35px;
                            };
                        }
                    }
                }
            }
        }
    }
    ::ng-deep {
        .pricing-style-3-card {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .mat-mdc-button {
                        font-size: 15px;
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .pricing-style-3-card {
        .mat-mdc-card-content {
            .single-pricing-box {
                padding: {
                    left: 10px;
                    right: 10px;
                };
                .price {
                    margin-bottom: 15px;
                }
                .features-list {
                    margin-top: 25px;
        
                    li {
                        padding-left: 35px;
                        margin-bottom: 18px;
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .mat-mdc-card-content {
                .single-pricing-box {
                    .features-list {
                        li {
                            padding: {
                                left: 0;
                                right: 35px;
                            };
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}