<mat-card class="team-members-card table-style-two mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Team Members
            </h5>
        </mat-card-title>
        <mat-card-subtitle>
            <button mat-button [matMenuTriggerFor]="cardHeaderMenu" class="dot-menu p-0 d-inline-block border-radius-0">
                <i class="ri-more-fill"></i>
            </button>
            <mat-menu #cardHeaderMenu="matMenu" class="card-header-menu" xPosition="before">
                <ul class="p-0 mt-0 mb-0 list-unstyled">
                    <li>
                        <button mat-menu-item>
                            This Day
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Week
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Month
                        </button>
                    </li>
                    <li>
                        <button mat-menu-item>
                            This Year
                        </button>
                    </li>
                </ul>
            </mat-menu>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource">

                <!-- Name Column -->
                <ng-container matColumnDef="teamMember">
                    <th mat-header-cell *matHeaderCellDef>
                        Name
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="user-info d-flex align-items-center">
                            <div class="image">
                                <img [src]="element.teamMember.img" class="rounded-circle" alt="user-image">
                            </div>
                            <div class="info">
                                <span class="fw-medium d-block">
                                    {{element.teamMember.name}}
                                </span>
                                <span class="designation d-block text-body">
                                    {{element.teamMember.designation}}
                                </span>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Tasks Column -->
                <ng-container matColumnDef="tasks">
                    <th mat-header-cell *matHeaderCellDef>
                        Tasks
                    </th>
                    <td mat-cell *matCellDef="let element" class="text-body">
                        {{element.tasks}}
                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                        Status
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-progress-bar
                            *ngIf="element.status.primaryClassName"
                            [value]="element.status.percentage"
                            mode="determinate"
                        >
                        </mat-progress-bar>
                        <mat-progress-bar
                            mode="determinate"
                            class="success-progressbar"
                            [value]="element.status.percentage"
                            *ngIf="element.status.successClassName"
                        >
                        </mat-progress-bar>
                        <mat-progress-bar
                            mode="determinate"
                            class="orange-progressbar"
                            [value]="element.status.percentage"
                            *ngIf="element.status.orangeClassName"
                        >
                        </mat-progress-bar>
                        <mat-progress-bar
                            mode="determinate"
                            class="purple-progressbar"
                            [value]="element.status.percentage"
                            *ngIf="element.status.purpleClassName"
                        >
                        </mat-progress-bar>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </div>
    </mat-card-content>
</mat-card>