::ng-deep {
    .re-customers-card {
        .mat-mdc-card-header {
            .mat-mdc-card-header-text {
                .mat-mdc-card-title {
                    line-height: initial;
                    order: 2;
                }
                .mat-mdc-card-subtitle {
                    order: 1;
                }
            }
        }
    }
}
.g-15 {
    gap: 15px;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .re-customers-card {
            .mat-mdc-card-header {
                .mat-mdc-card-header-text {
                    display: block;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}