<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Checkout
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            eCommerce
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Checkout
        </li>
    </ol>
</div>

<!-- Checkout -->
<div class="row">
    <div class="col-lg-8">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Billing Information
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Customer Name
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter customer name
                                    </mat-label>
                                    <input matInput placeholder="E.g. Ava Turner">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Phone Number
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter phone number
                                    </mat-label>
                                    <input matInput placeholder="E.g. +1 555-123-4567">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Email Address
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter email address
                                    </mat-label>
                                    <input matInput placeholder="E.g. ava@trezo.com">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    State
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select>
                                        <mat-option value="option1">
                                            Florida
                                        </mat-option>
                                        <mat-option value="option2">
                                            Wisconsin
                                        </mat-option>
                                        <mat-option value="option3">
                                            Washington
                                        </mat-option>
                                        <mat-option value="option4">
                                            Nebraska
                                        </mat-option>
                                        <mat-option value="option5">
                                            Minnesota
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    City
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select>
                                        <mat-option value="option1">
                                            New York
                                        </mat-option>
                                        <mat-option value="option2">
                                            Tokyo
                                        </mat-option>
                                        <mat-option value="option3">
                                            London
                                        </mat-option>
                                        <mat-option value="option4">
                                            Amsterdam
                                        </mat-option>
                                        <mat-option value="option5">
                                            Paris
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    ZIP / Postcode
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter zip / postcode
                                    </mat-label>
                                    <input matInput placeholder="E.g. 3100">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Street Address
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Enter street address
                                    </mat-label>
                                    <input matInput placeholder="E.g. 123 Main Street, Anytown, USA">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Country
                                </label>
                                <mat-form-field>
                                    <mat-label>
                                        Select
                                    </mat-label>
                                    <mat-select>
                                        <mat-option value="option1">
                                            Switzerland
                                        </mat-option>
                                        <mat-option value="option2">
                                            New Zealand
                                        </mat-option>
                                        <mat-option value="option3">
                                            Germany
                                        </mat-option>
                                        <mat-option value="option4">
                                            United States
                                        </mat-option>
                                        <mat-option value="option5">
                                            Japan
                                        </mat-option>
                                        <mat-option value="option6">
                                            Netherlands
                                        </mat-option>
                                        <mat-option value="option7">
                                            Sweden
                                        </mat-option>
                                        <mat-option value="option8">
                                            Canada
                                        </mat-option>
                                        <mat-option value="option9">
                                            United Kingdom
                                        </mat-option>
                                        <mat-option value="option10">
                                            Australia
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="main-label d-block fw-medium text-black">
                                    Order Note (optional)
                                </label>
                                <mat-form-field>
                                    <mat-label>Write your note here....</mat-label>
                                    <textarea matInput placeholder="E.g. It makes me feel..."></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="form-btn-box">
                        <button type="button" mat-button color="primary">
                            <i class="material-symbols-outlined">
                                add
                            </i>
                            Proceed To Shipping
                        </button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-lg-4">
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Shopping Cart
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="basic-table table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th scope="col" class="fw-medium">
                                    Description
                                </th>
                                <th scope="col" class="fw-medium text-end">
                                    Price
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-body">
                                    Grand Total :
                                </td>
                                <td class="text-body text-end">
                                    $1,105.00
                                </td>
                            </tr>
                            <tr>
                                <td class="text-body">
                                    Discount :
                                </td>
                                <td class="text-body text-end">
                                    -$105.00
                                </td>
                            </tr>
                            <tr>
                                <td class="text-body">
                                    Tax :
                                </td>
                                <td class="text-body text-end">
                                    $75.00
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-medium">
                                    Subtotal :
                                </td>
                                <td class="text-body text-end">
                                    $1,000.00
                                </td>
                            </tr>
                            <tr>
                                <td class="text-body">
                                    Shipping Charge :
                                </td>
                                <td class="text-body text-end">
                                    $80.00
                                </td>
                            </tr>
                            <tr>
                                <td class="text-body">
                                    Coupon Charge :
                                </td>
                                <td class="text-body text-end">
                                    $20.00
                                </td>
                            </tr>
                            <tr>
                                <td class="fw-medium">
                                    Total :
                                </td>
                                <td class="text-body text-end">
                                    $900.00
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-header>
                <mat-card-title>
                    <h5 class="mb-0">
                        Payment Method
                    </h5>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form>
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Payment Card
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Select
                            </mat-label>
                            <mat-select>
                                <mat-option value="option1">
                                    PayPal
                                </mat-option>
                                <mat-option value="option2">
                                    Stax
                                </mat-option>
                                <mat-option value="option3">
                                    Helcim
                                </mat-option>
                                <mat-option value="option4">
                                    Square
                                </mat-option>
                                <mat-option value="option5">
                                    Stripe
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Card Number
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter card number
                            </mat-label>
                            <input matInput placeholder="E.g. 3588XXXXXXXXX">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <label class="main-label d-block fw-medium text-black">
                            Expiration Date
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter expiration date
                            </mat-label>
                            <input matInput placeholder="E.g. MM / YY">
                        </mat-form-field>
                    </div>
                    <div class="form-group mb-0">
                        <label class="main-label d-block fw-medium text-black">
                            Security Code
                        </label>
                        <mat-form-field>
                            <mat-label>
                                Enter security code
                            </mat-label>
                            <input matInput placeholder="E.g. CVV">
                        </mat-form-field>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>