<!-- Breadcrumb -->
<div class="mb-[25px] md:flex items-center justify-between">
    <h5 class="mb-0">
        Clipboard
    </h5>
    <ol class="breadcrumb mt-[12px] md:mt-0">
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            <a routerLink="/dashboard" class="inline-block relative ltr:pl-[22px] rtl:pr-[22px] transition-all hover:text-primary-500">
                <i class="material-symbols-outlined absolute ltr:left-0 rtl:right-0 !text-lg -mt-px text-primary-500 top-1/2 -translate-y-1/2">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            UI Elements
        </li>
        <li class="breadcrumb-item inline-block relative text-sm mx-[13px] ltr:first:ml-0 rtl:first:mr-0 ltr:last:mr-0 rtl:last:ml-0">
            Clipboard
        </li>
    </ol>
</div>

<!-- Clipboard -->
<div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] mb-[25px]">
    <div>
        <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
            <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
                <div class="trezo-card-title">
                    <h5 class="mb-0">
                        Copy Value
                    </h5>
                </div>
            </div>
            <div class="trezo-card-content">
                <div class="relative">
                    <input type="text" id="input1" class="h-[55px] rounded-md text-gray-500 dark:text-gray-400 border border-gray-200 dark:border-[#172036] bg-white dark:bg-[#0c1427] px-[20px] block w-full outline-0 transition-all placeholder:text-gray-500 dark:placeholder:text-gray-400 focus:border-primary-500" [(ngModel)]="copyText" #inputField />
                    <button (click)="copyToClipboard(inputField)" class="absolute text-lg ltr:right-[20px] rtl:left-[20px] bottom-[14px] transition-all hover:text-primary-500">
                        <i [ngClass]="{'ri-check-line': copied, 'ri-file-copy-line': !copied}"></i> 
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
            <div class="trezo-card-header mb-[20px] md:mb-[25px] flex items-center justify-between">
                <div class="trezo-card-title">
                    <h5 class="mb-0">
                        Cut Value
                    </h5>
                </div>
            </div>
            <div class="trezo-card-content">
                <app-cut-value />
            </div>
        </div>
    </div>
</div>