<!-- All NFTs -->
<app-all-nfts />

<div class="row">
    <div class="col-lg-4">

        <!-- Ethereum Rate -->
        <app-ethereum-rate />

    </div>
    <div class="col-lg-8">

        <!-- Active Auctions -->
        <app-active-auctions />
        
    </div>
    <div class="col-lg-9">

        <!-- Featured NFT Artworks -->
        <app-featured-nft-artworks />

    </div>
    <div class="col-lg-3">

        <!-- Mobile App -->
        <app-mobile-app />
        
    </div>
    <div class="col-lg-8">

        <!-- Most Popular Sellers -->
        <app-most-popular-sellers />
        
    </div>
    <div class="col-lg-4">

        <!-- Worldwide Top Creators -->
        <app-worldwide-top-creators />

    </div>
</div>
<div class="row">
    <div class="col-xxxl-3 col-md-6 order-md-1 order-xxxl-1">

        <!-- Top Collections -->
        <app-top-collections />

    </div>
    <div class="col-xxxl-6 col-md-12 order-md-3 order-xxxl-2">

        <!-- Top NFTs -->
        <app-top-nfts />

    </div>
    <div class="col-xxxl-3 col-md-6 order-md-2 order-xxxl-3">

        <!-- History Of Bids -->
        <app-history-of-bids />

    </div>
</div>