<div class="trezo-card bg-white dark:bg-[#0c1427] p-[20px] md:p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="flex items-center justify-between mb-[10px]">
            <div>
                <span class="block mb-[6px]">
                    Cost Per Click
                </span>
                <h3 class="leading-none text-xl md:text-2xl lg:text-3xl mb-0">
                    $0.15
                </h3>
            </div>
            <img src="images/icons/call-to-action.gif" class="w-[60px] ltr:-mr-[10px] rtl:-ml-[10px]" alt="call-to-action">
        </div>
        <span class="inline-block text-xs px-[9px] text-orange-700 border border-orange-300 bg-orange-100 text-sm rounded-[100px]">
            -0.04%
        </span>
        <span class="block text-xs mt-[10px]">
            vs previous 30 days
        </span>
    </div>
</div>