.example-small-box, .example-large-box {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--borderColor);
}
.example-small-box {
    height: 100px;
    width: 100px;
}
.example-large-box {
    height: 300px;
    width: 300px;
}