<mat-card class="mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">
                Form Field Appearance Variants
            </h5>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        
        <mat-form-field appearance="fill">
            <mat-label>Fill form field</mat-label>
            <input matInput placeholder="Placeholder">
            <i class="material-symbols-outlined mr-10" matSuffix>
                sentiment_very_satisfied
            </i>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <br>
        <br>

        <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder">
            <i class="material-symbols-outlined mr-10" matSuffix>
                sentiment_very_satisfied
            </i>
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

    </mat-card-content>
</mat-card>