<mat-card class="top-countries-card mb-25 border-radius d-block border-0 shadow-none text-center">
    <mat-card-content>
        <h5 class="text-white ml-auto mr-auto">
            Shipment to top countries around the world
        </h5>
        <div class="image ml-auto mr-auto">
            <img src="images/vector-map2.png" alt="vector-map">
        </div>
        <div class="top-countries-list ml-auto mr-auto">
            <ul class="p-0 m-0 list-unstyled">
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/usa.svg" alt="usa">
                    <span class="d-block fw-medium">
                        USA 85%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/germany.svg" alt="germany">
                    <span class="d-block fw-medium">
                        Germany 75%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/brazil.svg" alt="brazil">
                    <span class="d-block fw-medium">
                        Brazil 40%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/canada.svg" alt="canada">
                    <span class="d-block fw-medium">
                        Canada 10%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/portugal.svg" alt="portugal">
                    <span class="d-block fw-medium">
                        Portugal 05%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/spain.svg" alt="spain">
                    <span class="d-block fw-medium">
                        Spain 15%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/france.svg" alt="france">
                    <span class="d-block fw-medium">
                        France 25%
                    </span>
                </li>
                <li class="d-flex align-items-center text-white">
                    <img src="images/flags/australia.svg" alt="australia">
                    <span class="d-block fw-medium">
                        Australia 55%
                    </span>
                </li>
            </ul>
        </div>
    </mat-card-content>
</mat-card>