<mat-card
    class="new-customers-month-card mb-25 border-radius d-block border-0 shadow-none"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <mat-card-content>
        <span class="d-block">
            New Customers this Month
        </span>
        <h3 class="lh-1">
            4,712
        </h3>
        <span class="d-block">
            Join Today
        </span>
        <div class="customers-list d-flex align-items-center">
            <img src="images/users/user36.jpg" alt="user-image">
            <img src="images/users/user37.jpg" alt="user-image">
            <img src="images/users/user38.jpg" alt="user-image">
            <img src="images/users/user39.jpg" alt="user-image">
            <img src="images/users/user40.jpg" alt="user-image">
            <div class="d-flex align-items-center justify-content-center fw-semibold rounded-circle bg-orange text-white">
                59
            </div>
        </div>
    </mat-card-content>
</mat-card>