.new-customers-month-card {
    background: linear-gradient(73deg, #23272E 0%, #343A46 100%);

    .mat-mdc-card-content {
        span {
            color: #8695aa;
        }
        h3 {
            font-size: 20px;
            color: var(--whiteColor);
            margin: {
                top: 8px;
                bottom: 29px;
            };
        }
        .customers-list {
            margin-top: 10px;

            img {
                width: 40px;
                border-radius: 50%;
                margin-right: -10px;
                border: 1px solid var(--whiteColor);

                &:last-child {
                    margin-right: 0;
                }
            }
            div {
                width: 40px;
                height: 40px;
                border: 1px solid var(--whiteColor);
            }
        }
    }
    &.component-rtl-enabled {
        .mat-mdc-card-content {
            .customers-list {
                img {
                    margin: {
                        right: 0;
                        left: -10px;
                    };
                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}