<div class="trezo-card bg-white dark:bg-[#0c1427] mb-[25px] p-[25px] rounded-md">
    <div class="trezo-card-content">
        <div class="flex items-center justify-between">
            <div class="flex items-center">
                <span class="block">
                    Total Customers
                </span>
                <span class="inline-block px-[8.3px] py-[1px] text-success-700 border border-success-300 bg-success-100 text-sm ltr:ml-[10px] rtl:mr-[10px] rounded-[100px]">
                    +5.4
                </span>
            </div>
            <span class="block text-sm">
                Last 7 days
            </span>
        </div>
        <h5 class="text-[18px] md:text-[20px] mb-0 mt-[4px]">
            1,528
        </h5>
        <div class="mx-auto max-w-[300px] -mt-[33px] -mb-[30px]">
            <div id="ecommerce_total_customers_chart"></div>
        </div>
        <div class="flex items-center justify-between text-sm">
            <span class="block">
                1 June
            </span>
            <span class="block">
                7 June
            </span>
        </div>
    </div>
</div>