<!-- Breadcrumb -->
<div class="breadcrumb-card mb-25 d-md-flex align-items-center justify-content-between">
    <h5 class="mb-0">
        Events Grid
    </h5>
    <ol class="breadcrumb list-unstyled mt-0 mb-0 p-0">
        <li class="breadcrumb-item d-inline-block position-relative">
            <a routerLink="/dashboard" class="d-inline-block position-relative">
                <i class="material-symbols-outlined">
                    home
                </i>
                Dashboard
            </a>
        </li>
        <li class="breadcrumb-item d-inline-block position-relative">
            Events Grid
        </li>
    </ol>
</div>

<!-- Events Grid -->
<div
    class="row"
    [class.component-dark-theme]="themeService.isDark()"
    [class.component-rtl-enabled]="themeService.isRTLEnabled()"
>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event1.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $120
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Annual Conference 2024
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user6.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user7.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user8.jpg" class="rounded-circle" alt="user-image">
                        <div class="d-flex align-items-center justify-content-center rounded-circle bg-primary text-white fw-medium">
                            +4
                        </div>
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                1156
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event2.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $59
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Leadership Summit 2024
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user10.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user11.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                556
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="24"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event3.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $123
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Product Launch Webinar
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user12.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user13.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user14.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                356
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event4.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $99
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            AI in Healthcare Symposium
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user15.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                3226
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="82"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event5.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $35
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Tech Summit 2024
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user16.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user17.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                4109
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="48"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event6.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $76
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Startup Pitch Day
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user18.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user19.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user20.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                432
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="37"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event7.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $30
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Workshop: Digital Marketing
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user21.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                1728
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event8.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $87
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Charity Gala Dinner
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user22.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user23.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user24.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user25.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                1306
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event9.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $50
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Web Development Seminar
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user26.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user27.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                2756
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="78"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event10.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $89
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Networking Mixer
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user28.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user29.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                1467
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event1.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $105
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Annual Conference 2024
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user30.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user6.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user7.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                799
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-xxl-4 col-xxxl-3 col-sm-6 col-lg-4">
        <mat-card class="event-card mb-25 border-radius d-block bg-white border-0 shadow-none">
            <mat-card-content>
                <div class="image position-relative">
                    <a routerLink="/dashboard/events/event-details" class="d-block border-radius">
                        <img src="images/events/event2.jpg" class="border-radius" alt="event-image">
                    </a>
                    <div class="price d-flex align-items-center text-center justify-content-center fw-bold bg-primary text-white">
                        $100
                    </div>
                </div>
                <div class="content">
                    <h6>
                        <a routerLink="/dashboard/events/event-details">
                            Leadership Summit 2024
                        </a>
                    </h6>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.
                    </p>
                    <div class="members d-flex align-items-center">
                        <img src="images/users/user8.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user9.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user10.jpg" class="rounded-circle" alt="user-image">
                        <img src="images/users/user11.jpg" class="rounded-circle" alt="user-image">
                    </div>
                    <div class="progress">
                        <div class="d-flex align-items-center justify-content-between">
                            <span class="d-block">
                                Seat Booked
                            </span>
                            <span class="d-block text-black fw-semibold">
                                3241
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<!-- Pagination -->
<mat-card class="pagination-card mb-25 border-radius d-block bg-white border-0 shadow-none">
    <mat-card-content>
        <div class="d-md-flex align-items-center justify-content-between">
            <p class="mb-0">
                Showing 12 of 36 results
            </p>
            <ol class="pagination list-unstyled mt-0 mb-0 pl-0">
                <li class="pagination-item d-inline-block">
                    <a mat-button class="prev" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_left
                        </i>
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink="." class="active">
                        1
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        2
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        3
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button routerLink=".">
                        4
                    </a>
                </li>
                <li class="pagination-item d-inline-block">
                    <a mat-button class="next" routerLink=".">
                        <i class="material-symbols-outlined">
                            chevron_right
                        </i>
                    </a>
                </li>
            </ol>
        </div>
    </mat-card-content>
</mat-card>