::ng-deep {
    .full-calendar-card {
        .mat-mdc-card-content {
            .fc {
                --fc-small-font-size: 13px;
                --fc-border-color: var(--borderColor);
                --fc-event-bg-color: var(--primaryColor);
                --fc-event-border-color: var(--primaryColor);
                
                .fc-header-toolbar {
                    margin-bottom: 25px;
                    
                    .fc-toolbar-title {
                        font-size: 18px;
                    }
                    .fc-button-group {
                        .fc-button {
                            padding: 0;
                            width: 35px;
                            height: 35px;
                            box-shadow: unset;
                            border-radius: 3px;
                            display: inline-block;
                            color: var(--blackColor);
                            background-color: transparent;
                            transition: var(--transition);
                            border: 1px solid var(--borderColor);
                            margin: {
                                left: 5px;
                                right: 5px;
                            };
                            .fc-icon {
                                position: relative;
                                top: -1px;
                            }
                            &:hover {
                                border-color: #f2f2f2;
                                color: var(--primaryColor);
                                background-color: #f2f2f2;
                            }
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                    .fc-today-button {
                        transition: var(--transition);
                        background-color: transparent;
                        text-transform: capitalize;
                        color: var(--primaryColor);
                        border-color: transparent;
                        margin-right: 10px;
                        box-shadow: unset;
                        height: auto;
                        padding: 0;
                        
                        &:hover {
                            color: var(--primaryColor);
                        }
                        &:disabled {
                            color: var(--bodyColor);
                            opacity: 0.50;
                        }
                    }
                }
                .fc-scrollgrid-section-header {
                    .fc-col-header-cell-cushion {
                        padding: 15px;
                        color: var(--blackColor);
                    }
                    .fc-col-header-cell {
                        background-color: #ECF0FF;
                        font-weight: 500;
                        border: 0;
                    }
                }
                .fc-daygrid-body {
                    .fc-daygrid-day-number {
                        padding: 15px 15px 0;
                        color: var(--blackColor);
                    }
                    .fc-h-event {
                        padding: 10px;
                        margin: 12px 0 0;
                        border-radius: 0;

                        .fc-event-title {
                            white-space: break-spaces;
                            line-height: 1.3;
                            padding: 0;
                        }
                    }
                    .fc-daygrid-more-link {
                        background-color: var(--primaryColor);
                        transition: var(--transition);
                        color: var(--whiteColor);
                        padding: 4px 10px;
                        border-radius: 0;
                        margin-top: 5px;
                        
                        &:hover {
                            color: var(--whiteColor);
                            background-color: var(--primaryColor);
                        }
                    }
                    .fc-daygrid-day-bottom {
                        margin: {
                            left: 0;
                            right: 0;
                        };
                    }
                    tr {
                        &:nth-child(2) {
                            --fc-event-bg-color: var(--infoColor);
                            --fc-event-border-color: var(--infoColor);
                        }
                        &:nth-child(3) {
                            --fc-event-bg-color: var(--warningColor);
                            --fc-event-border-color: var(--warningColor);
                        }
                        &:nth-child(4) {
                            --fc-event-bg-color: var(--successColor);
                            --fc-event-border-color: var(--successColor);
                        }
                        &:nth-child(5) {
                            --fc-event-bg-color: var(--dangerColor);
                            --fc-event-border-color: var(--dangerColor);
                        }
                        &:nth-child(6) {
                            --fc-event-bg-color: var(--secondaryColor);
                            --fc-event-border-color: var(--secondaryColor);
                        }
                        &:last-child {
                            th, td {
                                border-bottom: 0;
                            }
                        }
                    }
                }
                .fc-popover {
                    border: 0;
                    color: var(--blackColor);
                    background-color: var(--whiteColor);
                    box-shadow: 0px 4px 34px rgba(101, 96, 240, 0.1);

                    .fc-popover-header {
                        padding: 8px 10px;
                        background-color: #ECF0FF;
                    }
                    .fc-event-title {
                        padding: 4px 8px;
                    }
                }
            }
        }
        &.component-dark-theme {
            .mat-mdc-card-content {
                .fc {
                    .fc-header-toolbar {
                        .fc-button-group {
                            .fc-button {
                                color: var(--whiteColor);
                                
                                &:hover {
                                    border-color: #0A0E19;
                                    color: var(--primaryColor);
                                    background-color: #0A0E19;
                                }
                            }
                        }
                    }
                    .fc-scrollgrid-section-header {
                        .fc-col-header-cell-cushion {
                            color: var(--whiteColor);
                        }
                        .fc-col-header-cell {
                            background-color: #15203c;
                        }
                    }
                    .fc-daygrid-body {
                        .fc-daygrid-day-number {
                            color: var(--whiteColor);
                        }
                    }
                    .fc-popover {
                        color: var(--whiteColor);
                        background-color: #0A0E19;
    
                        .fc-popover-header {
                            background-color: #15203c;
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    ::ng-deep {
        .full-calendar-card {
            .mat-mdc-card-content {
                .fc {
                    .fc-header-toolbar {
                        margin-bottom: 17px;
                        display: block;
                        
                        .fc-toolbar-title {
                            font-size: 16px;
                            margin-bottom: 12px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    ::ng-deep {
        .full-calendar-card {
            .mat-mdc-card-content {
                .fc {
                    .fc-header-toolbar {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}