<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-2">

        <!-- Overview -->
        <app-overview />

    </div>
    <div class="lg:col-span-1">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-1 gap-[25px]">

            <!-- Inbound Calls -->
            <app-inbound-calls />

            <!-- Outbound Calls -->
            <app-outbound-calls />

        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] mb-[25px]">

    <!-- Agents Performance -->
    <app-agents-performance />

    <!-- Geography -->
    <app-geography />

</div>

<div class="grid grid-cols-1 lg:grid-cols-3 gap-[25px] mb-[25px]">
    <div class="lg:col-span-1">

        <!-- Agent Avg. Earnings -->
        <app-agent-avg-earnings />

    </div>
    <div class="lg:col-span-2">

        <!-- Recent Calls -->
        <app-recent-calls />

    </div>
</div>